Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/mn.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: ib commission page
  crowdin/messages.json
  src/pages/partners/affiliate-ib/_deriv-ib-programme.tsx
  src/pages/partners/affiliate-ib/_dmt5-cards.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated floating banner
  src/features/contexts/floating-cta/cta.provider.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: crowdin fetch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/mn.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/mn.json
  src/translations/ru.json
  src/translations/sw.json
  src/translations/vi.json
Due: prettier --write

fix: crowdin update by Putri
  src/translations/mn.json
  src/translations/ru.json
Due: prettier --write

fix: update row tnc
  static/tnc/deriv-(bvi)-ltd.pdf
  static/tnc/deriv-(fx)-ltd.pdf
  static/tnc/deriv-(v)-ltd.pdf
  static/tnc/funds-and-transfers.pdf
  static/tnc/general-terms.pdf
  static/tnc/risk-disclosure.pdf
  static/tnc/security-and-privacy.pdf
  static/tnc/trading-terms.pdf
Due: none

fix: crowdin update by Putri options
  src/translations/mn.json
Due: prettier --write

fix: arabic issue help centre
  src/pages/help-centre/components/_translation-components.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: seo regulatory page
  crowdin/messages.json
  src/pages/regulatory/_investment-europe.tsx
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added the utm values to the academy
  crowdin/messages.json
  src/features/pages/academy-complete/password/academy-password-form.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: change on turbo option page
  crowdin/messages.json
  src/features/pages/options/turbo/data.ts
  src/images/svg/trade-types/options/turbo/turbo_down_no_payout.svg
  src/images/svg/trade-types/options/turbo/turbo_down_payout.svg
  src/images/svg/trade-types/options/turbo/turbo_up_down.svg
  src/images/svg/trade-types/options/turbo/turbo_up_no_payout.svg
  src/images/svg/trade-types/options/turbo/turbo_up_payout.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: updated the drift switch indices contents
  crowdin/messages.json
  src/pages/markets/static/content/_details.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: ctrader responsive
  src/features/pages/deriv-ctrader/get-trading/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: ctrader responsiveness
  src/features/pages/deriv-ctrader/get-trading/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/mn.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/mn.json
  src/translations/pl.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/vi.json
  src/translations/zh_tw.json
Due: prettier --write

chore: update yml files
  .github/workflows/generate-preview-link-eu.yml
  .github/workflows/generate-preview-link-row.yml
  .github/workflows/production-eu.yml
  .github/workflows/production-row.yml
  .github/workflows/staging-eu.yml
  .github/workflows/staging-row.yml
  crowdin/messages.json
Due: none

chore: update yml files (#7408)
  .github/workflows/generate-preview-link-eu.yml
  .github/workflows/generate-preview-link-row.yml
  .github/workflows/production-eu.yml
  .github/workflows/production-row.yml
  .github/workflows/staging-eu.yml
  .github/workflows/staging-row.yml
  crowdin/messages.json
Due: none

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/mn.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: removed npmrc from staging and production workflows
  .github/workflows/production-eu.yml
  .github/workflows/production-row.yml
  .github/workflows/production.yml
  .github/workflows/staging-eu.yml
  .github/workflows/staging-row.yml
  .github/workflows/staging.yml
  crowdin/messages.json
Due: none

chore: removed npmrc from testlink workflows
  .github/workflows/generate-preview-link-eu.yml
  .github/workflows/generate-preview-link-row.yml
  .github/workflows/generate-preview-link.yml
Due: none
