Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

refactor: add analytics as external package
  gatsby-browser.js
  package-lock.json
  package.json
  src/analytics/analytics.ts
  src/analytics/growthbook.ts
  src/analytics/index.ts
  src/analytics/rudderstack.ts
  src/features/hooks/use-signup-form/index.tsx
  src/features/pages/home/hero/content/index.tsx
  src/features/pages/signup/form-container/form-social-buttons.tsx
  src/features/pages/signup/index.tsx
  src/pages/signup-success/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: cpa row dir name changed
  crowdin/messages.json
  src/pages/partners/affiliate-ib/_deriv-affiliate-programme.tsx
  src/pages/partners/affiliate-ib/cpa-eu-for-row/_calculated-card.tsx
  src/pages/partners/affiliate-ib/cpa-eu-for-row/_default-card.tsx
  src/pages/partners/affiliate-ib/cpa-eu-for-row/_index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: image size different
  src/images/svg/symbols/aus-200.svg
Due: none

fix: usd value
  crowdin/messages.json
  src/pages/partners/affiliate-ib/revenue-share/_calculated-card.tsx
  src/pages/partners/affiliate-ib/turnover/_calculated-card.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: usd value
  crowdin/messages.json
  src/pages/partners/affiliate-ib/cpa-eu/_calculated-card.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: responsive align
  src/pages/partners/affiliate-ib/_style.tsx
  src/pages/partners/affiliate-ib/cpa-eu/_calculated-card.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: make regex for company name
  crowdin/messages.json
  src/pages/signup-affiliates/_types.ts
  src/pages/signup-affiliates/index.tsx
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: phone input
  src/pages/signup-affiliates/components/_phone_number.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: navigation centered
  src/features/components/templates/navigation/payment-agent-nav/index.tsx
  src/features/components/templates/navigation/template/desktop-menu/index.tsx
  src/features/components/templates/navigation/template/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: make regex for company name
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: image size different (#5784)
  src/images/svg/symbols/aus-200.svg
Due: none

fix: insupported charackers
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: improvement and condition for eu
  src/features/components/templates/navigation/template/desktop-menu/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: pdf change
  static/tnc/business-partners-general-terms.pdf
Due: none

feat: add extra regex for username
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: disable insupported character
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fetched translations
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_tw.json
Due: prettier --write

fix: trying to generate message json file
  src/features/pages/home/live-pricing/market-tabs/utils.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove replace hydration method
  gatsby-browser.js
Due: none

fix: removed unnecessary breakpoint condition from nav template
  src/features/components/templates/navigation/template/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: minified error in payment nav
  src/features/components/templates/navigation/payment-agent-nav/index.tsx
  src/features/components/templates/navigation/payment-agent-nav/right-side-buttons.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: alignment and overflow
  src/features/components/templates/navigation/tab-nav-without-border/index.tsx
  src/features/components/templates/navigation/tab-nav-without-border/styles.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

text: :speech_balloon: update cTrader navigation description
  src/features/components/templates/navigation/main-nav/content/platform/index.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

empty: :building_construction: trigger build
  crowdin/messages.json
Due: none

chore: updated text
  crowdin/messages.json
  src/features/pages/home/live-pricing/market-tabs/utils.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

build: :test_tube: test for language in redirects
  gatsby-node.js
  languages-redirects.json
Due: none

fix: spacing for russian
  src/features/components/templates/navigation/tab-nav-without-border/index.tsx
  src/features/components/templates/navigation/tab-nav-without-border/styles.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write
