Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

rename button
  src/pages/dmt5/_interest_free_trading.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

update file changes
  src/pages/dmt5/_flexibility.tsx
  src/pages/dmt5/_interest_free_trading.tsx
  src/pages/dmt5/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

update text
  src/pages/dmt5/_why-trader.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

remove unused import
  src/pages/dmt5/_download-app.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

update text changes
  src/pages/dmt5/_why-trader.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

update market sequence
  src/pages/dmt5/_interest_free_trading.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

update markets name
  src/pages/dmt5/_interest_free_trading.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

add new text changes
  src/pages/dmt5/_flexibility.tsx
  src/pages/dmt5/_interest_free_trading.tsx
  src/pages/dmt5/_what-is-trader.tsx
  src/pages/dmt5/_why-trader.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Smartfx to basket (#2912)
  src/pages/dmt5/_download-app.tsx
  src/pages/dmt5/_flexibility.tsx
  src/pages/dmt5/_interest_free_trading.tsx
  src/pages/dmt5/_margin_calculator.tsx
  src/pages/dmt5/_what-is-trader.tsx
  src/pages/dmt5/_why-trader.tsx
  src/pages/dmt5/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

style: increased HeroWrapper min-height
  src/pages/home/_hero.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat(test configs): svg transform added to jest config
  .eslintrc
  jest.config.js
  package-lock.json
  package.json
  src/components/elements/carousel/carousel-style.js
  src/components/elements/dropdown.js
  src/components/localization/language-dropdown.js
  src/pages/academy/components/video-banner/carousel/_carousel-style.js
  svgTransform.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

style: handle HeroWrapper min-height for mobile
  src/pages/home/_hero.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: other files in footer
  src/components/custom/_eu-redirect-modal.tsx
  src/components/layout/footer.js
  src/components/layout/footer/bottom-social-wrapper.js
  src/components/layout/footer/common/style.js
  src/components/layout/footer/disclaimer.js
  src/components/layout/footer/logo.js
  src/components/layout/footer/main-links.js
  src/components/layout/footer/social-wrapper.js
  src/components/layout/index.js
  src/components/layout/layout.js
  src/components/layout/layout.tsx
  src/components/layout/location-context.js
  src/components/layout/location-context.tsx
  src/components/layout/nav/nav-careers.tsx
  src/components/localization/localized-link.js
  src/pages/careers/_hero.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: forms folder to ts
  src/components/form/button.ts
  src/components/form/index.ts
  src/components/form/input.tsx
  src/components/form/link-button.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: eu-redirect file
  src/components/custom/_eu-redirect-modal.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat(jest): support for jest-extend and expect-extend added to jest-config
  jest.config.js
  package-lock.json
  package.json
  setupTests.js
  src/pages/signup/__tests__/index.spec.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat(jest): global mocked functions added to setupTest.js
  jest.config.js
  setupTests.js
  src/components/elements/side-tab.js
  src/pages/signup/__tests__/index.spec.js
  src/pages/signup/index.tsx
  src/pages/test/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: content changes on mt5 page for eu and uk
  src/pages/dmt5/_flexibility.tsx
  src/pages/dmt5/_interest_free_trading.tsx
  src/pages/dmt5/_what-is-trader.tsx
  src/pages/dmt5/_why-trader.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fix a bug with header while video playing in Deriv Academy
  src/pages/academy/components/video-banner/_DBanner.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: small content change
  src/pages/dmt5/_flexibility.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Mitra/Fix mt5 page content for eu and uk (#2915)
  src/pages/dmt5/_flexibility.tsx
  src/pages/dmt5/_interest_free_trading.tsx
  src/pages/dmt5/_what-is-trader.tsx
  src/pages/dmt5/_why-trader.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Mitra/Fix mt5 page content for eu and uk (#2915) (#2920)
  src/pages/dmt5/_flexibility.tsx
  src/pages/dmt5/_interest_free_trading.tsx
  src/pages/dmt5/_what-is-trader.tsx
  src/pages/dmt5/_why-trader.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fix bug for safary
  src/pages/academy/components/video-banner/_DBanner.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix translation workflow
  .github/workflows/translation.yml
Due: none

Suthesh/translation-workflow (#2557)
  .github/workflows/translation.yml
Due: none

chore: rebase
  .github/workflows/translation.yml
Due: none

Kevin/crowdin help centre fix (#2712)
  src/pages/help-centre/_help-articles.tsx
  src/pages/help-centre/account.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: rebase
  crowdin/messages.json
  src/translations/ach.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: rebase
  crowdin/messages.json
Due: none

Update Translations 📚 - translation_V20220310_0 (#2742)
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: rebase
  src/translations/ach.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: string translation (#2902)
  src/pages/bug-bounty/static/_scope_content.tsx
  src/pages/bug-bounty/static/_vulnerabilities-types-content.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update Translations 📚 - translation_V20220406_1 (#2899)
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

hotfix translation (#2900)
  src/pages/bug-bounty/static/_scope_content.tsx
  types/graphql.types.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update Translations 📚 - translation_V20220406_3 (#2911)
  src/translations/es.json
  src/translations/fr.json
Due: prettier --write

chore: update Eu footer content
  src/components/layout/footer/disclaimer.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
