Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/fr.json
  src/translations/zh_tw.json
Due: prettier --write

fix: a lot of minor issues
  src/pages/signup-affiliates/components/_account-address.tsx
  src/pages/signup-affiliates/components/_account-details.tsx
  src/pages/signup-affiliates/components/_account-plan.tsx
  src/pages/signup-affiliates/components/_account-terms.tsx
  src/pages/signup-affiliates/components/_account-type.tsx
  src/pages/signup-affiliates/components/_signup-status.tsx
  src/pages/signup-affiliates/components/wizard-component/index.tsx
  src/pages/signup-affiliates/components/wizard-component/stepper.tsx
  src/pages/signup-affiliates/utils/_affiliate-header.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fix eslnit issue
  package-lock.json
Due: none

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
Due: prettier --write

fix: signup text changes
  crowdin/messages.json
  src/features/pages/signup/form-container/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: link color changes
  src/features/pages/signup/form-container/index.tsx
  src/features/pages/signup/form-container/signup-page-form.tsx
  src/features/pages/signup/signup.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: inprogress of adding link
  src/features/pages/home/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added forex page
  src/features/pages/markets/components.tsx
  src/features/pages/markets/forex/faq-section/data.tsx
  src/features/pages/markets/forex/faq-section/index.tsx
  src/features/pages/markets/forex/hero-banner/index.tsx
  src/features/pages/markets/forex/index.tsx
  src/features/pages/markets/forex/other-markets/data.tsx
  src/features/pages/markets/forex/other-markets/index.tsx
  src/features/pages/markets/forex/platforms-available/data.tsx
  src/features/pages/markets/forex/platforms-available/index.tsx
  src/features/pages/markets/forex/trading-in-deriv/data.tsx
  src/features/pages/markets/forex/trading-in-deriv/index.tsx
  src/features/pages/markets/forex/why-trade-in-deriv/data.tsx
  src/features/pages/markets/forex/why-trade-in-deriv/index.tsx
  src/features/pages/markets/market-tab/index.tsx
  src/features/pages/markets/types.ts
  src/images/migration/markets/forex-banner.png
  src/pages/markets/forex/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: cleanup code
  src/features/pages/home/cta/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Add BRANCHNAME to ./pr info
  .github/workflows/pre-generate-preview-link.yml
Due: none

Using pr_information instead of API call
  .github/workflows/smoketests.yml
Due: none

chore: remove image
  src/features/pages/home/cta/index.tsx
  src/images/migration/home/mobile_cta_bg.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update package
  package-lock.json
  package.json
Due: none

chore: fixed twenty years strong section
  src/features/pages/home/hero/index.tsx
  src/features/pages/home/years/data.tsx
  src/features/pages/home/years/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: moved the hover inside the link-text class
  src/features/pages/signup/signup.module.scss
Due: none

fix: changes in the hover scss
  src/features/pages/signup/signup.module.scss
Due: none

fix: responsive design for modals and arabic language
  src/features/components/templates/navigation/payment-agent-nav/right-side-buttons.tsx
  src/pages/partners/affiliate-ib/index.tsx
  src/pages/signup-affiliates/components/_account-terms.tsx
  src/pages/signup-affiliates/components/_signup-form.tsx
  src/pages/signup-affiliates/components/_signup-status.tsx
  src/pages/signup-affiliates/components/wizard-component/index.tsx
  src/pages/signup-affiliates/index.tsx
  src/pages/signup-affiliates/utils/_account-card.tsx
  src/pages/signup-affiliates/utils/_birth-picker.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/sw.json
Due: prettier --write

fix: terms of use sending to API
  src/pages/signup-affiliates/_types.ts
  src/pages/signup-affiliates/components/_account-terms.tsx
  src/pages/signup-affiliates/components/_wizard.tsx
  src/pages/signup-affiliates/components/wizard-component/index.tsx
  src/pages/signup-affiliates/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: resolving react minify errors
  crowdin/messages.json
  src/pages/partners/index.tsx
  src/pages/signup-affiliates/components/_signup-form.tsx
  src/pages/signup-affiliates/index.tsx
  src/pages/signup-affiliates/utils/_account-card.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: update grid images too
  src/images/common/careers/cyprus_grid_4.png
  src/images/common/careers/dubai_grid_4.png
  src/images/common/careers/malta_grid_4.png
  src/images/common/careers/rwanda_grid_4.png
Due: none

fix: image quality low on mobile
  src/features/pages/home/cta/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: low quality image on mobile
  src/features/pages/home/cta/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fixed link component issue
  src/features/pages/home/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Aswathy/fix: signup text changes (#6158)
  crowdin/messages.json
  src/features/pages/signup/form-container/index.tsx
  src/features/pages/signup/form-container/signup-page-form.tsx
  src/features/pages/signup/signup.module.scss
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
