Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

ydsfg
  src/pages/contact-us/_offices.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: deriv go product page redirection
  src/components/elements/multi-width-column.tsx
  src/pages/deriv-go/_banner.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: reusing the existing os detect function
  src/common/os-detect.ts
  src/pages/deriv-go/_banner.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added the url from constant
  src/pages/deriv-go/_banner.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: huwaei redirection
  src/common/os-detect.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: tnc aff pdf
  crowdin/messages.json
  src/pages/terms-and-conditions/_business-grid.tsx
  static/tnc/[ES]_business-partners-affiliates-and-introducing-brokers-R23_12_1.pdf
  static/tnc/business-partners-affiliates-and-introducing-brokers-es.pdf
  static/tnc/business-partners-api-user-es.pdf
  static/tnc/business-partners-bug-bounty-es.pdf
  static/tnc/business-partners-general-terms-es.pdf
  static/tnc/business-partners-payment-agents-es.pdf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: minified error test
  crowdin/messages.json
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: terms and conditions document
  crowdin/messages.json
  src/pages/terms-and-conditions/_business-grid.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: minified error test 2
  crowdin/messages.json
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: add the documents in static tnc
  static/tnc/business-partners-affiliates-and-introducing-brokers-E23_11_1(1).pdf
  static/tnc/business-partners-affiliates-and-introducing-brokers-R23_12_1.pdf
Due: none

fix: deriv-go redirection
  src/common/os-detect.ts
  src/components/elements/multi-width-column.tsx
  src/pages/deriv-go/_banner.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: not updating name of pdf
  src/pages/terms-and-conditions/_business-grid.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: minified error
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: sha commit ids with whitlist commit ids
  .github/workflows/corewebvitals.yml
  .github/workflows/generate-preview-link-eu.yml
  .github/workflows/generate-preview-link-row.yml
  .github/workflows/generate-preview-link.yml
  .github/workflows/lighthouse.yml
  .github/workflows/smoketests.yml
  crowdin/messages.json
Due: none

fix: rename files
  static/tnc/business-partners-affiliates-and-introducing-brokers-E23_11_1(1).pdf
  static/tnc/business-partners-affiliates-and-introducing-brokers-R23_12_1.pdf
  static/tnc/business-partners-affiliates-and-introducing-brokers-eu.pdf
  static/tnc/business-partners-affiliates-and-introducing-brokers-row.pdf
Due: none

fix: minified error
  crowdin/messages.json
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: minified error 4
  crowdin/messages.json
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: malta alignment
  crowdin/messages.json
  static/regulatory/kid/kid_deriv_multipliers_cryptocurrencies.pdf
  static/regulatory/kid/kid_deriv_multipliers_forex.pdf
  static/regulatory/kid/kid_deriv_multipliers_synthetics_crash_300.pdf
Due: none

fix: minified error 5
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: minified error 6
  crowdin/messages.json
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: sha commit ids with whitlist commit ids (#7387)
  .github/workflows/corewebvitals.yml
  .github/workflows/generate-preview-link-eu.yml
  .github/workflows/generate-preview-link-row.yml
  .github/workflows/generate-preview-link.yml
  .github/workflows/lighthouse.yml
  .github/workflows/smoketests.yml
  crowdin/messages.json
Due: none

translations: 📚 sync translations with crowdin
  src/translations/mn.json
  src/translations/pt.json
  src/translations/th.json
Due: prettier --write

chore: updated padding
  src/features/components/quill/layout-overlay/warning-banner/desktop-text.tsx
  src/features/components/quill/layout-overlay/warning-banner/mobile-text.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: removed ctaBottom
  src/features/components/organisms/what-are-digital-options/accumulator/index.tsx
  src/features/contexts/floating-cta/cta.context.tsx
  src/features/contexts/floating-cta/cta.provider.tsx
  src/features/pages/home/hero/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated login file
  src/common/login.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fixed careers footer icons position
  src/features/components/templates/footer/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: empty commit
  crowdin/messages.json
Due: none

fix: deriv-go huwaei redirection
  src/common/os-detect.ts
  src/pages/deriv-go/_banner.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: aff page update
  crowdin/messages.json
  src/pages/partners/affiliate-ib/_faq-data.tsx
  src/pages/partners/affiliate-ib/cpa-eu-for-row/_calculated-card.tsx
  src/pages/partners/affiliate-ib/cpa-eu-for-row/_default-card.tsx
  src/pages/partners/affiliate-ib/cpa-eu/_calculated-card.tsx
  src/pages/partners/affiliate-ib/master-affiliate/_calculated-card.tsx
  src/pages/partners/affiliate-ib/revenue-share/_calculated-card.tsx
  src/pages/partners/affiliate-ib/turnover/_calculated-card.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: translations
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/mn.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: fixed careers footer icons position (#7391)
  src/features/components/templates/footer/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/mn.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: usd values
  crowdin/messages.json
  src/pages/partners/affiliate-ib/_minimum-volume.tsx
  src/pages/partners/affiliate-ib/cpa-eu-for-row/_default-card.tsx
  src/pages/partners/affiliate-ib/cpa-eu/_default-card.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added the break for the huwaei device
  src/pages/deriv-go/_banner.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
