Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: subtasks
  src/components/elements/full-width-multicolumn.tsx
  src/pages/markets/components/sections/_other-markets.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/es.json
  src/translations/pl.json
Due: prettier --write

fix: extract translations
  crowdin/messages.json
  src/pages/trade-types/cfds/_available-markets.tsx
  src/pages/trade-types/cfds/_what_is_cfd.tsx
  src/pages/trade-types/cfds/_why-trade-cfd.tsx
  src/pages/trade-types/cfds/index.tsx
  src/pages/trade-types/multiplier/_markets-available.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: rtl background image
  src/pages/markets/components/sections/_hero_derived_fx.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/bn.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/si.json
Due: prettier --write

feat: worked on Deriv Go page remaining sections
  crowdin/messages.json
  src/components/custom/_stepper_view.tsx
  src/components/elements/multi-width-column.tsx
  src/images/common/deriv-go/create-account.png
  src/images/common/deriv-go/create-account_.png
  src/images/common/deriv-go/fund-account.png
  src/images/common/deriv-go/get-trading.png
  src/images/svg/android-icon.svg
  src/images/svg/appGallery-icon.svg
  src/images/svg/apple-icon.svg
  src/images/svg/deriv-go/derivGo.svg
  src/images/svg/deriv-go/derivGoQR.svg
  src/pages/deriv-go/_footer-banner.tsx
  src/pages/deriv-go/_start-deriv-go.tsx
  src/pages/deriv-go/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: hide livechat and whatsapp in help centre questions
  src/pages/help-centre/components/_questions-template.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: pages compoenents renaming
  crowdin/messages.json
  src/pages/bug-bounty/_lazy-load.ts
  src/pages/bug-bounty/_rewards.tsx
  src/pages/who-we-are/_OurLeadership.tsx
  src/pages/who-we-are/_OurOffices.tsx
  src/pages/who-we-are/components/_leaders.tsx
  src/pages/who-we-are/components/_map-pin.tsx
  src/pages/who-we-are/components/_modal.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: fix delay on hiding the nav
  src/components/layout/nav/nav-markets.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: rtl background image (#4272)
  src/pages/markets/components/sections/_hero_derived_fx.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: subtasks (#4270)
  src/components/elements/full-width-multicolumn.tsx
  src/pages/markets/components/sections/_other-markets.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: change crypto pairs (#4269)
  crowdin/messages.json
  src/pages/markets/components/markets/_cryptocurrencies.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: cleaning-up tabs component codes
  src/pages/dmt5-trading-signals/_signal-steps.tsx
  src/pages/trade-types/components/_tabs.tsx
  src/pages/trade-types/multiplier/_how-options-works.tsx
  src/pages/trade-types/options/_how-options-works.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: underline hover
  crowdin/messages.json
  src/components/layout/footer/common/style.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: localstorage available gatsby
  src/common/login.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: vercel
  src/pages/markets/components/sections/_hero_derived_fx.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: icon
  src/images/svg/custom/dmt5-icon.svg
Due: none

translation: 📚 sync translations from crowdin feature branch
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: renaming who-we-are components
  crowdin/messages.json
  src/pages/who-we-are/_lazy-load.ts
  src/pages/who-we-are/carousel/_carousel.tsx
  src/pages/who-we-are/carousel/_image-marquee.tsx
  src/pages/who-we-are/components/_about-us-banner.tsx
  src/pages/who-we-are/components/_deriv-numbers.tsx
  src/pages/who-we-are/components/_make-trading.tsx
  src/pages/who-we-are/components/_our-leadership.tsx
  src/pages/who-we-are/components/_our-offices.tsx
  src/pages/who-we-are/components/_our-principles.tsx
  src/pages/who-we-are/components/_our-values.tsx
  src/pages/who-we-are/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: localstorage 2 available gatsby
  src/common/login.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: icons
  src/images/svg/custom/deriv-go.svg
  src/images/svg/custom/deriv-x.svg
  src/images/svg/custom/dtrader-icon.svg
Due: none

translation: 📚 sync translations from crowdin feature branch
  src/translations/id.json
  src/translations/ko.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
Due: prettier --write

fix: localstorage 3 available gatsby
  src/common/login.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: subtasks
  crowdin/messages.json
  src/pages/help-centre/data/_account.ts
  src/pages/help-centre/data/_affiliate-programme.ts
  src/pages/help-centre/data/_deposits-and-withdrawals.ts
  src/pages/help-centre/data/_deriv-p2p.ts
  src/pages/help-centre/data/_deriv-x.ts
  src/pages/help-centre/data/_dmt5.ts
  src/pages/help-centre/data/_dtrader.ts
  src/pages/help-centre/data/_ib-programme.ts
  src/pages/help-centre/data/_trading.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: added new component
  crowdin/messages.json
  src/components/custom/_multi-width-column-download.tsx
  src/components/elements/multi-width-column.tsx
  src/images/common/deriv-go/deriv-go-mobile.png
  src/pages/deriv-go/_banner.tsx
  src/pages/deriv-go/_footer-banner.tsx
  src/pages/deriv-go/_what-is-deriv-go.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ar.json
  src/translations/bn.json
  src/translations/ko.json
  src/translations/th.json
  src/translations/zh_tw.json
Due: prettier --write

fix: :bug: apply changes only to cryptocurrency and synthetic page
  src/common/utility.ts
  src/components/custom/_simple-steps.tsx
  src/components/layout/nav/nav-markets.tsx
  src/pages/markets/commodities/index.tsx
  src/pages/markets/components/markets/_cryptocurrencies.tsx
  src/pages/markets/components/markets/_synthetic-indices.tsx
  src/pages/markets/components/sections/_hero_derived_fx.tsx
  src/pages/markets/derived-fx/index.tsx
  src/pages/markets/forex/index.tsx
  src/pages/markets/stock/index.tsx
  src/pages/markets/synthetic/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: subtasks (#4255)
  src/components/containers/box.tsx
  src/components/elements/full-width-multicolumn.tsx
  src/components/localization/localized-link.tsx
  src/pages/markets/components/markets/_forex.tsx
  src/pages/markets/components/sections/_other-markets.tsx
  src/pages/markets/static/style/_markets-style.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write
