Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

chore: updated floating cta root margin
  src/features/hooks/use-floating-cta/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: updated banner font size
  src/features/components/quill/anchor/index.tsx
  src/features/components/quill/layout-overlay/cfd-warning-banner/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Mitra/DERC-2358/Replace general terms section pdfs (#6400)
  src/pages/terms-and-conditions/_clients-grid.tsx
  static/tnc/deriv-(bvi)-ltd.pdf
  static/tnc/deriv-(fx)-ltd.pdf
  static/tnc/deriv-(v)-ltd.pdf
  static/tnc/deriv-investments-(europe)-limited-eu.pdf
  static/tnc/eu/funds-and-transfers.pdf
  static/tnc/eu/risk-disclosure.pdf
  static/tnc/eu/security-and-privacy.pdf
  static/tnc/eu/trading-terms.pdf
  static/tnc/funds-and-transfers.pdf
  static/tnc/risk-disclosure.pdf
  static/tnc/security-and-privacy.pdf
  static/tnc/trading-terms.pdf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: :memo: update tnc in business partners section for row
  static/tnc/business-partners-affiliates-and-introducing-brokers-row.pdf
  static/tnc/business-partners-api-user.pdf
  static/tnc/business-partners-bug-bounty.pdf
  static/tnc/business-partners-general-terms.pdf
  static/tnc/business-partners-payment-agents.pdf
Due: none

chore: :coffin: remove unused pdf
  static/tnc/business-partners-affiliates-and-introducing-brokers.pdf
Due: none

Amir/CRO-370/add tracking events on homepage signup form (#6309)
  src/features/components/templates/signup/with-banner/form/index.tsx
  src/features/components/templates/signup/with-banner/social/index.tsx
  src/features/hooks/use-signup-form/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: testing live market
  src/features/pages/home/live-pricing-migration/card/live-market/index.tsx
  src/features/pages/home/live-pricing-migration/cards/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: testing live market
  src/features/pages/home/live-pricing-migration/card/live-market/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: font size in eu changed
  src/features/pages/home/start-trading-steps/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: :lipstick: update dbot steps images
  src/images/common/dbot/step_image_1.png
  src/images/common/dbot/step_image_2.png
  src/images/common/dbot/step_image_3.png
  src/images/common/dbot/step_image_4.png
  src/images/common/dbot/step_image_5.png
Due: none

fix: added the space issue
  src/features/pages/home/start-trading-steps/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated blocks (#6289)
  crowdin/messages.json
  src/features/pages/home/start-trading-steps/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove console log
  src/pages/signup-affiliates/components/_signup-form.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fixed the EU issue
  src/features/components/quill/layout-overlay/cfd-warning-banner/index.tsx
  src/features/components/quill/quill-layout/index.tsx
  src/features/contexts/floating-cta/cta.context.tsx
  src/features/contexts/floating-cta/cta.provider.tsx
  src/features/pages/home/hero/floating-cta.tsx
  src/features/pages/home/hero/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: changes initial
  crowdin/messages.json
  package-lock.json
  package.json
  src/features/pages/principles/hero-banner/index.tsx
  src/features/pages/principles/index.tsx
  src/pages/our-principles/_data.tsx
  src/pages/our-principles/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: live market testing
  src/features/pages/home/live-pricing-migration/card/live-market/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added the principle contentleft card
  src/features/pages/principles/index.tsx
  src/features/pages/principles/reliable/index.tsx
  src/images/migration/principle/reliable.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: hero banner
  src/features/pages/principles/hero-banner/index.tsx
  src/features/pages/principles/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: 3 seconds with part town
  gatsby-ssr.js
Due: none

fix: added condition
  gatsby-ssr.js
Due: none

fix: unwantd script
  gatsby-ssr.js
Due: none

fix: miss code
  gatsby-ssr.js
Due: none

fix: part town type
  gatsby-ssr.js
Due: none

Konstantinos/DPROD-2079/Deriv bot landing page (#6266)
  crowdin/messages.json
  src/images/common/dbot/dbot-banner.png
  src/images/common/dbot/dbot-build-strategy.png
  src/images/common/dbot/dbot-get-integrated-help.png
  src/images/common/dbot/dbot-maximise-profits.png
  src/images/common/dbot/dbot-save-your-strategies.png
  src/images/common/dbot/dbot-strategy.png
  src/images/common/dbot/dbot-track-your-performance.png
  src/images/common/dbot/step_image_1.png
  src/images/common/dbot/step_image_2.png
  src/images/common/dbot/step_image_3.png
  src/images/common/dbot/step_image_4.png
  src/images/common/dbot/step_image_5.png
  src/pages/dbot/index.tsx
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Mitra/DERC-2382/Replace tnc for business and partners section (#6420)
  static/tnc/business-partners-affiliates-and-introducing-brokers-row.pdf
  static/tnc/business-partners-affiliates-and-introducing-brokers.pdf
  static/tnc/business-partners-api-user.pdf
  static/tnc/business-partners-bug-bounty.pdf
  static/tnc/business-partners-general-terms.pdf
  static/tnc/business-partners-payment-agents.pdf
Due: none
