Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

fix: check partytown + gtag
  gatsby-config.js
  gatsby-ssr.js
  src/features/pages/home/client-testimonial/trustpiolot-container/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: console errors
  gatsby-config.js
  gatsby-ssr.js
Due: none

fix: remove debug
  gatsby-ssr.js
Due: none

feat: update partytownProxiedURLs
  gatsby-config.js
Due: none

chore: added quill-desgin and blocks to homepage
  .npmrc
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  postcss.config.js
  src/features/pages/home/index.tsx
  src/features/pages/home/trade-types/index.tsx
  src/pages/index.tsx
  static/css/global.css
  tailwind.config.js
  tsconfig.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: remove unused code (#5855)
  src/components/elements/index.ts
  src/components/elements/video-player.tsx
  src/pages/bug-bounty/static/_scope_content.tsx
  src/pages/careers/_controller/_locations.ts
  src/pages/careers/_dept-layout-components/_dept-layout.types.ts
  src/pages/careers/_dept-layout-components/_open-position-see-all-button.tsx
  src/pages/careers/_dept-layout-components/_open-positions.tsx
  src/pages/careers/_layout-components/_link-list.tsx
  src/pages/careers/_layout-components/_no-open-positions.tsx
  src/pages/careers/_model/_job_types/_job_types.ts
  src/pages/careers/_model/_open-positions/_accounts-and-payments.ts
  src/pages/careers/_model/_open-positions/_back-end.ts
  src/pages/careers/_model/_open-positions/_business-intelligence.ts
  src/pages/careers/_model/_open-positions/_compliance.ts
  src/pages/careers/_model/_open-positions/_content.ts
  src/pages/careers/_model/_open-positions/_crypto-development.ts
  src/pages/careers/_model/_open-positions/_customer-support.ts
  src/pages/careers/_model/_open-positions/_devops.ts
  src/pages/careers/_model/_open-positions/_disaster-recovery.ts
  src/pages/careers/_model/_open-positions/_front-end.ts
  src/pages/careers/_model/_open-positions/_hr-recruitment.ts
  src/pages/careers/_model/_open-positions/_internal-audit.ts
  src/pages/careers/_model/_open-positions/_it-admin.ts
  src/pages/careers/_model/_open-positions/_marketing.ts
  src/pages/careers/_model/_open-positions/_other.ts
  src/pages/careers/_model/_open-positions/_product-design.ts
  src/pages/careers/_model/_open-positions/_project-management.ts
  src/pages/careers/_model/_open-positions/_quality-assurance.ts
  src/pages/careers/_model/_open-positions/_quants.ts
  src/pages/careers/_model/_open-positions/_security.ts
  src/pages/careers/_model/_open-positions/_system-integrator.ts
  src/pages/dbot/_dbot-video.tsx
  src/pages/dtrader/_dtrader-tabs.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translations: 📚 sync translations with crowdin
  src/translations/pl.json
  src/translations/pt.json
  src/translations/si.json
  src/translations/th.json
Due: prettier --write

Konstantinos/DERC-2019/Performance,accessibility score improvement (#6028)
  gatsby-config.js
  gatsby-node.js
  gatsby-ssr.js
  package-lock.json
  package.json
  src/components/hooks/use-livechat.tsx
  src/features/components/molecules/language-switcher/index.tsx
  src/images/common/awards/best-forex-spreads.png
  src/images/common/awards/broker-of-the-year.png
  src/images/common/awards/gptw.png
  src/images/common/awards/investors.png
  src/images/common/awards/most-trusted.png
  src/images/common/home/eu_hero_person_5.png
  src/images/common/home/hero_1.png
  src/images/common/home/hero_2.png
  src/images/common/home/hero_3.png
  src/images/common/home/hero_4.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: add page tracking event (#6013)
  gatsby-browser.js
Due: none

fix: remove duplicate gtag
  gatsby-config.js
Due: none

fix: remove duplicate gtag (#6035)
  gatsby-config.js
Due: none

fix: update gatsby ssr too
  gatsby-ssr.js
Due: none

fix: trade nov update
  src/pages/trading-specification/data/_commodities_specification.ts
  src/pages/trading-specification/data/_crypto_specification.ts
  src/pages/trading-specification/data/_derived_specification.ts
  src/pages/trading-specification/data/_etfs_specification.ts
  src/pages/trading-specification/data/_forex_specification.ts
  src/pages/trading-specification/data/_stocks_specification.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update gatsby-ssr.js
  gatsby-ssr.js
Due: none

add partytown support for gtm in gatsby-ssr.js
  gatsby-ssr.js
Due: none

Add gtm script in partytown
  gatsby-ssr.js
Due: none

chore: fix gtm partytown integration
  crowdin/messages.json
  gatsby-config.js
  gatsby-ssr.js
Due: none

chore: updated deriv-com libs
  .npmrc
  package-lock.json
  package.json
Due: none

chore: updated images format and imports
  src/features/pages/home/footer/download.tsx
  src/features/pages/home/trade-type/index.tsx
  src/features/pages/home/user-platfroms/index.tsx
  src/features/pages/home/years/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update tsconfig.json
  tsconfig.json
Due: none

ci: added setup npmrc in cloudflare build step
  .github/workflows/generate-preview-link.yml
  crowdin/messages.json
Due: none

ci: added setup npmrc in cloudflare build step (#6040)
  .github/workflows/generate-preview-link.yml
  crowdin/messages.json
Due: none

ci: added github registry for @deriv-com packages
  .github/workflows/generate-preview-link.yml
Due: none

ci: added github registry for @deriv-com packages (#6043)
  .github/workflows/generate-preview-link.yml
Due: none

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: added base navigation for row
  package-lock.json
  package.json
  src/features/pages/home/index.tsx
  src/features/pages/home/navigation/data.tsx
  src/features/pages/home/navigation/index.tsx
  src/features/pages/home/navigation/nav.buttons.tsx
  src/features/pages/home/navigation/nav.logo.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added base home hero
  src/features/pages/home/hero/index.tsx
  src/features/pages/home/index.tsx
  src/images/migration/home/home_hero_bg.png
  src/images/migration/home/home_hero_new.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove defer
  gatsby-ssr.js
Due: none

Fix gtm partytown integration (#6038)
  gatsby-config.js
  gatsby-ssr.js
Due: none

single post page
  gatsby-config.js
  package-lock.json
  package.json
  src/pages/blog/single-blog/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: default theme to light
  src/features/pages/home/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
