Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: removed unused import
  src/store/website-status-context.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: career page refactor translation keys
  src/pages/contact_us/_affiliates.tsx
  src/pages/contact_us/_contact-ways.tsx
  src/pages/contact_us/_offices.tsx
  src/pages/contact_us/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fix pricing for mobile
  src/pages/payment-methods/_mobile-expanded-list.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: init reopen ws if its closed
  src/pages/signup/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: update office names
  src/pages/careers/_model/_locations/_locations.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: change order
  src/pages/markets/static/content/_market-symbols.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: object destructuring update
  src/components/elements/typography.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: added dependay
  src/store/website-status-context.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: changed to useregion from usecountryrule
  src/pages/terms-and-conditions/_business-grid.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :speech_balloon: change the address
  src/components/layout/binary-to-deriv/_disclaimer.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: changed the pdf for non eu
  static/tnc/business-partners-affiliates-and-introducing-brokers.pdf
Due: none

chore: remove console log
  src/pages/signup/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: applied comments suggestions
  src/pages/contact_us/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_tw.json
Due: prettier --write

chore: change placement of location by design
  src/pages/careers/_model/_locations/_locations.ts
  src/pages/careers/locations/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: add deriv go button
  crowdin/messages.json
  src/images/svg/custom/deriv-go.svg
  src/pages/markets/components/helper/_available-platforms.tsx
  src/pages/markets/components/sub-markets/_cfds.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: changed the file to component folder
  src/pages/signup-affiliates/components/_account-terms.tsx
  src/pages/signup-affiliates/components/_agreement-label.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: remove real world for europe
  crowdin/messages.json
  src/components/custom/other-platforms.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: korean no wasnt in one line and wrong ar language behavior
  crowdin/messages.json
  src/pages/unsubscribe/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: :speech_balloon: fetch translation
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/bn.json
  src/translations/it.json
Due: prettier --write

fix: vercel issue due the wrong import
  src/pages/unsubscribe/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/es.json
Due: prettier --write

refactor: name change for ischecked
  src/pages/signup-affiliates/components/_agreement-label.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Mitra/missing translation in dbot answer (#4022)
  crowdin/messages.json
  src/pages/help-centre/components/_control-losses.tsx
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: :speech_balloon: update translation
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

translation: :speech_balloon: fetch translation
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/pt.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

Aswathy/Link edit terms (#4005)
  src/pages/signup-affiliates/components/_account-terms.tsx
  src/pages/signup-affiliates/components/_agreement-label.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added new volatility
  crowdin/messages.json
  src/components/elements/symbols.ts
  src/images/svg/symbols/volatility_150_1s.svg
  src/images/svg/symbols/volatility_250_1s.svg
  src/pages/markets/static/content/_market-symbols.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
