Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

fix: name change
  src/common/constants.ts
  src/pages/partners/affiliate-ib/_faq-data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: :bug: remove condition for deriv go
  src/features/components/templates/navigation/template/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: :bug: add conditon to the market nav
  src/features/components/templates/navigation/market-nav/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: replaced deriv ez image
  src/images/common/home/rebranding/platform_deriv_ez.png
Due: none

fix: fixing color funciton
  src/features/pages/home/live-pricing/use-live-columns.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: symbol key
  src/pages/markets/instruments/_drift_switch_indices.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: update title css
  src/pages/markets/static/style/_markets-style.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: style
  src/features/styles/theme/inputs/text.styles.scss
Due: none

chore: :recycle: use ProtectedRoute component
  src/pages/deriv-ez/index.tsx
  src/pages/markets/exchange-traded-funds/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove images
  src/images/common/careers/minsk_grid_1.png
  src/images/common/careers/minsk_grid_2.png
  src/images/common/careers/minsk_grid_3.png
  src/images/common/careers/minsk_grid_4.png
  src/pages/careers/_model/_locations/_locations.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: text field style
  src/features/styles/theme/inputs/text.styles.scss
Due: none

fix: error message red
  src/features/styles/theme/inputs/text.styles.scss
Due: none

fix: space issue
  src/features/pages/partners/deriv-prime/get-in-touch/contact-form.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: replace testlink with official deriv app url
  src/features/pages/ctrader-manage/ctrader-manage-data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: add sinhalese
  i18n-config.js
Due: none

fix: add si
  i18n-config.js
Due: none

translation: 📚 sync translations from crowdin feature branch
  src/translations/ko.json
Due: prettier --write

fix: reduce spacing of note
  src/pages/payment-methods/_expanded-list.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: remove IBs information from Affiliates and IBs
  crowdin/messages.json
  src/features/components/templates/footer/data.ts
  src/features/components/templates/navigation/main-nav/content/partner/index.ts
  src/features/components/templates/navigation/payment-agent-nav/data.tsx
  src/features/components/templates/navigation/payment-agent-nav/index.tsx
  src/images/common/affiliate/daily-ib-commission.png
  src/images/common/affiliate/marketing-material.png
  src/images/common/affiliate/multiple-income-opportunities.png
  src/pages/partners/_partnership-opportunities.tsx
  src/pages/partners/_why-choose-us.tsx
  src/pages/partners/affiliate-ib/_deriv-affiliate-programme.tsx
  src/pages/partners/affiliate-ib/_faq-data.tsx
  src/pages/partners/affiliate-ib/_faq.tsx
  src/pages/partners/affiliate-ib/_who-can-apply.tsx
  src/pages/partners/affiliate-ib/_why-us.tsx
  src/pages/partners/affiliate-ib/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: add security team's secret-scanner
  .husky/secret-scanner.sh
Due: none

feat: run security team's secret scanner
  .husky/pre-commit
Due: none

fix: hidden some ctrader sections and added coming soon tag
  crowdin/messages.json
  src/features/components/templates/banners/deriv-products-hero/index.tsx
  src/features/components/templates/banners/deriv-products-hero/products-logo-and-text.tsx
  src/features/components/templates/banners/deriv-products-hero/types.ts
  src/features/pages/deriv-ctrader/hero-banner/data.tsx
  src/features/pages/deriv-ctrader/index.tsx
  src/images/svg/trading-platforms/ctrader/coming_soon.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added is browser condition to protected route component
  src/features/components/molecules/protected-route/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: accessor typo
  src/features/pages/partners/deriv-prime/commercial-plan/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: update css module import
  src/features/pages/ctrader-login/login-success.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: seo
  crowdin/messages.json
  src/features/pages/partners/deriv-prime/browse-our-faq/_faq-schema.ts
  src/features/pages/partners/deriv-prime/browse-our-faq/data.tsx
  src/features/pages/partners/deriv-prime/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: faq seo
  crowdin/messages.json
  src/features/pages/partners/deriv-prime/browse-our-faq/_faq-schema.ts
  src/features/pages/partners/deriv-prime/browse-our-faq/data.tsx
  src/features/pages/partners/deriv-prime/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: clear message and showing thank you meesage for 4 seconds
  src/features/hooks/use-contact-form/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fixed an issue where gatsby bundles all files into one chunk
  .babelrc
Due: none

fix: :bug: remove additional condition
  src/features/pages/markets/etf/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Hasan/Translation 00 prime commercial table content fix (#5471)
  crowdin/messages.json
  src/features/pages/partners/deriv-prime/commercial-plan/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: change color
  src/features/styles/theme/inputs/text.styles.scss
Due: none

feat: update helpcentre content for eu
  crowdin/messages.json
  src/pages/help-centre/components/_list.tsx
  src/pages/help-centre/data/_affiliate-programme.ts
  src/pages/help-centre/data/_data-types.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: removed is browser func
  src/features/components/molecules/protected-route/index.tsx
  src/pages/trade-types/options/vanilla-options/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Mayuran/change imagery derivx new (#5403)
  src/images/common/deriv-x/banner_image_derivx.png
  src/images/common/deriv-x/banner_image_derivx_mobile.png
  src/images/common/dtrader/hero-image.png
  src/images/common/dtrader/step_image_1.png
  src/images/common/dtrader/step_image_2.png
  src/images/common/dtrader/step_image_3.png
Due: none

chore: :bug: address comment
  src/features/components/organisms/markets/market-banner/styles.module.scss
  src/features/components/templates/navigation/template/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: review comments
  src/features/components/templates/banners/deriv-products-hero/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write
