Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated alert button onclick
  src/features/components/quill/alert/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: rename
  src/features/components/templates/help-centre/data.ts
  src/features/components/templates/help-centre/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: external link issue
  src/components/layout/layout.tsx
  src/features/components/quill/alert/index.tsx
  src/features/components/quill/shared-link/external.tsx
  src/features/components/quill/shared-link/index.tsx
  src/features/components/templates/layout/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Hasan/chore: fixed link component for eu (#6261)
  package-lock.json
  package.json
  src/features/components/quill/alert/index.tsx
  src/features/components/quill/shared-link/external.tsx
  src/features/components/quill/shared-link/index.tsx
  src/features/pages/home/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: terms-and-condition url updated
  src/features/components/templates/footer/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Nuzhy/quill nav (#6264)
  package-lock.json
  package.json
  src/components/layout/layout.tsx
  src/features/components/quill/alert/index.tsx
  src/features/components/quill/shared-link/external.tsx
  src/features/components/quill/shared-link/index.tsx
  src/features/components/templates/footer/banner-and-awards.tsx
  src/features/components/templates/footer/data.tsx
  src/features/components/templates/footer/description.tsx
  src/features/components/templates/footer/index.tsx
  src/features/components/templates/layout/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated live market buy sell click handler
  package-lock.json
  package.json
  src/features/pages/home/live-pricing-migration/cards/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated live market buy sell click handler
  src/features/pages/home/live-pricing-migration/cards/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: delay 5 seconds on hot jar append
  gatsby-ssr.js
Due: none

fix: console removed
  gatsby-ssr.js
Due: none

fix: revert things
  gatsby-browser.js
  gatsby-ssr.js
Due: none

fix: update deriv-com-libs
  package-lock.json
  package.json
  src/features/components/templates/footer/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: update deriv-com-libs (#6268)
  package-lock.json
  package.json
  src/features/components/templates/footer/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated live market bottom content
  src/features/pages/home/live-pricing-migration/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: test tokens
  gatsby-node.js
Due: none

chore: update packages
  package-lock.json
  package.json
Due: none

ci: pass correct name to upload action
  .github/workflows/pre-generate-preview-link.yml
Due: none

ci: pass the name to string
  .github/workflows/pre-generate-preview-link.yml
Due: none

ci: remove top env as its not accessible from cuncurrency
  .github/workflows/pre-generate-preview-link.yml
Due: none

Ako/ pass correct name to upload action (#6269)
  .github/workflows/pre-generate-preview-link.yml
Due: none

translations: 📚 sync translations with crowdin
  src/translations/es.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: update footer social links for EU, careers
  src/features/components/templates/footer/data.tsx
  src/features/components/templates/footer/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: refactor
  src/features/components/templates/footer/data.tsx
  src/features/components/templates/footer/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated live market hook for stock and indices
  src/features/pages/home/live-pricing-migration/cards/index.tsx
  src/features/pages/home/live-pricing-migration/data-provider/useLiveData.tsx
  src/features/pages/home/live-pricing-migration/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: update social buttons in footer for EU, careers
  src/features/components/templates/footer/data.tsx
  src/features/components/templates/footer/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove unused telegram icon
  src/features/components/templates/footer/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated deriv-com pacakges
  package-lock.json
  package.json
Due: none

chore: key test
  gatsby-node.js
Due: none

Update generate-preview-link.yml
  .github/workflows/generate-preview-link.yml
Due: none

Update generate-preview-link.yml (#6273)
  .github/workflows/generate-preview-link.yml
Due: none

fix: update password validation
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: bannere overlap issue for eu
  src/features/components/templates/footer/banner-and-awards.tsx
  src/features/components/templates/footer/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: banner overlap issue for eu
  src/features/components/templates/footer/banner-and-awards.tsx
  src/features/components/templates/footer/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
