Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

fix: tagalog translations
  src/translations/tl.json
Due: prettier --write

fix: validation in input fields of form
  src/pages/signup-affiliates-details/common/_validation.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update filter for uk too
  src/pages/academy/components/utility.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: add crowdin-ml translations. support for unavailable languages
  crowdin.yml
  i18n-config.js
  src/components/localization/language-dropdown.js
  src/components/localization/language-switcher.js
  src/translations/fa.json
  src/translations/fr.json
  src/translations/ms.json
  src/translations/ru.json
  src/translations/ta.json
  src/translations/tl.json
  src/translations/zh.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: remove api
  crowdin.yml
Due: none

Update src/pages/signup-affiliates-details/common/_validation.js
  src/pages/signup-affiliates-details/common/_validation.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: change id filtration by blog title
  src/pages/academy/components/utility.ts
  src/pages/academy/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update filter. now we change property from cms
  src/pages/academy/components/utility.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: update links and change domain from .com to .eu
  src/common/constants.ts
  src/pages/careers/_dept-layout-components/_department-page.tsx
  src/pages/careers/_dept-layout-components/_dept-layout.types.ts
  src/pages/careers/_dept-layout-components/_open-position-see-all-button.tsx
  src/pages/careers/_dept-layout-components/_open-positions.tsx
  src/pages/careers/data/_career-data.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove duplicates from faq
  src/pages/help-centre/_help-articles.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

text: replaced the word authorized from regulatoy page
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: removed arrow from navigations
  src/components/elements/card.js
  src/components/elements/off-canvas-menu.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: white screen for gb carosuel academy
  src/pages/academy/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update z-index in search-banner to match with master
  src/pages/academy/components/search-banner/_search-styled.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chaks/enable_docker_image_validation (#2905)
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

fix: error message displayed after a double click on submit
  src/components/custom/signup.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fixed content in pa page
  src/pages/partners/payment-agent/_faq-data.tsx
  src/pages/partners/payment-agent/_who-can-apply.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fixed extra space in list
  src/pages/partners/payment-agent/_who-can-apply.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fixed space around FAQ header
  src/pages/partners/payment-agent/_faq.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: untranslated issue
  crowdin/messages.json
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fix strings
  crowdin/messages.json
  src/components/layout/footer/disclaimer.js
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove extra spaces
  src/pages/careers/data/_career-data.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: language dropdown
  src/components/localization/language-dropdown.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: update google automl
  i18n-config.js
  src/translations/fa.json
  src/translations/fr.json
  src/translations/ms.json
  src/translations/ru.json
  src/translations/ta.json
  src/translations/zh.json
Due: prettier --write

chore: fix translation download script
  scripts/handle-translations.js
Due: none

chore: updated message
  scripts/handle-translations.js
Due: none

chore: cleanup
  .husky/pre-commit
Due: none

fix: disable on country selector and api error message on signup-affiliates
  src/components/custom/_signup-affiliate-details.js
  src/components/custom/signup.js
  src/components/elements/dropdown-search.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove console.log
  src/components/elements/dropdown-search.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: changed to getcountryrule from derivstore type
  src/pages/academy/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove crypto_config dependency from website_status
  src/components/hooks/use-website-status.tsx
  src/pages/payment-methods/_mobile-accordian-item.js
  src/pages/payment-methods/_mobile-expanded-list.js
  src/pages/payment-methods/index.js
  src/store/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: sorted tabs in the same series based on figma design
  src/pages/careers/_model/_locations/_locations.ts
  src/pages/careers/locations/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: change all to lowercase
  src/pages/careers/_model/_locations/_locations.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: hours to hour
  src/pages/p2p/components/_exchange-steps.tsx
  src/pages/payment-methods/_payment-data.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: script to check untranslated strings
  package.json
  scripts/extract-translations.js
Due: none

refactor: added function to format name and changed variable name
  src/pages/careers/_model/_locations/_locations.ts
  src/pages/careers/locations/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: update id for the careers and besquare
  src/common/constants.ts
  src/pages/careers/data/_career-data.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: add popup message for non eu login users
  src/common/constants.ts
  src/components/custom/_non-eu-redirect-popup.js
  src/components/layout/layout.js
  src/components/layout/nav/components/right-section.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write
