Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

change the opacity for learn more btn- trade type
  src/pages/home/_trade-types.tsx
Due: none

nikolai.berestevich/fix/compress:new derivx logo
  src/images/svg/deriv-x/derivx-logo-light.svg
Due: none

update alt tags in dbot & dmt5 pages
  src/pages/dbot/_dbot-video.js
  src/pages/dmt5/_dbanner.js
  src/pages/dmt5/_download-app.js
  src/pages/dmt5/_margin_calculator.js
  src/pages/dmt5/_start-trader.js
  src/pages/dmt5/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

working on markets section
  src/pages/home/_markets_fold.tsx
  src/pages/home/_trade-types.tsx
Due: none

update alt tags in home page
  src/components/custom/_signup-public.js
  src/pages/home/_hero.js
  src/pages/home/_trade.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

nikolai.berestevich/fix/rename component new derivx logo
  src/pages/derivx/_hero.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

security form resolve ts-lint error
  src/images/common/security/security_form_submission.jpg
  src/pages/security/_scope.js
  src/pages/security/_submit_a_bug_report.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

security form resolve ts-lint error
  src/pages/security/_submit_a_bug_report.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

nikolai.berestevich/fix/another compressorof svg
  src/images/svg/deriv-x/derivx-logo-light.svg
Due: none

resolve issues
  src/pages/security/_hero.js
  src/pages/security/components/_hero_component.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

clear extra files
  src/pages/security/scope.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

remove reference of ireland from footer section
  src/components/layout/footer/disclaimer.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

regulatory license remove
  src/pages/regulatory/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Niloofar Sadeghi / Security - Vulnerabilities Types Section (#2287)
  src/components/layout/nav.js
  src/images/common/security/security_form_submission.jpg
  src/pages/security/_hero.js
  src/pages/security/_lazy-load.js
  src/pages/security/_scope.js
  src/pages/security/_submit_a_bug_report.js
  src/pages/security/components/_hero_component.js
  src/pages/security/index.js
  src/pages/security/rewards.js
  src/pages/security/static/_vulnerabilities-types-content.js
  src/pages/security/vulnerabilities-types/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix link to smarttrader
  src/components/localization/localized-link.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

bug bounty program- update tnc
  src/images/svg/terms/bug-bounty.svg
  src/pages/terms-and-conditions/_business-grid.js
  static/tnc/business-partners-bug-bounty.pdf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

geo-locking for banners redone
  src/pages/academy/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fixed styling for market and trade type section
  src/pages/home/_markets_fold.tsx
  src/pages/home/_trade-types.tsx
Due: none

fix: types
  src/components/elements/query-image.tsx
  src/pages/home/_what-our-clients-say.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: lang attrbute
  src/components/containers/seo.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: attribute name
  src/components/containers/seo.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

yashim/fix: lang attrbute (#2296)
  src/components/containers/seo.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: seo
  src/pages/home/_trade-types.tsx
Due: none

fix: SEO + types
  src/components/localization/localized-link.js
  src/pages/home/_trade-types.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: SEO
  src/components/localization/localized-link.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

updated crowdin
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

updated crowdin (#2297)
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: SEO
  src/components/custom/other-platforms.js
  src/pages/home/_testimonial-carousel.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: further SEO fixes
  src/components/elements/off-canvas-menu.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

add country code for p2p payment
  src/common/country-base.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

remove reference of ireland from footer section (#2293)
  src/components/layout/footer/disclaimer.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

regulatory license remove (#2294)
  src/pages/regulatory/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

update hero btn url and title trim for forex-trading and trade-forex lps
  src/pages/landing/forex-trading/components/_hero.js
  src/pages/landing/trade-forex/components/_hero.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

add deriv products condition
  src/components/localization/localized-link.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

update hero btn url and title trim for forex-trading and trade-forex lps (#2300)
  src/pages/landing/forex-trading/components/_hero.js
  src/pages/landing/trade-forex/components/_hero.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

update translations, layout fix
  crowdin/messages.json
  src/pages/payment-methods/_payment-data.js
  src/pages/responsible/_securing-account.js
  src/translations/ach.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

update table btn url
  src/pages/landing/forex-trading/components/_table-btn.js
  src/pages/landing/trade-forex/components/_table-btn.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

behnaz / Fix fx spread lp (#2301)
  src/pages/landing/forex-trading/components/_table-btn.js
  src/pages/landing/trade-forex/components/_table-btn.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.js
  stylelint --formatter verbose: any of: src/**/*.js
  prettier --write: any of: src/**/*.{js,jsx,json,md}
