Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.js": [
        "eslint --fix",
        "stylelint --formatter verbose",
    ],
    "src/**/*.{js,jsx,json,md}": [
        "prettier --write",
    ]
}

show date
  src/pages/blog/recent-featured-posts/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

updated t&c for risk disclosure and funds and transfer
  static/tnc/funds-and-transfers.pdf
  static/tnc/risk-disclosure.pdf
Due: none

docs: add badge to readme
  README.md
  package.json
Due: none

docs: update description
  README.md
Due: none

docs: update table of contents
  README.md
Due: none

enhancement
  src/pages/blog/recent-featured-posts/_data.js
  src/pages/blog/recent-featured-posts/_style.js
  src/pages/blog/recent-featured-posts/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

updated translations as per master branch
  crowdin/messages.json
  src/translations/ach.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

addressed PR comment
  src/pages/p2p/components/_dp2p.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

lower the gap between label and create demo button (#1896)
  src/components/custom/_agreement-label.js
  src/components/custom/_signup-new.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Nikolai.berestevich/fix/update minsk office link 37500 (#1902)
  src/pages/careers/_model/_locations/_locations.js
  src/pages/contact_us/_offices.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: apple app site and assetlinks (#1891)
  static/.well-known/apple-app-site-association
  static/.well-known/assetlinks.json
  static/apple-app-site-association
  static/assetlinks.json
Due: none

nikolai.berestevich/text/remove-negar 36787 (#1898)
  src/images/common/careers/negar.jpg
  src/pages/careers/_employee-testimonial-carousel.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Nikolai.berestevich/fix/homepage paddings (#1893)
  src/components/custom/_signup-public.js
  src/pages/home/_what-our-clients-say.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

suthesh/cherry-pick-amina-cfd (#1922)
  crowdin/messages.json
  src/components/layout/footer/disclaimer.js
  src/components/layout/layout.js
  src/translations/ach.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

updated t&c for risk disclosure and funds and transfer (#1924)
  static/tnc/funds-and-transfers.pdf
  static/tnc/risk-disclosure.pdf
Due: none

side cta banner
  src/pages/blog/side-cta/_style.js
  src/pages/blog/side-cta/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Preparing for PR
  src/pages/markets/commodities/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

dev suggestion
  src/pages/blog/side-cta/_style.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

update flex
  src/pages/blog/side-cta/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Nuri/update: Consolidate video banner comp into homepage (#1913)
  src/pages/blog/_video-player.js
  src/pages/blog/index.js
  src/pages/blog/video-banner/_DBanner.js
  src/pages/blog/video-banner/_VideoCarousel.js
  src/pages/blog/video-banner/carousel/_custom-carousel.js
  src/pages/blog/video-banner/index.js
  src/pages/blog/videos/_all-videos.js
  src/pages/blog/videos/_video-player.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Mahdiyeh/Fix: compare_accounts_content_for_eu_conuntries (#1888)
  src/pages/dmt5/_flexibility.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

remove grey color tab
  src/components/elements/default-tab.js
  src/pages/blog/recent-featured-posts/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix typo
  src/pages/trade-types/margin/_policies.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Removed extra codes
  gatsby-config.js
  src/pages/blog/template/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Al-amin/35136/Deriv p2p landing page update (#1906)
  src/common/constants.js
  src/images/common/p2p/p2p_all_appstores.png
  src/pages/help-centre/_help-articles.js
  src/pages/help-centre/_utility.js
  src/pages/help-centre/deriv-p2p.js
  src/pages/help-centre/index.js
  src/pages/p2p/components/_availability.js
  src/pages/p2p/components/_dp2p.js
  src/pages/p2p/components/_exchange-steps.js
  src/pages/p2p/components/_hero.js
  src/pages/p2p/components/_numbers.js
  src/pages/p2p/components/_p2pbanner.js
  src/pages/p2p/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

nikolai.berestevich/text/update numbers on story page (#1917)
  src/pages/story/_our-numbers.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

change sentences (#1916)
  src/pages/home/_hero.js
  src/pages/markets/commodities/index.js
  src/pages/markets/components/sections/_hero.js
  src/pages/markets/cryptocurrencies/index.js
  src/pages/markets/forex/index.js
  src/pages/markets/index.js
  src/pages/markets/stock/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

updated crowdin and added new strings
  crowdin/messages.json
  src/translations/ach.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

show contractsize
  src/pages/trader-tools/pip-calculator/_pip-calculator.js
  src/pages/trader-tools/swap-calculator/_swap-calculator.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor
  src/components/elements/dropdown-search.js
  src/components/elements/dropdown.js
  src/pages/trader-tools/margin-calculator/_margin-calculator.js
  src/pages/trader-tools/pip-calculator/_pip-calculator.js
  src/pages/trader-tools/swap-calculator/_swap-calculator.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

nikolai.berestevich/fix/link in the agreement-label 38541
  src/components/custom/_agreement-label.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

nikolai.berestevich/fix/link in the agreement-label 38541
  src/components/custom/_agreement-label.js
  src/components/localization/localized-link.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

test to have a sample pr and testlink
  src/pages/trade-types/multiplier/_margin.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

nikolai.berestevich/fix/link in the agreement-label 38541
  src/components/localization/localized-link.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

test to have a new tab for multiplier
  src/pages/trade-types/multiplier/_crypto-currencies.js
  src/pages/trade-types/multiplier/_margin.js
  src/pages/trade-types/multiplier/_what-are-multipliers.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix undefined crypto
  src/pages/trade-types/multiplier/_crypto-currencies.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

nikolai.berestevich/fix/links update for DMX and DEL
  src/components/layout/footer/disclaimer.js
  src/pages/regulatory/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

dev comment
  src/pages/blog/side-cta/_style.js
  src/pages/blog/side-cta/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

update page styles
  src/pages/preview/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write
