Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

nuzhy/update navigation and footer, illustrations (#6078)
  gatsby-browser.js
  package-lock.json
  package.json
  src/features/pages/home/footer-cta/index.tsx
  src/features/pages/home/footer/banner-and-awards.tsx
  src/features/pages/home/footer/data.tsx
  src/features/pages/home/footer/description.tsx
  src/features/pages/home/footer/download.tsx
  src/features/pages/home/hero/index.tsx
  src/features/pages/home/navigation/data.tsx
  src/features/pages/home/years/index.tsx
  static/css/global.css
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: nothing
  src/features/pages/home/fast-payment/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove datadog sessionreplay
  gatsby-browser.js
  static/~partytown/debug/partytown-atomics.js
  static/~partytown/debug/partytown-media.js
  static/~partytown/debug/partytown-sandbox-sw.js
  static/~partytown/debug/partytown-sw.js
  static/~partytown/debug/partytown-ww-atomics.js
  static/~partytown/debug/partytown-ww-sw.js
  static/~partytown/debug/partytown.js
  static/~partytown/partytown-atomics.js
  static/~partytown/partytown-media.js
  static/~partytown/partytown-sw.js
  static/~partytown/partytown.js
Due: none

chore: added github readonly token to actions
  .github/workflows/beta.yml
  .github/workflows/corewebvitals.yml
  .github/workflows/lint.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  .github/workflows/sync-build-cache.yml
  .github/workflows/translation.yml
Due: none

chore: added github readonly token to actions (#6085)
  .github/workflows/beta.yml
  .github/workflows/corewebvitals.yml
  .github/workflows/lint.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  .github/workflows/sync-build-cache.yml
  .github/workflows/translation.yml
Due: none

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: added data for infinte carousel
  package-lock.json
  package.json
  src/features/pages/home/fast-payment/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: add badges
  src/images/common/careers/ciudad_great_place_to_work_badge.png
  src/images/common/careers/cyprus_great_place_to_work_badge.png
  src/images/common/careers/dubai_great_place_to_work_badge.png
  src/images/common/careers/jordan_great_place_to_work_badge.png
  src/images/common/careers/malta_great_place_to_work_badge.png
  src/images/common/careers/minsk_great_place_to_work_badge.png
  src/images/common/careers/paris_great_place_to_work_badge.png
  src/images/common/careers/reading_great_place_to_work_badge.png
  src/images/common/careers/rwanda_great_place_to_work_badge.png
  src/pages/careers/_model/_locations/_locations.tsx
  src/pages/careers/locations/_location-layout-new-offices.tsx
  src/pages/careers/locations/ciudad/index.tsx
  src/pages/careers/locations/jordan/index.tsx
  src/pages/careers/locations/paris/index.tsx
  src/pages/careers/locations/reading/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: updated
  src/pages/trading-specification/data/_stocks_specification.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added live market blocks
  package-lock.json
  package.json
  src/features/pages/home/live-pricing-migration/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fixed description
  src/features/pages/home/live-pricing-migration/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: cta button only show on desktop size
  package-lock.json
  package.json
  src/features/pages/home/cta/index.tsx
  src/features/pages/home/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: uncomment
  src/features/pages/home/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove unwanted image
  src/images/common/home/mobile_cta_bg.png
Due: none

chore: truspilot rendering
  package-lock.json
  package.json
  src/features/pages/home/index.tsx
  src/features/pages/home/trustpilot/index.tsx
  src/images/common/home/trustpilot-logo.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: solve livemarket issue
  package-lock.json
  package.json
  src/features/pages/home/live-pricing-migration/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: implemented tabs for user friendly section
  src/features/pages/home/user-platfroms/data.tsx
  src/features/pages/home/user-platfroms/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: clean code
  src/features/pages/home/live-pricing-migration/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated package
  crowdin/messages.json
  package-lock.json
  package.json
Due: none

fix: remove partytown type from livechat
  src/components/hooks/use-livechat.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Hasan/Translation 375 live pricing block (#6092)
  crowdin/messages.json
  package-lock.json
  package.json
  src/features/pages/home/live-pricing-migration/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Hasan/Translation 00 options seo fix 5 (#5941)
  crowdin/messages.json
  src/features/components/organisms/options-top-tab/data.ts
  src/features/components/templates/digital-options-layout/data.ts
  src/features/pages/options/digital/in-out/_faq-schema.ts
  src/features/pages/options/digital/reset-call/_faq-schema.ts
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

feat: trading hours update (#5879)
  src/pages/trading-specification/data/_commodities_specification.ts
  src/pages/trading-specification/data/_derived_specification.ts
  src/pages/trading-specification/data/_etfs_specification.ts
  src/pages/trading-specification/data/_forex_specification.ts
  src/pages/trading-specification/data/_stocks_specification.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update social icon
  src/features/components/templates/footer/social-icons/data.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove datadog sessionreplay (#6084)
  gatsby-browser.js
  static/~partytown/debug/partytown-atomics.js
  static/~partytown/debug/partytown-media.js
  static/~partytown/debug/partytown-sandbox-sw.js
  static/~partytown/debug/partytown-sw.js
  static/~partytown/debug/partytown-ww-atomics.js
  static/~partytown/debug/partytown-ww-sw.js
  static/~partytown/debug/partytown.js
  static/~partytown/partytown-atomics.js
  static/~partytown/partytown-media.js
  static/~partytown/partytown-sw.js
  static/~partytown/partytown.js
Due: none

fix: remove partytown type from livechat (#6096)
  src/components/hooks/use-livechat.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: implemented tabs for user friendly section (#6095)
  src/features/pages/home/user-platfroms/data.tsx
  src/features/pages/home/user-platfroms/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: track js issue
  src/pages/signup-success/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove unwanted condition
  src/pages/signup-success/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: platform section
  package-lock.json
  package.json
  src/features/pages/home/user-platfroms/data.tsx
  src/features/pages/home/user-platfroms/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove fragment
  src/features/pages/home/user-platfroms/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: integrate language switcher
  package-lock.json
  package.json
  src/features/pages/home/data.ts
  src/features/pages/home/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write
