Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

fix: removed telegram from footer and faq (#5950)
  src/features/components/templates/footer/social-icons/data.ts
  src/pages/help-centre/data/_security.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Fasih/without translation PR enable firebase live price trans (#5794)
  crowdin/messages.json
  src/common/constants.ts
  src/components/elements/symbols-shortcode.ts
  src/components/hooks/use-pricing-feed.tsx
  src/features/pages/home/live-pricing/index.tsx
  src/features/pages/home/live-pricing/market-tabs/market-tab.tsx
  src/features/pages/home/live-pricing/market-tabs/utils.tsx
  src/features/pages/home/live-pricing/table-component/live-market-table.tsx
  src/features/pages/home/live-pricing/table-component/symbol-icon.tsx
  src/features/pages/home/live-pricing/types.tsx
  src/features/pages/home/live-pricing/use-live-columns.tsx
  src/images/svg/symbols/etf-usd-500.svg
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: test partytown
  gatsby-node.js
  gatsby-ssr.js
Due: none

feat: packages
  package-lock.json
  package.json
Due: none

fix: productboard iframe fix
  src/features/components/organisms/roadmap/index.tsx
  src/features/components/organisms/roadmap/styles.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Move the docker image build to after release
  .github/workflows/staging.yml
Due: none

refactor: added docker after cloudflare
  .github/workflows/production.yml
Due: none

build: to add docker/k8 setup to deriv com (#5932)
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

refactor: ui update and refactor wizard set approach
  src/pages/signup-affiliates/_types.ts
  src/pages/signup-affiliates/components/_personal-details.tsx
  src/pages/signup-affiliates/components/_signup-status.tsx
  src/pages/signup-affiliates/components/_wizard.tsx
  src/pages/signup-affiliates/components/wizard-component/index.tsx
  src/pages/signup-affiliates/components/wizard-component/wizard-header.tsx
  src/pages/signup-affiliates/index.tsx
  src/pages/signup-affiliates/utils/_affiliate-input.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

ci: add CA variable to bash
  .github/workflows/staging.yml
Due: none

ci: add CA variable to bash (#5962)
  .github/workflows/staging.yml
Due: none

translations: 📚 sync translations with crowdin
  src/translations/pt.json
Due: prettier --write

fix: dynamic url
  gatsby-node.js
  src/pages/blog/index.tsx
  src/pages/blog/single-blog/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: partytown in livechat
  src/features/components/molecules/layout-overlay/live-chat-button/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: aria error
  src/features/components/molecules/language-switcher/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove script
  src/features/components/molecules/layout-overlay/live-chat-button/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: add partytown and fix aria error on language
  gatsby-ssr.js
  package-lock.json
  package.json
  src/features/components/molecules/language-switcher/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: dynamic urls initial
  gatsby-node.js
  src/pages/blog/index.tsx
  src/pages/blog/single-blog/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added default value
  src/pages/blog/single-blog/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: partytown
  package.json
  src/components/hooks/use-livechat.tsx
  src/features/pages/home/client-testimonial/trustpiolot-container/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: tracking and minor changes
  package-lock.json
  package.json
  src/pages/signup-affiliates/components/_account-terms.tsx
  src/pages/signup-affiliates/components/_signup-status.tsx
  src/pages/signup-affiliates/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove debugging
  gatsby-ssr.js
Due: none

fix: images
  gatsby-ssr.js
  src/images/common/awards/best-forex-spreads.png
  src/images/common/awards/broker-of-the-year.png
  src/images/common/awards/gptw.png
  src/images/common/awards/investors.png
  src/images/common/awards/most-trusted.png
Due: none

fix: images small compression
  src/images/common/home/eu_hero_person_5.png
  src/images/common/home/hero_1.png
  src/images/common/home/hero_2.png
  src/images/common/home/hero_3.png
  src/images/common/home/hero_4.png
Due: none

fix: update gatsby node
  gatsby-node.js
Due: none

chore: add party town type
  gatsby-ssr.js
Due: none

Draft: Konstantinos/DERC-2019/Improve Lighthouse metrics (#5967)
  gatsby-node.js
  gatsby-ssr.js
  package-lock.json
  package.json
  src/components/hooks/use-livechat.tsx
  src/features/components/molecules/language-switcher/index.tsx
  src/features/pages/home/client-testimonial/trustpiolot-container/index.tsx
  src/images/common/awards/best-forex-spreads.png
  src/images/common/awards/broker-of-the-year.png
  src/images/common/awards/gptw.png
  src/images/common/awards/investors.png
  src/images/common/awards/most-trusted.png
  src/images/common/home/eu_hero_person_5.png
  src/images/common/home/hero_1.png
  src/images/common/home/hero_2.png
  src/images/common/home/hero_3.png
  src/images/common/home/hero_4.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

updated general terms eu&row
  static/tnc/eu/general-terms.pdf
  static/tnc/general-terms.pdf
Due: none

ci: pass the needed secrets to the step
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

ci: pass the needed secrets to the step (#5971)
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

translations: 📚 sync translations with crowdin
  src/translations/ar.json
  src/translations/bn.json
  src/translations/es.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

ci: pass K8S secrets to envs
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

ci: pass K8S secrets to envs (#5974)
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

translations: 📚 sync translations with crowdin
  src/translations/ru.json
Due: prettier --write
