Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

chore: test px for iphones
  src/features/pages/home/our-platforms/sliders/platform-images/platform-images.module.scss
Due: none

chore: updated platforms images navigation
  src/features/pages/home/our-platforms/sliders/platform-images/platform-images.module.scss
Due: none

chore: updated platforms images height
  src/features/pages/home/our-platforms/sliders/platform-images/platform-images.module.scss
Due: none

fix: margin
  src/pages/trade-types/cfds/_what_is_cfd.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: change px to rem
  src/features/pages/home/our-platforms/sliders/platform-images/platform-images.module.scss
Due: none

chore: test px for iphones (#4590)
  src/features/pages/home/our-platforms/sliders/platform-images/platform-images.module.scss
Due: none

fix: deriv-go index page and use of margin prop
  src/components/custom/_multi-width-column-download.tsx
  src/pages/deriv-go/_footer-banner.tsx
  src/pages/deriv-go/index.tsx
  src/pages/derivx/_get-derivx.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: update RTS files
  crowdin/messages.json
  src/pages/regulatory/_document_accordion.tsx
  static/regulatory/RTS28-2020.pdf
  static/regulatory/RTS28-2022.pdf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: padding for deriv go
  src/pages/deriv-go/_footer-banner.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated spacing
  src/features/components/templates/signup/with-banner/index.tsx
  src/features/pages/home/client-testimonial/index.tsx
  src/features/pages/home/our-platforms/index.tsx
  src/features/pages/home/our-platforms/sliders/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated spacing (#4592)
  src/features/components/templates/signup/with-banner/index.tsx
  src/features/pages/home/client-testimonial/index.tsx
  src/features/pages/home/our-platforms/index.tsx
  src/features/pages/home/our-platforms/sliders/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: cfds subtask
  src/components/elements/full-width-multicolumn.tsx
  src/pages/trade-types/cfds/_start-trading.tsx
  src/pages/trade-types/cfds/_trading-cfd-increases.tsx
  src/pages/trade-types/components/_style.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: testing
  src/pages/deriv-go/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: testing commit
  src/pages/deriv-go/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: updated hero btns margin-top
  src/components/custom/_dhero.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: title
  crowdin/messages.json
  src/pages/trade-types/cfds/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: eu hero image
  src/images/common/dtrader/hero-image-eu.png
Due: none

chore: update homepage hero images
  src/features/components/templates/hero-banners/product/product-hero.module.scss
  src/features/components/templates/navigation/main-nav/main-nav-buttons/index.tsx
  src/features/components/templates/navigation/main-nav/main-nav.module.scss
  src/features/pages/home/hero/index.tsx
  src/features/pages/home/hero/slider/slider.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update navigation menu size
  src/features/components/molecules/nav-card/nav-card.module.scss
Due: none

chore: translation extract
  crowdin/messages.json
  src/components/custom/_eu-redirect-modal.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: seo recommendation for synthetic indices page
  crowdin/messages.json
  src/pages/markets/components/helper/_available-trades_desktop.tsx
  src/pages/markets/synthetic/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update homepage hero images (#4594)
  src/features/components/molecules/nav-card/nav-card.module.scss
  src/features/components/templates/hero-banners/product/product-hero.module.scss
  src/features/components/templates/navigation/main-nav/main-nav-buttons/index.tsx
  src/features/components/templates/navigation/main-nav/main-nav.module.scss
  src/features/pages/home/hero/index.tsx
  src/features/pages/home/hero/slider/slider.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: fix homepage subtasks
  crowdin/messages.json
  src/features/components/molecules/layout-overlay/cfd-warning-banner/index.tsx
  src/features/components/templates/navigation/career-nav/data.tsx
  src/features/components/templates/navigation/main-nav/main-nav-buttons/index.tsx
  src/features/components/templates/navigation/payment-agent-nav/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: updated row data
  src/pages/trading-specification/data/_commodities_specification.ts
  src/pages/trading-specification/data/_crypto_specification.ts
  src/pages/trading-specification/data/_derived_specification.ts
  src/pages/trading-specification/data/_forex_specification.ts
  src/pages/trading-specification/data/_stocks_specification.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fix grey and slider issues
  src/components/custom/carousel/_markets-carousel.tsx
  src/components/custom/carousel/_platforms-carousel.tsx
  src/components/elements/multi-width-column.tsx
  src/images/common/getAppMobileBG.png
  src/pages/dmt5/_download-app.tsx
  src/pages/dmt5/_why-trader.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: mobile on button
  src/features/components/templates/navigation/payment-agent-nav/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: fix logo size
  src/features/components/templates/navigation/career-nav/career-nav.module.scss
  src/features/components/templates/navigation/market-nav/market-nav.module.scss
  src/features/components/templates/navigation/static-nav/static-nav.module.scss
Due: none

Mitra/fix homepage subtasks (#4596)
  crowdin/messages.json
  src/features/components/molecules/layout-overlay/cfd-warning-banner/index.tsx
  src/features/components/templates/navigation/career-nav/career-nav.module.scss
  src/features/components/templates/navigation/career-nav/data.tsx
  src/features/components/templates/navigation/main-nav/main-nav-buttons/index.tsx
  src/features/components/templates/navigation/market-nav/market-nav.module.scss
  src/features/components/templates/navigation/payment-agent-nav/index.tsx
  src/features/components/templates/navigation/static-nav/static-nav.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: title and image
  src/images/common/trade-types/cfd-example-crash-boom-eu.png
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: updated eu data
  src/pages/trading-specification/data/_commodities_specification.ts
  src/pages/trading-specification/data/_crypto_specification.ts
  src/pages/trading-specification/data/_derived_specification.ts
  src/pages/trading-specification/data/_forex_specification.ts
  src/pages/trading-specification/data/_stocks_specification.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

adding loader && fixing incorrect rendering
  src/pages/p2p/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update static image placeholder
  src/features/pages/home/hero/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update static image placeholder delay
  src/features/pages/home/hero/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update static image placeholder quality
  src/features/pages/home/hero/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added pwa feature
  gatsby-config.js
  package-lock.json
  package.json
Due: none

Pr 86506 dtrader subtasks (#4593)
  src/components/custom/_dhero.tsx
  src/images/common/dtrader/hero-image-eu.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

using is_p2p_allowed instead of using qa array
  src/pages/p2p/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: tab component
  crowdin/messages.json
  src/features/components/atoms/typography/heading/index.tsx
  src/features/components/molecules/stepper-view/index.tsx
  src/images/common/deriv-ez/step-1.png
  src/images/common/deriv-ez/step-2.png
  src/images/common/deriv-ez/step-3.png
  src/images/common/deriv-ez/step-4.png
  src/images/common/deriv-ez/step-5.png
  src/images/common/deriv-ez/step-6.png
  src/pages/derivez/_get-started-steps-section.tsx
  src/pages/derivez/_hero_derivez.tsx
  src/pages/derivez/_numbers.tsx
  src/pages/derivez/_why-trade-derivez.tsx
  src/pages/derivez/deriv-ez.module.scss
  src/pages/derivez/hero-content.module.scss
  src/pages/derivez/index.tsx
  src/pages/derivez/what-derivez-have.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: autocaptilize none
  src/components/custom/_signup-new.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: static image
  src/pages/derivez/_get-started-steps-section.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
