Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

fix: image fixed
  src/images/common/trading-platforms/ctrader/ctrader-hero.png
Due: none

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: :bug: change font
  src/features/pages/signup/form-container/index.tsx
  src/features/pages/signup/signup.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: change font to small
  src/features/pages/signup/form-container/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: change font with css
  src/features/pages/signup/form-container/index.tsx
  src/features/pages/signup/signup.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: pull latest translation
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: updated deriv packages
  package-lock.json
  package.json
Due: none

chore: updated market icon
  src/features/pages/home/live-pricing-migration/cards/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Pr 00 overlay fixes (#6585)
  src/features/components/quill/layout-overlay/cfd-warning-banner/desktop-text.tsx
  src/features/components/quill/layout-overlay/cfd-warning-banner/mobile-text.tsx
  src/features/components/quill/layout-overlay/cfd-warning-banner/styles.module.scss
  src/features/components/quill/layout-overlay/cookie-banner/index.tsx
  src/features/components/quill/layout-overlay/cookie-banner/styles.module.scss
  src/features/components/quill/layout-overlay/floating-button/index.tsx
  src/features/components/quill/layout-overlay/floating-button/styles.module.scss
  src/features/components/quill/layout-overlay/index.tsx
  src/features/components/quill/layout-overlay/styles.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: pull latest translation (#6590)
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: moved instrument truncate css to styles css
  static/css/global.css
Due: none

Revert "Revert "Mitra/DPROD-2207/remove demo tag from accumulator"" (#6536)
  src/features/pages/options/accumulator/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove facebook component
  src/components/custom/_signup-default.tsx
  src/components/custom/_signup-flat.tsx
  src/components/custom/_signup-new.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

eduard/DPROD-2679/Set parthers faq from 15 to 20 (#6432)
  crowdin/messages.json
  src/pages/partners/affiliate-ib/_faq-data.tsx
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove button.base
  crowdin/messages.json
  src/features/pages/signup/form-container/form-social-buttons.tsx
  src/pages/landing/ebooks/components/_get-ebook.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove fb provider
  src/components/custom/_signup-public.tsx
  src/features/components/templates/signup/with-banner/social/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Hasan/2170/eutestlink hero (#6472)
  package-lock.json
  package.json
  src/features/pages/home/hero/award-images.tsx
  src/features/pages/home/hero/description.tsx
  src/features/pages/home/hero/hero-image.tsx
  src/features/pages/home/hero/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: update deriv-com/blocks version (#6518)
  package-lock.json
  package.json
Due: none

Nuzhy/DPROD-2212/footer data for IIP - platinum (#6446)
  crowdin/messages.json
  src/features/components/templates/footer/data.tsx
  src/features/components/templates/footer/deriv-go-banner.tsx
  src/features/components/templates/footer/iip-award.tsx
  src/features/components/templates/footer/index.tsx
  src/images/common/migration/footer/investors-in-people.png
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

try
  gatsby-node.js
Due: none

source-maps removing using webpack config
  gatsby-node.js
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
