Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: added color funcitionality
  src/components/hooks/use-pricing-feed.tsx
  src/features/pages/home/live-pricing/table-cell.tsx
  src/features/pages/home/live-pricing/table-component/live-market-table.tsx
  src/features/pages/home/live-pricing/use-live-columns.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: update error message text
  crowdin/messages.json
  src/features/hooks/use-contact-form/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: size and error
  crowdin/messages.json
  src/features/hooks/use-contact-form/index.tsx
  src/features/pages/partners/deriv-prime/get-in-touch/contact-form.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Fasih: added newly introduced DEX (#5396)
  crowdin/messages.json
  src/components/elements/symbols.ts
  src/images/svg/symbols/dex-1500dn.svg
  src/images/svg/symbols/dex-1500up.svg
  src/images/svg/symbols/dex-600dn.svg
  src/images/svg/symbols/dex-600up.svg
  src/images/svg/symbols/dex-900dn.svg
  src/images/svg/symbols/dex-900up.svg
  src/pages/markets/static/content/_cfds.tsx
  src/pages/markets/static/content/_details.tsx
  src/pages/markets/static/content/_market-symbols.tsx
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: add sinhalese
  i18n-config.js
Due: none

feat: images refactor
  src/images/common/ebooks/forex-ebook.png
  src/images/common/markets/etf-desktop.jpg
  src/images/common/trade-types/multiplier-market-new.png
  src/pages/trade-types/multiplier/_how-options-works.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: updated font stypes for mobile
  src/pages/payment-methods/_mobile-expanded-list.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: script to find unused images
  crowdin/messages.json
  findUnusedImages.js
  package-lock.json
  package.json
Due: none

Revert "fix: added is browser condition to protected route component"
  src/features/components/molecules/protected-route/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Adrienne & Jim / Fixed an issue where stage option is not passed to the gatsby babel preset (#5482)
  .babelrc
Due: none

translation: 📚 sync translations from crowdin feature branch
  src/translations/de.json
  src/translations/si.json
Due: prettier --write

fix: change font family for description
  src/pages/payment-methods/_mobile-expanded-list.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: moved to scripts
  package.json
  scripts/find-unused-images.js
Due: none

fix: update font sizes
  src/pages/payment-methods/_mobile-expanded-list.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: update command
  package.json
Due: none

feat: added demo badge to symbol
  src/pages/markets/components/helper/_symbol.tsx
  src/pages/markets/instruments/_drift_switch_indices.tsx
  src/pages/markets/static/style/_markets-style.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fix issue where gatsby 5 bundles all files into one chunk
  .babelrc
Due: none

fix: amend discover description
  src/pages/payment-methods/_payment-data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove console statements after rudderstack track
  src/features/hooks/use-signup-form/index.tsx
  src/features/pages/signup/form-container/form-social-buttons.tsx
  src/features/pages/signup/index.tsx
  src/pages/signup-success/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: add table for seo too
  crowdin/messages.json
  src/features/pages/partners/deriv-prime/browse-our-faq/_faq-schema.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: alignment issues
  src/features/pages/partners/deriv-prime/browse-our-faq/deriv-prime-faq.tsx
  src/features/pages/partners/deriv-prime/browse-our-faq/index.tsx
  src/features/pages/partners/deriv-prime/numbers/index.tsx
  src/features/pages/partners/deriv-prime/why-deriv-prime/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Mayuran/get in touch (#5462)
  crowdin/messages.json
  src/common/constants.ts
  src/common/utility.ts
  src/features/hooks/use-contact-form/index.tsx
  src/features/pages/partners/deriv-prime/get-in-touch/contact-form.tsx
  src/features/pages/partners/deriv-prime/get-in-touch/get-in-touch.module.scss
  src/features/pages/partners/deriv-prime/get-in-touch/index.tsx
  src/features/pages/partners/deriv-prime/get-in-touch/text-banner.tsx
  src/features/pages/partners/deriv-prime/index.tsx
  src/features/styles/theme/inputs/text.styles.scss
  src/features/styles/theme/typography.scss
  src/features/styles/theme/variables.scss
  src/themes/variables.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added the contact us button navigation
  src/features/components/templates/navigation/payment-agent-nav/index.tsx
  src/features/pages/partners/deriv-prime/get-in-touch/index.tsx
  src/features/pages/partners/deriv-prime/hero/index.tsx
  src/features/pages/partners/deriv-prime/index.tsx
  src/features/pages/partners/deriv-prime/meet-us-there/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write
