Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

fix: removed unused code
  src/pages/deriv-go/_start-deriv-go.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: add full stop
  crowdin/messages.json
  src/components/layout/footer/disclaimer.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: subtasks
  crowdin/messages.json
  src/pages/help-centre/data/_deposits-and-withdrawals.ts
  src/pages/help-centre/data/_trading.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: fix flickering
  src/components/layout/nav/nav-markets.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: add translation
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

Pr 87521 rebrand derivgo page (#4265)
  crowdin/messages.json
  src/components/custom/_multi-width-column-download.tsx
  src/components/custom/_signup-public.tsx
  src/components/custom/_stepper_view.tsx
  src/components/custom/carousel/_platforms-carousel.tsx
  src/components/elements/multi-width-column.tsx
  src/components/elements/roadmap.tsx
  src/images/common/deriv-go/banner_image.png
  src/images/common/deriv-go/better-risk.png
  src/images/common/deriv-go/create-account.png
  src/images/common/deriv-go/create-account_.png
  src/images/common/deriv-go/deriv-go-mobile.png
  src/images/common/deriv-go/forex.png
  src/images/common/deriv-go/fund-account.png
  src/images/common/deriv-go/get-trading.png
  src/images/common/deriv-go/multiply-profit.png
  src/images/common/deriv-go/synthetic-indices.png
  src/images/svg/android-icon.svg
  src/images/svg/appGallery-icon.svg
  src/images/svg/apple-icon.svg
  src/images/svg/deriv-go/24-7.svg
  src/images/svg/deriv-go/db-icon.svg
  src/images/svg/deriv-go/deriv-go-banner-logo.svg
  src/images/svg/deriv-go/derivGo.svg
  src/images/svg/deriv-go/derivGoQR.svg
  src/images/svg/deriv-go/dt-icosn.svg
  src/images/svg/deriv-go/dtrader-icon.svg
  src/images/svg/deriv-go/dx-icon.svg
  src/images/svg/deriv-go/easy-access.svg
  src/images/svg/deriv-go/ez-icon.svg
  src/images/svg/deriv-go/mt5.svg
  src/images/svg/deriv-go/user-friendly.svg
  src/pages/deriv-go/_banner.tsx
  src/pages/deriv-go/_deriv-go-content.tsx
  src/pages/deriv-go/_footer-banner.tsx
  src/pages/deriv-go/_other-apps.tsx
  src/pages/deriv-go/_start-deriv-go.tsx
  src/pages/deriv-go/_what-is-deriv-go.tsx
  src/pages/deriv-go/_why-trade-deriv-go.tsx
  src/pages/deriv-go/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: add translation (#4280)
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: extract translations
  crowdin/messages.json
  package-lock.json
  package.json
  src/components/elements/full-width-multicolumn.tsx
  src/pages/trade-types/cfds/_available-markets.tsx
  src/pages/trade-types/cfds/index.tsx
  src/pages/trade-types/content/static/_cfd.tsx
  src/pages/trade-types/multiplier/_markets-available.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: translations
  crowdin/messages.json
  src/components/elements/full-width-multicolumn.tsx
  src/pages/trade-types/cfds/_available-markets.tsx
  src/pages/trade-types/cfds/_what_is_cfd.tsx
  src/pages/trade-types/cfds/index.tsx
  src/pages/trade-types/content/static/_cfd.tsx
  src/pages/trade-types/multiplier/_markets-available.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

mitra/fix: :fire: remove redirection from client side (#4226)
  src/common/utility.ts
  src/components/layout/layout.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove unused images
  src/images/common/about-us-carousel/media-1.jpg
  src/images/common/about-us-carousel/media-2.jpg
  src/images/common/about-us-carousel/media-3.jpg
  src/images/common/about-us-carousel/media-4.jpg
  src/images/common/about-us-carousel/media-5.jpg
  src/images/common/about-us-carousel/media-6.jpg
  src/images/common/about/about_us_logo.png
  src/images/common/who-we-are/about_us_bg_desktop.png
  src/images/common/who-we-are/about_us_bg_mobile.png
  src/images/common/who-we-are/antony.jpg
  src/images/common/who-we-are/derek.jpg
  src/images/common/who-we-are/edwin.jpg
  src/images/common/who-we-are/gary.jpg
  src/images/common/who-we-are/jennice.jpg
  src/images/common/who-we-are/jeya.jpg
  src/images/common/who-we-are/joanna.jpg
  src/images/common/who-we-are/jy.jpg
  src/images/common/who-we-are/kaveh.jpg
  src/images/common/who-we-are/louise.jpg
  src/images/common/who-we-are/rakshit.jpg
  src/images/common/who-we-are/raunak.jpg
  src/images/common/who-we-are/seema.jpg
  src/images/common/who-we-are/shyamala.jpg
  src/images/common/who-we-are/tom.jpg
  src/images/common/who-we-are/waqas.jpg
  src/images/svg/who-we-are/hands.svg
  src/images/svg/who-we-are/people.svg
  src/images/svg/who-we-are/shield.svg
  src/images/svg/who-we-are/star.svg
  src/pages/who-we-are/components/_hero.tsx
  src/pages/who-we-are/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: fix flickering
  gatsby-config.js
  package-lock.json
  package.json
Due: none

fix: generates page on query param
  gatsby-config.js
  package-lock.json
  package.json
Due: none

fix: translations extract
  crowdin/messages.json
  src/pages/help-centre/data/_accumulators.ts
  src/pages/help-centre/data/_data-types.ts
  src/pages/trade-types/content/static/_accumulator.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: cleanup
  src/pages/who-we-are/_lazy-load.ts
  src/pages/who-we-are/components/_about-us-banner.tsx
  src/pages/who-we-are/components/_deriv-numbers.tsx
  src/pages/who-we-are/components/_image-marquee.tsx
  src/pages/who-we-are/components/_make-trading.tsx
  src/pages/who-we-are/components/_map-pin.tsx
  src/pages/who-we-are/components/_modal.tsx
  src/pages/who-we-are/components/_our-leadership.tsx
  src/pages/who-we-are/components/_our-offices.tsx
  src/pages/who-we-are/components/_our-principles.tsx
  src/pages/who-we-are/components/_our-values.tsx
  src/pages/who-we-are/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: cleanup nav structure
  src/features/components/navigation/main/desktop/types.ts
  src/features/components/navigation/main/index.tsx
  src/features/components/navigation/main/nav-bar/index.tsx
  src/features/components/navigation/main/nav-bar/nav-bar.module.scss
  src/features/components/navigation/main/nav-items/index.tsx
  src/features/components/navigation/main/nav-items/nav-items.module.scss
  src/features/components/navigation/main/nav-logo/index.tsx
  src/features/components/navigation/main/nav-logo/nav-logo.module.scss
  src/features/components/navigation/main/nav-menu-toggle/index.tsx
  src/features/components/navigation/main/nav-menu-toggle/menu-toggle.module.scss
  src/features/components/navigation/main/nav-menu/index.tsx
  src/features/components/navigation/main/nav-menu/nav-menu.module.scss
  src/features/components/navigation/main/nav-right-container/index.tsx
  src/features/components/navigation/main/nav-right-container/nav-right-container.module.scss
  src/features/components/navigation/main/nav-sections/about-us/data.ts
  src/features/components/navigation/main/nav-sections/about-us/index.tsx
  src/features/components/navigation/main/nav-sections/legal/data.ts
  src/features/components/navigation/main/nav-sections/legal/index.tsx
  src/features/components/navigation/main/nav-sections/market/data.ts
  src/features/components/navigation/main/nav-sections/market/index.tsx
  src/features/components/navigation/main/nav-sections/partner/data.ts
  src/features/components/navigation/main/nav-sections/partner/index.tsx
  src/features/components/navigation/main/nav-sections/platform/data.ts
  src/features/components/navigation/main/nav-sections/platform/index.tsx
  src/features/components/navigation/main/nav-sections/platform/platform.module.scss
  src/features/components/navigation/main/nav-sections/resources/data.ts
  src/features/components/navigation/main/nav-sections/resources/index.tsx
  src/features/components/navigation/main/types.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix searching
  src/pages/help-centre/components/_search-result.tsx
  src/pages/help-centre/components/_search-section.tsx
  src/pages/help-centre/components/_search-success.tsx
  src/pages/help-centre/data/_data-types.ts
  src/pages/help-centre/data/_hooks.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: hide livechat and whatsapp in help centre questions (#4273)
  src/pages/help-centre/components/_questions-template.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: update plugin (#4267)
  package-lock.json
  package.json
Due: none

Farhan Ahmad Nurzi/Bug_-_Help_center_watermark_-_>_“trade”_is_not_translated_for_FR,ID,IT_&_DE (#4254)
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: fixed padding issue (#4247)
  src/components/layout/nav/components/partner/main-nav.tsx
  src/components/layout/nav/components/partner/nav-partner-mobile.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: bring gcm user id (#4276)
  gatsby-config.js
Due: none

fix: updated translation key extraction (#4277)
  crowdin/messages.json
  scripts/extract-translations.js
  src/components/localization/config.tsx
  src/pages/404.tsx
  src/pages/index.tsx
  src/pages/our-principles/_data.tsx
  src/pages/our-principles/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update the usePlatformQueryParam hook
  src/components/custom/_simple-steps.tsx
  src/components/hooks/use-platform-query-param.tsx
  src/pages/help-centre/components/_questions-template.tsx
  src/pages/help-centre/index.tsx
  src/pages/markets/components/markets/_cryptocurrencies.tsx
  src/pages/markets/components/markets/_synthetic-indices.tsx
  src/pages/markets/components/sections/_hero_derived_fx.tsx
  src/pages/markets/cryptocurrencies/index.tsx
  src/pages/markets/synthetic/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update crypto page
  src/pages/markets/components/markets/_cryptocurrencies.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: refactor signup page translations
  crowdin/messages.json
  src/pages/signup/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update logic for nav
  src/components/hooks/use-active-link-state.tsx
  src/components/layout/nav/nav-markets.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: fix flickering
  src/common/utility.ts
  src/components/layout/nav/nav-markets.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
