Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

[FEQ]/Yaswanth/FEQ-1089/To separate docker and k8s notification (#6434)
  .github/workflows/production.yml
Due: none

Meenu/1334/Translation 1334 meenu 3 simple steps sub task (#6450)
  src/features/pages/home/start-trading-steps/data.tsx
  src/features/pages/home/start-trading-steps/index.tsx
  src/images/migration/home/steps1.png
  src/images/migration/home/steps1_eu.png
  src/images/migration/home/steps2.png
  src/images/migration/home/steps2_eu.png
  src/images/migration/home/steps3.png
  src/images/migration/home/steps3_eu.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: conflict
  crowdin/messages.json
  package-lock.json
  package.json
  src/features/pages/home/live-pricing-migration/cards/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: updated icons
  src/data/trustpilot.json
  src/features/pages/home/years/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: image update
  crowdin/messages.json
  src/features/components/templates/banners/award-banners/award-banner-eu/index.tsx
  src/images/common/awards/investors.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

test1
  gatsby-config.js
  package-lock.json
  package.json
Due: none

test2
  gatsby-config.js
  package-lock.json
  package.json
Due: none

fix: width issue
  src/features/components/templates/banners/award-banners/award-banner-eu/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: add both condition as the countries are different
  src/features/components/templates/footer/download.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

test3
  gatsby-node.js
Due: none

fix: image update
  src/features/components/templates/banners/award-banners/award-banner-eu/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: break point
  src/features/components/templates/banners/award-banners/award-banner-eu/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Mitra/DERC-2402/add new expos details for deriv prime (#6489)
  crowdin/messages.json
  src/features/pages/partners/deriv-prime/meet-us-there/data.tsx
  src/images/common/deriv-prime/cyprus_expo.png
  src/images/common/deriv-prime/dubai_expo.png
  src/images/common/deriv-prime/dummy.png
  src/images/common/deriv-prime/forex_expo_dubai.png
  src/images/common/deriv-prime/ifx_expo_dubai.png
  src/images/common/deriv-prime/ifx_expo_latam.png
  src/images/common/deriv-prime/london_summit.png
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: moved block css to gatsby browser from global css
  gatsby-browser.js
  static/css/global.css
Due: none

chore: updated deriv packages
  package-lock.json
  package.json
Due: none

fix: :truck: using links from const file
  src/common/constants.ts
  src/features/components/templates/footer/download.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

text: :speech_balloon: pull latest translation
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

text: :speech_balloon: pull latest translation (#6502)
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: hero eu testing
  src/features/hooks/us-eu-domain/index.ts
  src/features/pages/home/hero/eu-image.tsx
  src/features/pages/home/hero/index.tsx
  src/features/pages/home/hero/row-image.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fix changes
  src/features/pages/home/years/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated icon package
  package.json
Due: none

chore: pr build failure fix
  package-lock.json
Due: none

fix: fix subtask
  crowdin/messages.json
  src/features/pages/home/fast-payment/index.tsx
  src/features/pages/home/years/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: pr build failure fix
  src/features/pages/home/years/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: no dynamic
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: live market description link fix
  src/features/pages/home/live-pricing-migration/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

text: :speech_balloon: fetch translation
  src/translations/de.json
  src/translations/es.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/th.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
