Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

Missing spaces in ${{ reference
  .github/workflows/smoketests.yml
Due: none

Made repo in the api call url dynamic
  .github/workflows/smoketests.yml
Due: none

fix: image blurry on mobile
  src/features/pages/home/cta/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Prince/added trustpilot section (#6137)
  package-lock.json
  package.json
  src/features/pages/home/index.tsx
  src/features/pages/home/trustpilot/index.tsx
  src/images/common/home/trustpilot-logo.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fixed package-lock file
  package-lock.json
  package.json
Due: none

fix: fixed object position for cta section
  src/features/pages/home/cta/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update image
  src/features/pages/home/cta/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update libs
  package-lock.json
  package.json
Due: none

chore: update deriv-com-libs
  package-lock.json
  package.json
  src/features/pages/home/footer/banner-and-awards.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: start trading card title font sizes
  src/features/pages/home/start-trading-steps/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Nuzhy/footer fixes (#6142)
  package-lock.json
  package.json
  src/features/pages/home/footer/banner-and-awards.tsx
  src/features/pages/home/start-trading-steps/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Aswathy/Translation 1996 demo tag options (#6143)
  crowdin/messages.json
  src/features/components/organisms/what-are-digital-options/index.tsx
  src/features/pages/options/accumulator/index.tsx
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: replace.all console log error in track js (#6106)
  src/pages/signup-success/index.tsx
  src/translations/de.json
  src/translations/ko.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Jia/753 social media in footer (#6101)
  crowdin/messages.json
  src/features/components/templates/footer/social-icons/data.ts
  src/images/svg/footer/tiktok_icon.svg
  src/images/svg/footer/twitter_icon.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

ci: add tag_name to public directory to be visible on server
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

ci: use github sha on staging workflow
  .github/workflows/staging.yml
Due: none

chore: cleanup code
  jsconfig.json
Due: none

ci: echo version to file
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

Ako/ add tag_name to public directory to be visible on server (#6150)
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

fix: trade nov update (#6037)
  src/features/components/templates/navigation/payment-agent-nav/right-side-buttons.tsx
  src/pages/trading-specification/data/_commodities_specification.ts
  src/pages/trading-specification/data/_crypto_specification.ts
  src/pages/trading-specification/data/_derived_specification.ts
  src/pages/trading-specification/data/_etfs_specification.ts
  src/pages/trading-specification/data/_forex_specification.ts
  src/pages/trading-specification/data/_stocks_specification.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: phone code send wrong values
  src/pages/signup-affiliates/_types.ts
  src/pages/signup-affiliates/components/_account-details.tsx
  src/pages/signup-affiliates/components/wizard-component/index.tsx
  src/pages/signup-affiliates/index.tsx
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write
