Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

fix: 99 set for z-index
  src/pages/signup-affiliates/utils/_birth-picker.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added browser logic to hero image
  src/features/pages/home/hero/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: added browser logic to hero image
  package-lock.json
  package.json
  src/data/trustpilot.json
  src/features/pages/home/hero/award-images.tsx
  src/features/pages/home/hero/description.tsx
  src/features/pages/home/hero/eu-image.tsx
  src/features/pages/home/hero/hero-image.tsx
  src/features/pages/home/hero/index.tsx
  src/features/pages/home/hero/row-image.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: removed unused classname
  src/features/pages/home/hero/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: font family
  src/features/pages/deriv-ctrader/copy-trading/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

try
  gatsby-node.js
Due: none

Mitra/DPROD-2208/Remove demo tag from turbo page (#6533)
  src/features/pages/options/turbo/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: font size
  src/features/pages/deriv-ctrader/copy-trading/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: live chat hyperlink
  src/pages/help-centre/data/_fraud-prevention.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added 2 more commands to update other external libs (#6467)
  package-lock.json
  package.json
Due: none

chore: updated deriv packages
  package-lock.json
  package.json
Due: none

fix: :bug: fix font issue changing in sign up page
  src/features/pages/signup/form-container/index.tsx
  src/features/pages/signup/signup.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: revert string
  src/pages/help-centre/data/_fraud-prevention.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: import the css
  src/features/pages/signup/form-container/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: string translate
  crowdin/messages.json
  src/pages/help-centre/data/_fraud-prevention.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: fix content font
  src/features/pages/signup/form-container/index.tsx
  src/features/pages/signup/signup.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: cleanup
  src/features/hooks/us-eu-domain/index.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: cleanup
  src/data/trustpilot.json
Due: prettier --write

fix: :bug: try new line
  crowdin/messages.json
  src/pages/help-centre/data/_trading.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: moved all the responsive css to css module
  src/features/components/quill/layout-overlay/cfd-warning-banner/desktop-text.tsx
  src/features/components/quill/layout-overlay/cfd-warning-banner/mobile-text.tsx
  src/features/components/quill/layout-overlay/cfd-warning-banner/styles.module.scss
  src/features/components/quill/layout-overlay/cookie-banner/index.tsx
  src/features/components/quill/layout-overlay/cookie-banner/styles.module.scss
  src/features/components/quill/layout-overlay/floating-button/index.tsx
  src/features/components/quill/layout-overlay/floating-button/styles.module.scss
  src/features/components/quill/layout-overlay/index.tsx
  src/features/components/quill/layout-overlay/styles.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update gatsby-node.js
  gatsby-node.js
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
