Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

onik/deriv-com_pagespeed (#3503)
  Dockerfile
  deriv.com.conf
Due: none

Revert "onik/deriv-com_pagespeed (#3503)"
  Dockerfile
  deriv.com.conf
Due: none

Revert "onik/deriv-com_pagespeed (#3503)" (#3520)
  Dockerfile
  deriv.com.conf
Due: none

fix: spacing issue
  crowdin/messages.json
  src/pages/partners/affiliate-ib/_deriv-affiliate-programme.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

MohammadH/ Update financial-disclosure-annual-report-pdf (#3486)
  crowdin/messages.json
  src/pages/regulatory/_document_accordion.tsx
  static/regulatory/Financial_Disclosures_Annual_Report_2021.pdf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: resolve conflicts
  src/translations/it.json
Due: prettier --write

fix: check api response
  src/pages/trader-tools/margin-calculator/_margin-calculator.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Mitra/feat: add new section in bug bounty (#3189)
  src/pages/trader-tools/common/_style.ts
  src/translations/ach.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: validation for the stepper card type
  src/pages/signup-affiliates/components/_account-type.tsx
  src/pages/signup-affiliates/wizard.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: show and hide wizard through props
  src/components/form/wizard/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Mitra/fix: get master translated strings (#3360)
  src/translations/ach.json
  src/translations/fr.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: test
  src/components/layout/layout.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: scroll to top on pagination
  src/pages/academy/blog/_all-articles.tsx
  src/pages/academy/videos/_all-videos.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: :bug: creating bugs for QA besquare
  src/pages/careers/besquare/components/sections/_advantages.tsx
  src/pages/careers/besquare/components/sections/_hero.tsx
  src/pages/careers/besquare/static/content/_application-process.tsx
  src/pages/careers/besquare/static/content/_what-lies-ahead.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

Mitra/fix: change the error message for numeric fields in trader tools (#3175)
  crowdin/messages.json
  src/pages/trader-tools/common/_validation.tsx
  src/translations/ach.json
  src/translations/ar.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update ach.json
  src/translations/ach.json
Due: prettier --write

Update ar.json
  src/translations/ar.json
Due: prettier --write

Update en.json
  src/translations/en.json
Due: prettier --write

Update es.json
  src/translations/es.json
Due: prettier --write

Update fr.json
  src/translations/fr.json
Due: prettier --write

Update id.json
  src/translations/id.json
Due: prettier --write

Update it.json
  src/translations/it.json
Due: prettier --write

Update ko.json
  src/translations/ko.json
Due: prettier --write

Update pl.json
  src/translations/pl.json
Due: prettier --write

Update pt.json
  src/translations/pt.json
Due: prettier --write

Update ru.json
  src/translations/ru.json
Due: prettier --write

Update th.json
  src/translations/th.json
Due: prettier --write

Update tr.json
  src/translations/tr.json
Due: prettier --write

Update vi.json
  src/translations/vi.json
Due: prettier --write

Update zh_cn.json
  src/translations/zh_cn.json
Due: prettier --write

Update zh_tw.json
  src/translations/zh_tw.json
Due: prettier --write

chore: rename props to simple names
  src/components/form/wizard/header.tsx
  src/components/form/wizard/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

MohammadH/ Update wizard (#3518)
  src/components/form/wizard/footer.tsx
  src/components/form/wizard/header.tsx
  src/components/form/wizard/index.tsx
  src/components/form/wizard/stepper.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update README.md
  README.md
Due: none

fix: numbering issue
  src/pages/trader-tools/common/_style.ts
  src/pages/trader-tools/margin-calculator/_margin-calculator.tsx
  src/pages/trader-tools/pip-calculator/_example-pip.tsx
  src/pages/trader-tools/pnl-for-margin/_example-pnl-margin.tsx
  src/pages/trader-tools/pnl-for-multipliers/_example-pnl-multipliers.tsx
  src/pages/trader-tools/swap-calculator/_example-calc.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: removed payment agent from footer for eu
  src/components/layout/footer/main-links.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

text: same text for eu and non eu in financial disclosure report
  crowdin/messages.json
  src/pages/regulatory/_document_accordion.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove unnecessary imports
  src/pages/regulatory/_document_accordion.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write
