Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

chore: cleanup
  src/features/pages/home/hero/floating-cta.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: test party town and 3 seconds
  gatsby-ssr.js
Due: none

parthers faq from 15 to 20
  src/pages/partners/affiliate-ib/_faq-data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

messages
  crowdin/messages.json
Due: none

fix: :bug: blurred image
  src/images/common/dbot/step_image_1.png
Due: none

Mayuran/hot jar js test (#6430)
  .github/workflows/beta.yml
  .github/workflows/generate-preview-link.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  gatsby-ssr.js
Due: none

fix: :bug: fix blurred images in dbot page
  src/images/common/dbot/dbot-build-strategy.png
  src/images/common/dbot/dbot-get-integrated-help.png
  src/images/common/dbot/dbot-maximise-profits.png
  src/images/common/dbot/dbot-save-your-strategies.png
  src/images/common/dbot/dbot-strategy.png
  src/images/common/dbot/dbot-track-your-performance.png
  src/images/common/dbot/step_image_1.png
  src/images/common/dbot/step_image_2.png
  src/images/common/dbot/step_image_3.png
  src/images/common/dbot/step_image_4.png
  src/images/common/dbot/step_image_5.png
Due: none

chore: live market testing
  src/data/trustpilot.json
  src/features/pages/home/live-pricing-migration/card/live-market/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: To separate docker and k8s notification
  .github/workflows/production.yml
Due: none

refactor: To remove extra spaces
  .github/workflows/production.yml
Due: none

Mitra/DERC-2358/Replace general terms section pdfs (#6400)
  src/pages/terms-and-conditions/_clients-grid.tsx
  static/tnc/deriv-(bvi)-ltd.pdf
  static/tnc/deriv-(fx)-ltd.pdf
  static/tnc/deriv-(v)-ltd.pdf
  static/tnc/deriv-investments-(europe)-limited-eu.pdf
  static/tnc/eu/funds-and-transfers.pdf
  static/tnc/eu/risk-disclosure.pdf
  static/tnc/eu/security-and-privacy.pdf
  static/tnc/eu/trading-terms.pdf
  static/tnc/funds-and-transfers.pdf
  static/tnc/risk-disclosure.pdf
  static/tnc/security-and-privacy.pdf
  static/tnc/trading-terms.pdf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Amir/CRO-370/add tracking events on homepage signup form (#6309)
  src/features/components/templates/signup/with-banner/form/index.tsx
  src/features/components/templates/signup/with-banner/social/index.tsx
  src/features/hooks/use-signup-form/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: conflicts
  crowdin/messages.json
  src/images/common/dbot/dbot-banner.png
  src/images/common/dbot/dbot-build-strategy.png
  src/images/common/dbot/dbot-get-integrated-help.png
  src/images/common/dbot/dbot-maximise-profits.png
  src/images/common/dbot/dbot-save-your-strategies.png
  src/images/common/dbot/dbot-strategy.png
  src/images/common/dbot/dbot-track-your-performance.png
  src/images/common/dbot/step_image_1.png
  src/images/common/dbot/step_image_2.png
  src/images/common/dbot/step_image_3.png
  src/images/common/dbot/step_image_4.png
  src/images/common/dbot/step_image_5.png
  src/pages/dbot/index.tsx
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Mitra/DERC-2382/Replace tnc for business and partners section (#6420)
  static/tnc/business-partners-affiliates-and-introducing-brokers-row.pdf
  static/tnc/business-partners-affiliates-and-introducing-brokers.pdf
  static/tnc/business-partners-api-user.pdf
  static/tnc/business-partners-bug-bounty.pdf
  static/tnc/business-partners-general-terms.pdf
  static/tnc/business-partners-payment-agents.pdf
Due: none

fix: :bug: fix blurred with higher quality
  src/images/common/dbot/dbot-strategy.png
Due: none

fix: :bug: fix non translated issues
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: updated live market icons
  package-lock.json
  package.json
  src/features/pages/home/live-pricing-migration/cards/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated stock and indices array
  src/features/pages/home/live-pricing-migration/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated indices type
  src/features/pages/home/live-pricing-migration/data-provider/types.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added rest market icons
  src/features/pages/home/live-pricing-migration/cards/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: try 4x image
  src/images/common/dbot/dbot-strategy.png
Due: none

chore: updated forex description for EU
  src/features/pages/home/live-pricing-migration/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: fix with 4k images
  src/images/common/dbot/dbot-build-strategy.png
  src/images/common/dbot/dbot-get-integrated-help.png
  src/images/common/dbot/dbot-maximise-profits.png
  src/images/common/dbot/dbot-save-your-strategies.png
  src/images/common/dbot/dbot-strategy.png
  src/images/common/dbot/dbot-track-your-performance.png
Due: none

fix: :bug: fix non translated issues (#6435)
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: initial changes
  crowdin/messages.json
  src/features/pages/principles/data.tsx
  src/features/pages/principles/details-card-left/index.tsx
  src/features/pages/principles/details-card-right/index.tsx
  src/features/pages/principles/feature-box/index.tsx
  src/features/pages/principles/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: fix with 3x quality
  src/images/common/dbot/dbot-build-strategy.png
  src/images/common/dbot/dbot-get-integrated-help.png
  src/images/common/dbot/dbot-maximise-profits.png
  src/images/common/dbot/dbot-save-your-strategies.png
  src/images/common/dbot/dbot-strategy.png
  src/images/common/dbot/dbot-track-your-performance.png
Due: none

Update gatsby-browser.js
  gatsby-browser.js
Due: none

Update gatsby-browser.js (#6440)
  gatsby-browser.js
Due: none

translations: 📚 sync translations with crowdin
  src/translations/ko.json
  src/translations/sw.json
Due: prettier --write

fix: changes common component
  crowdin/messages.json
  src/features/pages/principles/data.tsx
  src/features/pages/principles/details-card-left/index.tsx
  src/features/pages/principles/details-card-right/index.tsx
  src/features/pages/principles/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Mitra/Fix blurred images dbot page (#6433)
  src/images/common/dbot/dbot-build-strategy.png
  src/images/common/dbot/dbot-get-integrated-help.png
  src/images/common/dbot/dbot-maximise-profits.png
  src/images/common/dbot/dbot-save-your-strategies.png
  src/images/common/dbot/dbot-strategy.png
  src/images/common/dbot/dbot-track-your-performance.png
  src/images/common/dbot/step_image_1.png
  src/images/common/dbot/step_image_2.png
  src/images/common/dbot/step_image_3.png
  src/images/common/dbot/step_image_4.png
  src/images/common/dbot/step_image_5.png
Due: none

fix: added partytown mandatory
  gatsby-ssr.js
Due: none

Mayuran/hotjar beta (#6445)
  gatsby-ssr.js
Due: none

chore: update footer data for IIP - platinum
  crowdin/messages.json
  src/features/components/templates/footer/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write
