Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.js": [
        "eslint --fix",
        "stylelint --formatter verbose",
    ],
    "src/**/*.{js,jsx,json,md}": [
        "prettier --write",
    ]
}

fix: replace any data type
  src/components/elements/query-image.tsx
Due: none

refactor: convert checkbox component to TS
  src/components/elements/checkbox.tsx
Due: none

update secure account on responsible page
  src/pages/responsible/_securing-account.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

updated image
  src/images/common/deriv-x/demo-2.png
  src/images/common/deriv-x/mobile-demo-2.png
  src/images/common/deriv-x/mobile-real-3.png
  src/images/common/deriv-x/real-3.png
Due: none

updated strings in crowdin platform + ach (#2227)
  crowdin/messages.json
  src/translations/ach.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

added responsive props
  src/pages/responsible/_securing-account.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

nikolai.berestevich/fix/academy-article-template banner fix
  src/templates/article.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

qa fix open otherlink
  src/components/custom/other-platforms.js
  src/components/elements/off-canvas-menu.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

mehrzad review
  src/components/custom/other-platforms.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

svgo the icon
  src/images/svg/binarybot-icon.svg
Due: none

update text
  src/components/custom/other-platforms.js
  src/components/elements/off-canvas-menu.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

add to mobiletrading platforms
  src/components/custom/other-platforms.js
  src/components/elements/off-canvas-menu.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

add binary bot
  src/components/custom/other-platforms.js
  src/images/svg/binarybot-icon.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: truncated tables for mobile devices (#2226)
  src/pages/academy/blog/posts/_style.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

remove eu check for redirectional popup
  src/components/localization/localized-link.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: add binarybot link to footer
  src/common/constants.js
  src/components/layout/footer/main-links.js
  src/components/localization/localized-link.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove bot link from constants and localized link config
  src/common/constants.js
  src/components/layout/footer/main-links.js
  src/components/localization/localized-link.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Behnaz / add binary bot (#2191)
  src/components/custom/other-platforms.js
  src/components/elements/off-canvas-menu.js
  src/components/layout/footer/main-links.js
  src/images/svg/binarybot-icon.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Fixed overlap hero banner in preview page
  src/pages/academy/blog/posts/preview/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

references added
  documents/payment-methods.md
  scripts/data/payment-methods.csv
  scripts/payment_method.js
  src/pages/payment-methods/_payment-data.js
  src/pages/payment-methods/payment_methods.json
  static/payment-methods/ethereum-payment-method.pdf
  static/payment-methods/index.js
  static/payment-methods/maestro-payment-method.pdf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

lint fix
  scripts/payment_method.js
  src/pages/payment-methods/_payment-data.js
  static/payment-methods/index.js
  static/payment-methods/ngan-luong-payment-method.pdf
  static/payment-methods/perfect-money-payment-method.pdf
  static/payment-methods/vi/ngan-luong-payment-method.pdf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

remove DMX from additional terms section
  src/pages/terms-and-conditions/_clients-grid.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Nuri/Update: Update secure account on responsible page (#2229)
  src/pages/responsible/_securing-account.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

added strings, downloaded translations (incomplete), updated ach
  crowdin/messages.json
  src/translations/ach.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

added turkish json file (wip)
  src/translations/tr.json
Due: prettier --write

updated all images
  src/images/common/deriv-x/demo-3.png
  src/images/common/deriv-x/mobile-demo-2.png
  src/images/common/deriv-x/real-4.png
  src/images/common/deriv-x/start-trading.png
  src/pages/derivx/_start-derivx.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Suthesh/update-crowdin (#2236)
  crowdin/messages.json
  src/translations/ach.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

added academy
  src/components/containers/seo.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fixed mobile cutoff on market page
  src/pages/markets/commodities/index.js
  src/pages/markets/cryptocurrencies/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

add customerion type segment
  src/pages/academy/components/_side-subscription-banner.js
  src/pages/academy/components/_subscribe.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

---
  src/pages/markets/commodities/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

remove denis & ashkan
  src/pages/leadership/_leaders.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

delete query images
  src/pages/leadership/_leaders.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

remove img
  src/images/common/leaders/ashkan-nemati-mobile.png
  src/images/common/leaders/ashkan-nemati.png
  src/images/common/leaders/denis-makagonov-mobile.png
  src/images/common/leaders/denis-makagonov.png
Due: none

feat: filter out test data blog posts from UI & set to no index
  src/pages/academy/blog/index.js
  src/pages/academy/index.js
  src/templates/article.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove console log
  src/templates/article.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: code smell
  src/pages/academy/components/_banner.js
  src/templates/article.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Pavel-Latyshou/update Leadership Page from https://deriv.com/leadership/ (#2239)
  src/images/common/leaders/ashkan-nemati-mobile.png
  src/images/common/leaders/ashkan-nemati.png
  src/images/common/leaders/denis-makagonov-mobile.png
  src/images/common/leaders/denis-makagonov.png
  src/pages/leadership/_leaders.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

add customerion type segment (#2238)
  src/pages/academy/components/_side-subscription-banner.js
  src/pages/academy/components/_subscribe.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

nikolai.berestevich/fix/academy-article-template banner fix (#2232)
  src/templates/article.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write
