Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

fix: removed typo
  crowdin/messages.json
  src/features/pages/options/digital/reset-call/data.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: active path
  src/features/components/organisms/available-options/tab-items.tsx
  src/features/components/organisms/options-top-tab/data.ts
  src/features/components/templates/navigation/tab-nav-without-border/types.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: seo changes added
  crowdin/messages.json
  src/features/components/molecules/timeline-item/index.tsx
  src/features/components/molecules/trade-item/index.tsx
  src/features/components/organisms/what-are-digital-options/index.tsx
  src/features/components/templates/options-faq/index.tsx
  src/features/components/templates/start-trading/index.tsx
  src/features/components/templates/why-trade-options/index.tsx
  src/features/pages/options/accumulator/_faq-schema.ts
  src/features/pages/options/accumulator/data.ts
  src/features/pages/options/accumulator/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: add cashier page for deposit and withdrawal
  crowdin/messages.json
  src/features/pages/ctrader-manage/cashier.tsx
  src/features/pages/ctrader-manage/ctrader-manage-data.tsx
  src/pages/ctrader-manage/cashier.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/bn.json
  src/translations/es.json
  src/translations/ko.json
  src/translations/si.json
  src/translations/th.json
  src/translations/vi.json
  src/translations/zh_tw.json
Due: prettier --write

fix: change 404 page
  src/features/pages/options/vanilla/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: changed 404 page
  src/features/pages/options/vanilla/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/bn.json
  src/translations/fr.json
  src/translations/ko.json
  src/translations/vi.json
  src/translations/zh_tw.json
Due: prettier --write

fix: page structure
  src/features/components/templates/digital-options-layout/data.ts
  src/features/pages/options/digital/only-ups-only-downs/data.ts
  src/features/pages/options/digital/only-ups-only-downs/index.tsx
  src/pages/trade-types/options/digital-options/only-ups-only-downs/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: add complaint live chat click
  src/components/hooks/use-livechat.tsx
  src/pages/help-centre/compliant-live-chat.tsx
  src/pages/help-centre/components/_translation-components.tsx
  src/pages/help-centre/data/_complaints_procedure.ts
  src/pages/help-centre/data/_data-types.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added a log for the qa team
  gatsby-browser.js
Due: none

chore: :bug: change logo to new rebranding (#5147)
  src/components/containers/seo.tsx
  src/images/common/og_deriv.jpg
  src/images/common/og_deriv.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Aswathy/fix: pdf updates (#5229)
  static/tnc/deriv-(bvi)-ltd.pdf
  static/tnc/deriv-(fx)-ltd.pdf
  static/tnc/deriv-investments-(europe)-limited-eu.pdf
  static/tnc/eu/funds-and-transfers.pdf
  static/tnc/eu/general-terms.pdf
  static/tnc/eu/risk-disclosure.pdf
  static/tnc/eu/security-and-privacy.pdf
  static/tnc/eu/trading-terms.pdf
  static/tnc/funds-and-transfers.pdf
  static/tnc/general-terms.pdf
  static/tnc/risk-disclosure.pdf
  static/tnc/security-and-privacy.pdf
  static/tnc/trading-terms.pdf
Due: none

feat: disclaimer in email change (#5201)
  crowdin/messages.json
  src/pages/help-centre/data/_account.ts
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: :speech_balloon: update translation
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: :speech_balloon: update translation (#5250)
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

feat: added new style option tab
  src/features/components/templates/navigation/tab-nav-without-border/index.tsx
  src/features/components/templates/navigation/tab-nav-without-border/styles.module.scss
  src/features/components/templates/navigation/tab-nav-without-border/styles.scss
  src/features/components/templates/tabs/navigation-menu/index.tsx
  src/features/components/templates/tabs/navigation-menu/styles.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: added art direction to tab icon
  src/features/components/templates/tabs/navigation-menu/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

logo update
  src/components/containers/seo.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added static image and removed swiper
  src/features/components/templates/our-platform-carousel/_utils.tsx
  src/features/components/templates/our-platform-carousel/details/details.module.scss
  src/features/components/templates/our-platform-carousel/details/index.tsx
  src/features/components/templates/our-platform-carousel/mobile-platform-carousel/index.tsx
  src/features/components/templates/our-platform-carousel/platform-slider/index.tsx
  src/features/components/templates/our-platform-carousel/platform-slider/platform-slider.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: refactor platform carosuel
  crowdin/messages.json
  src/features/components/templates/our-platform-carousel/_utils.tsx
  src/features/components/templates/our-platform-carousel/mobile-platform-carousel/index.tsx
  src/features/components/templates/our-platform-carousel/mobile-platform-carousel/mobile-platform-carousel.module.scss
  src/features/components/templates/our-platform-carousel/our-platform-carousel-common.module.scss
  src/features/components/templates/our-platform-carousel/platform-slider/index.tsx
  src/features/components/templates/our-platform-carousel/platform-slider/platform-slider.module.scss
  src/features/pages/home/our-platforms/sliders/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write
