Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

fix: webp to png fix
  src/features/pages/home/hero/hero-image.tsx
  src/images/migration/home/person_hero.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: phone 8 d
  crowdin/messages.json
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: logo issue
  src/features/components/templates/navigation/academy-nav/academy-nav.module.scss
Due: none

chore: testing eu domain utility
  themes/gatsby-theme-deriv/src/common/utility.ts
Due: none

fix: changed the logo
  src/features/components/templates/navigation/academy-nav/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Agrim/DPROD-3557/Translation 3557 footer change (#7158)
  crowdin/messages.json
  src/features/components/templates/footer/data.tsx
  src/features/components/templates/footer/description.tsx
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/mn.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Agrim/DPROD-3025/Replace the spanish row pdf's with english to spanish pdf's (#7128)
  src/pages/terms-and-conditions/_business-grid.tsx
  static/tnc/[ES]_business-partners-affiliates-and-introducing-brokers-R23_12_1.pdf
  static/tnc/[ES]_business-partners-api-user-R23_12_1.pdf
  static/tnc/[ES]_business-partners-bug-bounty-R23_12_1.pdf
  static/tnc/[ES]_business-partners-general-terms-of-use-R23_12_1.pdf
  static/tnc/[ES]_business-partners-payment-agents-R23_12_1.pdf
  static/tnc/business-partners-api-user-es.pdf
  static/tnc/business-partners-bug-bounty-es.pdf
  static/tnc/business-partners-general-terms-es.pdf
  static/tnc/business-partners-guide-es.pdf
  static/tnc/business-partners-payment-agents-es.pdf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

behnaz/DPROD-3359/Feb trading data (#7060)
  src/pages/trading-specification/data/_commodities_specification.ts
  src/pages/trading-specification/data/_crypto_specification.ts
  src/pages/trading-specification/data/_derived_specification.ts
  src/pages/trading-specification/data/_etfs_specification.ts
  src/pages/trading-specification/data/_forex_specification.ts
  src/pages/trading-specification/data/_stocks_specification.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/mn.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: updated eu domains list
  themes/gatsby-theme-deriv/src/common/constants.ts
  themes/gatsby-theme-deriv/src/common/utility.ts
Due: none

mayuran/DPROD-2759/ws_improvements (#7070)
  crowdin/messages.json
  src/common/websocket/index.ts
  src/components/hooks/useWS.ts
  src/pages/trading-specification/data/_crypto_specification.ts
  src/pages/trading-specification/data/_derived_specification.ts
  src/pages/trading-specification/data/_etfs_specification.ts
  src/pages/trading-specification/data/_forex_specification.ts
  src/pages/trading-specification/data/_stocks_specification.ts
  src/store/website-status-context.tsx
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/mn.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: changing the image to optimize performance
  crowdin/messages.json
  src/images/migration/home/person_hero.png
Due: none

fix: changing the image to optimize performance
  src/features/pages/home/hero/hero-image.tsx
  src/images/migration/home/person_hero.webp
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: minimized the logo size
  crowdin/messages.json
  src/features/components/templates/navigation/academy-nav/index.tsx
  src/features/pages/signup-academy/form-container/index.tsx
  src/features/pages/signup-academy/form-container/signup-page-form.tsx
  src/features/pages/signup-academy/signup.module.scss
  src/images/common/academy.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: simplified feature flags integration
  crowdin/messages.json
  src/common/constants.ts
  src/components/hooks/use-feature-flags.tsx
  src/features/components/quill/layout-overlay/index.tsx
  src/features/pages/signup/form-container/form-social-buttons.tsx
  src/pages/help-centre/components/_didnt-find-answer.tsx
  src/pages/help-centre/components/_search-section.tsx
  static/appConfig.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: new firebase db
  src/common/constants.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: test with data
  crowdin/messages.json
  src/features/pages/signup/form-container/form-social-buttons.tsx
  static/appConfig.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: cleanup add firebase data precidense
  src/components/hooks/use-feature-flags.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove unused logs
  src/features/components/molecules/layout-overlay/index.tsx
  src/features/pages/signup/form-container/form-social-buttons.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: from local everything true
  static/appConfig.js
Due: none

chore: rename database
  src/common/constants.ts
  src/features/components/molecules/layout-overlay/index.tsx
  src/features/components/quill/layout-overlay/index.tsx
  src/pages/help-centre/components/_didnt-find-answer.tsx
  src/pages/help-centre/components/_search-section.tsx
  static/appConfig.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: postalcode changes not mandatory
  crowdin/messages.json
  src/pages/signup-affiliates/components/_account-address.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated extract translations
  crowdin/messages.json
  scripts/extract-translations.js
Due: none

fix: dropdown issues
  src/components/elements/dropdown-search.tsx
  src/components/elements/dropdown.tsx
  src/features/pages/signup-academy-complete/residence-form.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: removed old preview link action
  .github/workflows/generate-preview-link.yml
Due: none

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/mn.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: sonar cloud issues
  src/common/websocket/config.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: update the image
  src/features/pages/home/hero/hero-image.tsx
  src/images/migration/home/man_hero.webp
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: slider for mobile
  src/features/pages/options/accumulator/data.tsx
  src/features/pages/options/accumulator/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: added conditions
  themes/gatsby-theme-deriv/src/features/components/molecules/other-markets-slider/data.ts
  themes/gatsby-theme-deriv/src/features/components/molecules/other-markets-slider/index.tsx
  themes/gatsby-theme-deriv/src/features/components/organisms/markets/greyed-container/trade-benefit-wrapper.tsx
  themes/gatsby-theme-deriv/src/features/components/organisms/markets/trade-tab/trades-available-wrapper.tsx
  themes/gatsby-theme-deriv/src/features/pages/markets/etf/index.tsx
  themes/gatsby-theme-deriv/src/pages/markets/exchange-traded-funds/index.tsx
Due: none

refactor: existing code in more perform approach
  crowdin/messages.json
  gatsby-browser.js
  gatsby-config.js
  gatsby-ssr.js
  package-lock.json
  package.json
  src/components/layout/layout.tsx
  src/features/components/templates/navigation/main-nav/data.tsx
  src/features/components/templates/navigation/main-nav/index.tsx
  src/features/components/templates/navigation/main-nav/nav.buttons.tsx
  src/features/components/templates/navigation/main-nav/nav.module.scss
  src/features/components/templates/navigation/market-nav/index.tsx
  src/features/components/templates/navigation/market-nav/market-nav.module.scss
  src/features/components/templates/navigation/template/index.tsx
  src/features/components/templates/navigation/template/nav.template.module.scss
  src/features/components/templates/options-layout/index.tsx
  src/features/pages/404/index.tsx
  src/features/pages/check-email/index.tsx
  src/features/pages/deriv-ctrader/index.tsx
  src/features/pages/home/index.tsx
  src/features/pages/home/live-pricing-migration/cards/index.tsx
  src/features/pages/home/live-pricing-migration/index.tsx
  src/features/pages/home/live-pricing-migration/live-price.scss
  src/features/pages/p2p/index.tsx
  src/pages/markets/components/sections/_hero_derived_fx.tsx
  static/live-price.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write
