Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

chore: :memo: update funds and transfer pdf row (#6967)
  static/tnc/funds-and-transfers.pdf
Due: none

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

feat: using useeffect to debug is visible hook
  src/features/pages/home/fast-payment/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Mitra/DPROD-3109/Arabic slider scroll issue (#6963)
  src/features/pages/home/live-pricing-migration/cards/index.tsx
  src/features/pages/home/years/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: removed lazy loading attribute from images
  src/features/pages/home/fast-payment/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: merge arabic fonts in fonts file
  gatsby-browser.js
  static/css/fonts.css
  static/css/noto-sans-arabic.css
Due: none

chore: render first 12 images
  src/features/pages/home/fast-payment/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: removed eu condition and image as well
  src/features/pages/home/hero/hero-image.tsx
  src/features/pages/home/hero/index.tsx
  src/images/migration/home/home_hero_new_eu.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: make bundle of one single chunk
  gatsby-node.js
Due: none

feat: replaced first icons from embed to img tag
  src/features/pages/home/fast-payment/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: render first 12 images once with flags
  src/features/pages/home/fast-payment/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: username validation msg
  crowdin/messages.json
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove render blocking for fonts
  gatsby-browser.js
  gatsby-ssr.js
  static/css/fonts.css
Due: none

chore: remove render blocking for fonts
  gatsby-ssr.js
Due: none

Mitra/DPROD-3333/Seo alt for svg (#6929)
  src/features/pages/home/years/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: add all fonts
  gatsby-ssr.js
  src/features/pages/home/fast-payment/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: consolelog
  src/pages/signup-affiliates/components/_account-address.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added actions for row and eu build
  .github/workflows/generate-preview-link-for-eu.yml
  .github/workflows/generate-preview-link-for-row.yml
Due: none

feat: implement optimized json using map
  src/features/pages/home/fast-payment/data.tsx
  static/payments/logos-39.svg
  static/payments/logos-40.svg
  static/payments/logos-41.svg
  static/payments/logos-42.svg
  static/payments/logos-43.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added actions for row and eu build (#6976)
  .github/workflows/generate-preview-link-for-eu.yml
  .github/workflows/generate-preview-link-for-row.yml
Due: none

feat: make fonts not blocking
  gatsby-browser.js
  gatsby-ssr.js
  static/css/fonts.css
Due: none

fix: translation change
  src/pages/trade-types/multiplier/_how-options-works.tsx
  src/pages/trade-types/multiplier/_things-in-mind.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: remove bundle chunk and updated data
  gatsby-node.js
  src/features/pages/home/fast-payment/data.tsx
  src/features/pages/home/fast-payment/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: change
  src/pages/trade-types/multiplier/_how-options-works.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: message
  src/pages/unsubscribe/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: change text
  src/pages/unsubscribe/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: test
  src/components/custom/_multi-width-column-download.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: trim comma and semi-colon for user data submission for state
  src/pages/signup-affiliates/utils/_utils.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: trim space from input fields
  src/pages/signup-affiliates/utils/_utils.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
