Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

chore: removed unnecessary ignored files
  .gitignore
Due: none

chore: remove unnecessary change
  .husky/pre-commit
Due: none

Skip any smoke tests where the branch has translation. (#6197)
  .github/workflows/smoketests.yml
Due: none

fix: added 3x images
  src/features/pages/home/start-trading-steps/data.tsx
  src/images/migration/home/steps1.png
  src/images/migration/home/steps2.png
  src/images/migration/home/steps3.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: navigation for product page (#6075)
  src/components/custom/_dhero-dmt5.tsx
  src/features/components/templates/banners/deriv-products-hero/products-signup.tsx
  src/pages/derivx/_hero.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translations: 📚 sync translations with crowdin
  src/translations/sw.json
Due: prettier --write

refactor: validate feature movement and prepare for debounce
  src/pages/signup-affiliates/components/_account-address.tsx
  src/pages/signup-affiliates/components/_account-details.tsx
  src/pages/signup-affiliates/components/_account-plan.tsx
  src/pages/signup-affiliates/components/_account-terms.tsx
  src/pages/signup-affiliates/components/_account-type.tsx
  src/pages/signup-affiliates/index.tsx
  src/pages/signup-affiliates/utils/_affiliate-header.tsx
  src/pages/signup-affiliates/utils/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Konstantinos/DERC-1680/Update GPTW badges on the careers pages (#6089)
  src/images/common/careers/ciudad_great_place_to_work_badge.png
  src/images/common/careers/cyprus_great_place_to_work_badge.png
  src/images/common/careers/cyprus_grid_4.png
  src/images/common/careers/dubai_great_place_to_work_badge.png
  src/images/common/careers/dubai_grid_4.png
  src/images/common/careers/jordan_great_place_to_work_badge.png
  src/images/common/careers/malta_great_place_to_work_badge.png
  src/images/common/careers/malta_grid_4.png
  src/images/common/careers/minsk_great_place_to_work_badge.png
  src/images/common/careers/paris_great_place_to_work_badge.png
  src/images/common/careers/reading_great_place_to_work_badge.png
  src/images/common/careers/rwanda_great_place_to_work_badge.png
  src/images/common/careers/rwanda_grid_4.png
  src/pages/careers/_model/_locations/_locations.tsx
  src/pages/careers/locations/_location-layout-new-offices.tsx
  src/pages/careers/locations/ciudad/index.tsx
  src/pages/careers/locations/jordan/index.tsx
  src/pages/careers/locations/paris/index.tsx
  src/pages/careers/locations/reading/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

[CRO] update analytics version (#6072)
  gatsby-browser.js
  package-lock.json
  package.json
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

Update translation-sync.yml
  .github/workflows/translation-sync.yml
Due: none

Update translation-sync.yml (#6222)
  .github/workflows/translation-sync.yml
Due: none

fix: api limitations
  src/pages/signup-affiliates/utils/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: deployment issue
  src/pages/signup-affiliates/index.tsx
  src/pages/signup-affiliates/utils/utils.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: deployment issue
  src/pages/signup-affiliates/index.tsx
  src/pages/signup-affiliates/utils/_utils.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: moved all css to gatsby browser
  gatsby-browser.js
  src/features/components/quill/quill-layout/global.css
  src/features/components/quill/quill-layout/index.tsx
  src/features/components/templates/layout/index.tsx
  static/css/global.css
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fidxed cfd banner css
  src/features/components/quill/layout-overlay/cfd-warning-banner/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated eslint to fix quill layout import order
  .eslintrc
  src/features/pages/home/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: moved fonts css to gatsby browser
  gatsby-browser.js
  src/features/components/templates/layout/index.tsx
  src/features/styles/fonts.css
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: moved swiper css to gatsby browser
  gatsby-browser.js
  src/features/components/templates/layout/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added SharedLinkProvider, route in navigation logos
  src/components/layout/layout.tsx
  src/features/components/templates/layout/index.tsx
  src/features/components/templates/navigation/career-nav/index.tsx
  src/features/components/templates/navigation/partners-nav/index.tsx
  src/features/components/templates/navigation/partners-nav/prime-nav.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added updated pull
  package-lock.json
  package.json
Due: none

chore: fixed cookie banner css
  src/features/components/quill/layout-overlay/cookie-banner/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added lazy loading insted to eager
  src/features/pages/home/start-trading-steps/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: removed ibm and ubuntu fonts
  static/css/ibm-plex-sans-var.css
  static/css/ubuntu.css
  static/fonts/IBMPlexSans-Bold.woff2
  static/fonts/IBMPlexSansVar-Italic.woff2
  static/fonts/IBMPlexSansVar-Roman.woff2
  static/fonts/Ubuntu-Bold.woff2
  static/fonts/Ubuntu-Light.woff2
  static/fonts/Ubuntu-Medium.woff2
  static/fonts/Ubuntu-Regular.woff2
Due: none

chore: fixed link css
  src/features/components/quill/layout-overlay/cfd-warning-banner/index.tsx
  src/features/components/quill/layout-overlay/cookie-banner/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fixed cfd link css
  src/features/components/quill/layout-overlay/cfd-warning-banner/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated deriv-com-libs, removed language switcher in careers-nav
  package-lock.json
  package.json
  src/features/components/templates/navigation/career-nav/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update translation-sync.yml (#6226)
  .github/workflows/translation-sync.yml
Due: none

Update translation-sync.yml (#6231)
  .github/workflows/translation-sync.yml
Due: none

chore: added speed
  src/features/pages/home/fast-payment/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write
