Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

feat: added the trading spec updated value
  src/pages/trading-specification/data/_commodities_specification.ts
  src/pages/trading-specification/data/_crypto_specification.ts
  src/pages/trading-specification/data/_derived_specification.ts
  src/pages/trading-specification/data/_forex_specification.ts
  src/pages/trading-specification/data/_stocks_specification.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: on-ramp / off-ramp for row
  crowdin/messages.json
  src/images/svg/payment-methods/index.ts
  src/images/svg/payment-methods/payment-10-coins.svg
  src/images/svg/payment-methods/payment-banxa.svg
  src/images/svg/payment-methods/payment-bitcoin-cash.svg
  src/images/svg/payment-methods/payment-bnb.svg
  src/images/svg/payment-methods/payment-cardano.svg
  src/images/svg/payment-methods/payment-dogecoin.svg
  src/images/svg/payment-methods/payment-tron.svg
  src/images/svg/payment-methods/payment-xrp.svg
  src/pages/payment-methods/_payment-data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: :rewind: revert growthbook changes
  .github/workflows/beta.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  package-lock.json
  package.json
  src/common/constants.ts
  src/features/pages/home/hero/content/index.tsx
  src/pages/landing/ebooks/stocks.tsx
  src/store/global-provider.tsx
  src/store/growthbook-context.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: remove extra line
  .github/workflows/staging.yml
Due: none

chore: :rewind: revert growthbook changes (#5424)
  .github/workflows/beta.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  package-lock.json
  package.json
  src/common/constants.ts
  src/features/pages/home/hero/content/index.tsx
  src/pages/landing/ebooks/stocks.tsx
  src/store/global-provider.tsx
  src/store/growthbook-context.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: updated the nickel commodities value
  src/pages/trading-specification/data/_commodities_specification.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: to migrate from husky to git local hooks
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  package.json
  scripts/create-git-hooks.sh
Due: none

docs: added react 18 development guide
  documents/development-guidelines.md
Due: none

feat: css
  src/features/pages/partners/deriv-prime/why-deriv-prime/why-deriv-prime.module.scss
Due: none

feat: add component
  crowdin/messages.json
  src/features/pages/partners/deriv-prime/index.tsx
  src/features/pages/partners/deriv-prime/why-deriv-prime/data.ts
  src/features/pages/partners/deriv-prime/why-deriv-prime/index.tsx
  src/features/pages/partners/deriv-prime/why-deriv-prime/types.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: vercel
  package-lock.json
Due: none

fix: prime available instruments
  crowdin/messages.json
  src/features/components/atoms/card/card-primary/index.tsx
  src/features/components/atoms/card/type.ts
  src/features/components/molecules/other-markets-slider/index.tsx
  src/features/components/molecules/other-markets-slider/other-markets-slider.scss
  src/features/pages/partners/deriv-prime/index.tsx
  src/features/styles/theme/card.scss
  src/pages/partners/deriv-prime/available-instruments/_data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: why deriv prime section
  crowdin/messages.json
  src/features/pages/partners/deriv-prime/index.tsx
  src/features/pages/partners/deriv-prime/why-deriv-prime/data.ts
  src/features/pages/partners/deriv-prime/why-deriv-prime/index.tsx
  src/features/pages/partners/deriv-prime/why-deriv-prime/why-deriv-prime.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: seo
  crowdin/messages.json
  src/features/components/atoms/card/card-primary/index.tsx
  src/features/components/atoms/card/type.ts
  src/features/components/molecules/other-markets-slider/index.tsx
  src/pages/partners/deriv-prime/available-instruments/_data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: test
  src/features/components/molecules/other-markets-slider/other-markets-slider.scss
Due: none

fix: empty string
  src/features/components/atoms/card/card-primary/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: spelling mistake
  crowdin/messages.json
  src/pages/partners/deriv-prime/available-instruments/_data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: comments review
  src/features/pages/partners/deriv-prime/why-deriv-prime/data.ts
  src/features/pages/partners/deriv-prime/why-deriv-prime/index.tsx
  src/features/pages/partners/deriv-prime/why-deriv-prime/types.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: font family
  src/features/pages/partners/deriv-prime/why-deriv-prime/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: fixed navigation between tabs when navigating from derivgo
  src/pages/markets/components/helper/_available-trades_desktop.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: :bento: replace with higher quality
  src/images/common/sign-up/banner-phone.png
Due: none

chore: update crowdin master translation strings
  src/translations/ach.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
Due: prettier --write

chore: update crowdin master translation strings (#5432)
  src/translations/ach.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
Due: prettier --write

fix: updated the value
  src/pages/trading-specification/data/_commodities_specification.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added folder for deriv-prime images
  src/images/common/deriv-prime/dummy.png
  src/images/svg/deriv-prime/dummy.svg
Due: none

fix: changes
  src/pages/partners/_partnership-opportunities.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: height
  src/pages/partners/_partnership-opportunities.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: issues
  src/features/components/atoms/card/card-primary/index.tsx
  src/features/components/atoms/card/type.ts
  src/features/components/molecules/other-markets-slider/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: rtl
  src/features/styles/theme/card.scss
Due: none

chore: added images and component files
  crowdin/messages.json
  src/features/components/molecules/shadow-box/index.tsx
  src/features/components/molecules/shadow-box/style.module.scss
  src/features/pages/partners/deriv-prime/index.tsx
  src/features/pages/partners/deriv-prime/potential/data.tsx
  src/features/pages/partners/deriv-prime/potential/index.tsx
  src/features/pages/partners/deriv-prime/potential/potential.module.scss
  src/features/pages/partners/deriv-prime/potential/types.ts
  src/images/svg/d-prime/asset_managers.svg
  src/images/svg/d-prime/brokerage_firms.svg
  src/images/svg/d-prime/corporate_clients.svg
  src/images/svg/d-prime/financial_institutions.svg
  src/images/svg/d-prime/investment_funds.svg
  src/images/svg/d-prime/professional_traders.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: dp2p
  crowdin/messages.json
  src/images/svg/payment-methods/index.ts
  src/images/svg/payment-methods/payment-dp2p.svg
  src/pages/payment-methods/_expanded-list.tsx
  src/pages/payment-methods/_payment-data.tsx
  src/pages/payment-methods/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Meenu deriv bot go image update (#5399)
  src/images/common/dbot/dbot-banner.png
  src/images/common/dbot/step_image_1.png
  src/images/common/dbot/step_image_2.png
  src/images/common/dbot/step_image_3.png
  src/images/common/dbot/step_image_4.png
  src/images/common/dbot/step_image_5.png
  src/images/common/deriv-go/banner_image.png
  src/images/common/deriv-go/banner_image_tablet.png
  src/images/common/deriv-go/better-risk.png
  src/images/common/deriv-go/deriv-go-mobile.png
  src/images/common/deriv-go/get-trading.png
  src/images/common/deriv-go/multiply-profit.png
Due: none

Replace trade types tools images (#5417)
  src/images/common/trade-tools/landing/pip-calculator-mobile.png
  src/images/common/trade-tools/landing/pip-calculator.png
  src/images/common/trade-tools/landing/swap-calculator-mobile.png
  src/images/common/trade-tools/landing/swap-calculator.png
Due: none

Hasan/fix: change the api user pdfs and general terms pdf for eu (#5395)
  static/tnc/business-partners-api-user-eu.pdf
  static/tnc/business-partners-api-user.pdf
  static/tnc/eu/general-terms.pdf
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
