Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added gap to tab
  src/features/components/templates/navigation/tab-nav-without-border/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fix font family and image formate
  src/features/pages/home/hero/content/hero-features.carousel.tsx
  src/features/pages/home/hero/slider/index.tsx
  src/features/pages/home/our-platforms/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: removed the api from platforms homepage
  crowdin/messages.json
  src/features/pages/home/our-platforms/data.tsx
  src/pages/home/_our_platforms.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: accordion icon
  src/features/styles/theme/accordion/styles.scss
Due: none

fix: testlinnk
  package-lock.json
Due: none

fix: content change
  crowdin/messages.json
  src/pages/help-centre/data/_complaints_procedure.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: rename SmartTrader
  crowdin/messages.json
  src/features/components/organisms/available-markets-platforms/data.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: to remove old key extractions config
  crowdin/messages.json
  scripts/extract-translations.js
Due: none

fix: image width above 1920px
  src/pages/markets/components/sections/_hero_derived_fx.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: removed content
  crowdin/messages.json
  src/components/hooks/use-livechat.tsx
  src/pages/help-centre/compliant-live-chat.tsx
  src/pages/help-centre/data/_complaints_procedure.ts
  src/pages/help-centre/data/_data-types.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fix font family and image formate (#5266)
  src/features/pages/home/hero/content/hero-features.carousel.tsx
  src/features/pages/home/hero/slider/index.tsx
  src/features/pages/home/our-platforms/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: content's font size
  src/features/components/templates/options-content/section-content-option.item.tsx
  src/features/components/templates/options-content/single-content-option.item.tsx
  src/features/pages/options/vanilla/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: removed compliance chat reference
  src/pages/help-centre/components/_translation-components.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update src/features/components/molecules/slide-show/index.tsx
  src/features/components/molecules/slide-show/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: font-size
  src/features/components/templates/options-content/single-content-option.item.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: hide buttons for derivgo platform
  crowdin/messages.json
  src/components/custom/_simple-steps.tsx
  src/pages/markets/components/markets/_synthetic-indices.tsx
  src/pages/markets/components/sections/_hero_derived_fx.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove floating disclaimer for non home pages
  src/components/layout/cfd-warning-banner.tsx
  src/components/layout/layout-overlay.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "js to css (#5238)" (#5241)
  src/features/pages/home/hero/content/hero-content.module.scss
  src/features/pages/home/hero/content/hero-features.carousel.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Fasih/ normal JS slideShow (#5226)
  src/features/components/molecules/slide-show/index.tsx
  src/features/components/molecules/slide-show/slide-show.module.scss
  src/features/pages/home/hero/index.tsx
  src/features/pages/home/hero/slider/index.tsx
  src/features/pages/home/our-platforms/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

js to css (#5238)
  src/features/pages/home/hero/content/hero-content.module.scss
  src/features/pages/home/hero/content/hero-features.carousel.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Eduard deriv/derc 783/remove node el (#5225)
  crowdin/messages.json
  package-lock.json
  package.json
  src/features/pages/home/hero/content/hero-content.module.scss
  src/features/pages/home/hero/content/hero-features.carousel.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "Eduard deriv/derc 783/remove node el (#5225)" (#5245)
  crowdin/messages.json
  package-lock.json
  package.json
  src/features/pages/home/hero/content/hero-content.module.scss
  src/features/pages/home/hero/content/hero-features.carousel.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Typewriter css (#5242)
  package-lock.json
  package.json
  src/features/pages/home/hero/content/hero-content.module.scss
  src/features/pages/home/hero/content/hero-features.carousel.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

empty commit
  src/features/components/molecules/slide-show/slide-show.module.scss
Due: none

Fix carousel issues (#5271)
  package-lock.json
Due: none

Add empty commit
  src/features/components/molecules/slide-show/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

empty commit
  src/features/components/molecules/slide-show/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: optimized carousel and auto typing
  package.json
  src/features/components/molecules/slide-show/index.tsx
  src/features/components/molecules/slide-show/slide-show.module.scss
  src/features/pages/home/hero/content/hero-content.module.scss
  src/features/pages/home/hero/content/hero-features.carousel.tsx
  src/features/pages/home/hero/index.tsx
  src/features/pages/home/hero/slider/index.tsx
  src/features/pages/home/our-platforms/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
