Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

chore: add redirect to gatsby node
  gatsby-node.js
Due: none

feat: add redirect
  deriv.com.conf
  gatsby-node.js
  src/images/common/careers-2/human-resources-bg.png
  src/images/common/careers-2/human-resources-desc.png
  src/images/common/careers-2/human-resources-review-mobile.png
  src/images/common/careers-2/human-resources-review.png
  src/images/common/careers/Human-Resources.png
  src/pages/careers/_dept-layout-components/_dept-description.tsx
  src/pages/careers/_dept-layout-components/_hero.tsx
  src/pages/careers/_dept-layout-components/_staff-review.tsx
  src/pages/careers/_join_your_team.tsx
  src/pages/careers/data/_career-data.ts
  src/pages/careers/people-management/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Specify GITHUB_TOKEN permissions in lighthouse.yml
  .github/workflows/lighthouse.yml
Due: none

Specify GITHUB_TOKEN permissions in lighthouse.yml (#4078)
  .github/workflows/lighthouse.yml
Due: none

chore: update workflow permissions
  .github/workflows/content.yml
  .github/workflows/lint.yml
  .github/workflows/translation-delete.yml
  .github/workflows/translation-pre-delete.yml
  .github/workflows/translation-pre-push.yml
  .github/workflows/translation-push.yml
  .github/workflows/translation-sync.yml
  src/components/hooks/use-academy-data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: undo unnecessary change
  src/components/hooks/use-academy-data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: adding playwright with sample tests
  .env.example
  .gitignore
  documents/end-to-end-testing-guidelines.md
  end-to-end-tests/demo-todo-app.spec.ts
  end-to-end-tests/register.spec.ts
  package-lock.json
  package.json
  playwright.config.ts
Due: none

chore: update full width container for product pages
  crowdin/messages.json
  src/components/elements/full-width-multicolumn.tsx
  src/pages/markets/components/markets/_basket-indices.tsx
  src/pages/markets/components/markets/_commodities.tsx
  src/pages/markets/components/markets/_cryptocurrencies.tsx
  src/pages/markets/components/markets/_derived.tsx
  src/pages/markets/components/markets/_forex.tsx
  src/pages/markets/components/markets/_stock-indices.tsx
  src/pages/markets/components/markets/_synthetic-indices.tsx
  src/pages/markets/components/sections/_why-trade.tsx
  src/pages/markets/static/content/_forex.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

habib/Add trade types component initial (#4076)
  crowdin/messages.json
  src/components/elements/full-width-multicolumn.tsx
  src/pages/markets/components/markets/_basket-indices.tsx
  src/pages/markets/components/markets/_commodities.tsx
  src/pages/markets/components/markets/_cryptocurrencies.tsx
  src/pages/markets/components/markets/_derived.tsx
  src/pages/markets/components/markets/_forex.tsx
  src/pages/markets/components/markets/_stock-indices.tsx
  src/pages/markets/components/markets/_synthetic-indices.tsx
  src/pages/markets/static/content/_forex.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update package-lock
  package-lock.json
Due: none

chore: update package
  package-lock.json
  package.json
Due: none

Habib/fix vercel issue rebranding (#4084)
  package-lock.json
  package.json
Due: none

Revert "Habib/fix vercel issue rebranding (#4084)"
  package-lock.json
  package.json
Due: none

Revert "Habib/fix vercel issue rebranding (#4084)" (#4085)
  package-lock.json
  package.json
Due: none

feat: add title and subtitle component
  src/components/elements/rebranding-header.tsx
  src/pages/home/_hero.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: add title and subtitle component
  src/components/elements/rebranding-header.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: add ubuntu font
  static/css/ubuntu.css
  static/fonts/Ubuntu-Bold.ttf
  static/fonts/Ubuntu-Regular.ttf
Due: none

habib/update package-lock (#4082)
  package-lock.json
  package.json
Due: none

feat: change weight
  static/css/ubuntu.css
Due: none

fix: change name
  src/components/elements/common-header-section.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: change weight and delete file
  static/css/ubuntu.css
  static/fonts/Ubuntu-Regular.ttf
Due: none

Konstantinos / Ubuntu font (#4088)
  crowdin/messages.json
  src/components/elements/full-width-multicolumn.tsx
  src/pages/markets/components/markets/_basket-indices.tsx
  src/pages/markets/components/markets/_commodities.tsx
  src/pages/markets/components/markets/_cryptocurrencies.tsx
  src/pages/markets/components/markets/_derived.tsx
  src/pages/markets/components/markets/_forex.tsx
  src/pages/markets/components/markets/_stock-indices.tsx
  src/pages/markets/components/markets/_synthetic-indices.tsx
  src/pages/markets/static/content/_forex.tsx
  static/css/ubuntu.css
  static/fonts/Ubuntu-Bold.ttf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Konstantinos / Reusable title (#4087)
  src/components/elements/common-header-section.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: add assets
  src/images/svg/markets/forex/035 - Linear - 48px - Minimal capital requirements, limited risk.svg
  src/images/svg/markets/forex/Artboard 01.svg
  src/images/svg/markets/forex/charting.svg
  src/images/svg/markets/forex/deposit.svg
  src/images/svg/markets/forex/platforms.svg
  src/images/svg/markets/forex/smart.svg
  src/images/svg/markets/forex/spread.svg
  src/pages/markets/components/sections/_trade-details.tsx
  src/pages/markets/static/content/_forex.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fetch latest translations
  src/translations/bn.json
  src/translations/de.json
  src/translations/id.json
  src/translations/ko.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: fetch latest translations (#4090)
  src/translations/bn.json
  src/translations/de.json
  src/translations/id.json
  src/translations/ko.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: test string change to trigger workflow
  crowdin/messages.json
  src/components/custom/_eu-redirect-modal.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

build: regenerate package-lock file
  package-lock.json
Due: none

fix: improvement
  src/pages/help-centre/data/_deposits-and-withdrawals.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: ui issue in tables
  src/pages/partners/affiliate-ib/_table.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fix vietnamese
  src/pages/terms-and-conditions/_business-grid.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: live price table updates
  crowdin/messages.json
  src/images/svg/home/commodites-live-table.svg
  src/images/svg/home/crypto-live-table.svg
  src/images/svg/home/derived-live-table.svg
  src/images/svg/home/forex-live-table.svg
  src/images/svg/home/stocks-live-table.svg
  src/pages/home/live-pricing/_data.ts
  src/pages/home/live-pricing/_types.ts
  src/pages/home/live-pricing/_utils.ts
  src/pages/home/live-pricing/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: package update
  crowdin/messages.json
  package-lock.json
Due: none

chore: package update
  package-lock.json
Due: none
