Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

Revert "Hasan/fix: hero image flickering (#5716)"
  gatsby-browser.js
  src/features/components/templates/navigation/template/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "Hasan/fix: hero image flickering (#5716)" (#5775)
  gatsby-browser.js
  src/features/components/templates/navigation/template/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: image flickering react minified issue
  src/features/components/templates/navigation/template/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: removed the hydrate function
  gatsby-browser.js
Due: none

fix: trial checking by removing the replacehydrate method
  gatsby-browser.js
  src/features/components/templates/navigation/template/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: update dmt5 and cfd
  src/pages/dmt5/_what-is-trader.tsx
  src/pages/trade-types/cfds/_available-markets.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: track js issue (#5765)
  src/features/components/organisms/navigation/nav-card-items/index.tsx
  src/features/components/organisms/navigation/nav-sections-container/section-column.tsx
  src/features/components/templates/footer/index.tsx
  src/features/components/templates/navigation/template/nav-drop-items/index.tsx
  src/features/components/templates/navigation/template/nav-single-item/index.tsx
  src/features/components/templates/trade-platform/what-have/index.tsx
  src/features/pages/check-email/check-email.steps.tsx
  src/features/pages/deriv-ez/what-have/index.tsx
  src/pages/home/_vertical-carousel.tsx
  src/pages/landing/jump-indices/_leverages.tsx
  src/pages/markets/components/sections/_other-markets.tsx
  src/pages/markets/components/sub-markets/_digital-options.tsx
  src/pages/trade-types/accumulators/_what-are-accumulators.tsx
  src/themes/plugin/index.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added the replace hydrate function back with render
  gatsby-browser.js
Due: none

fix: eu issues
  src/pages/partners/affiliate-ib/_deriv-affiliate-programme.tsx
  src/pages/partners/affiliate-ib/_faq-data.tsx
  src/pages/partners/affiliate-ib/cpa-eu-clients-only/_calculated-card.tsx
  src/pages/partners/affiliate-ib/cpa-eu-clients-only/_default-card.tsx
  src/pages/partners/affiliate-ib/cpa-eu-clients-only/_index.tsx
  src/pages/partners/affiliate-ib/cpa-eu/_default-card.tsx
  src/pages/partners/affiliate-ib/cpa-eu/_index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added the condition for render issue
  gatsby-browser.js
Due: none

fix: spacing issues
  src/pages/partners/affiliate-ib/_faq-data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: spacing issues
  src/pages/partners/affiliate-ib/cpa-eu/_default-card.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
Due: prettier --write

fix: calculate button
  src/pages/partners/affiliate-ib/_style.tsx
  src/pages/partners/affiliate-ib/cpa-eu-clients-only/_default-card.tsx
  src/pages/partners/affiliate-ib/cpa-eu/_default-card.tsx
  src/pages/partners/affiliate-ib/master-affiliate/_default-card.tsx
  src/pages/partners/affiliate-ib/revenue-share/_default-card.tsx
  src/pages/partners/affiliate-ib/turnover/_default-card.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: spacing issues
  src/pages/partners/affiliate-ib/cpa-eu-clients-only/_default-card.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: 100 USD
  src/pages/partners/affiliate-ib/cpa-eu/_default-card.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: 100 USD
  src/pages/partners/affiliate-ib/cpa-eu/_calculated-card.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: increase heights
  src/pages/partners/affiliate-ib/cpa-eu-clients-only/_default-card.tsx
  src/pages/partners/affiliate-ib/revenue-share/_default-card.tsx
  src/pages/partners/affiliate-ib/turnover/_default-card.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Create smoketests.yml
  .github/workflows/smoketests.yml
Due: none

fix: pdf added
  static/tnc/business-partners-general-terms.pdf
Due: none

fix: incorrect branch name
  .github/workflows/generate-preview-link.yml
Due: none

Create smoketests.yml (#5778)
  .github/workflows/smoketests.yml
Due: none

fix: incorrect branch name (#5780)
  .github/workflows/generate-preview-link.yml
Due: none

Fasih/: fixing brave issue by removing CFD banner (#5763)
  src/features/components/molecules/layout-overlay/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove images duplicate (#5728)
  src/components/elements/symbols-shortcode.ts
  src/images/svg/symbols/american-stocks/stocks-procter-gamble.svg
  src/images/svg/symbols/american-stocks/stocks-puma.svg
  src/images/svg/symbols/american-stocks/stocks-salesforce-com-inc.svg
  src/images/svg/symbols/american-stocks/stocks-sony.svg
  src/images/svg/symbols/american-stocks/stocks-tesla-inc.svg
  src/images/svg/symbols/american-stocks/stocks-teva-pharmaceutical-inds.svg
  src/images/svg/symbols/american-stocks/stocks-uber-technologies-inc.svg
  src/images/svg/symbols/american-stocks/stocks-visa.svg
  src/images/svg/symbols/american-stocks/stocks-wal-mart-stores-inc.svg
  src/images/svg/symbols/american-stocks/stocks-walt-disney-company.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated sept data (#5737)
  src/pages/trading-specification/data/_commodities_specification.ts
  src/pages/trading-specification/data/_crypto_specification.ts
  src/pages/trading-specification/data/_derived_specification.ts
  src/pages/trading-specification/data/_etfs_specification.ts
  src/pages/trading-specification/data/_forex_specification.ts
  src/pages/trading-specification/data/_stocks_specification.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: refactor images file structure
  src/features/components/organisms/available-markets-platforms/data.ts
  src/features/components/templates/navigation/main-nav/content/market/index.ts
  src/features/components/templates/navigation/main-nav/content/platform/index.ts
  src/features/pages/home/our-platforms/data.tsx
  src/images/svg/components/component_derived_fx_icon.svg
  src/images/svg/components/component_etf_icon.svg
  src/images/svg/components/component_forex_icon.svg
  src/images/svg/components/component_multipliers_icon.svg
  src/images/svg/components/component_options_icon.svg
  src/images/svg/components/component_stock_indices_icon.svg
  src/images/svg/dbot/index.ts
  src/images/svg/deriv-ez/index.ts
  src/images/svg/dmt5_icon.svg
  src/images/svg/dtrader_icon.svg
  src/images/svg/smart_trader_icon.svg
  src/pages/dmt5/_other-platforms.tsx
  src/pages/markets/components/helper/_available-platforms.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: about -us changes (#5745)
  crowdin/messages.json
  src/images/common/partner-deriv-platform-eu.png
  src/images/common/partner-deriv-platform.png
  src/pages/partners/_about-deriv.tsx
  src/pages/partners/_deriv-numbers.tsx
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: refactor images duplicate (#5742)
  src/components/elements/symbols-shortcode.ts
  src/components/elements/symbols.ts
  src/images/svg/symbols/american-stocks/stocks-zoom-video-communications-inc.svg
  src/images/svg/symbols/asian-indices/aus-200.svg
  src/images/svg/symbols/asian-indices/hongkong-50.svg
  src/images/svg/symbols/asian-indices/japan-225.svg
  src/images/svg/symbols/european-indices/europe-50.svg
  src/images/svg/symbols/european-indices/france-40.svg
  src/images/svg/symbols/european-indices/germany-30.svg
  src/images/svg/symbols/european-indices/netherlands-25.svg
  src/images/svg/symbols/european-indices/spain-35.svg
  src/images/svg/symbols/european-indices/swiss-20.svg
  src/images/svg/symbols/markets-stocks-and-indices/asian-indices/aus-200.svg
  src/pages/markets/instruments/_market-symbols.tsx
  src/pages/markets/static/content/_market-symbols.tsx
  src/pages/trading-specification/data/_stocks_specification.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove disabled condition (#5720)
  src/features/components/templates/navigation/main-nav/main-nav-buttons/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Change checkout repo location
  .github/workflows/smoketests.yml
Due: none

Modified checkout repo location (#5781)
  .github/workflows/smoketests.yml
Due: none

Remove smoke tests
  .github/workflows/generate-preview-link.yml
Due: none

fix: map issues
  src/pages/who-we-are/_OurOffices.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Remove smoke tests (#5782)
  .github/workflows/generate-preview-link.yml
Due: none
