Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

fix: bugs
  crowdin/messages.json
  src/pages/markets/components/sections/_other-markets.tsx
  src/pages/markets/static/content/_market-symbols.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove the whole anchor plugin
  gatsby-config.js
  package-lock.json
  package.json
  src/components/localization/localized-link.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: markets eu
  src/pages/markets/static/style/_markets-style.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: replace react-helmet with gatsby head api
  src/components/containers/seo.tsx
  src/pages/help-centre/components/_faq-schema.tsx
  src/pages/help-centre/index.tsx
  src/pages/partners/affiliate-ib/index.tsx
  src/pages/partners/payment-agent/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

build: regenerate package-lock
  package-lock.json
Due: none

chore: updated language switcher
  package-lock.json
  package.json
  src/features/components/atoms/typography/heading/index.tsx
  src/features/components/molecules/language-switcher/index.tsx
  src/features/components/molecules/language-switcher/language-switcher.module.scss
  src/features/components/molecules/language-switcher/useLangSwitcher.tsx
  src/features/components/templates/navigation/main-nav/main-nav-buttons/index.tsx
  src/features/components/templates/navigation/template/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added typewritter feature on home hero
  crowdin/messages.json
  package-lock.json
  package.json
  src/features/pages/home/hero/data.ts
  src/features/pages/home/hero/hero-features.carousel.tsx
  src/features/pages/home/hero/hero-header.items.tsx
  src/features/pages/home/hero/hero.module.scss
  src/features/pages/home/hero/hero.title.tsx
  src/features/styles/postcss-plugin/class-name-collector.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: markets page kwe pr follow up
  src/pages/markets/components/helper/_available-options.tsx
  src/pages/markets/components/helper/_available-platforms.tsx
  src/pages/markets/components/helper/_available-trades_desktop.tsx
  src/pages/markets/components/helper/_symbol.tsx
  src/pages/markets/components/sections/_other-markets.tsx
  src/pages/markets/static/content/_basket.tsx
  src/pages/markets/static/content/_commodities.tsx
  src/pages/markets/static/content/_derived.tsx
  src/pages/markets/static/content/_forex.tsx
  src/pages/markets/static/content/_stock.tsx
  src/pages/markets/static/content/_synthetic.tsx
  src/pages/markets/stock/index.tsx
  src/types/generics.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: href url issue in social signup
  src/common/login.ts
  src/components/custom/_signup-new.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: updated row and eu general terms
  static/tnc/eu/general-terms.pdf
  static/tnc/general-terms.pdf
Due: none

fix: isbrowser check
  src/components/custom/_signup-default.tsx
  src/components/custom/_signup-flat.tsx
  src/components/custom/_signup-public.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove binary banner and update captions on signup page
  crowdin/messages.json
  src/components/custom/_signup-new.tsx
  src/pages/signup/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: vercel build issue
  src/components/custom/_signup-default.tsx
  src/components/custom/_signup-flat.tsx
  src/components/custom/_signup-public.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: pr follow up
  src/pages/markets/components/helper/_available-options.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: markets
  src/pages/markets/static/style/_markets-style.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: added classnames to gitignore
  .gitignore
Due: none

chore: removed classnames.d.ts
  src/classnames.d.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: change back title wrapper from div to flex
  src/pages/partners/affiliate-ib/_minimum-volume.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fixed mutliple websocket connection
  src/common/websocket/api.calls.types.ts
  src/common/websocket/api.ts
  src/common/websocket/index.ts
  src/common/websocket/socket_base.ts
  src/common/websocket/types.ts
  src/components/custom/signup.tsx
  src/components/hooks/use-deriv-api.tsx
  src/components/hooks/use-deriv-ws.tsx
  src/components/hooks/useSubscription.ts
  src/components/hooks/useWS.ts
  src/components/layout/layout.tsx
  src/components/layout/location-context.tsx
  src/pages/landing/ebooks/components/_get-ebook.tsx
  src/pages/reset-password/index.tsx
  src/types/types.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: review comments
  src/pages/markets/components/helper/_symbol.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: social signup fixes
  src/components/custom/_signup-public.tsx
  src/components/form/input.tsx
  src/pages/markets/static/style/_markets-style.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Konstantinos / Derived fixes (#4388)
  crowdin/messages.json
  gatsby-config.js
  package-lock.json
  src/pages/markets/components/sections/_other-markets.tsx
  src/pages/markets/static/content/_market-symbols.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Konstantinos / Derived eutestlink test (#4389)
  src/components/custom/_signup-public.tsx
  src/components/form/input.tsx
  src/pages/markets/static/style/_markets-style.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fixed websocket types
  package-lock.json
  package.json
  src/common/websocket/api.calls.types.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: eu redirection notice on landing signup
  src/common/login.ts
  src/pages/landing/ebooks/components/_get-ebook.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: refactored the accordion component
  src/components/elements/accordion.tsx
  src/components/elements/index.ts
  src/pages/interim/_faq.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

build: removed extra plugins
  gatsby-config.js
Due: none

refactor: decrease complexity of query and types
  .github/workflows/strapi-deploy.yml
  src/pages/404.tsx
  src/pages/who-we-are/_types.ts
  src/pages/who-we-are/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: clean up
  src/pages/who-we-are/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: translations
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh.json
  src/translations/zh_tw.json
Due: prettier --write

fix: chinese
  src/translations/zh.json
  src/translations/zh_cn.json
Due: prettier --write

fix: resolved pr comments and refactor authentication flow
  end-to-end-tests/onboarding.ts
  end-to-end-tests/tests/authentication.spec.ts
  playwright.config.ts
Due: none

chore: redesign social signup buttons
  src/components/custom/_signup-new.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
