Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

improve livechat performance
  src/components/hooks/use-livechat.js
  src/components/layout/livechat.js
  src/pages/livechat/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

reduce delay to 1ms and merge with latest upstream
  src/components/layout/layout.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: copy changes
  src/components/custom/other-platforms.js
  src/components/elements/off-canvas-menu.js
  src/components/layout/footer/main-links.js
  src/pages/home/_our_platforms.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: loading
  gatsby-browser.js
Due: none

chore: remove repo dispatch trigger on production build
  .github/workflows/production.yml
Due: none

fix: text
  src/components/custom/other-platforms.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

added deriv.be to supported domains along with an app ID
  src/common/constants.js
  src/common/websocket/config.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

added domain to whitelist
  gatsby-browser.js
Due: none

chore: minify svgs
  src/images/svg/academy/academy-logo.svg
  src/images/svg/academy/email1.svg
  src/images/svg/academy/email2.svg
Due: none

using constant variables for app ID
  src/common/constants.js
  src/common/websocket/config.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: images and text
  src/components/elements/off-canvas-menu.js
  src/images/common/home/hero_platform1.png
  src/images/common/home/hero_platform1_m.png
  src/images/common/home/hero_platform2.png
  src/images/common/home/hero_platform2_m.png
  src/images/common/home/hero_platform3.png
  src/images/common/home/hero_platform3_m.png
  src/images/common/home/hero_platform4.png
  src/images/common/home/hero_platform4_m.png
  src/images/common/home/hero_platform5.png
  src/pages/home/_platform-slideshow.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

downloaded latest translations (completed for - pt, fr, sp)
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

refactor: pages and components
  src/pages/academy/subscription/_nav.tsx
  src/pages/academy/subscription/_subscribe.tsx
  src/pages/academy/subscription/components/_button.tsx
  src/pages/academy/subscription/components/_mails.tsx
  src/pages/academy/subscription/components/_nav.tsx
  src/pages/academy/subscription/components/_text.tsx
  src/pages/academy/subscription/confirm-email.tsx
  src/pages/academy/subscription/index.tsx
Due: none

address security pr comments (#2473)
  crowdin/messages.json
  scripts/extract-translations.js
  src/components/elements/query-image.tsx
  src/components/layout/nav.js
  src/components/localization/language-dropdown.js
  src/pages/security/_about-deriv.tsx
  src/pages/security/_hero.tsx
  src/pages/security/_scope.tsx
  src/pages/security/_submit_a_bug_report.tsx
  src/pages/security/components/_hero_component.tsx
  src/pages/security/rewards.tsx
  src/pages/security/static/_scope_content.ts
  src/pages/security/static/_scope_content.tsx
  src/pages/security/static/_vulnerabilities-types-content.ts
  src/pages/security/static/_vulnerabilities-types-content.tsx
  src/pages/security/vulnerabilities-types/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: text and add autoplay
  src/components/custom/other-platforms.js
  src/pages/home/_markets_fold.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

replace messages.json with copy from master
  crowdin/messages.json
Due: none

downloaded latest translations (completed for - pt, fr, sp) (#2480)
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

replace messages.json with copy from master (#2481)
  crowdin/messages.json
Due: none

chore: remove unused query
  src/components/hooks/use-academy-data.tsx
Due: none

styling for article template and preview page for searc banner
  src/pages/academy/blog/posts/_style.js
  src/pages/academy/blog/posts/preview/index.js
  src/pages/academy/components/_search-banner.tsx
  src/templates/article.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

nikolai.berestevich/fix/about-us
  src/pages/about-us/components/_hero.tsx
Due: none

fixed the scrollbar positioning
  src/pages/academy/blog/posts/_style.js
  src/templates/article.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

nikolai.berestevich/fix/who-we-are
  gatsby-node.js
  src/components/custom/other-platforms.js
  src/components/elements/off-canvas-menu.js
  src/components/layout/footer/main-links.js
  src/components/layout/nav.js
  src/images/common/who-we-are/about-us-banner-mobile.jpg
  src/images/common/who-we-are/about-us-banner.jpg
  src/images/common/who-we-are/antony.jpg
  src/images/common/who-we-are/derek.jpg
  src/images/common/who-we-are/earth-mobile.png
  src/images/common/who-we-are/earth.png
  src/images/common/who-we-are/gary.jpg
  src/images/common/who-we-are/jennice.jpg
  src/images/common/who-we-are/jeya.jpg
  src/images/common/who-we-are/joanna.jpg
  src/images/common/who-we-are/jy.jpg
  src/images/common/who-we-are/louise.jpg
  src/images/common/who-we-are/rakshit.jpg
  src/images/common/who-we-are/raunak.jpg
  src/images/common/who-we-are/seema.jpg
  src/images/common/who-we-are/shyamala.jpg
  src/images/common/who-we-are/tom.jpg
  src/images/common/who-we-are/waqas.jpg
  src/images/svg/who-we-are/hands.svg
  src/images/svg/who-we-are/linkedin.svg
  src/images/svg/who-we-are/people.svg
  src/images/svg/who-we-are/pin.svg
  src/images/svg/who-we-are/shield.svg
  src/images/svg/who-we-are/star.svg
  src/pages/who-we-are/_AboutUsBanner.tsx
  src/pages/who-we-are/_DerivNumbers.tsx
  src/pages/who-we-are/_MakeTrading.tsx
  src/pages/who-we-are/_OurLeadership.tsx
  src/pages/who-we-are/_OurOffices.tsx
  src/pages/who-we-are/_OurPrinciples.tsx
  src/pages/who-we-are/_OurValues.tsx
  src/pages/who-we-are/_data.ts
  src/pages/who-we-are/carousel/_Carousel.tsx
  src/pages/who-we-are/components/_hero.tsx
  src/pages/who-we-are/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix/ remove icons alts
  src/pages/p2p/components/_exchange-steps.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore/ add comment
  src/components/layout/nav.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

downloaded translations
  src/translations/vi.json
Due: prettier --write

fix: QA issues
  src/pages/home/_markets_fold.tsx
  src/pages/home/_what-our-clients-say.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

nikolai.berestevich/fix/who-we-are-title
  src/pages/who-we-are/components/_hero.tsx
Due: none

nikolai.berestevich/fix/who-we-are-map
  src/pages/who-we-are/_OurLeadership.tsx
  src/pages/who-we-are/_OurOffices.tsx
Due: none

fix qa comments
  src/components/custom/other-platforms.js
  src/pages/home/_trade.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

nikolai.berestevich/fix/whoweare (#2461)
  gatsby-node.js
  src/components/custom/other-platforms.js
  src/components/elements/off-canvas-menu.js
  src/components/layout/footer/main-links.js
  src/components/layout/nav.js
  src/images/common/who-we-are/about-us-banner-mobile.jpg
  src/images/common/who-we-are/about-us-banner.jpg
  src/images/common/who-we-are/antony.jpg
  src/images/common/who-we-are/derek.jpg
  src/images/common/who-we-are/earth-mobile.png
  src/images/common/who-we-are/earth.png
  src/images/common/who-we-are/gary.jpg
  src/images/common/who-we-are/jennice.jpg
  src/images/common/who-we-are/jeya.jpg
  src/images/common/who-we-are/joanna.jpg
  src/images/common/who-we-are/jy.jpg
  src/images/common/who-we-are/louise.jpg
  src/images/common/who-we-are/rakshit.jpg
  src/images/common/who-we-are/raunak.jpg
  src/images/common/who-we-are/seema.jpg
  src/images/common/who-we-are/shyamala.jpg
  src/images/common/who-we-are/tom.jpg
  src/images/common/who-we-are/waqas.jpg
  src/images/svg/who-we-are/hands.svg
  src/images/svg/who-we-are/linkedin.svg
  src/images/svg/who-we-are/people.svg
  src/images/svg/who-we-are/pin.svg
  src/images/svg/who-we-are/shield.svg
  src/images/svg/who-we-are/star.svg
  src/pages/who-we-are/_AboutUsBanner.tsx
  src/pages/who-we-are/_DerivNumbers.tsx
  src/pages/who-we-are/_MakeTrading.tsx
  src/pages/who-we-are/_OurLeadership.tsx
  src/pages/who-we-are/_OurOffices.tsx
  src/pages/who-we-are/_OurPrinciples.tsx
  src/pages/who-we-are/_OurValues.tsx
  src/pages/who-we-are/_data.ts
  src/pages/who-we-are/carousel/_Carousel.tsx
  src/pages/who-we-are/components/_hero.tsx
  src/pages/who-we-are/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactoring partners affiliate ib page to typescript
  .eslintrc
  src/components/elements/query-image.tsx
  src/pages/partners/affiliate-ib/_calculated-formula.tsx
  src/pages/partners/affiliate-ib/_deriv-affiliate-programme.tsx
  src/pages/partners/affiliate-ib/_deriv-ib-programme.tsx
  src/pages/partners/affiliate-ib/_dmt5-cards.tsx
  src/pages/partners/affiliate-ib/_faq-data.tsx
  src/pages/partners/affiliate-ib/_faq-schema.tsx
  src/pages/partners/affiliate-ib/_faq.tsx
  src/pages/partners/affiliate-ib/_hero.tsx
  src/pages/partners/affiliate-ib/_minimum-volume.tsx
  src/pages/partners/affiliate-ib/_more-reason.tsx
  src/pages/partners/affiliate-ib/_partner-card.tsx
  src/pages/partners/affiliate-ib/_partner-cta.tsx
  src/pages/partners/affiliate-ib/_style.tsx
  src/pages/partners/affiliate-ib/_table.tsx
  src/pages/partners/affiliate-ib/_who-can-apply.tsx
  src/pages/partners/affiliate-ib/_why-us.tsx
  src/pages/partners/affiliate-ib/index.tsx
  src/types/page.type.ts
Due: none

address comments
  src/components/hooks/use-livechat.js
  src/components/layout/livechat.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor trade-forex lp by ts
  src/pages/landing/trade-forex/components/_hero.tsx
  src/pages/landing/trade-forex/components/_icon-text-row.tsx
  src/pages/landing/trade-forex/components/_image-text-switching.tsx
  src/pages/landing/trade-forex/components/_table-btn.tsx
  src/pages/landing/trade-forex/index.tsx
Due: none

chore: responsive navbar
  src/pages/academy/subscription/_nav.tsx
Due: none

code smells fix component names
  src/pages/partners/affiliate-ib/_deriv-ib-programme.tsx
  src/pages/partners/affiliate-ib/_dmt5-cards.tsx
  src/pages/partners/affiliate-ib/_partner-cta.tsx
  src/pages/partners/affiliate-ib/index.tsx
Due: none

resolved deriv-app ID confusion
  src/common/websocket/config.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

removed ts files
  src/pages/bug-bounty/static/_scope_content.ts
  src/pages/bug-bounty/static/_vulnerabilities-types-content.ts
  src/pages/bug-bounty/static/_vulnerabilities-types-content.tsx
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.js
  stylelint --formatter verbose: any of: src/**/*.js
  prettier --write: any of: src/**/*.{js,jsx,json,md}
