Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

chore: london office
  crowdin/messages.json
  src/pages/careers/_model/_locations/_contact-details.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fixed footer description
  themes/gatsby-theme-deriv/src/features/components/templates/footer/description.tsx
Due: none

chore: fixed footer nav
  themes/gatsby-theme-deriv/src/features/components/templates/footer/index.tsx
Due: none

chore: london office map info
  src/pages/careers/_model/_locations/_locations.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fixed social media url hook
  themes/gatsby-theme-deriv/src/components/hooks/use-social-media-url.tsx
Due: none

chore: fixed hero image css
  themes/gatsby-theme-deriv/src/features/pages/home/hero/hero-image.tsx
Due: none

chore: london office address_london
  src/pages/careers/_model/_locations/_locations.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: incorrent links in the row footer
  src/features/components/templates/footer/description.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: incorrect links in the ROW footer
  src/features/components/templates/footer/description.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "chore: london office address_london"
  src/pages/careers/_model/_locations/_locations.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: removed dashboard from p2p and deriv go also updated config
  crowdin/messages.json
  src/features/components/organisms/roadmap/index.tsx
  src/features/components/organisms/roadmap/styles.module.scss
  src/features/pages/p2p/index.tsx
  src/pages/deriv-go/index.tsx
  static/appConfig.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "chore: london office map info"
  src/pages/careers/_model/_locations/_locations.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: adding ctrader to carousel
  src/features/pages/deriv-ctrader/other-platforms/data.tsx
  src/images/svg/ctrader/light-ctrader-logo.svg
  src/pages/dbot/_our-platforms.tsx
  src/pages/deriv-go/_other-apps.tsx
  src/pages/derivx/_other-apps.tsx
  src/pages/dmt5/_other-platforms.tsx
  src/pages/dtrader/_our-platforms.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: removing empty canonical url
  src/pages/trade-types/options/digital-options/up-and-down/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fixed platform swiper overflow issue
  src/features/components/templates/trade-platform/other-platforms/index.tsx
  src/features/components/templates/trade-platform/other-platforms/platform-card/index.tsx
  src/features/components/templates/trade-platform/other-platforms/styles.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update icon file (#7151)
  crowdin/messages.json
  src/images/svg/signup-affiliates/revenue.svg
Due: none

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/mn.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

behnaz/MARK-1066/phone-8d (#7185)
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: decrease padding in tablet (#7152)
  src/pages/signup-affiliates/components/wizard-component/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: id added
  src/features/pages/options/accumulator/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: packages updated
  package-lock.json
  package.json
Due: none

Agrim/DPROD-2993/Translation 2993 meta changes dtrader (#7168)
  crowdin/messages.json
  src/pages/dtrader/index.tsx
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/mn.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: sonarcloud issues
  src/features/hooks/use-residence-list/index.tsx
  src/features/pages/academy-complete/password/academy-password-form.tsx
  src/features/pages/academy-complete/pop-up-menu.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: address
  crowdin/messages.json
  src/pages/careers/_model/_locations/_contact-details.ts
  src/pages/careers/locations/london/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fixes in the text
  crowdin/messages.json
  src/features/components/templates/footer/description.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fixing the cpa issue
  crowdin/messages.json
  src/features/components/templates/footer/description.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: empty commit
  crowdin/messages.json
Due: none

fix: capital letters on the links
  crowdin/messages.json
  src/features/components/templates/footer/description.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Aswathy/DPROD-3448/Deriv Academy new Sign Up flow (#7090)
  crowdin/messages.json
  package-lock.json
  package.json
  src/common/login.ts
  src/common/websocket/config.ts
  src/components/elements/dropdown-search.tsx
  src/components/elements/dropdown.tsx
  src/features/components/templates/navigation/academy-nav/academy-nav.module.scss
  src/features/components/templates/navigation/academy-nav/index.tsx
  src/features/hooks/use-residence-list/index.tsx
  src/features/pages/academy-complete/index.tsx
  src/features/pages/academy-complete/password/Input/HelperMessage.scss
  src/features/pages/academy-complete/password/Input/HelperMessage.tsx
  src/features/pages/academy-complete/password/Input/Input.scss
  src/features/pages/academy-complete/password/Input/index.tsx
  src/features/pages/academy-complete/password/academy-password-form.tsx
  src/features/pages/academy-complete/password/index.tsx
  src/features/pages/academy-complete/password/password-constants.ts
  src/features/pages/academy-complete/password/password-icon.tsx
  src/features/pages/academy-complete/password/password-input.scss
  src/features/pages/academy-complete/password/password-meter.scss
  src/features/pages/academy-complete/password/password-meter.tsx
  src/features/pages/academy-complete/password/password-utils.ts
  src/features/pages/academy-complete/pop-up-menu.tsx
  src/features/pages/academy-complete/residence-form.tsx
  src/features/pages/academy-complete/signup-academy-complete.module.scss
  src/features/pages/academy-signup/form-container/index.tsx
  src/features/pages/academy-signup/form-container/signup-page-form.tsx
  src/features/pages/academy-signup/index.tsx
  src/features/pages/academy-signup/signup-academy.module.scss
  src/features/pages/academy-signup/signup.content.tsx
  src/images/common/academy.svg
  src/images/common/deriv_academy.svg
  src/images/svg/eye.svg
  src/pages/academy-complete-signup/index.tsx
  src/pages/academy-signup/index.tsx
  src/pages/signup-affiliates/components/_account-address.tsx
  src/pages/trader-tools/margin-calculator/_margin-calculator.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Agrim/DPROD-3466/fix: color intensity hero (#7141)
  src/features/pages/home/hero/hero-image.tsx
  src/features/pages/home/hero/styles.module.scss
  src/images/migration/home/home_hero_new.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
