Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

chore: get latest crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/mn.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

feat: adding ctrader to carousel (#7235)
  src/features/pages/deriv-ctrader/other-platforms/data.tsx
  src/images/svg/ctrader/light-ctrader-logo.svg
  src/pages/dbot/_our-platforms.tsx
  src/pages/deriv-go/_other-apps.tsx
  src/pages/derivx/_other-apps.tsx
  src/pages/dmt5/_other-platforms.tsx
  src/pages/dtrader/_our-platforms.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/mn.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

behnaz/MARK-1003/lead to deriv.com (#7086)
  src/pages/signup-affiliates/components/_signup-status.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: tab padding
  src/features/components/organisms/what-are-digital-options/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/si.json
  src/translations/sw.json
Due: prettier --write

fix: initial contact us page (#7226)
  deriv.com.conf
  gatsby-node.js
  src/components/custom/other-platforms.tsx
  src/components/elements/off-canvas-menu.tsx
  src/components/hooks/use-active-link-state.tsx
  src/features/components/templates/footer/data.tsx
  src/features/components/templates/navigation/main-nav/data.tsx
  src/features/components/templates/navigation/partners-nav/top-navigation.tsx
  src/features/components/templates/navigation/template/top-nav/index.tsx
  src/pages/contact-us/_affiliates.tsx
  src/pages/contact-us/_contact-ways.tsx
  src/pages/contact-us/_offices.tsx
  src/pages/contact-us/_types.ts
  src/pages/contact-us/index.tsx
  src/pages/help-centre/data/_account.ts
  src/pages/help-centre/data/_deposits-and-withdrawals.ts
  src/pages/help-centre/data/_deriv-p2p.ts
  src/pages/help-centre/data/_dmt5.ts
  src/pages/help-centre/data/_fraud-prevention.ts
  src/pages/help-centre/data/_ib-programme.ts
  src/pages/help-centre/data/_payment-agent.ts
  src/pages/help-centre/data/_security.ts
  src/pages/responsible/_trading-limits.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: redirection
  package-lock.json
  package.json
  src/features/pages/options/accumulator/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: master fix
  src/pages/contact_us/index.tsx
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: gap
  src/features/components/organisms/what-are-digital-options/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: desire changes
  crowdin/messages.json
  src/pages/signup-affiliates/components/_account-address.tsx
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Agrim/DPROD-3654/Translation 3654 translation for the footer with links (#7247)
  crowdin/messages.json
  src/features/components/templates/footer/data.tsx
  src/features/components/templates/footer/description.tsx
  src/features/components/templates/footer/index.tsx
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/mn.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
  static/appConfig.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: translations fix
  package-lock.json
  package.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/mn.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

feat: move trackEvents regarding widgets to utils
  src/common/tracking-functions/widget.ts
  src/features/components/quill/layout-overlay/live-chat-button/index.tsx
  src/features/components/quill/layout-overlay/whats-app-button/index.tsx
  src/features/pages/home/trustpilot/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/mn.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: font sixe
  src/features/pages/options/accumulator/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: options layout
  crowdin/messages.json
  src/features/components/templates/options-layout/data.ts
  src/features/components/templates/options-layout/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: text color
  src/features/pages/options/accumulator/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: color
  src/features/pages/options/accumulator/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: virtual signup flow
  src/features/hooks/use-signup-form/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: fix subtasks
  src/pages/regulatory/_document_accordion.tsx
  src/pages/regulatory/_eu-grid.tsx
  src/pages/regulatory/eu_grid.module.scss
  src/pages/regulatory/index.tsx
  src/translations/pl.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: made it sticky
  src/features/components/quill/layout-overlay/warning-banner/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Agrim/DPROD-3557/Translation 3557 footer change (#7158)
  themes/gatsby-theme-deriv/src/translations/ar.json
  themes/gatsby-theme-deriv/src/translations/bn.json
  themes/gatsby-theme-deriv/src/translations/de.json
  themes/gatsby-theme-deriv/src/translations/es.json
  themes/gatsby-theme-deriv/src/translations/fr.json
  themes/gatsby-theme-deriv/src/translations/it.json
  themes/gatsby-theme-deriv/src/translations/ko.json
  themes/gatsby-theme-deriv/src/translations/pl.json
  themes/gatsby-theme-deriv/src/translations/pt.json
  themes/gatsby-theme-deriv/src/translations/ru.json
  themes/gatsby-theme-deriv/src/translations/si.json
  themes/gatsby-theme-deriv/src/translations/sw.json
  themes/gatsby-theme-deriv/src/translations/th.json
  themes/gatsby-theme-deriv/src/translations/tr.json
  themes/gatsby-theme-deriv/src/translations/vi.json
  themes/gatsby-theme-deriv/src/translations/zh_cn.json
  themes/gatsby-theme-deriv/src/translations/zh_tw.json
Due: none

behnaz/DPROD-3359/Feb trading data (#7060)
  themes/gatsby-theme-deriv/src/pages/trading-specification/data/_crypto_specification.ts
  themes/gatsby-theme-deriv/src/pages/trading-specification/data/_derived_specification.ts
  themes/gatsby-theme-deriv/src/pages/trading-specification/data/_etfs_specification.ts
  themes/gatsby-theme-deriv/src/pages/trading-specification/data/_forex_specification.ts
  themes/gatsby-theme-deriv/src/pages/trading-specification/data/_stocks_specification.ts
Due: none

fix: remove console logs (#7201)
  themes/gatsby-theme-deriv/src/common/websocket/index.ts
Due: none

mayuran/DPROD-2759/ws_improvements (#7070)
  themes/gatsby-theme-deriv/src/common/websocket/index.ts
  themes/gatsby-theme-deriv/src/pages/trading-specification/data/_crypto_specification.ts
  themes/gatsby-theme-deriv/src/pages/trading-specification/data/_derived_specification.ts
  themes/gatsby-theme-deriv/src/pages/trading-specification/data/_etfs_specification.ts
  themes/gatsby-theme-deriv/src/pages/trading-specification/data/_forex_specification.ts
  themes/gatsby-theme-deriv/src/pages/trading-specification/data/_stocks_specification.ts
  themes/gatsby-theme-deriv/src/translations/ar.json
  themes/gatsby-theme-deriv/src/translations/bn.json
  themes/gatsby-theme-deriv/src/translations/de.json
  themes/gatsby-theme-deriv/src/translations/es.json
  themes/gatsby-theme-deriv/src/translations/fr.json
  themes/gatsby-theme-deriv/src/translations/it.json
  themes/gatsby-theme-deriv/src/translations/ko.json
  themes/gatsby-theme-deriv/src/translations/pl.json
  themes/gatsby-theme-deriv/src/translations/pt.json
  themes/gatsby-theme-deriv/src/translations/ru.json
  themes/gatsby-theme-deriv/src/translations/si.json
  themes/gatsby-theme-deriv/src/translations/sw.json
  themes/gatsby-theme-deriv/src/translations/th.json
  themes/gatsby-theme-deriv/src/translations/tr.json
  themes/gatsby-theme-deriv/src/translations/vi.json
  themes/gatsby-theme-deriv/src/translations/zh_cn.json
  themes/gatsby-theme-deriv/src/translations/zh_tw.json
Due: none

Update generate-preview-link.yml - Add DRAFT param (#7198)
  .github/workflows/generate-preview-link.yml
Due: none

Update smoketests.yml - Mod to draft param (#7217)
  .github/workflows/smoketests.yml
Due: none

chore: updated the config url (#7223)
  themes/gatsby-theme-deriv/src/components/hooks/use-third-party-flags.tsx
Due: none

behnaz/MARK-1066/phone-8d (#7185)
  themes/gatsby-theme-deriv/src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: none
