Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

fix: hide button for mobile and tablet
  package-lock.json
  package.json
Due: none

chore: integrate language switcher (#6109)
  package-lock.json
  package.json
  src/features/pages/home/data.ts
  src/features/pages/home/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fix package-lock
  package-lock.json
Due: none

ib coms + help centre coms changes
  src/images/common/affiliate/daily-ib-commission-eu.png
  src/images/common/affiliate/daily-ib-commission.png
  src/pages/help-centre/data/_affiliate-programme.ts
  src/pages/partners/affiliate-ib/_faq-data.tsx
  static/tnc/business-partners-affiliates-and-introducing-brokers-eu.pdf
  static/tnc/business-partners-affiliates-and-introducing-brokers-row.pdf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: empty commit
  crowdin/messages.json
Due: none

feat: forex homepage
  src/features/pages/markets/forex/hero-banner/index.tsx
  src/features/pages/markets/forex/index.tsx
  src/features/pages/markets/forex/other-markets/data.tsx
  src/features/pages/markets/forex/other-markets/index.tsx
  src/features/pages/markets/forex/platforms-available/data.tsx
  src/features/pages/markets/forex/platforms-available/index.tsx
  src/features/pages/markets/forex/trading-in-deriv/data.tsx
  src/features/pages/markets/forex/trading-in-deriv/index.tsx
  src/features/pages/markets/forex/why-trade-in-deriv/data.tsx
  src/features/pages/markets/forex/why-trade-in-deriv/index.tsx
  src/images/migration/markets/forex/forex-banner.png
  src/pages/markets/forex/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: forex homepage image banner
  src/features/pages/markets/forex/hero-banner/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: affiliate ib
  crowdin/messages.json
  src/pages/partners/affiliate-ib/_style.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: platform section (#6108)
  src/features/pages/home/user-platfroms/data.tsx
  src/features/pages/home/user-platfroms/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: testing
  package-lock.json
  package.json
  src/features/pages/home/fast-payment/index.tsx
  src/features/pages/home/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: removed unused code
  src/features/pages/home/fast-payment/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Jia/fix button desktop only (#6093)
  src/features/pages/home/cta/index.tsx
  src/features/pages/home/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: add fast payment slider logo
  src/features/pages/home/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: footer download images, paddings
  package-lock.json
  package.json
  src/features/pages/home/footer/banner-and-awards.tsx
  src/features/pages/home/footer/download.tsx
  src/images/common/migration/footer/deriv-go-qr.png
  src/images/common/migration/footer/download-appstore.png
  src/images/common/migration/footer/explore-appgallery.png
  src/images/common/migration/footer/get-googleplay.png
  src/images/common/migration/footer/investors-in-people.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: footer download images, paddings (#6114)
  package-lock.json
  package.json
  src/features/pages/home/footer/banner-and-awards.tsx
  src/features/pages/home/footer/download.tsx
  src/images/common/migration/footer/deriv-go-qr.png
  src/images/common/migration/footer/download-appstore.png
  src/images/common/migration/footer/explore-appgallery.png
  src/images/common/migration/footer/get-googleplay.png
  src/images/common/migration/footer/investors-in-people.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: updated deriv-com pacakges
  package-lock.json
  package.json
  src/features/pages/home/live-pricing-migration/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fixed tab blocks
  package-lock.json
  package.json
  src/features/pages/home/live-pricing-migration/data.tsx
  src/features/pages/home/live-pricing-migration/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

resolve conflicts
  static/~partytown/debug/partytown-atomics.js
  static/~partytown/debug/partytown-media.js
  static/~partytown/debug/partytown-sandbox-sw.js
  static/~partytown/debug/partytown-sw.js
  static/~partytown/debug/partytown-ww-atomics.js
  static/~partytown/debug/partytown-ww-sw.js
  static/~partytown/debug/partytown.js
  static/~partytown/partytown-atomics.js
  static/~partytown/partytown-media.js
  static/~partytown/partytown-sw.js
  static/~partytown/partytown.js
Due: none

chore: fixed tab blocks (#6116)
  package-lock.json
  package.json
  src/features/pages/home/live-pricing-migration/data.tsx
  src/features/pages/home/live-pricing-migration/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: urls and phone
  src/pages/signup-affiliates/components/_account-details.tsx
  src/pages/signup-affiliates/components/_account-terms.tsx
  src/pages/signup-affiliates/components/_signup-form.tsx
  src/pages/signup-affiliates/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: translations
  crowdin/messages.json
  src/pages/signup-affiliates/components/_signup-form.tsx
  src/pages/signup-affiliates/components/_signup-status.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: getting the language
  src/pages/signup-affiliates/components/_signup-form.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

guideline-updates
  src/pages/terms-and-conditions/_business-grid.tsx
  static/tnc/business-partners-guide-english.pdf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: phone number issue
  crowdin/messages.json
  src/pages/signup-affiliates/components/_account-details.tsx
  src/pages/signup-affiliates/index.tsx
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: enable capital letter for email input
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: trade type option background colour and icon size
  package-lock.json
  package.json
  src/features/pages/home/trade-type/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove img
  src/images/common/home/mobile_cta_bg.png
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
