Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.js": [
        "eslint --fix",
        "stylelint --formatter verbose",
    ],
    "src/**/*.{js,jsx,json,md}": [
        "prettier --write",
    ]
}

nikolai.berestevich/refactor/alt tags for landing and derixX
  src/pages/landing/stocks/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Fixed issue with publish date
  src/pages/blog/template/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Fixed issue with in-to-read
  src/pages/blog/template/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Redirecting to chosen trading platform * Redirects to mt5 * Redirects to dbot * Redirects to derivx * Redirects to Dtrader otherwise
  src/components/layout/nav.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

update stories setup
  src/components/elements/index.js
  src/components/elements/localized-link-text.js
  src/components/elements/typography.js
  src/components/form/button.js
  src/components/form/index.js
  src/components/form/link-button.js
  src/components/stories/button.stories.js
  src/components/stories/typography.stories.js
  src/pages/contact_us/_offices.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

npm script to build and serve storybook locally only
  package.json
Due: none

enable derivx cfd in non eu country
  src/pages/trade-types/cfds/_start-trading.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

cache public and cache directories during GH actions build
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

Fixed issue with hero container
  src/pages/blog/template/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

setup initial typescript + eslint config
  .eslintrc
  .lintstagedrc
  gatsby-config.js
  package-lock.json
  package.json
  src/components/elements/index.js
  src/components/elements/query-image.js
  src/components/elements/query-image.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

declare type for returning react component
  src/components/elements/query-image.tsx
Due: none

Fixed issue with min-read
  src/pages/blog/template/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Chore: added script to generate json data from csv
  package.json
  scripts/data/payment-methods.csv
  scripts/payment_method.js
  src/pages/payment-methods/payment_methods.json
Due: prettier --write

Chore: Implementation of automated payment methods table
  src/images/svg/payment-methods/index.js
  src/pages/payment-methods/_payment-data.js
  src/pages/payment-methods/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Added: package lock file
  package-lock.json
Due: none

Chore: added is_crypto is_fiat_onramp flags
  scripts/payment_method.js
  src/pages/payment-methods/payment_methods.json
Due: prettier --write

nikolai.berestevich/refactor/alt-tags for p2p for responsible
  src/pages/p2p/components/_availability.js
  src/pages/p2p/components/_exchange-steps.js
  src/pages/responsible/_securing-account.js
  src/pages/responsible/_trading-responsibly.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fixed responsive layout
  src/components/custom/_dhero.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Chore: updated script and data
  scripts/data/payment-methods.csv
  scripts/payment_method.js
  src/pages/payment-methods/_payment-data.js
  src/pages/payment-methods/payment_methods.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

change placeholder image
  src/components/custom/_dhero-2.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

replace bet with speculate
  src/pages/markets/components/sub-markets/_cfds.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Fix: code smell issue
  scripts/payment_method.js
Due: none

Sara / Added Single blog post template (#1944)
  gatsby-config.js
  package-lock.json
  package.json
  src/pages/blog/article/index.js
  src/pages/blog/side-cta/index.js
  src/pages/blog/template/_blog-footer/_blog-footer.js
  src/pages/blog/template/_side-cta/_data.js
  src/pages/blog/template/_side-cta/_images/big-shape.min.svg
  src/pages/blog/template/_side-cta/_images/big-shape.svg
  src/pages/blog/template/_side-cta/_images/download-pdf.svg
  src/pages/blog/template/_side-cta/_images/shape.svg
  src/pages/blog/template/_side-cta/_images/stocks.svg
  src/pages/blog/template/_side-cta/_side-cta.js
  src/pages/blog/template/_side-cta/_style.js
  src/pages/blog/template/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

conditionally displays eu regulatory content
  src/components/layout/footer/disclaimer.js
  src/pages/regulatory/index.js
  static/regulatory/Champion_Group_Ltd.pdf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

replace image and edit faq
  src/images/common/deriv-x/mobile-real-3.png
  src/images/common/deriv-x/real-3.png
  src/pages/help-centre/_help-articles.js
  src/pages/help-centre/deriv-x.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Sean/conditionally displays eu regulatory content (#1978)
  src/components/layout/footer/disclaimer.js
  src/pages/regulatory/index.js
  static/regulatory/Champion_Group_Ltd.pdf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

nikolai.berestevich/feat/signup-success-page was added
  src/pages/singup-success/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

article side cta email banner
  src/images/svg/blog/articles/blog-article-email-subscription.svg
  src/pages/blog/article-email-banner/_agreement-label.js
  src/pages/blog/article-email-banner/index.js
  src/themes/variables.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fixed paraguay map for smaller size
  src/pages/contact_us/_offices.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

added development env for testing
  gatsby-config.js
  src/pages/blog/side-cta/images/stocks.svg
Due: none

updated ipoh cyber dubai and malta spacing for 320 size
  src/pages/contact_us/_offices.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

update sentence for regulatory - vanuatu
  src/pages/regulatory/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

added the setting for CIO
  src/pages/blog/article-email-banner/index.js
  src/pages/blog/components/_subscribe.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

nikolai.berestevich/fix/message after sending the email
  src/components/custom/signup.js
  src/pages/singup-success/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

nikolai.berestevich/fix/message after sending the email v2
  src/pages/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

added comma and updated crowdin platform
  crowdin/messages.json
  src/pages/derivx/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Testing my work on varcel build
  gatsby-config.js
  gatsby-node.js
  src/pages/livechat/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Chore: json format update
  scripts/payment_method.js
Due: none

Fix: update sonar badges links
  README.md
Due: none
