Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

test
  src/pages/careers/besquare/components/sections/_faq.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: utilities
  src/pages/help-centre/_utility.ts
  src/pages/help-centre/components/_questions-category.tsx
  src/pages/help-centre/components/_questions-template.tsx
  src/pages/help-centre/components/_search-success.tsx
  src/pages/help-centre/components/_utility.ts
  src/pages/help-centre/data/index.ts
  src/pages/help-centre/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: index and search logic
  src/pages/help-centre/_help-articles.tsx
  src/pages/help-centre/components/_questions-category.tsx
  src/pages/help-centre/components/_questions-section.tsx
  src/pages/help-centre/components/_questions-template.tsx
  src/pages/help-centre/components/_search-error.tsx
  src/pages/help-centre/components/_search-section.tsx
  src/pages/help-centre/components/_search-success.tsx
  src/pages/help-centre/components/_utility.ts
  src/pages/help-centre/data/_hooks.tsx
  src/pages/help-centre/data/_use-filtered-questions.tsx
  src/pages/help-centre/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: vercel
  src/pages/help-centre/components/_utility.ts
  src/pages/help-centre/data/index.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update crowdin master
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: update crowdin master (#3845)
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: updated master crowdin
  src/translations/th.json
Due: prettier --write

chore: updated master crowdin (#3848)
  src/translations/th.json
Due: prettier --write

chore: :wastebasket: clean the code from is eu country condition
  src/components/custom/_signup-new.tsx
  src/components/elements/off-canvas-menu-career.tsx
  src/components/layout/livechat.tsx
  src/pages/interim/_love-trading.tsx
  src/pages/interim/deriv/_love-trading.tsx
  src/pages/interim/faq/_faq.tsx
  src/pages/markets/components/helper/_available-platforms.tsx
  src/pages/markets/instruments/_volatility-indices.tsx
  src/pages/responsible/index.tsx
  src/pages/signup/__tests__/index.spec.js
  src/pages/trade-types/margin/_why-trade-margin.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: update images and design
  src/images/common/conference/Ana.png
  src/images/common/conference/Ricardo.png
  src/images/common/conference/Sasky.png
  src/images/common/conference/Sebastian.png
  src/images/common/conference/hero.png
  src/images/common/conference/name2.png
  src/images/svg/conference/calendar.svg
  src/images/svg/conference/pin.svg
  src/pages/conference/_events.tsx
  src/pages/conference/_hero.tsx
  src/pages/conference/_login.tsx
  src/pages/conference/_speakers.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: :coffin: remove uk rules from academyQuery
  src/components/graphql/academy-fragments.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: minor changes
  src/pages/conference/_hero.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: remove unused components
  src/pages/conference/_lazy-load.ts
  src/pages/conference/_map.tsx
  src/pages/conference/_noticable-login.tsx
  src/pages/conference/_subscribe.tsx
  src/pages/conference/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: add types to speakers info array
  src/pages/conference/_events.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: added use media-query
  src/components/containers/visibility.tsx
  src/components/hooks/use-media-query.tsx
  src/pages/trade-types/cfds/_what_is_cfd.tsx
  src/pages/trade-types/cfds/index.tsx
  src/themes/device.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update the variable name
  src/pages/derivx/_start-derivx.tsx
  src/pages/home/_trade-types.tsx
  src/pages/partners/affiliate-ib/_deriv-ib-programme.tsx
  src/pages/partners/affiliate-ib/_dmt5-cards.tsx
  src/pages/partners/affiliate-ib/_faq.tsx
  src/pages/payment-methods/_payment-data.tsx
  src/pages/payment-methods/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated the example
  crowdin/messages.json
  src/components/containers/visibility.tsx
  src/pages/trade-types/cfds/_start-trading.tsx
  src/pages/trade-types/cfds/_what_is_cfd.tsx
  src/pages/trade-types/cfds/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: reverted the code
  crowdin/messages.json
  src/pages/trade-types/cfds/_start-trading.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated the device object to fix the overlaping
  src/themes/device.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: add link
  crowdin/messages.json
  src/pages/partners/affiliate-ib/_faq-data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: trying close tab on NO option
  src/pages/unsubscribe/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

test
  svg.d.ts
Due: none

chore: design update again
  crowdin/messages.json
  src/pages/partners/affiliate-ib/_faq-data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: added smart content feature
  src/components/hooks/use-country-rule.tsx
  src/components/hooks/use-dynamic-visible-content.tsx
  src/components/hooks/use-visible-content.tsx
  src/themes/theme.types.ts
  src/types/generics.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: ts error fix
  crowdin/messages.json
  src/pages/markets/basket-indices/index.tsx
  src/pages/markets/commodities/index.tsx
  src/pages/markets/components/helper/_available-options.tsx
  src/pages/markets/components/helper/_available-platforms.tsx
  src/pages/markets/components/helper/_available-trades_desktop.tsx
  src/pages/markets/components/markets/_basket-indices.tsx
  src/pages/markets/components/markets/_commodities.tsx
  src/pages/markets/components/markets/_cryptocurrencies.tsx
  src/pages/markets/components/markets/_derived.tsx
  src/pages/markets/components/markets/_forex.tsx
  src/pages/markets/components/markets/_stock-indices.tsx
  src/pages/markets/components/markets/_synthetic-indices.tsx
  src/pages/markets/components/sections/_hero.tsx
  src/pages/markets/components/sections/_hero_derived_fx.tsx
  src/pages/markets/components/sections/_market_instruments.tsx
  src/pages/markets/components/sections/_nav-tab.tsx
  src/pages/markets/components/sections/_other-markets.tsx
  src/pages/markets/components/sections/_why-trade.tsx
  src/pages/markets/cryptocurrencies/index.tsx
  src/pages/markets/derived-fx/index.tsx
  src/pages/markets/forex/index.tsx
  src/pages/markets/instruments/_markets.tsx
  src/pages/markets/static/content/_basket.tsx
  src/pages/markets/static/content/_commodities.tsx
  src/pages/markets/static/content/_derived.tsx
  src/pages/markets/static/content/_forex.tsx
  src/pages/markets/static/content/_market-symbols.tsx
  src/pages/markets/static/content/_multipliers.tsx
  src/pages/markets/static/content/_simple_step_content.tsx
  src/pages/markets/static/content/_stock.tsx
  src/pages/markets/static/content/_synthetic.tsx
  src/pages/markets/static/style/_markets-style.tsx
  src/pages/markets/stock/index.tsx
  src/pages/markets/synthetic/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix
  src/pages/who-we-are/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update gatsby-browser.js
  gatsby-browser.js
Due: none

Konstantinos / [FE Deriv.com squad] Office address and google map link update for Singapore, Vanuatu & Jordan. (#3803)
  crowdin/messages.json
  src/images/common/maps/map-jordan.png
  src/images/common/maps/map-singapore.png
  src/images/common/maps/map-vanuatu.png
  src/images/svg/contact/jordan.svg
  src/images/svg/contact/singapore.svg
  src/images/svg/contact/vanuatu.svg
  src/pages/careers/_model/_locations/_contact-details.ts
  src/pages/careers/_model/_locations/_locations.ts
  src/pages/careers/locations/index.tsx
  src/pages/careers/locations/vanuatu/index.tsx
  src/pages/contact_us/_offices.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: updated domain url
  gatsby-config.js
  src/common/constants.ts
  src/components/containers/seo.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: removed the third party link from the footer
  src/components/layout/footer/main-links.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write
