Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

fix: redirction for other languages
  gatsby-config.js
  gatsby-node.js
Due: none

fix: redirecting bug-bounty to hackerone
  deriv.com.conf
  gatsby-node.js
  src/features/components/templates/navigation/main-nav/content/partner/index.ts
  static/security.txt
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: hackerone redirection to bug bounty rewards and vulnarbility
  deriv.com.conf
  gatsby-config.js
  gatsby-node.js
Due: none

chore: remove check
  crowdin/messages.json
  gatsby-node.js
  src/pages/bug-bounty/static/_scope_content.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove check
  gatsby-node.js
Due: none

fix: _t_ is there in terms and conditions page
  src/components/elements/default-tab.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: styles issues
  src/pages/derivx/_what-is-derivx.tsx
  src/pages/markets/components/helper/_available-options.tsx
  src/pages/markets/components/sub-markets/_digital-options.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: removed old options page and created new one
  crowdin/messages.json
  src/features/pages/trade-types/options/digital-options/index.tsx
  src/pages/trade-types/options/_how-options-works.tsx
  src/pages/trade-types/options/_markets-available.tsx
  src/pages/trade-types/options/_options-to-trade.tsx
  src/pages/trade-types/options/_start-trading.tsx
  src/pages/trade-types/options/_what-are-options.tsx
  src/pages/trade-types/options/digital-options/index.tsx
  src/pages/trade-types/options/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: :page_facing_up: update cfd loss percentage
  src/common/constants.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: url redirection
  gatsby-browser.js
  gatsby-node.js
Due: none

chore: update pt translation
  src/translations/fr.json
  src/translations/ko.json
  src/translations/pt.json
  src/translations/si.json
Due: prettier --write

feat: added options to digital options redirection
  gatsby-node.js
Due: none

fix: dmt5 translation issue
  src/pages/dmt5/_interest_free_trading.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: color variable instead hex code
  crowdin/messages.json
  src/features/components/molecules/timeline-item/style.module.scss
Due: none

fix: responsve css
  src/features/components/molecules/timeline-item/index.tsx
  src/features/components/templates/start-trading/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: responsive css
  crowdin/messages.json
  src/features/components/templates/why-trade-options/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: browser redirection issue
  gatsby-browser.js
  gatsby-node.js
Due: none

chore: update pt translation (#5140)
  src/translations/fr.json
  src/translations/ko.json
  src/translations/pt.json
  src/translations/si.json
Due: prettier --write

chore: merge two useeffects into one
  crowdin/messages.json
  src/features/hooks/use-signin-and-signup/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove _ from name of components in features folder
  src/features/components/templates/ctrader/ctrader-wrapper.module.scss
  src/features/components/templates/ctrader/ctrader-wrapper.tsx
  src/features/pages/ctrader-check-email/index.tsx
  src/features/pages/ctrader-login/index.tsx
  src/features/pages/ctrader-manage/add-account.tsx
  src/features/pages/ctrader-manage/add-more-accounts.tsx
  src/features/pages/ctrader-manage/change-password.tsx
  src/features/pages/ctrader-manage/close-account.tsx
  src/features/pages/ctrader-manage/ctrader-manage-data.tsx
  src/features/pages/ctrader-manage/ctrader-manage.tsx
  src/features/pages/ctrader-signup/index.tsx
  src/features/pages/ctrader-signup/signup-ctrader-form.tsx
  src/features/pages/ctrader-signup/signup-success-form.tsx
  src/features/pages/ctrader-signup/signup-success.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: replace old links
  src/components/custom/other-platforms.tsx
  src/components/elements/off-canvas-menu.tsx
  src/features/components/templates/footer/data.ts
  src/features/components/templates/navigation/main-nav/content/platform/index.ts
  src/features/pages/home/trade-types/data.tsx
  src/pages/home/_trade-types.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: try
  gatsby-node.js
  src/pages/404.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: 404 redirection issue
  src/pages/404.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove besquare
  crowdin/messages.json
  gatsby-browser.js
  src/common/constants.ts
  src/features/components/templates/navigation/career-nav/data.tsx
  src/images/common/careers/besquare-banner-mobile.png
  src/images/common/careers/besquare-banner.png
  src/pages/careers/_be_square_banner.tsx
  src/pages/careers/_lazy-load.ts
  src/pages/careers/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: row only and remove markets condition
  src/features/components/templates/navigation/template/desktop-menu/desktop.items.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: udpated slide show code
  src/features/components/molecules/slide-show/index.tsx
  src/features/components/molecules/slide-show/slide-show.module.scss
  src/features/pages/home/hero/index.tsx
  src/features/pages/home/hero/slider/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update partners guide pdfs
  static/tnc/business-partners-guide-english.pdf
  static/tnc/business-partners-guide-es.pdf
  static/tnc/business-partners-guide-fr.pdf
  static/tnc/business-partners-guide-id.pdf
  static/tnc/business-partners-guide-pt.pdf
  static/tnc/business-partners-guide-ru.pdf
  static/tnc/business-partners-guide-vi.pdf
Due: none

chore: remove redirection
  gatsby-browser.js
  src/common/constants.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: removed multiple formates
  src/features/pages/home/hero/slider/index.tsx
  src/features/pages/home/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: removed multiple formates
  src/features/pages/home/hero/slider/index.tsx
  src/features/pages/home/our-platforms/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: removed formats from platform carousal
  src/features/pages/home/index.tsx
  src/features/pages/home/our-platforms/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: log mobile or tab
  src/features/components/templates/trade-platform/how-to-start/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: options common navigation tab
  crowdin/messages.json
  src/features/components/atoms/tab/tab-menu-item/index.tsx
  src/features/components/templates/navigation/tab-nav-without-border/index.tsx
  src/features/components/templates/navigation/tab-nav-without-border/types.tsx
  src/features/components/templates/tabs/navigation-menu/index.tsx
  src/features/styles/theme/tabs.scss
  src/features/styles/theme/typography.scss
  src/images/svg/arrow-next.svg
  src/images/svg/trade-types/options-images/Active/accumulators_active.svg
  src/images/svg/trade-types/options-images/Active/digital_active.svg
  src/images/svg/trade-types/options-images/Active/vanilla_active.svg
  src/images/svg/trade-types/options-images/Inactive/accumulators_inactive.svg
  src/images/svg/trade-types/options-images/Inactive/digital_active.svg
  src/images/svg/trade-types/options-images/Inactive/vanilla_inactive.svg
  src/images/svg/trade-types/options-images/index.tsx
  src/pages/trade-types/options/accumulator-options/index.tsx
  src/pages/trade-types/options/data.ts
  src/pages/trade-types/options/digital-options/index.tsx
  src/pages/trade-types/options/vanilla-options/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: deploy issue
  src/pages/trade-types/options/data.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: created digital options page
  src/features/pages/options/digital-options/index.tsx
  src/pages/trade-types/options/digital-options/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: :bug: change logo to new rebranding
  src/components/containers/seo.tsx
  src/images/common/og_deriv.png
  src/images/svg/og_deriv.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write
