Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

Revert "chore: update language path (#5032)"
  gatsby-node.js
Due: none

Revert "chore: update language path (#5032)" (#5033)
  gatsby-node.js
Due: none

fix: added temp fix for pt redirection
  src/common/utility.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: markets console errors
  crowdin/messages.json
  src/components/hooks/use-platform-query-param.tsx
  src/features/components/templates/navigation/market-nav/index.tsx
  src/pages/markets/stock/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: stock seo
  crowdin/messages.json
  src/pages/markets/stock/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fix 404 and redirection
  gatsby-node.js
  src/common/utility.ts
  src/components/localization/language-switcher.tsx
  src/features/components/molecules/language-switcher/useLangSwitcher.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Habib/redirection pt path (#5035)
  gatsby-node.js
  src/common/utility.ts
  src/components/localization/language-switcher.tsx
  src/features/components/molecules/language-switcher/useLangSwitcher.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "Habib/redirection pt path (#5035)"
  gatsby-node.js
  src/common/utility.ts
  src/components/localization/language-switcher.tsx
  src/features/components/molecules/language-switcher/useLangSwitcher.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "Habib/redirection pt path (#5035)" (#5036)
  gatsby-node.js
  src/common/utility.ts
  src/components/localization/language-switcher.tsx
  src/features/components/molecules/language-switcher/useLangSwitcher.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: removed pt from array
  src/components/localization/language-switcher.tsx
  src/features/components/molecules/language-switcher/useLangSwitcher.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added temp fix for pt redirection (#5034)
  src/common/utility.ts
  src/components/localization/language-switcher.tsx
  src/features/components/molecules/language-switcher/useLangSwitcher.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: update ach array
  src/components/localization/language-switcher.tsx
  src/features/components/molecules/language-switcher/useLangSwitcher.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update ach array (#5037)
  src/components/localization/language-switcher.tsx
  src/features/components/molecules/language-switcher/useLangSwitcher.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove pt
  i18n-config.js
Due: none

chore: remove pt (#5038)
  i18n-config.js
Due: none

fix: fix redirection issue
  src/components/localization/language-switcher.tsx
  src/features/components/molecules/language-switcher/useLangSwitcher.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fix redirection issue (#5039)
  src/components/localization/language-switcher.tsx
  src/features/components/molecules/language-switcher/useLangSwitcher.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "chore: remove pt (#5038)"
  i18n-config.js
Due: none

chore: add space
  gatsby-node.js
Due: none

chore: add space (#5041)
  gatsby-node.js
Due: none

refactor: to get datadog clientid and app id from env
  gatsby-browser.js
Due: none

fix: updated features section
  src/features/pages/deriv-ctrader/types.ts
  src/features/pages/deriv-ctrader/what-we-have/data.tsx
  src/features/pages/deriv-ctrader/what-we-have/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: master merge
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: deriv ez revert
  crowdin/messages.json
  src/features/pages/deriv-ez/hero/data.tsx
  src/features/pages/deriv-ez/hero/index.tsx
  src/features/pages/deriv-ez/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: commit 2 components to merge with master
  src/features/components/templates/trading-platform/app-banner/index.tsx
  src/features/components/templates/trading-platform/hero/hero.module.scss
  src/features/components/templates/trading-platform/hero/index.tsx
  src/features/components/templates/trading-platform/how-to-start/index.tsx
  src/features/components/templates/trading-platform/index.ts
  src/features/components/templates/trading-platform/numbers/index.tsx
  src/features/components/templates/trading-platform/numbers/numbers.module.scss
  src/features/components/templates/trading-platform/other-platforms/index.tsx
  src/features/components/templates/trading-platform/types.ts
  src/features/components/templates/trading-platform/what-have/index.tsx
  src/features/components/templates/trading-platform/what-have/what-have.module.scss
  src/features/components/templates/trading-platform/why-trade/index.tsx
  src/features/components/templates/trading-platform/why-trade/why-trade.module.scss
  src/features/pages/ctrader/data.tsx
  src/features/pages/ctrader/index.tsx
  src/features/pages/deriv-ez/data.tsx
  src/features/pages/deriv-ez/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: new 404 design
  src/features/pages/404-error/content/data.ts
  src/features/pages/404-error/content/not-found.container.tsx
  src/features/pages/404-error/content/not-found.module.scss
  src/features/pages/404-error/content/types.ts
  src/features/pages/404-error/index.tsx
  src/images/svg/no_page_found.svg
  src/pages/404.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: move tab-stepper from molecules to templates
  src/features/components/templates/tabs/stepper/index.tsx
  src/features/components/templates/trading-platform/how-to-start/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: components to atomic design
  crowdin/messages.json
  src/components/custom/_ctrader-wrapper.tsx
  src/components/custom/_ctrader.wrapper.module.scss
  src/pages/ctrader-signup/signup-success.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: ctrader hooks and signup and login logics
  src/components/custom/_signup-ctrader-form.tsx
  src/components/custom/signup.tsx
  src/components/hooks/use-check-existing-account.tsx
  src/features/hooks/use-ctrader-email-form/index.tsx
  src/features/hooks/use-ctrader-submit-form/index.tsx
  src/pages/ctrader-login/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: remove unused codes
  crowdin/messages.json
  src/components/custom/_ctrader-signup-success.tsx
  src/components/custom/_ctrader-wrapper.module.scss
  src/components/custom/_ctrader-wrapper.tsx
  src/components/custom/signup.tsx
  src/components/elements/checkbox.tsx
  src/components/elements/dropdown.tsx
  src/components/form/input.tsx
  src/components/layout/layout.tsx
  src/features/styles/theme/inputs/checkbox.styles.scss
  src/pages/trader-tools/margin-calculator/_margin-calculator.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: exclude ctrader login from sitemap
  gatsby-config.js
Due: none

style: small changes to fix inputs style
  src/components/custom/_agreement-label.tsx
  src/components/elements/dropdown-search.tsx
  src/components/elements/dropdown.tsx
  src/pages/ctrader-login/index.tsx
  src/pages/ctrader-signup/ctrader-form.module.scss
  src/pages/ctrader-signup/signup-success.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: ctrader manage pages
  src/components/custom/_ctrader-manage.tsx
  src/pages/ctrader-manage/_ctrader-manage-data.tsx
  src/pages/ctrader-manage/add-account.tsx
  src/pages/ctrader-manage/add-more-accounts.tsx
  src/pages/ctrader-manage/change-password.tsx
  src/pages/ctrader-manage/close-account.tsx
  src/pages/ctrader-manage/index.tsx
  src/pages/ctrader-signup/ctrader-form.module.scss
  src/pages/ctrader-signup/signup-success.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: restore main signup component to default
  crowdin/messages.json
  src/components/custom/signup.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove commented code in dropdown search
  src/components/elements/dropdown-search.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: websocket not working outside of layout
  crowdin/messages.json
  src/components/custom/_ctrader-manage.tsx
  src/components/custom/_signup-ctrader.tsx
  src/components/hooks/use-check-existing-account.tsx
  src/components/hooks/use-signin-and-signup.tsx
  src/features/hooks/use-ctrader-submit-form/index.tsx
  src/pages/ctrader-login/index.tsx
  src/pages/ctrader-signup/index.tsx
  src/pages/ctrader-signup/signup-success.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: move signup success form to another component to make main component smaller
  crowdin/messages.json
  src/pages/ctrader-signup/_signup-success-form.tsx
  src/pages/ctrader-signup/signup-success.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write
