Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

fix: color css
  src/features/styles/theme/table.scss
Due: none

feat: added data file
  src/features/pages/partners/deriv-prime/commercial-plan/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added padding inline to wrapper
  package.json
  src/features/pages/partners/deriv-prime/commercial-plan/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: css
  src/features/styles/theme/table.scss
Due: none

fix: modified commercial table component
  src/features/pages/partners/deriv-prime/commercial-plan/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: modified table base component
  crowdin/messages.json
  src/features/components/atoms/table/base/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: table columns css
  crowdin/messages.json
  src/features/components/atoms/table/base/table-header.tsx
  src/features/components/atoms/table/base/table-row.tsx
  src/features/styles/theme/table.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: imported dsi icons
  crowdin/messages.json
  src/images/svg/symbols/dsi_10m.svg
  src/images/svg/symbols/dsi_20m.svg
  src/images/svg/symbols/dsi_30m.svg
Due: none

feat: imported dsi icons to symbols
  src/components/elements/symbols.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: created dsi symbols component
  src/pages/markets/instruments/_drift_switch_indices.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: added dsi symbol component to cfds content
  src/pages/markets/instruments/_submarkets.ts
  src/pages/markets/static/content/_cfds.tsx
  src/pages/markets/static/content/_market-symbols.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: updated ul component
  crowdin/messages.json
  src/components/elements/lists.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "feat: updated ul component"
  crowdin/messages.json
  src/components/elements/lists.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: added dsi details component
  src/pages/markets/static/content/_cfds.tsx
  src/pages/markets/static/content/_details.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Hasan/Translation 1426 prime commercial plan (#5435)
  crowdin/messages.json
  package.json
  src/features/components/atoms/table/base/index.tsx
  src/features/components/atoms/table/base/table-header.tsx
  src/features/components/atoms/table/base/table-row.tsx
  src/features/components/atoms/table/index.tsx
  src/features/components/atoms/table/shadow-table/index.tsx
  src/features/components/atoms/table/types.ts
  src/features/pages/partners/deriv-prime/commercial-plan/data.tsx
  src/features/pages/partners/deriv-prime/commercial-plan/index.tsx
  src/features/pages/partners/deriv-prime/commercial-plan/styles.module.scss
  src/features/pages/partners/deriv-prime/index.tsx
  src/features/styles/app.scss
  src/features/styles/theme/table.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: update version of analytics package
  gatsby-node.js
  package-lock.json
  package.json
Due: none

fix: commercial plan table heading content typo
  crowdin/messages.json
  src/features/pages/partners/deriv-prime/commercial-plan/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: comments
  src/features/hooks/use-contact-form/index.tsx
  src/features/styles/theme/inputs/text.styles.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Konstantinos / browse our faq (#5461)
  crowdin/messages.json
  src/features/pages/partners/deriv-prime/browse-our-faq/data.tsx
  src/features/pages/partners/deriv-prime/browse-our-faq/deriv-prime-faq.tsx
  src/features/pages/partners/deriv-prime/browse-our-faq/faq-commercial-plan.tsx
  src/features/pages/partners/deriv-prime/browse-our-faq/index.tsx
  src/features/pages/partners/deriv-prime/browse-our-faq/styles.module.scss
  src/features/pages/partners/deriv-prime/browse-our-faq/types.ts
  src/features/pages/partners/deriv-prime/index.tsx
  src/features/styles/theme/table.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: comments
  src/common/constants.ts
  src/pages/partners/affiliate-ib/_faq-data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: merge conflict
  crowdin/messages.json
  src/features/pages/partners/deriv-prime/hero/index.tsx
  src/features/pages/partners/deriv-prime/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: hero responsive
  src/features/pages/partners/deriv-prime/hero/index.tsx
  src/features/pages/partners/deriv-prime/hero/styles.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: added content style
  src/features/pages/partners/deriv-prime/hero/index.tsx
  src/features/pages/partners/deriv-prime/hero/styles.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: image issue
  src/features/pages/partners/deriv-prime/hero/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: added alt text to hero image
  crowdin/messages.json
  src/features/pages/partners/deriv-prime/hero/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: added bg image to hero
  src/features/pages/partners/deriv-prime/hero/index.tsx
  src/features/pages/partners/deriv-prime/hero/styles.module.scss
  src/images/common/deriv-prime/hero.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: hero image
  src/features/pages/partners/deriv-prime/hero/index.tsx
  src/features/pages/partners/deriv-prime/hero/styles.module.scss
  src/images/common/deriv-prime/hero-desktop.png
  src/images/common/deriv-prime/hero-mobile.png
  src/images/common/deriv-prime/hero.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: style issue
  src/features/pages/partners/deriv-prime/hero/styles.module.scss
Due: none

fix: changed images
  src/images/common/deriv-prime/hero-desktop.png
  src/images/common/deriv-prime/hero-mobile.png
Due: none

fix: replace hero image desktop
  src/images/common/deriv-prime/hero-desktop.png
Due: none

fix: changed desktop image and css
  src/features/pages/partners/deriv-prime/hero/index.tsx
  src/features/pages/partners/deriv-prime/hero/styles.module.scss
  src/images/common/deriv-prime/hero-desktop.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: removed unused flex box
  src/features/pages/partners/deriv-prime/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Hasan/Translation 1412 deriv prime hero (#5433)
  crowdin/messages.json
  src/features/pages/partners/deriv-prime/hero/index.tsx
  src/features/pages/partners/deriv-prime/hero/styles.module.scss
  src/features/pages/partners/deriv-prime/index.tsx
  src/images/common/deriv-prime/hero-mobile.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: error resolved after merge
  src/features/pages/partners/deriv-prime/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: :speech_balloon: pull translation
  src/translations/bn.json
  src/translations/es.json
  src/translations/ko.json
  src/translations/si.json
Due: prettier --write

feat: remove belarus
  crowdin/messages.json
  deriv.com.conf
  gatsby-config.js
  gatsby-node.js
  src/pages/careers/_model/_locations/_contact-details.ts
  src/pages/careers/_model/_locations/_locations.ts
  src/pages/careers/locations/index.tsx
  src/pages/careers/locations/minsk/index.tsx
  src/pages/contact_us/_offices.tsx
  src/pages/who-we-are/_data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write
