Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

Prince/ translation workflow security mitigation (#3944)
  .github/workflows/translation-delete.yml
  .github/workflows/translation-pre-delete.yml
  .github/workflows/translation-pre-push.yml
  .github/workflows/translation-push.yml
Due: none

Update translation-pre-delete.yml
  .github/workflows/translation-pre-delete.yml
Due: none

Update translation-pre-delete.yml (#3958)
  .github/workflows/translation-pre-delete.yml
Due: none

change the date for besquare (#3957)
  src/components/layout/besquare/footer.tsx
  src/components/layout/besquare/style/footer.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update crowdin master
  crowdin/messages.json
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: update crowdin master (#3959)
  crowdin/messages.json
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: fix width
  src/pages/dmt5/_dbanner.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fixed formula container rtl issue
  src/pages/trader-tools/common/_style.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: de capitalisation
  src/translations/de.json
Due: prettier --write

fix: qa raised issues
  crowdin/messages.json
  src/components/layout/footer/disclaimer.tsx
  src/pages/careers/locations/index.tsx
  src/pages/landing/ebooks/components/_get-ebook.tsx
  src/pages/markets/components/markets/_commodities.tsx
  src/pages/markets/components/markets/_cryptocurrencies.tsx
  src/pages/markets/components/markets/_forex.tsx
  src/pages/markets/components/markets/_stock-indices.tsx
  src/pages/regulatory/_eu-grid.tsx
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: app build
  src/pages/careers/locations/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: updated new variable convention for font size and color
  src/themes/variables.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fix russian and
  src/translations/ru.json
Due: prettier --write

build: update react and react-dom to the latest
  package-lock.json
  package.json
Due: none

fix: peer review changes
  src/pages/signup-affiliates/components/_account-terms.tsx
  src/pages/signup-affiliates/wizard.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: en issue for the handlesignup
  src/components/hooks/use-handle-signup.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove unused slash
  src/components/hooks/use-handle-signup.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: en issue for the handle signup (#3965)
  src/components/hooks/use-handle-signup.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: :recycle: use usews hook in margin calculator
  src/components/hooks/useWS.ts
  src/pages/trader-tools/margin-calculator/_margin-calculator.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: id of video file is null error
  src/components/graphql/academy-fragments.ts
  src/types/graphql.types.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: :label: updating type file
  src/components/hooks/useSubscription.ts
  src/types/types.ts
  src/types/utils.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: :label: update type
  src/types/utils.d.ts
  tsconfig.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: :bug: sdd missing slash
  tsconfig.json
Due: none

chore: :white_check_mark: adding active symbol to the susbscription
  src/types/types.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: alt messages base on the seo team documentation (#3955)
  crowdin/messages.json
  src/components/custom/other-platforms.tsx
  src/components/elements/off-canvas-menu.tsx
  src/pages/bug-bounty/rewards.tsx
  src/pages/check-email/_icon-grid.tsx
  src/pages/deriv-go/_other-apps.tsx
  src/pages/deriv-go/_why-trade-deriv-go.tsx
  src/pages/derivx/_why-trade-derivx.tsx
  src/pages/interim/affiliate/_faq-data.tsx
  src/pages/landing/stocks/_whyTradeWIthUs.tsx
  src/pages/landing/stocks/index.tsx
  src/pages/landing/weekend-trading/components/_icon-text-row.tsx
  src/pages/markets/components/markets/_cryptocurrencies.tsx
  src/pages/markets/static/content/_basket.tsx
  src/pages/markets/static/content/_commodities.tsx
  src/pages/markets/static/content/_forex.tsx
  src/pages/markets/static/content/_stock.tsx
  src/pages/markets/static/content/_synthetic.tsx
  src/pages/partners/_why-choose-us.tsx
  src/pages/partners/affiliate-ib/_more-reason.tsx
  src/pages/partners/affiliate-ib/_who-can-apply.tsx
  src/pages/partners/payment-agent/_who-can-apply.tsx
  src/pages/partners/payment-agent/_your-control.tsx
  src/pages/responsible/_securing-account.tsx
  src/pages/responsible/_trading-responsibly.tsx
  src/pages/trade-types/cfds/_why-trade-cfd.tsx
  src/pages/trade-types/multiplier/_how-options-works.tsx
  src/pages/trade-types/multiplier/_what-are-options.tsx
  src/pages/trade-types/options/_how-options-works.tsx
  src/pages/trade-types/options/_what-are-options.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: id of video file is null error (#3966)
  src/components/graphql/academy-fragments.ts
  src/types/graphql.types.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update variable name
  src/components/hooks/use-handle-signup.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: :wastebasket: clean the code from is eu country condition (#3849)
  src/components/custom/_signup-new.tsx
  src/components/elements/off-canvas-menu-career.tsx
  src/pages/interim/_love-trading.tsx
  src/pages/interim/deriv/_love-trading.tsx
  src/pages/interim/faq/_faq.tsx
  src/pages/markets/components/helper/_available-platforms.tsx
  src/pages/markets/instruments/_volatility-indices.tsx
  src/pages/responsible/index.tsx
  src/pages/signup/__tests__/index.spec.js
  src/pages/trade-types/margin/_why-trade-margin.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added a constant for values
  src/pages/academy/index.tsx
  src/store/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: change width
  src/pages/dmt5/_dbanner.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: updated the business terms of use
  src/pages/terms-and-conditions/_business-grid.tsx
  static/tnc/business-partners-general-terms.pdf
  static/tnc/eu/business-partners-general-terms.pdf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

who-we-are
  src/pages/who-we-are/_MakeTrading.tsx
  src/pages/who-we-are/_OurOffices.tsx
  src/pages/who-we-are/_OurPrinciples.tsx
  src/pages/who-we-are/_OurValues.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

who-we-are page
  src/pages/who-we-are/_DerivNumbers.tsx
  src/pages/who-we-are/_OurOffices.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: removed the translation key
  src/pages/help-centre/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :adhesive_bandage: address comments
  src/components/hooks/useSubscription.ts
  src/pages/trader-tools/margin-calculator/_margin-calculator.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write
