Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

Hasan/Pr 00 scrolling tab rtl (#5377)
  src/features/components/organisms/available-options/styles.module.scss
  src/features/components/organisms/available-options/tab-items.tsx
  src/features/hooks/use-scroll-to-active-tab/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: add environment variable to workflows
  .github/workflows/beta.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

fix: robot.txt file is changed when compared from production
  gatsby-config.js
Due: none

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ru.json
  src/translations/th.json
Due: prettier --write

chore: add cache true
  gatsby-config.js
Due: none

chore: add cache true (#5383)
  gatsby-config.js
Due: none

Revert "chore: add cache true (#5383)"
  gatsby-config.js
Due: none

Revert "chore: add cache true (#5383)" (#5384)
  gatsby-config.js
Due: none

refactor: to rerun vercel
  crowdin/messages.json
Due: none

feat: enable sinhala language
  i18n-config.js
Due: none

fix: changed variable names
  src/images/svg/deriv-x/index.ts
  src/pages/derivx/_get-derivx.tsx
  src/pages/derivx/_hero.tsx
  src/pages/derivx/_other-apps.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ar.json
  src/translations/de.json
  src/translations/ko.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
Due: prettier --write

refactor: deriv-ez svg imports
  src/components/custom/other-platforms.tsx
  src/components/elements/off-canvas-menu.tsx
  src/features/pages/deriv-ez/app-banner/data.ts
  src/features/pages/deriv-ez/deprecated-other-platforms/index.tsx
  src/features/pages/deriv-ez/hero/data.tsx
  src/features/pages/deriv-ez/why-trade/data.tsx
  src/images/svg/deriv-ez/index.ts
  src/pages/home/platform-carousel/_utils.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: remove accumulator from faq
  crowdin/messages.json
  src/pages/help-centre/accumulators.tsx
  src/pages/help-centre/components/_constants.ts
  src/pages/help-centre/data/_accumulators.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: why deriv prime
  crowdin/messages.json
  src/pages/partners/deriv-prime/index.tsx
  src/pages/partners/deriv-prime/why-deriv-prime/data.ts
  src/pages/partners/deriv-prime/why-deriv-prime/index.tsx
  src/pages/partners/deriv-prime/why-deriv-prime/why-deriv-prime.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ar.json
  src/translations/es.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/vi.json
Due: prettier --write

feat: changed home platform images
  src/features/pages/home/our-platforms/data.tsx
  src/images/common/home/rebranding/platform_deriv_bot.png
  src/images/common/home/rebranding/platform_deriv_go.png
  src/images/common/home/rebranding/platform_deriv_trader.png
  src/images/common/home/rebranding/platform_derivx.png
  src/images/common/home/rebranding/platform_mt5.png
  src/images/common/home/rebranding/platform_smart_trader.png
  src/images/svg/custom/rebranding/deriv-api-icon.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added height for min width 2300 to etf banner
  src/features/components/organisms/markets/market-banner/styles.module.scss
Due: none

fix: show cfd banner only in home page (#5368)
  src/features/components/molecules/layout-overlay/index.tsx
  src/features/pages/signup-success/index.tsx
  src/features/pages/signup/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: use new analytics library (#5310)
  .github/workflows/beta.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  package-lock.json
  package.json
  src/common/constants.ts
  src/features/pages/home/hero/content/index.tsx
  src/pages/landing/ebooks/stocks.tsx
  src/store/global-provider.tsx
  src/store/growthbook-context.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Shayan/ FEQ-286/ fixed jest errors and refactored updated sample test (#4969)
  jest.config.js
  package-lock.json
  package.json
  src/components/elements/dropdown.tsx
  src/features/components/atoms/input/checkbox/__tests__/index.spec.tsx
  src/pages/signup/__tests__/index.spec.js
  svgTransform.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: remove accumulator from faq (#5387)
  crowdin/messages.json
  src/pages/help-centre/accumulators.tsx
  src/pages/help-centre/components/_constants.ts
  src/pages/help-centre/data/_accumulators.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: :bug: replace image for sign up banner
  src/images/common/sign-up/banner-phone.png
Due: none

Konstantinos / Delay fix (#5331)
  src/features/components/molecules/layout-overlay/index.tsx
  src/features/components/templates/layout/index.tsx
  src/translations/ach.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: add trace SVG
  gatsby-config.js
Due: none

chore: add trace SVG (#5391)
  gatsby-config.js
Due: none

fix: layout issue
  src/pages/markets/components/sections/_hero_derived_fx.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
