Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

resolved issue with several response
  src/pages/academy/blog/posts/_style.js
  src/pages/academy/components/_social-sharing.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: unresovled conflicts which didn't allow project to run
  package-lock.json
  src/images/svg/testimonials/quote.svg
Due: none

Optimise image size from directus server (#2584)
  src/common/utility.js
  src/components/elements/carousel/carousel-style.js
  src/components/graphql/academy-fragments.js
  src/components/hooks/use-academy-data.tsx
  src/pages/academy/_recent-featured-posts.js
  src/pages/academy/blog/index.tsx
  src/pages/academy/common/_styles.js
  src/pages/academy/components/recent-featured-posts/_style.js
  src/pages/academy/components/video-banner/_DBanner.js
  src/pages/academy/components/video-banner/_VideoCarousel.js
  src/pages/academy/components/video-banner/carousel/_custom-carousel.js
  src/pages/academy/index.js
  src/pages/academy/videos/index.tsx
  src/templates/article.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

revert: remove image-not-available.png
  src/images/common/image-not-available.png
Due: none

payment business pdf file replaced (#2611)
  static/tnc/business-partners-payment-agents.pdf
Due: none

updated the logo for academy page, also removed one logo display condition from mobile view since it seems not using.
  src/components/layout/nav.js
  src/images/svg/blog/academy-text.svg
  src/pages/academy/components/_search-banner.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

remove unstaged js file
  src/pages/trader-tools/pnl-for-multipliers/_pnl-for-multipliers.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

change placement of share buttons on big size screens
  src/pages/academy/blog/posts/_style.js
  src/pages/academy/components/_social-sharing.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

deleted duplicate file with types
  src/pages/partners/affiliate-ib/index.tsx
  src/types/page.type.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: replace condition with isNaN to avoid possible errors
  src/pages/academy/blog/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

use svgo for svg image
  src/images/svg/academy/share.svg
Due: none

NikitaK/Partners - affiliate ib convert to TS (#2612)
  .eslintrc
  src/pages/partners/affiliate-ib/_calculated-formula.tsx
  src/pages/partners/affiliate-ib/_deriv-affiliate-programme.tsx
  src/pages/partners/affiliate-ib/_deriv-ib-programme.tsx
  src/pages/partners/affiliate-ib/_dmt5-cards.tsx
  src/pages/partners/affiliate-ib/_faq-data.tsx
  src/pages/partners/affiliate-ib/_faq-schema.tsx
  src/pages/partners/affiliate-ib/_faq.tsx
  src/pages/partners/affiliate-ib/_hero.tsx
  src/pages/partners/affiliate-ib/_minimum-volume.tsx
  src/pages/partners/affiliate-ib/_more-reason.tsx
  src/pages/partners/affiliate-ib/_partner-card.tsx
  src/pages/partners/affiliate-ib/_partner-cta.tsx
  src/pages/partners/affiliate-ib/_style.tsx
  src/pages/partners/affiliate-ib/_table.tsx
  src/pages/partners/affiliate-ib/_who-can-apply.tsx
  src/pages/partners/affiliate-ib/_why-us.tsx
  src/pages/partners/affiliate-ib/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: replace partytown scripts with latest version
  package-lock.json
  package.json
  src/html.js
  static/~partytown/debug/partytown-atomics.js
  static/~partytown/debug/partytown-media.js
  static/~partytown/debug/partytown-sandbox-sw.js
  static/~partytown/debug/partytown-sw.js
  static/~partytown/debug/partytown-ww-atomics.js
  static/~partytown/debug/partytown-ww-sw.js
  static/~partytown/debug/partytown.js
  static/~partytown/partytown-atomics.js
  static/~partytown/partytown-media.js
  static/~partytown/partytown-sw.js
  static/~partytown/partytown.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

removing academy_logo referances from related files, since it is not using anymore
  src/components/layout/academy/nav-academy.tsx
  src/components/layout/layout.js
  src/components/layout/nav.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix qa issues
  src/pages/bug-bounty/_about-deriv.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

updated translations (complete)
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

nikolai.berestevich/refactor/js to ts
  src/custom.d.ts
  src/pages/landing/forex-trading/components/_table-btn.tsx
  src/pages/landing/trade-forex/components/_table-btn.tsx
  src/pages/markets/components/helper/_available-options copy.js
  src/pages/markets/components/markets/_basket-indices.tsx
  src/pages/markets/components/markets/_commodities.tsx
  src/pages/markets/components/markets/_cryptocurrencies copy.js
  src/pages/markets/components/markets/_cryptocurrencies.tsx
  src/pages/markets/components/markets/_forex.tsx
  src/pages/markets/components/markets/_stock-indices.tsx
  src/pages/markets/components/sections/_hero.tsx
  src/pages/markets/components/sections/_market_instruments.tsx
  src/pages/markets/components/sub-markets/_cfds.tsx
  src/pages/markets/components/sub-markets/_digital-options.tsx
  src/pages/markets/forex/index.js
  src/pages/markets/forex/index.tsx
  src/pages/markets/static/content/_cfds.tsx
  src/pages/markets/static/content/_details.tsx
  src/pages/markets/static/content/_digital-options.tsx
  src/pages/markets/static/content/_forex.tsx
  src/pages/markets/static/content/_stock.tsx
  src/pages/markets/static/content/_synthetic.tsx
  src/pages/markets/stock/index.js
  src/pages/markets/stock/index.tsx
  src/pages/markets/synthetic/index.js
  src/pages/markets/synthetic/index.tsx
  src/pages/trade-types/multiplier/_cfds.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix dropdown button for iOS
  src/pages/academy/blog/posts/_style.js
  src/pages/academy/components/_social-sharing.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove unused code
  gatsby-config.js
Due: none

script: revert build script
  package.json
Due: none

Solution to fix warning
  src/pages/help-centre/account.tsx
  src/pages/help-centre/dbot.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

handle staging redirect
  src/common/utility.js
  src/components/layout/layout.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

volume and forex fix
  src/pages/partners/affiliate-ib/_deriv-ib-programme.js
  src/pages/partners/affiliate-ib/_minimum-volume.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: update assets description
  src/pages/markets/static/content/_details.js
  src/pages/trade-types/multiplier/_synthetic-indices.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: incorrect asset added to Options synthetic indices.
  src/pages/markets/instruments/_market-symbols.js
  src/pages/markets/static/content/_details.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: duplicate instruments on row forex page
  src/components/containers/index.js
  src/components/containers/visibility.tsx
  src/pages/markets/components/markets/_forex.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: empty energy list in comodities
  src/pages/markets/instruments/_energy.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: add 300 ticks to crash boom row description
  src/pages/markets/static/content/_details.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Remove unused variables
  src/pages/help-centre/deposits-and-withdrawals.tsx
  src/pages/help-centre/deriv-p2p.tsx
  src/pages/help-centre/deriv-x.tsx
  src/pages/help-centre/dmt5.tsx
  src/pages/help-centre/dtrader.tsx
  src/pages/help-centre/security.tsx
  src/pages/help-centre/trading.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix untranslated strings
  src/pages/home/_what-our-clients-say.tsx
  src/pages/home/platform-carousel/_utils.tsx
  src/pages/who-we-are/_DerivNumbers.tsx
  src/pages/who-we-are/_MakeTrading.tsx
  src/pages/who-we-are/_data.ts
  src/pages/who-we-are/_data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

added new prop for layout component to detect no scroll top
  src/components/layout/layout.js
  src/pages/academy/blog/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

removed scroll to top for now
  src/components/layout/layout.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
