Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

added breakline for currencies without using localization comp
  src/pages/payment-methods/_expanded-list.js
  src/pages/payment-methods/_mobile-expanded-list.js
  src/pages/payment-methods/_payment-data.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

remove margin left for learn more button
  src/pages/payment-methods/_expanded-list.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

reposition learn more button in desktop size
  src/pages/payment-methods/_expanded-list.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

test rebuilding production via webhook
  .github/workflows/production.yml
Due: none

applied seo recommendations
  src/pages/p2p/components/_dp2p.js
  src/pages/p2p/components/_hero.js
  src/pages/p2p/components/_numbers.js
  src/pages/p2p/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

updated alt tags
  src/pages/p2p/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

change image path for pdf and chevron icon
  src/pages/payment-methods/_mobile-expanded-list.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: add trailing slash to blog pages
  gatsby-node.js
Due: none

feat: add trailing slash to redirect links
  src/pages/academy/_recent-featured-posts.js
  src/pages/academy/blog/_article-card.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

added og_title and og_description for article page (#2221)
  src/templates/article.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

yashim/fix: security coverage issue (#2214)
  src/common/utility.js
  src/components/elements/dropdown.js
  src/pages/trader-tools/common/_utility.js
  src/pages/trader-tools/margin-calculator/_margin-calculator.js
  src/pages/trader-tools/pip-calculator/_pip-calculator.js
  src/pages/trader-tools/pnl-for-margin/_pnl-for-margin.js
  src/pages/trader-tools/pnl-for-multipliers/_pnl-for-multipliers.js
  src/pages/trader-tools/swap-calculator/_swap-calculator.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

merge master (#2109)
  src/components/graphql/fragments.js
  src/pages/home/_hero.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: add cache version as secrets
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

Add cache version to secrets (#2223)
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

feat: add cache version to restore keys
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

feat: add cache version to restore keys (#2224)
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

new methods added
  scripts/data/payment-methods.csv
  src/images/svg/payment-methods/index.js
  src/images/svg/payment-methods/payment-1foryou.svg
  src/images/svg/payment-methods/payment-astropay.svg
  src/images/svg/payment-methods/payment-beyonic.svg
  src/images/svg/payment-methods/payment-payretailers.svg
  src/images/svg/payment-methods/payment-walaopay.svg
  src/pages/payment-methods/payment_methods.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

external_link prop added (#2184)
  src/pages/help-centre/account.js
  src/pages/help-centre/deposits-and-withdrawals.js
  src/pages/help-centre/dmt5.js
  src/pages/help-centre/trading.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Add trailing slash to blog pages (#2222)
  gatsby-node.js
  src/pages/academy/_recent-featured-posts.js
  src/pages/academy/blog/_article-card.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Al-amin/Fixed/Career Landing Page Alignment issue (#2211)
  src/pages/careers/_dept-layout-components/_open-positions.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update academy OG tags (#2219)
  src/pages/academy/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: change numbers to strings
  src/pages/academy/components/_banner.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: query image quality config (#2220)
  src/pages/academy/components/_banner.js
  src/templates/article.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update typescript version
  package-lock.json
  package.json
Due: none

Typescript (#2133)
  .eslintrc
  .github/workflows/lint.yml
  .lintstagedrc
  gatsby-config.js
  package-lock.json
  package.json
  src/components/elements/index.ts
  src/components/elements/query-image.js
  src/components/elements/query-image.tsx
  src/pages/home/_trade-the-way-you-like.tsx
  tsconfig.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: package lock
  package-lock.json
Due: none

chore: fixup package.json
  package.json
Due: none

updated Key Information Documents
  static/regulatory/kid/kid_deriv_commodities.pdf
  static/regulatory/kid/kid_deriv_crypto.pdf
  static/regulatory/kid/kid_deriv_forex.pdf
  static/regulatory/kid/kid_deriv_multipliers_cryptocurrencies.pdf
Due: none

fix: truncated tables for mobile devices
  src/pages/academy/blog/posts/_style.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

change scroll to auto
  src/pages/academy/blog/posts/_style.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

updated Key Information Documents (#2225)
  static/regulatory/kid/kid_deriv_commodities.pdf
  static/regulatory/kid/kid_deriv_crypto.pdf
  static/regulatory/kid/kid_deriv_forex.pdf
  static/regulatory/kid/kid_deriv_multipliers_cryptocurrencies.pdf
Due: none

suthesh/enable-derivx-real (#2210)
  src/pages/derivx/_start-derivx.js
  src/pages/help-centre/_help-articles.js
  src/pages/help-centre/deriv-x.js
  src/pages/trade-types/cfds/_start-trading.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

oneforyou logo update
  src/images/svg/payment-methods/index.js
  src/images/svg/payment-methods/payment-oneforyou.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

debug
  src/pages/payment-methods/_payment-data.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

debug
  scripts/data/payment-methods.csv
Due: none

suthesh/p2p-seo (#2125)
  src/pages/p2p/components/_dp2p.js
  src/pages/p2p/components/_hero.js
  src/pages/p2p/components/_numbers.js
  src/pages/p2p/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

updated strings in crowdin platform + ach
  crowdin/messages.json
  src/translations/ach.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.js
  stylelint --formatter verbose: any of: src/**/*.js
  prettier --write: any of: src/**/*.{js,jsx,json,md}
