Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

fix: text changes
  crowdin/messages.json
  src/components/elements/market-tab/_utils.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fixed spacing issue on very small screen
  src/components/custom/carousel/_platforms-carousel.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: mobile carousel
  src/components/custom/carousel/_markets-carousel.tsx
  src/components/custom/carousel/_platforms-carousel.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: applying designer requests
  gatsby-browser.js
  src/features/components/molecules/language-switcher/index.tsx
  src/features/components/molecules/layout-overlay/layout-overlay.module.scss
  src/features/components/templates/footer/index.tsx
  src/features/components/templates/navigation/template/desktop-menu/desktop.items.tsx
  src/features/pages/home/hero/index.tsx
  src/features/pages/home/hero/slider/index.tsx
  src/images/common/home/eu_hero_person_5.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: steps images and image condition
  src/images/common/dtrader/step_image_1.png
  src/images/common/dtrader/step_image_1_eu.png
  src/images/common/dtrader/step_image_2.png
  src/images/common/dtrader/step_image_2_eu.png
  src/images/common/dtrader/step_image_3.png
  src/images/common/dtrader/step_image_3_eu.png
  src/pages/dtrader/_steps_section.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: fix subtasks for homepage
  crowdin/messages.json
  src/features/components/templates/footer/data.ts
  src/features/components/templates/navigation/bug-bounty-nav/bug-bounty-nav.module.scss
  src/features/components/templates/navigation/bug-bounty-nav/index.tsx
  src/features/components/templates/navigation/career-nav/career-nav.module.scss
  src/features/components/templates/navigation/career-nav/index.tsx
  src/features/components/templates/navigation/main-nav/content/platform/index.ts
  src/features/components/templates/navigation/main-nav/content/resources/data.ts
  src/features/pages/home/our-platforms/index.tsx
  src/features/pages/home/p2p-banner/p2p-description/text-box.tsx
  src/features/pages/home/trade-types/index.tsx
  src/images/svg/custom/rebranding/deriv-bot-icon.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: fix text issue
  crowdin/messages.json
  src/features/components/templates/navigation/main-nav/content/partner/index.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: add trader tools
  crowdin/messages.json
  src/features/components/templates/navigation/main-nav/content/resources/data.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fix footer terms and conditions link
  src/features/components/templates/signup/with-banner/form/index.tsx
  src/pages/deriv-go/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update static image placeholder
  src/features/pages/home/hero/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update static image placeholder delay
  src/features/pages/home/hero/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added pwa feature
  gatsby-config.js
  package-lock.json
  package.json
Due: none

chore: update static image placeholder quality
  src/features/pages/home/hero/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: udpated colors
  src/features/components/molecules/nav-card/nav-card.module.scss
Due: none

Pr 86506 dtrader subtasks (#4602)
  src/images/common/dtrader/step_image_1.png
  src/images/common/dtrader/step_image_1_eu.png
  src/images/common/dtrader/step_image_2.png
  src/images/common/dtrader/step_image_2_eu.png
  src/images/common/dtrader/step_image_3.png
  src/images/common/dtrader/step_image_3_eu.png
  src/pages/dtrader/_steps_section.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: latam and africa heros
  crowdin/messages.json
  src/components/elements/background-image-wrapper.tsx
  src/pages/why-choose-us/_africa-forex-award.tsx
  src/pages/why-choose-us/_latam-forex-award.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update session replay
  gatsby-browser.js
Due: none

chore: update session replay (#4604)
  gatsby-browser.js
Due: none

chore: updated language switcher
  src/features/components/molecules/language-switcher/index.tsx
  src/features/components/molecules/language-switcher/language-switcher.module.scss
  src/features/components/templates/navigation/main-nav/content/legal/index.ts
  src/features/components/templates/navigation/main-nav/content/partner/index.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: fix subtasks for homepage (#4603)
  crowdin/messages.json
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  src/features/components/molecules/language-switcher/index.tsx
  src/features/components/molecules/language-switcher/language-switcher.module.scss
  src/features/components/molecules/layout-overlay/layout-overlay.module.scss
  src/features/components/molecules/nav-card/nav-card.module.scss
  src/features/components/templates/footer/data.ts
  src/features/components/templates/footer/index.tsx
  src/features/components/templates/navigation/bug-bounty-nav/bug-bounty-nav.module.scss
  src/features/components/templates/navigation/bug-bounty-nav/index.tsx
  src/features/components/templates/navigation/career-nav/career-nav.module.scss
  src/features/components/templates/navigation/career-nav/index.tsx
  src/features/components/templates/navigation/main-nav/content/legal/index.ts
  src/features/components/templates/navigation/main-nav/content/partner/index.ts
  src/features/components/templates/navigation/main-nav/content/platform/index.ts
  src/features/components/templates/navigation/main-nav/content/resources/data.ts
  src/features/components/templates/navigation/template/desktop-menu/desktop.items.tsx
  src/features/components/templates/signup/with-banner/form/index.tsx
  src/features/pages/home/hero/index.tsx
  src/features/pages/home/hero/slider/index.tsx
  src/features/pages/home/our-platforms/index.tsx
  src/features/pages/home/p2p-banner/p2p-description/text-box.tsx
  src/features/pages/home/trade-types/index.tsx
  src/images/common/home/eu_hero_person_5.png
  src/images/svg/custom/rebranding/deriv-bot-icon.svg
  src/pages/deriv-go/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: replace logo
  favicons/favicon-512x512.png
Due: none

chore: applied designer changes
  favicons/favicon-512x512.png
  src/components/hooks/use-visible-content.tsx
  src/features/components/molecules/language-switcher/language-switcher.module.scss
  src/features/components/molecules/layout-overlay/floating-button/floating-button.scss
  src/features/components/molecules/layout-overlay/live-chat-button/index.tsx
  src/features/components/molecules/layout-overlay/whats-app-button/index.tsx
  src/features/components/molecules/nav-card/nav-card.module.scss
  src/features/components/organisms/navigation/nav-sections-container/section-column.tsx
  src/features/components/templates/navigation/main-nav/content/about/index.ts
  src/features/components/templates/navigation/main-nav/content/index.ts
  src/features/components/templates/navigation/main-nav/content/market/index.ts
  src/features/components/templates/navigation/payment-agent-nav/index.tsx
  src/features/components/templates/navigation/template/desktop-menu/styles.scss
  src/features/pages/home/client-testimonial/trustpiolot-container/index.tsx
  src/features/pages/home/hero/slider/index.tsx
  src/features/pages/home/our-platforms/sliders/platform-images/index.tsx
  src/features/pages/home/trade-types/index.tsx
  src/features/pages/home/trade-types/trade-type.item.tsx
  src/images/svg/layout/chat-hover.svg
  src/images/svg/layout/chat-normal.svg
  src/images/svg/layout/hover.svg
  src/images/svg/layout/normal.svg
  src/images/svg/layout/rebrand-whatsapp-hover.svg
  src/images/svg/layout/rebrand-whatsapp-normal.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: applied designer changes (#4606)
  favicons/favicon-512x512.png
  src/components/hooks/use-visible-content.tsx
  src/features/components/molecules/language-switcher/language-switcher.module.scss
  src/features/components/molecules/layout-overlay/floating-button/floating-button.scss
  src/features/components/molecules/layout-overlay/live-chat-button/index.tsx
  src/features/components/molecules/layout-overlay/whats-app-button/index.tsx
  src/features/components/molecules/nav-card/nav-card.module.scss
  src/features/components/organisms/navigation/nav-sections-container/section-column.tsx
  src/features/components/templates/navigation/main-nav/content/about/index.ts
  src/features/components/templates/navigation/main-nav/content/index.ts
  src/features/components/templates/navigation/main-nav/content/market/index.ts
  src/features/components/templates/navigation/payment-agent-nav/index.tsx
  src/features/components/templates/navigation/template/desktop-menu/styles.scss
  src/features/pages/home/client-testimonial/trustpiolot-container/index.tsx
  src/features/pages/home/hero/slider/index.tsx
  src/features/pages/home/our-platforms/sliders/platform-images/index.tsx
  src/features/pages/home/trade-types/index.tsx
  src/features/pages/home/trade-types/trade-type.item.tsx
  src/images/svg/layout/chat-hover.svg
  src/images/svg/layout/chat-normal.svg
  src/images/svg/layout/hover.svg
  src/images/svg/layout/normal.svg
  src/images/svg/layout/rebrand-whatsapp-hover.svg
  src/images/svg/layout/rebrand-whatsapp-normal.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "chore: update session replay (#4604)"
  gatsby-browser.js
Due: none

Revert "chore: update session replay (#4604)" (#4607)
  gatsby-browser.js
Due: none

chore: update data
  gatsby-browser.js
Due: none

Habib/enable session replay (#4608)
  gatsby-browser.js
Due: none

fix: pdf changed in compliance review
  static/regulatory/RTS28-2022.pdf
Due: none

fix: qa raised issues
  crowdin/messages.json
  src/pages/bug-bounty/rewards.tsx
  src/pages/bug-bounty/static/_vulnerabilities-types-content.tsx
  src/pages/contact_us/_affiliates.tsx
  src/pages/partners/affiliate-ib/_dmt5-cards.tsx
  src/pages/payment-methods/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: hero images widths
  src/pages/careers/_model/_locations/_locations.tsx
  src/pages/p2p/components/_hero.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: console errors
  src/pages/home/_markets_fold.tsx
  src/pages/home/platform-carousel/_details.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: meta description update
  crowdin/messages.json
  src/pages/our-principles/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: update RTS files (#4591)
  crowdin/messages.json
  src/pages/regulatory/_document_accordion.tsx
  static/regulatory/RTS28-2020.pdf
  static/regulatory/RTS28-2022.pdf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
