Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

chore: home v2 hero
  src/features/pages/home/hero/index.tsx
  src/features/pages/home/hero/styles.module.scss
  src/images/migration/home/award-1.png
  src/images/migration/home/award-2.png
  src/images/migration/home/award-3.png
  src/images/migration/home/home_hero_bg.png
  src/images/migration/home/home_hero_new.png
  static/~partytown/debug/partytown-atomics.js
  static/~partytown/debug/partytown-media.js
  static/~partytown/debug/partytown-sandbox-sw.js
  static/~partytown/debug/partytown-sw.js
  static/~partytown/debug/partytown-ww-atomics.js
  static/~partytown/debug/partytown-ww-sw.js
  static/~partytown/debug/partytown.js
  static/~partytown/partytown-atomics.js
  static/~partytown/partytown-media.js
  static/~partytown/partytown-sw.js
  static/~partytown/partytown.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: home v2 hero cleanup
  static/~partytown/debug/partytown-atomics.js
  static/~partytown/debug/partytown-media.js
  static/~partytown/debug/partytown-sandbox-sw.js
  static/~partytown/debug/partytown-sw.js
  static/~partytown/debug/partytown-ww-atomics.js
  static/~partytown/debug/partytown-ww-sw.js
  static/~partytown/debug/partytown.js
  static/~partytown/partytown-atomics.js
  static/~partytown/partytown-media.js
  static/~partytown/partytown-sw.js
  static/~partytown/partytown.js
Due: none

Revert "Fix gtm partytown integration (#6038)"
  gatsby-config.js
  gatsby-ssr.js
Due: none

Revert "Fix gtm partytown integration (#6038)" (#6049)
  gatsby-config.js
  gatsby-ssr.js
Due: none

Revert "Konstantinos/DERC-2019/Performance,accessibility score improvement (#6028)"
  gatsby-config.js
  gatsby-node.js
  gatsby-ssr.js
  package-lock.json
  package.json
  src/components/hooks/use-livechat.tsx
  src/features/components/molecules/language-switcher/index.tsx
  src/images/common/awards/best-forex-spreads.png
  src/images/common/awards/broker-of-the-year.png
  src/images/common/awards/gptw.png
  src/images/common/awards/investors.png
  src/images/common/awards/most-trusted.png
  src/images/common/home/eu_hero_person_5.png
  src/images/common/home/hero_1.png
  src/images/common/home/hero_2.png
  src/images/common/home/hero_3.png
  src/images/common/home/hero_4.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "Konstantinos/DERC-2019/Performance,accessibility score improvement (#6028)" (#6051)
  gatsby-config.js
  gatsby-node.js
  gatsby-ssr.js
  package-lock.json
  package.json
  src/components/hooks/use-livechat.tsx
  src/features/components/molecules/language-switcher/index.tsx
  src/images/common/awards/best-forex-spreads.png
  src/images/common/awards/broker-of-the-year.png
  src/images/common/awards/gptw.png
  src/images/common/awards/investors.png
  src/images/common/awards/most-trusted.png
  src/images/common/home/eu_hero_person_5.png
  src/images/common/home/hero_1.png
  src/images/common/home/hero_2.png
  src/images/common/home/hero_3.png
  src/images/common/home/hero_4.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: home v2 hero image layout fix
  crowdin/messages.json
  src/features/pages/home/hero/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: home v2 hero image
  crowdin/messages.json
  src/features/pages/home/hero/index.tsx
  src/features/pages/home/hero/styles.module.scss
  src/images/migration/home/award-1.png
  src/images/migration/home/award-2.png
  src/images/migration/home/award-3.png
  src/images/migration/home/home_hero_bg.png
  src/images/migration/home/home_hero_new.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translations: 📚 sync translations with crowdin
  src/translations/sw.json
Due: prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: overflow hidden
  src/features/pages/home/hero/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix
  gatsby-config.js
  src/features/components/molecules/language-switcher/index.tsx
  src/features/pages/posts/single-blog/index.tsx
  src/images/svg/blog/calendar.svg
  src/images/svg/blog/tag.svg
  src/pages/blog/single-blog/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Prince/update homepage theme (#6058)
  src/features/pages/home/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added @parcel/watcher
  package-lock.json
  package.json
Due: none

fix
  src/features/pages/posts/single-blog/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
Due: prettier --write

chore: updated stats component
  package-lock.json
  package.json
  src/features/pages/home/index.tsx
  src/features/pages/home/stats/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: home v2 hero (#6059)
  crowdin/messages.json
  package-lock.json
  package.json
  src/features/pages/home/hero/index.tsx
  src/features/pages/home/hero/styles.module.scss
  src/images/migration/home/award-1.png
  src/images/migration/home/award-2.png
  src/images/migration/home/award-3.png
  src/images/migration/home/home_hero_bg.png
  src/images/migration/home/home_hero_new.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added chore value
  src/features/pages/home/stats/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Fasih: updated stats component (#6060)
  package-lock.json
  package.json
  src/features/pages/home/index.tsx
  src/features/pages/home/stats/index.tsx
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: removed tailwind merge package
  package-lock.json
  package.json
Due: none

chore: removed tailwind merge package (#6062)
  package-lock.json
  package.json
Due: none

chore: update footer cta
  src/features/pages/home/footer-cta/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update latest
  package-lock.json
  package.json
Due: none

chore: update footer cta
  src/features/pages/home/footer-cta/index.tsx
  src/images/migration/home/mobile_cta_bg.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: footer cta
  src/features/pages/home/footer-cta/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
