Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

fix: multi tab name for synt
  src/pages/markets/static/content/_multipliers.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: footer basket for eu &cfds&multipl
  src/components/layout/footer/main-links.js
  src/pages/markets/components/markets/_forex.tsx
  src/pages/markets/components/sub-markets/_cfds.tsx
  src/pages/markets/static/content/_cfds.tsx
  src/pages/markets/static/content/_multipliers.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: disable inputs while residence list is loading
  src/components/custom/_signup-affiliate-details.js
  src/components/elements/dropdown-search.js
  src/components/elements/dropdown.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fix qa raised issues
  src/components/custom/other-platforms.js
  src/components/layout/footer/main-links.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove external
  src/components/custom/other-platforms.js
  src/components/elements/off-canvas-menu.js
  src/components/layout/footer/main-links.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

perf: lazy load update
  src/pages/home/_lazy-load.tsx
  src/pages/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: themes folder to ts
  src/themes/function.ts
  src/themes/global-style.ts
  src/themes/media.ts
  src/themes/reset.ts
  src/themes/variables.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: add external
  src/components/custom/other-platforms.js
  src/components/elements/off-canvas-menu.js
  src/components/layout/footer/main-links.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

style: fix styles which looks badly in zoom 75%
  src/pages/partners/payment-agent/_p2p_banner.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: pushwoosh-service-worker.js to ts
  static/pushwoosh-service-worker.ts
Due: none

feat: filter out restricted categories from category dropdown based on geolocation
  src/pages/academy/components/_search-banner.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove popup
  src/components/custom/other-platforms.js
  src/components/elements/off-canvas-menu.js
  src/components/layout/footer/main-links.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: stories folder to ts
  src/components/stories/button.stories.tsx
  src/components/stories/typography.stories.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove useEffect to call useWebsiteStatusApi inside if condition
  src/components/layout/layout.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: shift yeye icon to the right
  src/components/custom/_signup-affiliate-details.js
  src/components/form/input.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: prevent calling websocket more than once
  src/components/layout/layout.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

revert: restore prince code to have correct redirect behavior
  src/components/layout/layout.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: lpn to pln in minor pairs
  src/pages/markets/instruments/_market-symbols.tsx
  src/pages/markets/static/content/_market-symbols.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: replace I to i in bskt indc
  src/pages/markets/components/sections/_nav-tab.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: unify restriction with original object
  src/pages/academy/common/_constants.ts
  src/pages/academy/components/_search-banner.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove traslations file
  .github/workflows/translation.yml
Due: none

Suthesh/translation-workflow (#2557)
  .github/workflows/translation.yml
Due: none

fix translation workflow
  .github/workflows/translation.yml
Due: none

improvise translation workflow
  .github/workflows/translation.yml
Due: none

Kevin/crowdin help centre fix (#2712)
  src/pages/help-centre/_help-articles.tsx
  src/pages/help-centre/account.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update Translations 📚 - translation_V20220307_0 (#2727)
  crowdin/messages.json
  src/translations/ach.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

Update Translations 📚 - translation_V20220310_0 (#2742)
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

nikolai.berestevich/fix/corousel
  src/pages/markets/components/sections/_other-markets.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

nikolai.berestevich/fix/add basket
  src/components/custom/other-platforms.js
  src/components/elements/off-canvas-menu.js
  src/components/layout/footer/main-links.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

nikolai/refactor:styles plus Text to Header replace
  src/pages/markets/components/sub-markets/_digital-options.tsx
  src/pages/markets/static/style/_markets-style.tsx
  types/graphql.types.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

nikolai.beretevich/fix:basket indices order
  src/pages/markets/static/content/_details.tsx
  src/pages/markets/static/content/_market-symbols.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

nikolai.beretevich/fix:deriv x description
  src/components/custom/other-platforms.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write
