Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

chore: declare new type with Pick from main
  src/pages/deriv-go/components/_tabs.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: naming convention and add array
  src/components/hooks/use-platform-query-param.tsx
  src/components/layout/layout.js
  src/pages/help-centre/_article.tsx
  src/pages/help-centre/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: add missing array
  src/components/hooks/use-platform-query-param.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fix blurry thumbnail
  src/images/common/careers/thumbnail_berlin.jpg
  src/images/common/careers/thumbnail_berlin.png
  src/pages/careers/locations/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update src/pages/careers/locations/berlin/index.tsx
  src/pages/careers/locations/berlin/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: change title
  src/pages/careers/locations/berlin/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: convert partners page to ts
  crowdin/messages.json
  src/pages/partners/_about-deriv.tsx
  src/pages/partners/_deriv-numbers.tsx
  src/pages/partners/_hero.tsx
  src/pages/partners/_partnership-opportunities.tsx
  src/pages/partners/_why-choose-us.tsx
  src/pages/partners/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: change quality of pictures
  src/images/common/careers/minsk.png
  src/images/common/careers/thumbnail_minsk.png
Due: none

style: new dtrader page for eu
  crowdin/messages.json
  src/components/custom/_dbanner.js
  src/components/custom/_dhero.js
  src/components/custom/_dtrading.js
  src/images/common/dtrader/dtrader-banner_EU.png
  src/images/common/dtrader/dtrader_trade_eu.png
  src/images/common/dtrader/dtrader_trade_mobile_eu.png
  src/images/common/dtrader/trade-what-you-want_EU.png
  src/pages/dtrader/_dtrader-tabs.tsx
  src/pages/dtrader/index.tsx
  static/Dtrader_GIF_EU.mp4
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: discrepancy fix in p2p page
  crowdin/messages.json
  src/pages/p2p/components/_availability.tsx
  src/pages/p2p/components/_dp2p.tsx
  src/pages/p2p/components/_exchange-steps.tsx
  src/pages/p2p/components/_hero.tsx
  src/pages/p2p/components/_p2pbanner.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: reduced cognitive complexity and convert hook to ts
  src/components/hooks/use-lazy-video.js
  src/components/hooks/use-lazy-video.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: new workflow
  .github/workflows/translation-pull.yml
Due: none

fix: responsive issue resolved
  src/pages/who-we-are/components/_hero.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update worklow
  .github/workflows/translation-push.yml
  commitlint.config.js
Due: none

chore: update worklow
  .github/workflows/translation-push.yml
Due: none

Iman / test configurations added (#2926)
  .eslintrc
  __mocks__/file-mock.js
  __mocks__/gatsby.js
  jest-preprocess.js
  jest.config.js
  loadershim.js
  package-lock.json
  package.json
  setupTests.js
  src/components/elements/carousel/carousel-style.js
  src/components/elements/dropdown.js
  src/components/elements/side-tab.js
  src/components/elements/typography.js
  src/components/localization/language-dropdown.js
  src/pages/academy/components/video-banner/carousel/_carousel-style.js
  src/pages/signup/__tests__/index.spec.js
  svgTransform.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Prince/ POC Translation pull (#3391)
  .github/workflows/translation-push.yml
  commitlint.config.js
Due: none

fix: text align fix
  src/pages/partners/affiliate-ib/_more-reason.tsx
  src/pages/partners/affiliate-ib/_who-can-apply.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: test translation workflow
  crowdin/messages.json
  package-lock.json
  package.json
  src/components/custom/_non-eu-redirect-popup.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update translation-push.yml
  .github/workflows/translation-push.yml
Due: none

Update translation-push.yml (#3393)
  .github/workflows/translation-push.yml
Due: none

Update translation-push.yml (#3394)
  .github/workflows/translation-push.yml
Due: none

Update translation-push.yml (#3395)
  .github/workflows/translation-push.yml
Due: none

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: fix bugs
  src/images/common/maps/map-france.png
  src/images/common/maps/map-guernsey.png
  src/pages/contact_us/_offices.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: update strings
  src/translations/ach.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

Mitra/fix: update cyberjaya office address (#3359)
  src/images/common/careers/cyberjaya.jpg
  src/images/common/careers/cyberjaya.png
  src/images/common/careers/cyberjaya_grid_2.png
  src/images/common/careers/cyberjaya_grid_4.png
  src/images/common/careers/living_in_cyberjaya.png
  src/images/common/careers/thumbnail_cyberjaya.png
  src/images/common/maps/map-cyberjaya.png
  src/pages/careers/_model/_locations/_contact-details.ts
  src/pages/careers/_model/_locations/_locations.ts
  src/pages/careers/locations/cyberjaya/index.tsx
  src/pages/contact_us/_offices.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: update font size (#3370)
  src/pages/dmt5/_download-app.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

style: remove separator (#3337)
  src/pages/p2p/components/_availability.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Mitra/feat: add vanuatu office (#3345)
  crowdin/messages.json
  src/images/common/careers/living_in_vanuatu.png
  src/images/common/careers/thumbnail_vanuatu.png
  src/images/common/careers/vanuatu.png
  src/images/common/careers/vanuatu_grid_3.png
  src/images/svg/careers/flag_vanuatu.svg
  src/pages/careers/_model/_locations/_locations.ts
  src/pages/careers/locations/_location-layout-new-offices.tsx
  src/pages/careers/locations/index.tsx
  src/pages/careers/locations/vanuatu/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: change video (#3375)
  src/pages/p2p/components/_dp2p.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Meenu/fix: updated faq section in payment agent page (#3298)
  crowdin/messages.json
  src/pages/partners/payment-agent/_faq-data.tsx
  src/pages/partners/payment-agent/_faq-schema.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Konstantinos / [FE Deriv.com squad] [EU] Remove DBVI and DFX Additional Terms from Terms and conditions page (#3316)
  src/pages/terms-and-conditions/_clients-grid.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write
