Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

updated general terms eu&row (#5970)
  static/tnc/eu/general-terms.pdf
  static/tnc/general-terms.pdf
Due: none

translations: 📚 sync translations with crowdin
  src/translations/ru.json
  src/translations/sw.json
Due: prettier --write

ci: convert inline env to env param
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

fix: remove mail from url (#5947)
  src/features/hooks/use-signup-form/index.tsx
  src/pages/signup-success/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Hasan/fix: productboard iframe firefox issue (#5959)
  src/features/components/organisms/roadmap/styles.module.scss
Due: none

Ako/ pass secrets to env (#5981)
  .github/workflows/production.yml
  .github/workflows/staging.yml
  src/translations/ar.json
  src/translations/bn.json
  src/translations/es.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

translations: 📚 sync translations with crowdin
  src/translations/ar.json
  src/translations/bn.json
  src/translations/es.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

updated ib coms rates (#5842)
  crowdin/messages.json
  src/images/common/affiliate-and-ib/dx_dex_indices.png
  src/pages/partners/affiliate-ib/_deriv-ib-programme.tsx
  src/pages/partners/affiliate-ib/_dmt5-cards.tsx
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

refactor: file names and implement some minor fixes
  src/pages/signup-affiliates/components/account-address.tsx
  src/pages/signup-affiliates/components/account-details.tsx
  src/pages/signup-affiliates/components/account-plan.tsx
  src/pages/signup-affiliates/components/account-terms.tsx
  src/pages/signup-affiliates/components/account-type.tsx
  src/pages/signup-affiliates/components/signup-form.tsx
  src/pages/signup-affiliates/components/signup-status.tsx
  src/pages/signup-affiliates/components/wizard-component/index.tsx
  src/pages/signup-affiliates/components/wizard-component/wizard-footer.tsx
  src/pages/signup-affiliates/components/wizard.tsx
  src/pages/signup-affiliates/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: check partytown + gtag
  gatsby-config.js
  gatsby-ssr.js
  src/features/pages/home/client-testimonial/trustpiolot-container/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: modal view
  src/pages/signup-affiliates/components/wizard-component/index.tsx
  src/pages/signup-affiliates/components/wizard-component/wizard-footer.tsx
  src/pages/signup-affiliates/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

ci: use ref_name instead of tag_name
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

fix: console errors
  gatsby-config.js
  gatsby-ssr.js
Due: none

chore: resolve deployment issue
  documents/file-structures.md
  src/pages/signup-affiliates/components/wizard.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

ci: use ref_name instead of tag_name (#5991)
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: remove debug
  gatsby-ssr.js
Due: none

fix: header footer and url change
  package.json
  src/features/pages/posts/all-posts/index.tsx
  src/features/pages/posts/index.tsx
  src/pages/blog/single-blog/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

ci: add the missed env variable
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

fix: revert package json
  package.json
Due: none

ci: add the missed env variable (#5996)
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

Mayuran/changes footer header (#5997)
  src/features/pages/posts/all-posts/index.tsx
  src/features/pages/posts/index.tsx
  src/pages/blog/single-blog/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: align issues
  src/features/pages/posts/all-posts/index.tsx
  src/features/pages/posts/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: align issues (#6001)
  src/features/pages/posts/all-posts/index.tsx
  src/features/pages/posts/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Konstantinos / Performance / Accessibility issues found in Lighthouse to be fixed (#5990)
  gatsby-ssr.js
  src/features/pages/home/client-testimonial/trustpiolot-container/index.tsx
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

ci: add missing env variable
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

ci: rename the secret name
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

Ako/ add missing env variable (#6002)
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

fix: deployment issue
  crowdin/messages.json
  src/pages/signup-affiliates/components/_account-address.tsx
  src/pages/signup-affiliates/components/_account-details.tsx
  src/pages/signup-affiliates/components/_account-plan.tsx
  src/pages/signup-affiliates/components/_account-terms.tsx
  src/pages/signup-affiliates/components/_account-type.tsx
  src/pages/signup-affiliates/components/_signup-form.tsx
  src/pages/signup-affiliates/components/_signup-status.tsx
  src/pages/signup-affiliates/components/_wizard.tsx
  src/pages/signup-affiliates/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: add partytownProxiedURLs
  gatsby-config.js
Due: none

ci: use SHA on staging workflow
  .github/workflows/staging.yml
Due: none

updated revenue shares disclaimer
  src/pages/partners/affiliate-ib/revenue-share/_default-card.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write
