Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: removed log
  src/pages/trading-specification/_use-trading-spec-columns.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: reusable blade shape banner template
  crowdin/messages.json
  src/features/components/templates/banners/blade-shape-banner/blade-shape-banner.module.scss
  src/features/components/templates/banners/blade-shape-banner/index.tsx
  src/features/components/templates/banners/blade-shape-banner/types.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Increase core for staging build (#4827)
  .github/workflows/staging.yml
Due: none

Revert "Increase core for staging build (#4827)"
  .github/workflows/staging.yml
Due: none

Revert "Increase core for staging build (#4827)" (#4829)
  .github/workflows/staging.yml
Due: none

chore: increase core for staging build
  .github/workflows/staging.yml
Due: none

chore: increase core for staging build (#4830)
  .github/workflows/staging.yml
Due: none

fix: remove extra space
  src/pages/deriv-go/_banner.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Meenu/Translation 507 meenu trading spec header change (#4820)
  crowdin/messages.json
  src/pages/trading-specification/_use-trading-spec-columns.tsx
  src/pages/trading-specification/data/_forex_specification.ts
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: make UI more preferable for users
  src/features/pages/acuity/acuity-widgets/acuity-widgets.module.scss
  src/features/pages/acuity/acuity-widgets/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

build: add codecov in github action
  .github/workflows/codecov.yml
Due: none

removed the comments
  crowdin/messages.json
  src/pages/markets/exchange-traded-funds/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

build: change node version in workflow
  .github/workflows/codecov.yml
  package.json
Due: none

fix: updated percentage change
  src/features/pages/home/live-pricing/use-live-columns.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

lint error
  src/features/components/molecules/instruments-table/single-item-instruments/index.tsx
  src/features/components/organisms/markets/markets-trade-steps/trade-steps.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: changes in trading specs
  crowdin/messages.json
  src/pages/trading-specification/_use-trading-spec-columns.tsx
  src/pages/trading-specification/data/_commodities_specification.ts
  src/pages/trading-specification/data/_forex_specification.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: refactor
  src/features/pages/home/live-pricing/table-component/symbol-icon.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Meenu/Translation 392 meenu live price firebase model (#4757)
  crowdin/messages.json
  src/components/custom/utils.tsx
  src/components/elements/symbols-shortcode.ts
  src/features/components/atoms/tab/base/index.tsx
  src/features/components/atoms/tab/index.tsx
  src/features/components/atoms/tab/tab-menu-item/index.tsx
  src/features/components/templates/tabs/menu/index.tsx
  src/features/pages/home/index.tsx
  src/features/pages/home/live-pricing/index.tsx
  src/features/pages/home/live-pricing/live-pricing-section.module.scss
  src/features/pages/home/live-pricing/market-tabs/market-tab.tsx
  src/features/pages/home/live-pricing/market-tabs/tab-style.module.scss
  src/features/pages/home/live-pricing/market-tabs/utils.tsx
  src/features/pages/home/live-pricing/table-component/live-market-table.tsx
  src/features/pages/home/live-pricing/table-component/live-pricing.module.scss
  src/features/pages/home/live-pricing/table-component/symbol-icon.tsx
  src/features/pages/home/live-pricing/types.tsx
  src/features/pages/home/live-pricing/use-live-columns.tsx
  src/features/pages/home/our-platforms/index.tsx
  src/features/styles/app.scss
  src/features/styles/theme/tabs.scss
  src/features/styles/theme/typography.scss
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: generate AVIF with fallback to WEBP or WEBP only
  gatsby-config.js
  src/components/graphql/image-fragments.ts
  src/features/components/templates/signup/with-banner/banner/index.tsx
  src/features/pages/home/hero/index.tsx
  src/features/pages/home/hero/slider/index.tsx
  src/features/pages/home/markets/data.tsx
  src/features/pages/home/our-platforms/data.tsx
  src/features/pages/home/p2p-banner/index.tsx
  src/features/pages/home/p2p-banner/p2p-image/index.tsx
  src/pages/bug-bounty/_about-deriv.tsx
  src/pages/careers/locations/minsk/index.tsx
  src/pages/home/_hero.tsx
  src/pages/home/_platform-slideshow.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: css issues
  src/pages/markets/components/sections/_hero_derived_fx.tsx
  src/pages/markets/components/sections/_other-markets.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: pdf changed
  static/acuity/acuity-tool-user-guide.pdf
Due: none

fix: image
  src/images/common/markets/stocks-and-indices.png
Due: none

feat: added etfs in derivx and derivmt5
  crowdin/messages.json
  src/pages/derivx/_what-is-derivx.tsx
  src/pages/dmt5/_what-is-trader.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: add affiliate token from query param partnerid to new virtual account
  crowdin/messages.json
  src/components/custom/_ctrader-signup-success.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: deployment error and review comments
  src/features/components/molecules/instruments-table/single-item-instruments/index.tsx
  src/features/components/organisms/markets/home-page-banner/styles.module.scss
  src/features/pages/markets/etf/other-markets/styles.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: learn more button
  src/components/custom/carousel/_learn-more.tsx
  src/components/custom/carousel/_platforms-carousel.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fix pr issues
  .github/workflows/content.yml
  .github/workflows/lighthouse.yml
  .github/workflows/staging.yml
  .github/workflows/translation-delete.yml
  .github/workflows/translation-pre-delete.yml
  .github/workflows/translation-pre-push.yml
  .github/workflows/translation-push.yml
  gatsby-config.js
  src/images/common/deriv-go/banner_image_tablet.png
  src/pages/dbot/_get-app-section.tsx
  src/pages/deriv-go/_banner.tsx
  src/pages/derivx/_start-derivx.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: include swap-free in dmt5 accounts
  crowdin/messages.json
  src/components/custom/_box-styled-flex.tsx
  src/components/custom/_button.tsx
  src/components/elements/full-width-multicolumn.tsx
  src/images/svg/dmt5/demo-signup.svg
  src/images/svg/dmt5/licensed-and-regulated.svg
  src/images/svg/dmt5/multiple-assets.svg
  src/images/svg/dmt5/swap-free-icon.svg
  src/images/svg/dmt5/swap-free-platform.svg
  src/images/svg/dmt5/twenty-four-seven.svg
  src/images/svg/markets/forex/favourite.svg
  src/images/svg/markets/forex/go-long.svg
  src/images/svg/markets/forex/instant.svg
  src/images/svg/markets/forex/smart.svg
  src/images/svg/markets/forex/swap-free.svg
  src/images/svg/markets/forex/tight.svg
  src/pages/dmt5/_flexibility.tsx
  src/pages/dmt5/_interest_free_trading.tsx
  src/pages/dmt5/_lazy-load.ts
  src/pages/dmt5/_why-trade-dmt5.tsx
  src/pages/dmt5/_why-trader.tsx
  src/pages/help-centre/components/_questions-template.tsx
  src/pages/help-centre/data/_data-types.ts
  src/pages/help-centre/data/_dmt5.ts
  src/pages/trade-types/cfds/_why-trade-cfd.tsx
  src/pages/trade-types/cfds/index.tsx
  src/pages/trade-types/content/static/_cfd.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: dex indices in cfd synthetic
  crowdin/messages.json
  src/components/elements/symbols.ts
  src/images/svg/symbols/dex-900dn.svg
  src/images/svg/symbols/dex-900up.svg
  src/pages/markets/instruments/_dex-indices.tsx
  src/pages/markets/instruments/_submarkets.ts
  src/pages/markets/static/content/_cfds.tsx
  src/pages/markets/static/content/_details.tsx
  src/pages/markets/static/content/_market-symbols.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: trigger vercel
  crowdin/messages.json
Due: none

fix: test
  src/features/pages/home/live-pricing/use-live-columns.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: 404 page by reverting client page to static generated page and use anchor link for tab change
  crowdin/messages.json
  src/pages/markets/basket-indices/index.tsx
  src/pages/markets/commodities/index.tsx
  src/pages/markets/components/helper/_available-trades_desktop.tsx
  src/pages/markets/cryptocurrencies/index.tsx
  src/pages/markets/derived-fx/index.tsx
  src/pages/markets/forex/index.tsx
  src/pages/markets/stock/index.tsx
  src/pages/markets/synthetic/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: css issue for banner
  src/features/components/organisms/markets/home-page-banner/home-page-wrapper.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write
