Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

fix: translations on questions
  src/features/pages/options/accumulator/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: redirection issue
  gatsby-node.js
Due: none

fix: translation for button
  crowdin/messages.json
  src/features/components/organisms/what-are-digital-options/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/mn.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: remove special char from regex
  crowdin/messages.json
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: remvoed hotjar and gtm from flags
  gatsby-ssr.js
  static/appConfig.js
Due: none

chore: remove special char from regex2
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "chore: remove special char from regex2"
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fixed preview url issue
  .github/workflows/generate-preview-link-row.yml
Due: none

feat: removed unused code
  gatsby-ssr.js
  src/common/third-party-flags.ts
  src/common/utility.ts
  src/components/hooks/use-third-party-flags.tsx
  src/features/components/quill/layout-overlay/index.tsx
  src/features/components/templates/footer/deriv-go-banner.tsx
  src/features/pages/deriv-ctrader/get-trading/index.tsx
  src/features/pages/home/index.tsx
  src/pages/contact_us/index.tsx
  src/pages/deriv-go/_footer-banner.tsx
  src/pages/deriv-go/index.tsx
  src/pages/derivx/_get-derivx.tsx
  src/pages/dmt5/_download-app.tsx
  src/pages/help-centre/components/_didnt-find-answer.tsx
  src/pages/help-centre/components/_search-section.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fixed preview url issue
  .github/workflows/generate-preview-link-eu.yml
  .github/workflows/generate-preview-link-row.yml
Due: none

chore: removed row eu workflow
  .github/workflows/generate-preview-link-row-eu.yml
Due: none

Pr 00 workflow fix 3 (#7178)
  .github/workflows/generate-preview-link-eu.yml
  .github/workflows/generate-preview-link-row.yml
Due: none

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/mn.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

feat: made every item true
  static/appConfig.js
Due: none

chore: undo all changes
  crowdin/messages.json
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: test workflow
  .github/workflows/generate-preview-link-row-eu.yml
Due: none

chore: removed
  .github/workflows/generate-preview-link-eu.yml
Due: none

chore: removed workflow
  .github/workflows/generate-preview-link-row-eu.yml
Due: none

fix: fix the photo resolution
  src/features/pages/home/hero/hero-image.tsx
  src/images/migration/home/home_hero.png
  src/images/migration/home/home_hero.webp
  src/images/migration/home/home_hero_new.png
  test.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/mn.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: empty commit
  crowdin/messages.json
Due: none

fix: logo issue
  src/features/components/templates/navigation/academy-nav/index.tsx
  src/features/pages/signup-academy-complete/index.tsx
  src/features/pages/signup-academy/index.tsx
  src/images/common/deriv_academy.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: test
  .github/workflows/generate-preview-link-row-eu.yml
Due: none

chore: test
  .github/workflows/generate-preview-link-eu.yml
Due: none

fix: review comments
  src/features/components/organisms/what-are-digital-options/index.tsx
  src/features/pages/options/accumulator/accumulators_faq.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove special char from regex
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: translations issue
  gatsby-node.js
Due: none

chore: remove consolelog
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fixed preview link workflow
  .github/workflows/generate-preview-link-eu.yml
  .github/workflows/generate-preview-link-row.yml
Due: none

Pr 00 workflow fix 4 (#7182)
  .github/workflows/generate-preview-link-eu.yml
  .github/workflows/generate-preview-link-row.yml
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
