Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

docs: update file for business partners
  src/pages/terms-and-conditions/_business-grid.tsx
  static/tnc/business-partners-general-terms.pdf
  static/tnc/eu/business-partners-general-terms.pdf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: navigation alignment
  src/features/components/molecules/nav-card/index.tsx
  src/features/components/molecules/nav-card/nav-card.module.scss
  src/features/components/organisms/navigation/nav-sections-container/render-section-items.module.scss
  src/features/components/templates/footer/data.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

reduce empty arrays
  src/components/containers/box.tsx
  src/pages/help-centre/components/_search-section.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update to dummy pages
  .github/workflows/beta.yml
Due: none

Update workflow for beta release (#4499)
  .github/workflows/beta.yml
Due: none

chore: update-deriv-com-beta-workflow
  .github/workflows/beta.yml
Due: none

chore: update workflow
  .github/workflows/beta.yml
Due: none

chore: update workflow (#4513)
  .github/workflows/beta.yml
Due: none

chore: update beta config
  .github/workflows/lint.yml
  src/common/constants.ts
  src/common/websocket/config.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update beta config (#4514)
  .github/workflows/lint.yml
  src/common/constants.ts
  src/common/websocket/config.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: bug fixes
  src/components/custom/_signup-public.tsx
  src/pages/trading-specification/components/_elements.tsx
  src/pages/trading-specification/components/_trading_spec_table.tsx
  src/pages/trading-specification/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: place holder changed
  src/components/custom/_signup-public.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: zoom issue
  src/pages/trading-specification/components/_elements.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: add ubuntu font for headings and title
  src/features/components/atoms/typography/heading/index.tsx
  src/features/pages/home/hero/content/hero-features.carousel.tsx
  src/features/pages/home/hero/slider/index.tsx
  src/features/pages/home/index.tsx
  src/features/styles/reset.scss
  src/features/styles/theme/typography.scss
  static/css/ubuntu.css
  static/fonts/Ubuntu-Bold.ttf
  static/fonts/Ubuntu-Light.ttf
  static/fonts/Ubuntu-Medium.ttf
  static/fonts/Ubuntu-Regular.ttf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: add ubuntu font for headings and title (#4515)
  src/features/components/atoms/typography/heading/index.tsx
  src/features/pages/home/hero/content/hero-features.carousel.tsx
  src/features/pages/home/hero/slider/index.tsx
  src/features/pages/home/index.tsx
  src/features/styles/reset.scss
  src/features/styles/theme/typography.scss
  static/css/ubuntu.css
  static/fonts/Ubuntu-Bold.ttf
  static/fonts/Ubuntu-Light.ttf
  static/fonts/Ubuntu-Medium.ttf
  static/fonts/Ubuntu-Regular.ttf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fixed margin
  src/components/custom/_stepper_view.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fixed eu issues
  crowdin/messages.json
  src/components/custom/_dhero-dmt5.js
  src/pages/dmt5/_start-trader.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fixed image
  src/images/common/dmt5/banner_image_eu.png
Due: none

fix: fixing eu issue
  src/components/custom/_dhero-dmt5.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: add heatmap config
  gatsby-config.js
  src/classnames.d.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: add heatmap config with staging environment
  gatsby-config.js
Due: none

feat: financial disclosures annual report update
  crowdin/messages.json
  src/pages/regulatory/_document_accordion.tsx
  static/regulatory/Financial_Disclosures_Annual_Report_2021.pdf
  static/regulatory/Financial_Disclosures_Annual_Report_2022.pdf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: trustpilot component added
  crowdin/messages.json
  src/features/pages/home/client-testimonial/index.tsx
  src/features/pages/home/client-testimonial/trustpiolot-container/index.tsx
  src/features/pages/home/client-testimonial/trustpiolot-container/styles.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: quote image added
  src/features/pages/home/client-testimonial/index.tsx
  src/features/pages/home/client-testimonial/styles.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: payment-method-min-max was doubled for paysafecard (#4437)
  crowdin/messages.json
  src/pages/payment-methods/_payment-data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: grid gap
  src/features/pages/home/client-testimonial/index.tsx
  src/features/pages/home/client-testimonial/slider/index.tsx
  src/features/pages/home/client-testimonial/slider/styles.scss
  src/features/pages/home/client-testimonial/styles.module.scss
  src/features/pages/home/client-testimonial/trustpiolot-container/styles.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: added slider
  src/features/pages/home/client-testimonial/slider/index.tsx
  src/features/pages/home/client-testimonial/slider/styles.scss
  src/features/pages/home/client-testimonial/styles.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: responsive
  src/features/pages/home/client-testimonial/index.tsx
  src/features/pages/home/client-testimonial/slider/index.tsx
  src/features/pages/home/client-testimonial/slider/styles.scss
  src/features/pages/home/client-testimonial/styles.module.scss
  src/features/pages/home/client-testimonial/trustpiolot-container/styles.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: eutetslink
  src/classnames.d.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: flex css typos
  src/features/styles/theme/flex.scss
Due: none

chore: :lipstick: update the navigation
  crowdin/messages.json
  src/components/layout/layout.tsx
  src/components/layout/nav/components/markets/nav-market-desktop.tsx
  src/components/layout/nav/nav-markets.tsx
  src/features/components/templates/navigation/market-nav/index.tsx
  src/features/components/templates/navigation/template/bottom-nav/data.ts
  src/features/components/templates/navigation/template/bottom-nav/index.tsx
  src/features/components/templates/navigation/template/index.tsx
  src/pages/markets/components/sections/_hero_derived_fx.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: flex css typos (#4523)
  src/features/styles/theme/flex.scss
Due: none

fix responsive error
  src/components/containers/box.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: outdated browser pop up to banner
  crowdin/messages.json
  src/components/custom/browser_update_alert_banner.tsx
  src/components/layout/layout.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
