Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

ci: change sampleRate to 1% (#4473)
  gatsby-config.js
Due: none

feat: storing selected language in cookies (#4417)
  src/common/utility.ts
  src/components/localization/language-switcher.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

docs: update general terms of use (#4449)
  static/tnc/eu/general-terms.pdf
  static/tnc/general-terms.pdf
Due: none

Ako / datadog integration (#4440)
  gatsby-config.js
  package-lock.json
  package.json
Due: none

chore: remove is-eu-country (#4422)
  src/store/region-context.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Meenu/fix: updated footer (#4444)
  crowdin/messages.json
  src/components/layout/footer/disclaimer.tsx
  src/pages/regulatory/index.tsx
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Datadog update data from env (#4487)
  gatsby-config.js
Due: none

ci: add clickmap experimental feature (#4480)
  gatsby-config.js
Due: none

fix: payment-method-min-max was doubled for paysafecard (#4437)
  crowdin/messages.json
  src/pages/payment-methods/_payment-data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update sample rate (#4497)
  gatsby-config.js
Due: none

feat: region specifc content with query param (#4472)
  src/common/country-base.ts
  src/store/region-context.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: add frustration signals (#4494)
  gatsby-config.js
Due: none

chore: new strings (#4488)
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

Revert "feat: gatsby-plugin-csp integration (#4500)" (#4572)
  gatsby-config.js
  package-lock.json
  package.json
Due: none

Crowdin master translation (#4538)
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

Ako/ update lighthouse ci actions to latest version (#4526)
  .github/workflows/lighthouse.yml
Due: none

fix: hide Deriv X from ib-programme (#4502)
  crowdin/messages.json
  src/pages/partners/affiliate-ib/_deriv-ib-programme.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: gatsby-plugin-csp integration (#4500)
  gatsby-config.js
  package-lock.json
  package.json
Due: none

feat: update loose percentage (#4501)
  src/common/constants.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

ci: update runs config (#4533)
  .github/workflows/lighthouse.yml
Due: none

feat: added deriv EZ faq (#4405)
  crowdin/messages.json
  src/classnames.d.ts
  src/images/common/help-centre/derivez-demo-account.png
  src/images/common/help-centre/derivez-get-button.png
  src/images/common/help-centre/derivez-real-account.png
  src/images/common/help-centre/derivez-trade-button.png
  src/images/common/help-centre/derivez-trade.png
  src/images/common/help-centre/derivez-transfer-button.png
  src/pages/help-centre/components/_constants.ts
  src/pages/help-centre/data/_deriv-ez.ts
  src/pages/help-centre/deriv-ez.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update plugin datadog (#4570)
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
Due: none

feat: financial disclosures annual report update (#4521)
  crowdin/messages.json
  src/pages/regulatory/_document_accordion.tsx
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
  static/regulatory/Financial_Disclosures_Annual_Report_2021.pdf
  static/regulatory/Financial_Disclosures_Annual_Report_2022.pdf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Fetch crowdin master (#4565)
  src/translations/ar.json
  src/translations/bn.json
  src/translations/id.json
  src/translations/ko.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

feat: PT partners deriv number box height (#4539)
  src/pages/partners/_deriv-numbers.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

reduce empty arrays (#4511)
  src/pages/help-centre/components/_search-section.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Habib/enable session replay (#4608)
  gatsby-browser.js
Due: none

chore: update session replay (#4604)
  gatsby-browser.js
Due: none

chore: update sessionReplaySampleRate (#4623)
  gatsby-browser.js
Due: none

Revert "Habib/gatsby update original plugin 2 (#4579)" (#4580)
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
Due: none

feat: missing image alts seo recommendation (#4552)
  src/pages/careers/_model/_locations/_locations.ts
  src/pages/careers/besquare/components/helper/_card.tsx
  src/pages/careers/besquare/components/sections/_who-can-apply.tsx
  src/pages/careers/besquare/static/content/_advantages.ts
  src/pages/careers/besquare/static/content/_join-us.tsx
  src/pages/careers/besquare/static/content/_what-lies-ahead.ts
  src/pages/dmt5/_start-trader.tsx
  src/pages/markets/components/markets/_cryptocurrencies.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Translation 93256 mayuran/outdated browser banner dynamic (#4544)
  crowdin/messages.json
  src/common/constants.ts
  src/components/custom/_banner-alert.tsx
  src/components/custom/cookie-banner.tsx
  src/components/layout/layout-overlay.tsx
  src/components/layout/layout.tsx
  src/components/layout/modal/browser_update_alert_modal.tsx
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update on client entry (#4589)
  gatsby-browser.js
Due: none

Revert "Update plugin datadog (#4570)" (#4578)
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
Due: none

Habib/gatsby update original plugin 2 (#4579)
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
Due: none

fix: update RTS files (#4591)
  crowdin/messages.json
  src/pages/regulatory/_document_accordion.tsx
  static/regulatory/RTS28-2020.pdf
  static/regulatory/RTS28-2022.pdf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Habib/gatsby update original plugin 3 (#4581)
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
Due: none

Revert "chore: update session replay (#4604)" (#4607)
  gatsby-browser.js
Due: none

chore: add arabic social links (#4660)
  src/components/hooks/use-social-media-url.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
