Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

Update README.md
  README.md
Due: none

fix: svg to png
  src/images/svg/dmt5/dmt5-bg.svg
  src/images/svg/dmt5/dmt5-bg2.svg
Due: none

style: remove indice for eu only
  src/pages/markets/instruments/_european-indices.tsx
  src/pages/markets/static/content/_market-symbols.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Vijayasree/ fix: auto scroll when clicked (#3306)
  src/components/elements/carousel/carousel.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

docs: update the pdf for europe t & c (#3333)
  static/tnc/deriv-investments-(europe)-limited.pdf
Due: none

fix: user can’t click subscribe to newsletter (#3296)
  src/pages/academy/components/_side-subscription-banner.tsx
  src/pages/academy/components/_subscribe.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Aswathy/Topics clickable (#3309)
  src/common/utility.js
  src/pages/academy/components/_search-banner.tsx
  src/pages/academy/search/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Vijayasree / fix: close search bar when clicked outside (#3301)
  src/pages/academy/components/_search-banner.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: search suggestions in academy (#3293)
  src/pages/academy/components/_search-banner.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

MohammadH/ Add pagination to blog and video page (#3303)
  src/components/elements/pagination.tsx
  src/pages/academy/blog/_all-articles.tsx
  src/pages/academy/components/_search-banner.tsx
  src/pages/academy/components/_utility.ts
  src/pages/academy/videos/_all-videos.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Meenu/fix: product roadmap to full screen (#3329)
  src/components/elements/roadmap.js
  src/images/common/deriv-go/roadmap.png
  src/pages/deriv-go/_deriv-go-radmap.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: mobile responsiveness
  crowdin/messages.json
  src/pages/signup-affiliates/components/_layout.tsx
  src/pages/signup-affiliates/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Mitra/Translation 69115 jordan office (#3334)
  crowdin/messages.json
  package.json
  src/images/common/careers/jordan.jpg
  src/images/common/careers/jordan_grid_3.png
  src/images/common/careers/living_in_jordan.jpg
  src/images/common/careers/thumbnail_jordan.jpg
  src/images/svg/careers/flag_jordan.svg
  src/pages/careers/_model/_locations/_locations.ts
  src/pages/careers/locations/_location-layout-new-offices.tsx
  src/pages/careers/locations/index.tsx
  src/pages/careers/locations/jordan/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Meenu/fix: added principles in footer (#3284)
  crowdin/messages.json
  package-lock.json
  package.json
  src/components/layout/footer/main-links.js
  src/translations/ach.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: replace capital letters
  src/components/custom/_dbanner.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove unnecessary spacing
  src/components/custom/_dhero.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: replace capital letters EU
  src/pages/dtrader/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: button component typescript errors
  src/components/form/button.ts
  src/themes/function.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added the dependency for google captcha
  package-lock.json
  package.json
Due: none

fix: images changed to svg
  src/components/localization/language-dropdown.js
  src/images/svg/flags/en.svg
  src/images/svg/flags/es.svg
  src/images/svg/flags/fr.svg
  src/images/svg/flags/id.svg
  src/images/svg/flags/it.svg
  src/images/svg/flags/pl.svg
  src/images/svg/flags/pt.svg
  src/images/svg/flags/ru.svg
  src/images/svg/flags/th.svg
  src/images/svg/flags/tr.svg
  src/images/svg/flags/vi.svg
  src/images/svg/flags/zh-cn.svg
  src/images/svg/flags/zh-tw.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove the limitation of fethcing only 100 blog posts
  gatsby-node.js
Due: none

chore: change images minsk
  src/images/common/careers/minsk.jpg
  src/images/common/careers/thumbnail_minsk.jpg
Due: none

fix: typing for getBoundClientRect
  src/components/custom/platforms-dropdown.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove the limitation in other queries
  src/components/hooks/use-academy-data.tsx
  src/pages/academy/blog/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: responsive bug fix (#3322)
  src/pages/home/_p2p_home_banner.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: attach gtm scripts
  gatsby-browser.js
Due: none

feat: remove gtm
  gatsby-browser.js
  gatsby-config.js
Due: none

fix: get master translated strings
  src/translations/ach.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

refactor: refactored to ts
  src/components/custom/_dhero-dmt5.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: added singapore to careers
  crowdin/messages.json
  src/images/common/careers/living_in_singapore.jpg
  src/images/common/careers/singapore.jpg
  src/images/common/careers/singapore_grid_3.png
  src/images/common/careers/thumbnail_singapore.jpg
  src/images/svg/careers/flag_singapore.svg
  src/pages/careers/_model/_locations/_locations.ts
  src/pages/careers/locations/index.tsx
  src/pages/careers/locations/singapore/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: added condition for object
  src/components/custom/_dhero-dmt5.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: code smells
  src/common/utility.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: rename indices
  src/pages/markets/instruments/_european-indices.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: refactored to hex from rgb
  src/pages/signup-affiliates/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: image optimization
  src/images/common/dmt5/bg_desktop_banner_dmt5.png
  src/pages/dmt5/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
