Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

chore: quick log build test
  gatsby-node.js
Due: none

chore: updated building all pages
  gatsby-node.js
Due: none

chore: live pricing testing
  src/features/pages/home/live-pricing-migration/card/live-market/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: live pricing testing
  src/features/pages/home/live-pricing-migration/card/live-market/live-price.tsx
  src/features/pages/home/live-pricing-migration/data-provider/index.tsx
  src/features/pages/home/live-pricing-migration/utils/index.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/ko.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/zh_tw.json
Due: prettier --write

Prince/Custom pages build on local environment (#6412)
  gatsby-node.js
Due: none

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: live pricing testing
  src/features/pages/home/live-pricing-migration/card/live-market/live-price.tsx
  src/features/pages/home/live-pricing-migration/utils/index.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: live pricing testing
  src/features/pages/home/live-pricing-migration/card/live-market/live-price.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: revert
  crowdin/messages.json
  src/components/custom/_signup-new.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: live pricing testing
  src/features/pages/home/live-pricing-migration/card/live-market/live-price.tsx
  src/features/pages/home/live-pricing-migration/data-provider/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: live pricing testing
  src/features/pages/home/live-pricing-migration/card/live-market/buy-sell.buttons.tsx
  src/features/pages/home/live-pricing-migration/card/live-market/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: translation added
  crowdin/messages.json
  src/features/pages/signup/form-container/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated live market icons
  package-lock.json
  package.json
  src/features/pages/home/live-pricing-migration/cards/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated indices type
  src/features/pages/home/live-pricing-migration/data-provider/types.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated stock and indices array
  src/features/pages/home/live-pricing-migration/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added rest market icons
  src/features/pages/home/live-pricing-migration/cards/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added live market components
  src/features/pages/home/live-pricing-migration/card-slider/index.tsx
  src/features/pages/home/live-pricing-migration/card/base/index.tsx
  src/features/pages/home/live-pricing-migration/card/index.tsx
  src/features/pages/home/live-pricing-migration/card/live-market/buy-sell.buttons.tsx
  src/features/pages/home/live-pricing-migration/card/live-market/index.tsx
  src/features/pages/home/live-pricing-migration/card/live-market/live-price.tsx
  src/features/pages/home/live-pricing-migration/card/types/index.ts
  src/features/pages/home/live-pricing-migration/cards/index.tsx
  src/features/pages/home/live-pricing-migration/data-provider/index.tsx
  src/features/pages/home/live-pricing-migration/data-provider/types.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: testing live pricing
  src/data/trustpilot.json
  src/features/pages/home/live-pricing-migration/card/live-market/index.tsx
  src/features/pages/home/live-pricing-migration/data-provider/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: testing live market
  src/features/pages/home/live-pricing-migration/card/live-market/index.tsx
  src/features/pages/home/live-pricing-migration/data-provider/index.tsx
  src/features/pages/home/live-pricing-migration/data-provider/types.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: testing live pricing
  src/features/pages/home/live-pricing-migration/data-provider/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: testing live market
  src/features/pages/home/live-pricing-migration/card/live-market/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: live pricing testing
  package-lock.json
Due: none

fix: wrong heading
  src/pages/markets/instruments/_jump_indices.tsx
  src/pages/markets/instruments/_step-indices.tsx
  src/pages/markets/static/content/_cfds.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: removed block and component css from gatsby browser
  gatsby-browser.js
Due: none

chore: removed block and component css from layout
  src/features/components/templates/layout/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated quill layout
  src/features/components/quill/quill-layout/index.tsx
  src/features/pages/home/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update beta.yml
  .github/workflows/beta.yml
Due: none
