Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

chore: handle row redirect to eu website
  src/common/utility.ts
  src/components/layout/layout.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: handle row redirect from eu website
  src/common/utility.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Meenu/ live price rebranding (#4093)
  crowdin/messages.json
  package-lock.json
  package.json
  src/components/elements/typography.ts
  src/components/layout/nav/util/nav-methods.tsx
  src/images/svg/home/commodites-live-table.svg
  src/images/svg/home/crypto-live-table.svg
  src/images/svg/home/derived-live-table.svg
  src/images/svg/home/forex-live-table.svg
  src/images/svg/home/stocks-live-table.svg
  src/pages/home/_lazy-load.tsx
  src/pages/home/live-pricing/_data.ts
  src/pages/home/live-pricing/_types.ts
  src/pages/home/live-pricing/_use-live-columns.tsx
  src/pages/home/live-pricing/_utils.ts
  src/pages/home/live-pricing/components/_elements.tsx
  src/pages/home/live-pricing/components/_live_market_table.tsx
  src/pages/home/live-pricing/index.tsx
  src/pages/index.tsx
  src/pages/landing/index.tsx
  src/themes/variables.ts
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: tke check-emails page
  src/pages/check-email/_icon-grid.tsx
  src/pages/check-email/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: add a missed text
  src/pages/bug-bounty/vulnerabilities-types/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: trading spec initail updates
  crowdin/messages.json
  src/images/svg/trading-specification/deriv-mt5.svg
  src/images/svg/trading-specification/deriv-x.svg
  src/pages/home/live-pricing/index.tsx
  src/pages/trading-specification/_types.ts
  src/pages/trading-specification/_utils.ts
  src/pages/trading-specification/data/_forex_specification.ts
  src/pages/trading-specification/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: writing test for register flow [wip]
  end-to-end-tests/demo-todo-app.spec.ts
  end-to-end-tests/pages/login.ts
  end-to-end-tests/pages/register.ts
  end-to-end-tests/register.spec.ts
  end-to-end-tests/test.spec.ts
  playwright.config.ts
Due: none

Prince/ update workflow permissions (#4080)
  .github/workflows/content.yml
  .github/workflows/lint.yml
  .github/workflows/translation-delete.yml
  .github/workflows/translation-pre-delete.yml
  .github/workflows/translation-pre-push.yml
  .github/workflows/translation-push.yml
  .github/workflows/translation-sync.yml
Due: none

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: update attribute
  .gitattributes
Due: none

Habib/update attribute (#4098)
  .gitattributes
  .github/workflows/content.yml
  .github/workflows/lint.yml
  .github/workflows/translation-delete.yml
  .github/workflows/translation-pre-delete.yml
  .github/workflows/translation-pre-push.yml
  .github/workflows/translation-push.yml
  .github/workflows/translation-sync.yml
Due: none

fix: padding and space
  crowdin/messages.json
  src/pages/markets/static/content/_details.tsx
  src/pages/markets/static/style/_markets-style.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fetch latest translations (#4090)
  src/translations/bn.json
  src/translations/de.json
  src/translations/id.json
  src/translations/ko.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/si.json
Due: prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: :sparkles: add reusable component for button
  src/components/custom/_button.tsx
  src/themes/variables.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fix conflicts
  src/translations/bn.json
  src/translations/th.json
Due: prettier --write

chore: fix translate
  crowdin/messages.json
  src/pages/terms-and-conditions/_business-grid.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fix translation
  crowdin/messages.json
  src/pages/markets/static/content/_details.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: translation
  crowdin/messages.json
  src/pages/markets/static/content/_details.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: localize component
  crowdin/messages.json
  src/pages/terms-and-conditions/_business-grid.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
