Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

Update translation-sync.yml
  .github/workflows/translation-sync.yml
Due: none

Update translation-sync.yml (#5904)
  .github/workflows/translation-sync.yml
Due: none

translations: 📚 sync translations with crowdin
  src/translations/pt.json
  src/translations/sw.json
Due: prettier --write

Update translation-sync.yml (#5907)
  .github/workflows/translation-sync.yml
Due: none

Update translation-sync.yml (#5910)
  .github/workflows/translation-sync.yml
Due: none

refactor: new UI
  crowdin/messages.json
  documents/file-structures.md
  src/components/elements/dropdown.tsx
  src/components/form/input.tsx
  src/features/hooks/use-residence-list/index.tsx
  src/images/svg/signup-affiliates/closed-eye.svg
  src/images/svg/signup-affiliates/failed.svg
  src/images/svg/signup-affiliates/opened-eye.svg
  src/images/svg/signup-affiliates/success.svg
  src/pages/signup-affiliates/_types.ts
  src/pages/signup-affiliates/components/_account-plan.tsx
  src/pages/signup-affiliates/components/_account-terms.tsx
  src/pages/signup-affiliates/components/_account-type.tsx
  src/pages/signup-affiliates/components/_address-details.tsx
  src/pages/signup-affiliates/components/_personal-details.tsx
  src/pages/signup-affiliates/components/_phone_number.tsx
  src/pages/signup-affiliates/components/_signup-form.tsx
  src/pages/signup-affiliates/components/_signup-status.tsx
  src/pages/signup-affiliates/components/_wizard.tsx
  src/pages/signup-affiliates/components/wizard-component/index.tsx
  src/pages/signup-affiliates/components/wizard-component/stepper.tsx
  src/pages/signup-affiliates/components/wizard-component/wizard-footer.tsx
  src/pages/signup-affiliates/components/wizard-component/wizard-header.tsx
  src/pages/signup-affiliates/index.tsx
  src/pages/signup-affiliates/utils/_account-card.tsx
  src/pages/signup-affiliates/utils/_affiliate-header.tsx
  src/pages/signup-affiliates/utils/_affiliate-input.tsx
  src/pages/signup-affiliates/utils/_birth-form.tsx
  src/pages/signup-affiliates/utils/_birth-picker.tsx
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update translation-sync.yml (#5913)
  .github/workflows/translation-sync.yml
Due: none

Update translation-sync.yml (#5916)
  .github/workflows/translation-sync.yml
Due: none

fix: sorting done
  src/features/pages/posts/index.tsx
  src/pages/blog/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update translation-sync.yml (#5918)
  .github/workflows/translation-sync.yml
Due: none

fix: added the loading eager to the image
  src/features/pages/deriv-ctrader/hero-banner/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: lazy loading in the image
  src/features/pages/deriv-ctrader/hero-banner/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translations: 📚 sync translations with crowdin
  src/translations/pt.json
Due: prettier --write

refactor: finish refactoring, add events actions with new package
  package-lock.json
  src/components/form/input.tsx
  src/images/svg/signup-affiliates/map.svg
  src/pages/signup-affiliates/components/_signup-form.tsx
  src/pages/signup-affiliates/components/_signup-status.tsx
  src/pages/signup-affiliates/components/wizard-component/wizard-footer.tsx
  src/pages/signup-affiliates/index.tsx
  src/pages/signup-affiliates/utils/_birth-picker.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: change nav to layout to reach ws connection
  src/pages/signup-affiliates/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: layout background color
  src/pages/signup-affiliates/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: add gtm to partytown
  .github/workflows/production.yml
  .github/workflows/staging.yml
  gatsby-config.js
  gatsby-ssr.js
  package-lock.json
  package.json
Due: none

chore: add gtm to partytown url fix
  gatsby-ssr.js
Due: none

chore: add gtm to partytown url fix
  gatsby-config.js
  gatsby-ssr.js
  package-lock.json
  package.json
Due: none

Update gatsby-ssr.js
  gatsby-ssr.js
Due: none

add gtm to partytown url fix (#5925)
  gatsby-config.js
  gatsby-ssr.js
  package-lock.json
  package.json
Due: none

translations: 📚 sync translations with crowdin
  src/translations/ar.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/sw.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: add partytown proxy to gtm
  .github/workflows/beta.yml
  .github/workflows/generate-preview-link.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

fix: posts initial (#5903)
  crowdin/messages.json
  gatsby-config.js
  src/features/pages/posts/index.tsx
  src/features/pages/posts/posts.module.scss
  src/pages/blog/_types.ts
  src/pages/blog/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
