Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

refactor: deriv p2p
  crowdin/messages.json
  src/pages/help-centre/data/_p2p.ts
  src/pages/help-centre/deriv-p2p.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: change Gary's position
  crowdin/messages.json
  src/pages/careers/_employee-testimonial-carousel.tsx
  src/pages/who-we-are/components/leaders.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: derivx
  crowdin/messages.json
  src/pages/help-centre/data/_deriv-x.ts
  src/pages/help-centre/deriv-x.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fix text
  src/pages/why-choose-us/_latam-forex-award.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: added new carousel component
  crowdin/messages.json
  src/components/elements/michosel/carousel.body.tsx
  src/components/elements/michosel/carousel.controls.tsx
  src/components/elements/michosel/carousel.nav.tsx
  src/components/elements/michosel/carousel.navigation-container.tsx
  src/components/elements/michosel/carousel.navigation.tsx
  src/components/elements/michosel/carousel.provider.tsx
  src/components/elements/michosel/carousel.slides.tsx
  src/components/elements/michosel/carousel.styles.tsx
  src/components/elements/michosel/carousel.types.ts
  src/components/elements/michosel/carousel.viewport.tsx
  src/components/elements/michosel/index.tsx
  src/components/elements/michosel/use-carousel.tsx
  src/components/elements/michosel/use-init-carousel.tsx
  src/components/hooks/use-country-rule.tsx
  src/components/hooks/use-dynamic-visible-content.tsx
  src/components/hooks/use-visible-content.tsx
  src/pages/home/_markets-carousel/_data.ts
  src/pages/home/_markets-carousel/_markets_carousel.item.tsx
  src/pages/home/_markets-carousel/_markets_fold.carousel.tsx
  src/pages/home/_markets-carousel/_type.ts
  src/pages/home/_markets_fold.tsx
  src/pages/index.tsx
  src/themes/theme.types.ts
  src/types/generics.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: resolved pr comments
  src/components/custom/_dtrading.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: updted key in dnumbers
  src/components/custom/_dnumbers.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: removed console.log
  src/components/custom/_dtrading.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: resolved pr reviews
  src/components/elements/accordion.tsx
  src/components/elements/side-tab.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: new derived pr
  crowdin/messages.json
  src/components/layout/footer/main-links.tsx
  src/images/common/home/market_derived.png
  src/pages/home/_hero.tsx
  src/pages/home/_markets_fold.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: change url redirection
  src/components/layout/footer/main-links.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Konstantinos / New Derived Home Page PR (#3766)
  crowdin/messages.json
  src/components/layout/footer/main-links.tsx
  src/images/common/home/market_derived.png
  src/pages/home/_hero.tsx
  src/pages/home/_markets_fold.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Shayan/76708/refactor all instances of checking for component mount (#3686)
  src/components/hooks/use-open-live-chat-redirection.tsx
  src/components/layout/nav/components/partner/nav-partner-desktop.tsx
  src/components/layout/nav/components/right-section.tsx
  src/components/localization/localized-link.tsx
  src/pages/academy/blog/posts/preview/index.tsx
  src/pages/dmt5-trading-signals/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: enable korean (한국어) language (#3708)
  crowdin/messages.json
  i18n-config.js
Due: none

chore: fix padding
  src/pages/why-choose-us/_africa-forex-award.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Mitra/update mt5 page for eu (#3725)
  crowdin/messages.json
  src/images/common/dmt5/dmt5-demo-step2-eu.png
  src/images/common/dmt5/dmt5-demo-step2-mobile-eu.png
  src/images/common/dmt5/dmt5-real-step3-eu.png
  src/images/common/dmt5/dmt5-real-step3-mobile-eu.png
  src/images/svg/dmt5/cfds.svg
  src/pages/dmt5/_flexibility.tsx
  src/pages/dmt5/_start-trader.tsx
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Mitra/update terms and conditions pdfs (#3724)
  static/tnc/deriv-investments-(europe)-limited.pdf
  static/tnc/eu/general-terms.pdf
Due: none

Mitra/update question for eu in help centre (#3733)
  crowdin/messages.json
  src/pages/help-centre/trading.tsx
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Mitra/update trading terms for eu and row (#3738)
  src/pages/terms-and-conditions/_clients-grid.tsx
  static/tnc/eu/trading-terms.pdf
  static/tnc/trading-terms.pdf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Mitra/update funds and transfers terms and condtion pdf for eu (#3740)
  static/tnc/eu/funds-and-transfers.pdf
Due: none

Mitra/update security and privacy terms and conditions for eu (#3742)
  src/components/custom/_signup-new.tsx
  src/pages/terms-and-conditions/_clients-grid.tsx
  static/tnc/eu/security-and-privacy.pdf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

text: update lebuan regulatory text and logo (#3744)
  crowdin/messages.json
  src/images/common/regulatory/labuan-fintech.png
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Meenu/fix: removed dmt5 from banner (#3716)
  crowdin/messages.json
  src/pages/dmt5/_margin_calculator.tsx
  src/pages/dmt5/index.tsx
  src/pages/help-centre/_help-articles.tsx
  src/pages/help-centre/deriv-x.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fix ts errors
  src/common/validation.ts
  src/components/containers/container.ts
  src/components/containers/flex.ts
  src/components/containers/section-container.ts
  src/components/elements/typography.ts
  src/pages/dtrader/_dtrader-tabs.tsx
  src/pages/why-choose-us/_africa-forex-award.tsx
  src/pages/why-choose-us/_latam-forex-award.tsx
  src/pages/why-choose-us/index.tsx
  src/templates/article.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Konstantinos / NEW DERIVED WHO WE ARE PAGE (#3635)
  crowdin/messages.json
  src/pages/who-we-are/_data.tsx
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Konstantinos / [FE Deriv.com squad] [EU & ROW] Derived [Affiliate & IBs] page (#3645)
  crowdin/messages.json
  src/pages/partners/affiliate-ib/_deriv-affiliate-programme.tsx
  src/pages/partners/affiliate-ib/_deriv-ib-programme.tsx
  src/pages/partners/affiliate-ib/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Mitra/update the what is derived question (#3750)
  crowdin/messages.json
  src/pages/help-centre/_help-articles.tsx
  src/pages/help-centre/trading.tsx
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: :speech_balloon: remove dmt5
  src/pages/mtd/_benefits.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: add conflict merge ours
  crowdin/messages.json
  src/.gitattributes
Due: none

chore: commented conflict merge ours
  src/.gitattributes
Due: none

chore: add content in bn
  src/translations/bn.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
