Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated layout overlay z index
  src/features/components/quill/layout-overlay/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: request translation (#6455)
  crowdin/messages.json
  src/features/pages/principles/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Hasan/DPROD-2094/cfd banner fix (#6457)
  src/features/components/quill/layout-overlay/cfd-warning-banner/index.tsx
  src/features/components/quill/layout-overlay/cfd-warning-banner/styles.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

text: :bulb: add comment to just create the testlink
  src/pages/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated cta bottom height
  src/features/components/quill/layout-overlay/cfd-warning-banner/unexpanded-text.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: 3 seconds
  gatsby-ssr.js
Due: none

chore: updated floating cta hook
  src/features/hooks/use-floating-cta/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: update link to bussines partner pdf
  src/pages/signup-affiliates/components/_account-terms.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: make the pdf path as parameter
  src/pages/signup-affiliates/components/_account-terms.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove party town
  gatsby-ssr.js
Due: none

feat: combined the fonts
  static/css/ibm-plex-sans-var.css
  static/css/noto-sans-arabic.css
  static/fonts/comibned-fonts/IBMPlexSansVar-Italic-bold-regular.woff2
  static/fonts/comibned-fonts/NotoSansArabic.ttc
  static/fonts/comibned-fonts/Ubuntu-Bold-light-medium-regular.ttf
Due: none

chore: update IIP award in footer
  package-lock.json
  package.json
  src/features/components/templates/footer/data.tsx
  src/features/components/templates/footer/deriv-go-banner.tsx
  src/features/components/templates/footer/iip-award.tsx
  src/features/components/templates/footer/index.tsx
  src/images/common/migration/footer/investors-in-people.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added IIP platinum award to EU footer
  src/features/components/templates/footer/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: new string for translation
  crowdin/messages.json
Due: none

fix: :lipstick: handle rtl for direction
  src/features/pages/home/hero/index.tsx
  src/features/pages/home/hero/styles.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fixed ubuntu fonts
  gatsby-browser.js
  static/css/global.css
  static/css/ubuntu.css
  static/fonts/Ubuntu-Bold.woff2
  static/fonts/Ubuntu-Light.woff2
  static/fonts/Ubuntu-Medium.woff2
  static/fonts/Ubuntu-Regular.woff2
  static/fonts/ubuntu.css
Due: none

chore: fixed floating button bg color
  src/features/components/quill/layout-overlay/floating-button/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove language from pdf path
  src/pages/signup-affiliates/components/_account-terms.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: test
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: dynamic intranslation by <0>
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: removed floating cta hook and moved all the implementation to provider
  src/features/components/templates/footer/description.tsx
  src/features/components/templates/footer/index.tsx
  src/features/contexts/floating-cta/cta.context.tsx
  src/features/contexts/floating-cta/cta.provider.tsx
  src/features/hooks/use-floating-cta/index.tsx
  src/features/pages/home/hero/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated the breakpoint
  src/features/contexts/floating-cta/cta.provider.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: changes to the notosansarabic
  static/css/noto-sans-arabic.css
  static/fonts/comibned-fonts/NotoSansArabic.ttc
Due: none

chore: updated gatsby browser
  gatsby-browser.js
  static/css/global.css
Due: none

fix: removed the ubuntu file
  static/fonts/comibned-fonts/Ubuntu-Bold-light-medium-regular.ttf
Due: none

chore: updated gatsby browser and global css file
  gatsby-browser.js
  static/css/global.css
Due: none

fix: image and components update accroding to lib update
  package-lock.json
  package.json
  src/features/pages/principles/details-card-left/index.tsx
  src/features/pages/principles/details-card-right/index.tsx
  src/features/pages/principles/feature-box/index.tsx
  src/features/pages/principles/hero-banner/index.tsx
  src/features/pages/principles/index.tsx
  src/images/migration/principle/fair.png
  src/pages/our-principles/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated floating cta component
  src/features/pages/home/hero/floating-cta.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated different ref conditon for mobile and tablet
  src/features/components/quill/layout-overlay/cfd-warning-banner/desktop-text.tsx
  src/features/components/quill/layout-overlay/cfd-warning-banner/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

build optimization
  gatsby-node.js
Due: none

chore: updated deriv packages
  package-lock.json
  package.json
Due: none

chore: updated global css
  static/css/global.css
Due: none

fix: dynamic
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: localize comp
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
