Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

chore: temp change
  crowdin/messages.json
  src/features/pages/partners/deriv-prime/meet-us-there/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: revert
  crowdin/messages.json
  src/features/pages/partners/deriv-prime/meet-us-there/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/mn.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: remove international
  crowdin/messages.json
  src/features/pages/partners/deriv-prime/meet-us-there/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: adding the derivx images and replacing blurred ones
  src/images/common/affiliate-and-ib/deriv_x_commodities.png
  src/images/common/affiliate-and-ib/deriv_x_crypto.png
  src/images/common/affiliate-and-ib/deriv_x_forex.png
  src/images/common/affiliate-and-ib/deriv_x_indices.png
  src/images/common/affiliate-and-ib/deriv_x_step.png
  src/images/common/affiliate-and-ib/deriv_x_stocks.png
  src/images/common/affiliate-and-ib/deriv_x_vol.png
Due: none

fix: deleting the unused svg files
  src/images/svg/dmt5/bg_banner_dmt5.svg
  src/images/svg/dmt5/bg_banner_dmt5_mobile.svg
  src/images/svg/dmt5/dmt5-bg.svg
  src/images/svg/dmt5/dmt5-bg2.svg
  src/images/svg/dmt5/dmt5-icon.svg
Due: none

fix: validation for password
  src/features/pages/signup-academy-complete/password-form.tsx
  src/features/pages/signup-academy-complete/password-validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: deleting svg in dmt5
  src/images/svg/dmt5/dmt5-icon.svg
Due: none

chore: update layout overlay
  src/features/components/molecules/layout-overlay/cfd-warning-banner/mobile-text.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: replacing the spanish row pdf's with english to spanish pdf's
  src/pages/terms-and-conditions/_business-grid.tsx
  static/tnc/[ES] business-partners-affiliates-and-introducing-brokers - R23_12_1.pdf
  static/tnc/[ES] business-partners-api-user - R23_12_1.pdf
  static/tnc/[ES] business-partners-bug-bounty - R23_12_1.pdf
  static/tnc/[ES] business-partners-general-terms-of-use - R23_12_1.pdf
  static/tnc/[ES] business-partners-payment-agents - R23_12_1.pdf
  static/tnc/business-partners-api-user-es.pdf
  static/tnc/business-partners-bug-bounty-es.pdf
  static/tnc/business-partners-general-terms-es.pdf
  static/tnc/business-partners-guide-es.pdf
  static/tnc/business-partners-payment-agents-es.pdf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove country restriction inside the codebase
  src/features/pages/signup/signup.content.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove spaces from pdf name
  src/pages/terms-and-conditions/_business-grid.tsx
  static/tnc/[ES]_business-partners-affiliates-and-introducing-brokers-R23_12_1.pdf
  static/tnc/[ES]_business-partners-api-user-R23_12_1.pdf
  static/tnc/[ES]_business-partners-bug-bounty-R23_12_1.pdf
  static/tnc/[ES]_business-partners-general-terms-of-use-R23_12_1.pdf
  static/tnc/[ES]_business-partners-payment-agents-R23_12_1.pdf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: password feature button
  src/features/pages/signup-academy-complete/academy-input.tsx
  src/features/pages/signup-academy-complete/password-form.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: changing dTrader to Deriv trader
  crowdin/messages.json
  src/pages/dtrader/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added the token auth
  src/features/pages/signup-academy-complete/academy-input.tsx
  src/features/pages/signup-academy-complete/password-form.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: add section
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added authorized token
  src/features/pages/signup-academy-complete/password-form.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: test workflow
  .github/workflows/generate-preview-link-row-eu.yml
Due: none

feat: added region conditions on home and header nav
  sites/eu/gatsby-config.js
  sites/eu/package.json
  sites/row/gatsby-config.js
  themes/gatsby-theme-deriv/gatsby-node.js
  themes/gatsby-theme-deriv/src/features/components/quill/quill-layout/index.tsx
  themes/gatsby-theme-deriv/src/features/components/templates/footer/index.tsx
  themes/gatsby-theme-deriv/src/features/components/templates/layout/index.tsx
  themes/gatsby-theme-deriv/src/features/components/templates/navigation/main-nav/index.tsx
  themes/gatsby-theme-deriv/src/features/contexts/build-variant/build-variant.context.tsx
  themes/gatsby-theme-deriv/src/features/contexts/build-variant/build-variant.provider.tsx
  themes/gatsby-theme-deriv/src/features/hooks/use-build-variant/index.ts
  themes/gatsby-theme-deriv/src/features/pages/home/cta/index.tsx
  themes/gatsby-theme-deriv/src/features/pages/home/fast-payment/index.tsx
  themes/gatsby-theme-deriv/src/features/pages/home/hero/award-images.tsx
  themes/gatsby-theme-deriv/src/features/pages/home/hero/description.tsx
  themes/gatsby-theme-deriv/src/features/pages/home/hero/hero-image.tsx
  themes/gatsby-theme-deriv/src/features/pages/home/hero/index.tsx
  themes/gatsby-theme-deriv/src/features/pages/home/index.tsx
  themes/gatsby-theme-deriv/src/features/pages/home/start-trading-steps/index.tsx
  themes/gatsby-theme-deriv/src/features/pages/home/trade-type/index.tsx
  themes/gatsby-theme-deriv/src/features/pages/home/user-platfroms/index.tsx
  themes/gatsby-theme-deriv/src/features/types/index.ts
  themes/gatsby-theme-deriv/src/images/migration/home/home_hero_new_eu.png
  themes/gatsby-theme-deriv/src/pages/index.tsx
  themes/gatsby-theme-deriv/static/css/global.css
Due: none

chore: add gtm loading delay and based on event
  crowdin/messages.json
  gatsby-browser.js
  gatsby-ssr.js
Due: none

fix: footer disclaimer issue
  src/features/components/templates/footer/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: auth check hooks typescript issue
  src/components/hooks/use-auth-check.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove test workflow
  .github/workflows/generate-preview-link-row-eu.yml
Due: none

fix: footer disclaimer
  src/features/components/templates/footer/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: delay gtm hj remove partytown
  .gitignore
  gatsby-browser.js
  gatsby-config.js
  gatsby-node.js
  gatsby-ssr.js
  package-lock.json
  package.json
  static/~partytown/debug/partytown-atomics.js
  static/~partytown/debug/partytown-media.js
  static/~partytown/debug/partytown-sandbox-sw.js
  static/~partytown/debug/partytown-sw.js
  static/~partytown/debug/partytown-ww-atomics.js
  static/~partytown/debug/partytown-ww-sw.js
  static/~partytown/debug/partytown.js
  static/~partytown/partytown-atomics.js
  static/~partytown/partytown-media.js
  static/~partytown/partytown-sw.js
  static/~partytown/partytown.js
Due: none

chore: remove partytown
  static/~partytown/debug/partytown-atomics.js
  static/~partytown/debug/partytown-media.js
  static/~partytown/debug/partytown-sandbox-sw.js
  static/~partytown/debug/partytown-sw.js
  static/~partytown/debug/partytown-ww-atomics.js
  static/~partytown/debug/partytown-ww-sw.js
  static/~partytown/debug/partytown.js
  static/~partytown/partytown-atomics.js
  static/~partytown/partytown-media.js
  static/~partytown/partytown-sw.js
  static/~partytown/partytown.js
Due: none

Hasan/Pr 00 flicker regression 1 (#7134)
  src/features/components/templates/footer/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: delay gtm by 1s
  gatsby-browser.js
Due: none
