Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

chore: updated mt5 links
  src/common/constants.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: refactor images folder
  src/images/common/careers/back_end_development.png
  src/images/common/careers/business_excellence.png
  src/images/common/careers/business_intelligence.png
  src/images/common/careers/customer_support.png
  src/images/common/careers/cyber_security_IT.png
  src/images/common/careers/finance_accounts.png
  src/images/common/careers/front_end_development.png
  src/images/common/careers/human_resources.png
  src/images/common/careers/internal_audit.png
  src/images/common/careers/legal_compliance.png
  src/images/common/careers/marketing_global_partnerships.png
  src/images/common/careers/product_design_UX.png
  src/images/common/careers/project_management.png
  src/images/common/careers/software_testing.png
  src/images/common/careers/trading_operations.png
  src/images/common/dtrader/get_app_mobile_bg.jpg
  src/images/common/get_app_mobile_bg.png
  src/pages/careers/_join_your_team.tsx
  src/pages/dbot/_get-app-section.tsx
  src/pages/deriv-go/_footer-banner.tsx
  src/pages/derivx/_get-derivx.tsx
  src/pages/dmt5/_download-app.tsx
  src/pages/dtrader/_get-app-section.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Fasih//: updated deriv com name (#5796)
  crowdin/messages.json
  src/common/constants.ts
  src/pages/dmt5/_download-app.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Hasan/EU etf landing page (#5632)
  crowdin/messages.json
  src/features/components/molecules/other-markets-slider/data.ts
  src/features/components/organisms/markets/greyed-container/trade-benefit-wrapper.tsx
  src/features/components/organisms/markets/trade-tab/trades-available-wrapper.tsx
  src/features/components/organisms/markets/trade-tab/types.ts
  src/features/components/templates/footer/data.ts
  src/features/components/templates/navigation/main-nav/content/market/index.ts
  src/features/components/templates/navigation/template/market-bottom-nav/data.ts
  src/features/components/templates/navigation/template/market-bottom-nav/index.tsx
  src/features/pages/markets/etf/trades-available/data.tsx
  src/features/pages/markets/etf/why-trade/data.tsx
  src/pages/dmt5/_what-is-trader.tsx
  src/pages/markets/exchange-traded-funds/index.tsx
  src/pages/trade-types/cfds/_available-markets.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fix eu etf
  crowdin/messages.json
  src/features/pages/markets/etf/trades-available/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fix eu etf (#5797)
  crowdin/messages.json
  src/features/pages/markets/etf/trades-available/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Konstantinos / etfs on eu (#5695)
  src/pages/dmt5/_what-is-trader.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Konstantinos / Fix IP issue on Deriv go App platforms (#5740)
  src/store/region-context.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Konstantinos / Clicking back button should keep me on the card #5766 (#5768)
  src/pages/partners/affiliate-ib/_dmt5-cards.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: button overlap carousel (#5705)
  src/pages/dmt5/_margin_calculator.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: eslint error to import layout component first (#5791)
  .eslintrc
Due: none

fix: etfs regulatory (#5639)
  crowdin/messages.json
  src/pages/regulatory/_document_accordion.tsx
  src/pages/regulatory/data/_kid_data.tsx
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
  static/regulatory/kid/kid_deriv_cfds_etfs.pdf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: gatsby browser
  gatsby-browser.js
Due: none

Konstantinos / Add Deriv cTrader FAQs on cTrader product page (#5749)
  crowdin/messages.json
  src/features/components/templates/options-layout/index.tsx
  src/features/pages/deriv-ctrader/browse-our-faq/data.tsx
  src/features/pages/deriv-ctrader/browse-our-faq/index.tsx
  src/features/pages/deriv-ctrader/index.tsx
  src/features/pages/partners/deriv-prime/browse-our-faq/deriv-prime-faq.tsx
  src/features/pages/partners/deriv-prime/browse-our-faq/types.ts
  src/images/common/ctrader/ctrader-desktop-app.png
  src/images/common/ctrader/ctrader-get.png
  src/images/common/ctrader/ctrader-trade.png
  src/images/common/ctrader/ctrader-transfer-menu.png
  src/images/common/ctrader/ctrader-withdrawal.png
  src/images/common/ctrader/traders-hub-demo.png
  src/images/common/ctrader/traders-hub-real.png
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Mitra/text: :speech_balloon: update cTrader navigation description (#5789)
  crowdin/messages.json
  src/features/components/templates/navigation/main-nav/content/platform/index.ts
  src/features/pages/deriv-ctrader/index.tsx
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Fasih: optimised carousel and auto typing (#5274)
  package.json
  src/features/components/molecules/slide-show/index.tsx
  src/features/components/molecules/slide-show/slide-show.module.scss
  src/features/pages/home/hero/content/hero-content.module.scss
  src/features/pages/home/hero/content/hero-features.carousel.tsx
  src/features/pages/home/hero/index.tsx
  src/features/pages/home/hero/slider/index.tsx
  src/features/pages/home/our-platforms/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: :speech_balloon: latest master translation
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: :speech_balloon: latest master translation (#5798)
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: scroll issue
  src/features/components/templates/navigation/template/desktop-menu/styles.scss
Due: none

chore: remove wrongly amended code
  src/pages/trade-types/options/_how-options-works.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :adhesive_bandage: fix eslint error for layout import order
  src/features/components/molecules/protected-route/index.tsx
  src/features/pages/404/index.tsx
  src/features/pages/check-email/index.tsx
  src/features/pages/ctrader-login/index.tsx
  src/features/pages/ctrader-login/login-success.tsx
  src/features/pages/ctrader-manage/ctrader-manage.tsx
  src/features/pages/ctrader-signup/index.tsx
  src/features/pages/ctrader-signup/signup-credentials.tsx
  src/features/pages/ctrader-signup/signup-success.tsx
  src/features/pages/deriv-ez/index.tsx
  src/features/pages/home/index.tsx
  src/features/pages/markets/etf/index.tsx
  src/features/pages/p2p/index.tsx
  src/features/pages/partners/deriv-prime/index.tsx
  src/features/pages/signup-success/index.tsx
  src/features/pages/signup/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :adhesive_bandage: fix eslint error for layout import order (#5799)
  src/features/components/molecules/protected-route/index.tsx
  src/features/pages/404/index.tsx
  src/features/pages/check-email/index.tsx
  src/features/pages/ctrader-login/index.tsx
  src/features/pages/ctrader-login/login-success.tsx
  src/features/pages/ctrader-manage/ctrader-manage.tsx
  src/features/pages/ctrader-signup/index.tsx
  src/features/pages/ctrader-signup/signup-credentials.tsx
  src/features/pages/ctrader-signup/signup-success.tsx
  src/features/pages/deriv-ez/index.tsx
  src/features/pages/home/index.tsx
  src/features/pages/markets/etf/index.tsx
  src/features/pages/p2p/index.tsx
  src/features/pages/partners/deriv-prime/index.tsx
  src/features/pages/signup-success/index.tsx
  src/features/pages/signup/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: fix kid etf for non eng language
  src/pages/regulatory/_document_accordion.tsx
  src/pages/regulatory/data/_kid_data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :pencil2: fix typo
  src/pages/regulatory/_document_accordion.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: scroll add
  src/features/components/templates/navigation/template/desktop-menu/styles.scss
Due: none

chore: push logical slide item later int he array
  src/features/pages/home/hero/slider/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: add height
  src/features/components/templates/navigation/template/desktop-menu/styles.scss
Due: none

fix: :bug: fix non supported languages for docmuents
  src/pages/regulatory/data/_kid_data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: for multiplier documents
  src/pages/regulatory/_document_accordion.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: hide cTrader for eu
  src/features/pages/markets/etf/trades-available/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: replace yml mistake and update dependencies
  .github/workflows/staging.yml
  package-lock.json
  package.json
Due: none

fix: :bug: hide cTrader for eu (#5802)
  src/features/pages/markets/etf/trades-available/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Fix etf kid for non eng language (#5800)
  src/pages/regulatory/_document_accordion.tsx
  src/pages/regulatory/data/_kid_data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: add certificates
  crowdin/messages.json
  src/features/components/templates/banners/award-banners/award-banner-eu/index.tsx
  src/features/components/templates/banners/award-banners/award-banner.module.scss
  src/features/components/templates/banners/award-banners/awardProps.ts
  src/features/components/templates/banners/award-banners/data.tsx
  src/features/components/templates/banners/award-banners/index.tsx
  src/features/pages/home/index.tsx
  src/images/common/awards/best-forex-spreads.png
  src/images/common/awards/broker-of-the-year.png
  src/images/common/awards/gptw.png
  src/images/common/awards/investors.png
  src/images/common/awards/most-trusted.png
  src/pages/who-we-are/_DerivNumbers.tsx
  src/pages/who-we-are/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write
