Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

chore: update crowdin master (#5538)
  crowdin/messages.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/fr.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: update the package to sync with env variables
  package-lock.json
  package.json
  src/features/hooks/analytic/use-analytic-events/index.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updates from beta version
  .github/workflows/beta.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  src/features/hooks/analytic/use-analytic-events/index.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: add language condition (#5492)
  src/features/components/molecules/layout-overlay/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: add sinhalese (#5484)
  i18n-config.js
Due: none

fix: change deriv x (#5506)
  src/images/common/deriv-x/demo-3.png
  src/images/common/deriv-x/real-4.png
Due: none

feat: remove bug bounty from footer (#5501)
  src/features/components/templates/footer/data.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Adrienne / Build to Cloudflare Pages workflow and use caching for dependencies and build output (#5416)
  .github/workflows/build-to-cloudflare-pages.yml
  .github/workflows/sync-build-cache.yml
Due: none

Update ubuntu.css
  static/css/ubuntu.css
Due: none

Mitra/fix: :bug: fix cookie banner aligment issue (#5446)
  crowdin/messages.json
  src/components/custom/_banner-alert.tsx
  src/components/layout/layout-overlay.tsx
  src/features/components/organisms/markets/market-banner/styles.module.scss
  src/features/components/templates/navigation/market-nav/index.tsx
  src/features/components/templates/navigation/template/index.tsx
  src/features/pages/markets/etf/index.tsx
  src/pages/deriv-ez/index.tsx
  src/pages/markets/exchange-traded-funds/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update build-to-cloudflare-pages.yml
  .github/workflows/build-to-cloudflare-pages.yml
Due: none

Update build-to-cloudflare-pages.yml (#5544)
  .github/workflows/build-to-cloudflare-pages.yml
Due: none

Mayuran/improve tab do (#5491)
  src/features/hooks/use-scroll-to-active-tab/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: renamed symbol componnet
  src/pages/markets/components/helper/_symbol.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: api percentage (#5500)
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

Revert "fix: api percentage (#5500)"
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

Revert "fix: api percentage (#5500)" (#5546)
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

Hasan/Translation 1044 dsi indices (#5470)
  crowdin/messages.json
  src/components/elements/lists.tsx
  src/components/elements/symbols.ts
  src/images/svg/symbols/dsi_10m.svg
  src/images/svg/symbols/dsi_20m.svg
  src/images/svg/symbols/dsi_30m.svg
  src/pages/markets/components/helper/_symbol.tsx
  src/pages/markets/instruments/_drift_switch_indices.tsx
  src/pages/markets/instruments/_submarkets.ts
  src/pages/markets/static/content/_cfds.tsx
  src/pages/markets/static/content/_details.tsx
  src/pages/markets/static/content/_market-symbols.tsx
  src/pages/markets/static/style/_markets-style.tsx
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Shayan/feq 651/remove pushwoosh (#5497)
  deriv.com.conf
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  static/sw.js
Due: none

Update and rename build-to-cloudflare-pages.yml to preview-deployment.yml
  .github/workflows/preview-deployment.yml
Due: none

fix: google maps link update
  crowdin/messages.json
  src/pages/careers/_model/_locations/_locations.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: :recycle: add pages to redirects.json
  gatsby-node.js
  redirects.json
Due: none

fix: build error
  src/components/containers/seo.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update preview-deployment.yml
  .github/workflows/preview-deployment.yml
Due: none

refactor: growthbook wightou context
  crowdin/messages.json
  src/features/hooks/analytic/use-analytic-data/index.ts
  src/features/hooks/analytic/use-growthbook/index.ts
  src/features/pages/home/hero/content/index.tsx
  src/store/global-provider.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: change text
  crowdin/messages.json
  src/features/pages/options/digital/in-out/_faq-schema.ts
  src/features/pages/options/digital/reset-call/_faq-schema.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: add env to cf deploy
  .github/workflows/build-to-cloudflare-pages.yml
Due: none

chore: add env to cf deploy (#5554)
  .github/workflows/build-to-cloudflare-pages.yml
Due: none

feat: change and add new platform names
  crowdin/messages.json
  src/pages/help-centre/components/_constants.ts
  src/pages/help-centre/components/_control-losses.tsx
  src/pages/help-centre/components/_faq-schema.tsx
  src/pages/help-centre/data/_dbot.ts
  src/pages/help-centre/data/_deriv-trader.ts
  src/pages/help-centre/data/_dmt5.ts
  src/pages/help-centre/data/_trading.ts
  src/pages/help-centre/deriv-bot.tsx
  src/pages/help-centre/deriv-trader.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update package-lock.json
  package-lock.json
Due: none
