Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

fix: added ab testing hook to affiliates-nav
  src/features/components/templates/navigation/partners-nav/nav.buttons.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: ctrader update
  crowdin/messages.json
  package.json
  src/components/elements/symbols.ts
  src/images/svg/symbols/boom-indices-600.svg
  src/images/svg/symbols/boom-indices-900.svg
  src/images/svg/symbols/crash-indices-600.svg
  src/images/svg/symbols/crash-indices-900.svg
  src/images/svg/symbols/volatility_15_1s.svg
  src/images/svg/symbols/volatility_30_1s.svg
  src/images/svg/symbols/volatility_90_1s.svg
  src/pages/markets/instruments/_crash-boom.tsx
  src/pages/markets/instruments/_dex-indices.tsx
  src/pages/markets/instruments/_drift_switch_indices.tsx
  src/pages/markets/instruments/_jump_indices.tsx
  src/pages/markets/instruments/_range-break.tsx
  src/pages/markets/instruments/_step-indices.tsx
  src/pages/markets/instruments/_volatility-indices.tsx
  src/pages/markets/static/content/_details.tsx
  src/pages/markets/static/content/_market-symbols.tsx
  src/pages/markets/static/style/_markets-style.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: unwanted change
  package.json
Due: none

fix: package json revert
  package.json
Due: none

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: suggestions
  src/pages/markets/instruments/_crash-boom.tsx
  src/pages/markets/static/content/_market-symbols.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added commoditiees icon
  package-lock.json
  package.json
  src/features/pages/home/live-pricing-migration/cards/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: removed parcel
  package-lock.json
  package.json
Due: none

fix: affiliates-nav added to signup-affiliates page
  src/components/layout/layout.tsx
  src/features/components/templates/navigation/affiliates-nav/index.tsx
  src/features/components/templates/navigation/affiliates-nav/nav.module.scss
  src/pages/signup-affiliates/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated parcel
  package-lock.json
  package.json
Due: none

Hasan/Pr 375 live market issues 2 (#6288)
  package-lock.json
  package.json
  src/features/pages/home/live-pricing-migration/cards/index.tsx
  src/features/pages/home/live-pricing-migration/index.tsx
  src/features/pages/home/user-platfroms/data.tsx
  src/features/pages/home/user-platfroms/index.tsx
  src/features/pages/home/user-platfroms/type.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: added new parcel lib as optional
  package-lock.json
  package.json
Due: none

chore: updated media query height
  src/features/pages/home/hero/styles.module.scss
Due: none

Hasan/chore: added media query based on height for hero award images (#6287)
  package-lock.json
  package.json
  src/features/pages/home/hero/styles.module.scss
Due: none

chore: updated with new homepage
  scripts/trustpilot.js
Due: none

chore: updated branch
  crowdin/messages.json
Due: none

chore: updated pack lock file
  package-lock.json
Due: none

chore: updated with libs
  package-lock.json
Due: none

translations: 📚 sync translations with crowdin
  src/translations/vi.json
Due: prettier --write

fix: navigation string issue
  crowdin/messages.json
Due: none

fix: updated icon position
  src/features/pages/home/fast-payment/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: navigation string issue (#6303)
  crowdin/messages.json
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

translations: 📚 sync translations with crowdin
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

translations: 📚 sync translations with crowdin
  src/translations/ar.json
  src/translations/bn.json
  src/translations/pl.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/vi.json
  src/translations/zh_tw.json
Due: prettier --write

fix: hero cropping issue
  src/components/layout/layout.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: hide deriv-go-qr in mobile
  src/features/components/templates/footer/banner-and-awards.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: padding top to market pages with old layout
  src/pages/markets/basket-indices/index.tsx
  src/pages/markets/commodities/index.tsx
  src/pages/markets/cryptocurrencies/index.tsx
  src/pages/markets/derived-fx/index.tsx
  src/pages/markets/forex/index.tsx
  src/pages/markets/stock/index.tsx
  src/pages/markets/synthetic/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write
