Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

text: :speech_balloon: update the text for eu
  src/features/pages/home/fast-payment/index.tsx
  src/pages/home/_translations.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: testing live pricing
  src/data/trustpilot.json
  src/features/pages/home/live-pricing-migration/card/live-market/index.tsx
  src/features/pages/home/live-pricing-migration/data-provider/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added the description for row
  crowdin/messages.json
  src/features/pages/home/fast-payment/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: testing live pricing
  src/features/pages/home/live-pricing-migration/data-provider/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update readme with pr guideline and new translation process
  README.md
Due: none

chore: remove redundant crowdin branch
  README.md
Due: none

refactor: move tracking fn to utils, prevent tracking system bugs
  src/pages/signup-affiliates/components/_signup-form.tsx
  src/pages/signup-affiliates/components/_signup-status.tsx
  src/pages/signup-affiliates/components/_wizard.tsx
  src/pages/signup-affiliates/components/wizard-component/wizard-footer.tsx
  src/pages/signup-affiliates/index.tsx
  src/pages/signup-affiliates/utils/_tracking.ts
  src/pages/signup-affiliates/utils/_utils.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: stepper bug
  src/pages/signup-affiliates/components/wizard-component/wizard-footer.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated pacakges
  package-lock.json
  package.json
Due: none

Hasan/chore: added cy id in logo (#6401)
  package-lock.json
  package.json
  src/features/components/templates/navigation/main-nav/nav.logo.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: testing live market
  src/features/pages/home/live-pricing-migration/card/live-market/index.tsx
  src/features/pages/home/live-pricing-migration/data-provider/index.tsx
  src/features/pages/home/live-pricing-migration/data-provider/types.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: testing live market
  src/features/pages/home/live-pricing-migration/card/live-market/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added floating cta
  src/features/pages/home/hero/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added logged in condition
  src/features/hooks/use-floating-cta/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: changed the image for ROW
  src/images/migration/home/steps1.png
Due: none

fix: payment block issues
  crowdin/messages.json
  src/features/pages/home/fast-payment/data.tsx
  src/features/pages/home/fast-payment/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Aswathy/Steps homepage gap (#6382)
  src/images/migration/home/steps1.png
  src/translations/de.json
  src/translations/fr.json
  src/translations/si.json
  src/translations/sw.json
Due: prettier --write

fix: :lipstick: change the screenshots
  src/images/common/dbot/dbot-get-integrated-help.png
  src/images/common/dbot/dbot-track-your-performance.png
Due: none

chore: added 4 decimal condition for price
  src/data/trustpilot.json
  src/features/pages/home/live-pricing-migration/card/live-market/live-price.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :adhesive_bandage: check the image size
  src/images/common/dbot/dbot-get-integrated-help.png
Due: none

chore: cleanup code
  package-lock.json
  package.json
  src/features/pages/home/cta/index.tsx
  src/features/pages/home/fast-payment/index.tsx
  src/images/common/home/mobile_cta_bg.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added cy id in logo for mobile and desktop
  src/features/components/templates/navigation/main-nav/nav.logo.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: added cy id in hamburger for mobile and desktop
  package-lock.json
  package.json
  src/features/components/templates/navigation/main-nav/nav.buttons.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: live pricing testing
  src/features/pages/home/live-pricing-migration/card/live-market/live-price.tsx
  src/features/pages/home/live-pricing-migration/data-provider/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added cy id for logo and hamburger
  package-lock.json
  package.json
  src/features/components/templates/navigation/main-nav/nav.buttons.tsx
  src/features/components/templates/navigation/main-nav/nav.logo.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Hasan/chore: added cy id in logo for mobile and desktop (#6409)
  package-lock.json
  package.json
  src/features/components/templates/navigation/main-nav/nav.buttons.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: live pricing testing
  src/features/pages/home/live-pricing-migration/card/live-market/index.tsx
  src/features/pages/home/live-pricing-migration/card/live-market/live-price.tsx
  src/features/pages/home/live-pricing-migration/data-provider/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: all set of pages to build
  gatsby-node.js
Due: none

fix: translation word
  crowdin/messages.json
  src/components/custom/_signup-new.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :memo: update documents based on compliance review
  static/tnc/deriv-investments-(europe)-limited-eu.pdf
  static/tnc/funds-and-transfers.pdf
  static/tnc/risk-disclosure.pdf
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
