Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

chore: remove commented code
  src/features/pages/home/our-platforms/sliders/platform-main/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: updated btn text
  src/translations/pl.json
Due: prettier --write

fix: updated platforms icon
  src/images/svg/dtrader/db-icon.svg
  src/images/svg/dtrader/mt5.svg
Due: none

fix: hero button height
  src/components/custom/_dhero.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove deriv x button
  crowdin/messages.json
  src/pages/derivx/_accounts.tsx
  src/pages/derivx/_get-derivx.tsx
  src/pages/derivx/_start-derivx.tsx
  src/pages/derivx/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: platforms icons
  src/images/svg/dtrader/dx-icon.svg
  src/images/svg/dtrader/ez-icon.svg
  src/images/svg/dtrader/go-icon.svg
Due: none

fix: euro 50
  crowdin/messages.json
  src/pages/markets/static/content/_market-symbols.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated navigation fonts
  crowdin/messages.json
  src/features/components/atoms/typography/base/index.tsx
  src/features/components/molecules/language-switcher/useLangSwitcher.tsx
  src/features/components/molecules/nav-card/nav-card.module.scss
  src/features/components/templates/navigation/main-nav/content/index.ts
  src/features/components/templates/navigation/template/desktop-menu/desktop.items.tsx
  src/features/components/templates/navigation/template/desktop-menu/index.tsx
  src/features/components/templates/navigation/template/desktop-menu/styles.scss
  src/features/components/templates/navigation/template/index.tsx
  src/features/components/templates/navigation/template/market-bottom-nav/bottom-nav.item.tsx
  src/features/components/templates/navigation/template/market-bottom-nav/index.tsx
  src/features/components/templates/navigation/template/nav-single-item/index.tsx
  src/features/components/templates/navigation/template/top-nav/index.tsx
  src/features/components/templates/signup/with-banner/social/index.tsx
  src/features/pages/home/markets/index.tsx
  src/features/pages/home/markets/market-slider/index.tsx
  src/features/pages/home/markets/market-slider/market-slide.scss
  src/features/styles/theme/buttons.scss
  src/features/styles/theme/typography.scss
  src/features/styles/utils/index.ts
  src/features/types/index.ts
  src/images/svg/custom/rebranding/deriv-bot-icon.svg
  src/images/svg/custom/rebranding/dtrader-icon.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fixed and images
  src/components/custom/_dhero-dmt5.tsx
  src/components/custom/_dhero.tsx
  src/images/common/dmt5/eu-dmt5-margin-calculator-mobile.png
  src/images/common/dmt5/eu-dmt5-margin-calculator.png
  src/images/common/dmt5/eu-dmt5-swap-calculator-mobile.png
  src/images/common/dmt5/eu-dmt5-swap-calculator.png
  src/pages/dbot/_hero.tsx
  src/pages/deriv-go/_banner.tsx
  src/pages/derivx/_hero.tsx
  src/pages/dmt5/_download-app.tsx
  src/pages/dmt5/_flexibility.tsx
  src/pages/dmt5/_margin_calculator.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated buttons and typography fonts for arabic
  src/features/components/templates/navigation/template/desktop-menu/index.tsx
  src/features/components/templates/navigation/template/desktop-menu/styles.scss
  src/features/pages/home/hero/index.tsx
  src/features/styles/reset.scss
  src/features/styles/theme/buttons.scss
  src/features/styles/theme/typography.scss
  src/images/svg/custom/rebranding/deriv-api-icon.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Fix navigation fonts (#4584)
  crowdin/messages.json
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  src/features/components/atoms/typography/base/index.tsx
  src/features/components/molecules/language-switcher/useLangSwitcher.tsx
  src/features/components/molecules/nav-card/nav-card.module.scss
  src/features/components/templates/navigation/main-nav/content/index.ts
  src/features/components/templates/navigation/template/desktop-menu/desktop.items.tsx
  src/features/components/templates/navigation/template/desktop-menu/index.tsx
  src/features/components/templates/navigation/template/desktop-menu/styles.scss
  src/features/components/templates/navigation/template/index.tsx
  src/features/components/templates/navigation/template/market-bottom-nav/bottom-nav.item.tsx
  src/features/components/templates/navigation/template/market-bottom-nav/index.tsx
  src/features/components/templates/navigation/template/nav-single-item/index.tsx
  src/features/components/templates/navigation/template/top-nav/index.tsx
  src/features/components/templates/signup/with-banner/social/index.tsx
  src/features/pages/home/hero/index.tsx
  src/features/pages/home/markets/index.tsx
  src/features/pages/home/markets/market-slider/index.tsx
  src/features/pages/home/markets/market-slider/market-slide.scss
  src/features/styles/reset.scss
  src/features/styles/theme/buttons.scss
  src/features/styles/theme/typography.scss
  src/features/styles/utils/index.ts
  src/features/types/index.ts
  src/images/svg/custom/rebranding/deriv-api-icon.svg
  src/images/svg/custom/rebranding/deriv-bot-icon.svg
  src/images/svg/custom/rebranding/dtrader-icon.svg
  src/pages/partners/_deriv-numbers.tsx
  src/translations/bn.json
  src/translations/ko.json
  src/translations/vi.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fix navigations logo size
  src/features/components/templates/navigation/bug-bounty-nav/bug-bounty-nav.module.scss
  src/features/components/templates/navigation/bug-bounty-nav/index.tsx
  src/features/components/templates/navigation/career-nav/career-nav.module.scss
  src/features/components/templates/navigation/career-nav/index.tsx
  src/features/components/templates/navigation/main-nav/index.tsx
  src/features/components/templates/navigation/main-nav/main-nav.module.scss
  src/features/components/templates/navigation/market-nav/index.tsx
  src/features/components/templates/navigation/market-nav/market-nav.module.scss
  src/features/components/templates/navigation/payment-agent-nav/index.tsx
  src/features/components/templates/navigation/payment-agent-nav/payment-agent-nav.module.scss
  src/features/components/templates/navigation/static-nav/index.tsx
  src/features/components/templates/navigation/static-nav/static-nav.module.scss
  src/features/components/templates/navigation/template/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fix deriv partners logo
  src/features/components/templates/navigation/payment-agent-nav/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fix mobile navigation
  src/features/components/templates/navigation/template/index.tsx
  src/features/components/templates/navigation/template/mobile-menu/index.tsx
  src/features/components/templates/navigation/template/mobile-menu/mobile-menu.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fix navigations logo size (#4586)
  src/features/components/templates/navigation/bug-bounty-nav/bug-bounty-nav.module.scss
  src/features/components/templates/navigation/bug-bounty-nav/index.tsx
  src/features/components/templates/navigation/career-nav/career-nav.module.scss
  src/features/components/templates/navigation/career-nav/index.tsx
  src/features/components/templates/navigation/main-nav/index.tsx
  src/features/components/templates/navigation/main-nav/main-nav.module.scss
  src/features/components/templates/navigation/market-nav/index.tsx
  src/features/components/templates/navigation/market-nav/market-nav.module.scss
  src/features/components/templates/navigation/payment-agent-nav/index.tsx
  src/features/components/templates/navigation/payment-agent-nav/payment-agent-nav.module.scss
  src/features/components/templates/navigation/static-nav/index.tsx
  src/features/components/templates/navigation/static-nav/static-nav.module.scss
  src/features/components/templates/navigation/template/index.tsx
  src/features/components/templates/navigation/template/mobile-menu/index.tsx
  src/features/components/templates/navigation/template/mobile-menu/mobile-menu.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fixing lazy load
  src/features/components/templates/layout/index.tsx
  src/features/pages/home/hero/content/index.tsx
  src/features/pages/home/hero/index.tsx
  src/features/pages/home/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: test new script loading
  gatsby-ssr.js
  src/components/hooks/use-auth-check.tsx
  src/features/components/molecules/layout-overlay/live-chat-button/index.tsx
  src/features/components/molecules/layout-overlay/whats-app-button/index.tsx
  src/features/components/templates/layout/index.tsx
  src/features/pages/home/client-testimonial/trustpiolot-container/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: animation bug fixed
  src/components/custom/_banner-alert.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: code smell removed
  src/components/custom/_banner-alert.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fixed eu banner overlay rtl
  src/features/components/molecules/layout-overlay/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: removed comments
  src/features/components/molecules/layout-overlay/live-chat-button/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: test new script loading (#4588)
  gatsby-ssr.js
  src/components/hooks/use-auth-check.tsx
  src/features/components/molecules/layout-overlay/index.tsx
  src/features/components/molecules/layout-overlay/live-chat-button/index.tsx
  src/features/components/molecules/layout-overlay/whats-app-button/index.tsx
  src/features/components/templates/layout/index.tsx
  src/features/pages/home/client-testimonial/trustpiolot-container/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Habib/gatsby update original plugin 3 (#4581)
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
Due: none

Revert "Habib/gatsby update original plugin 2 (#4579)" (#4580)
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
Due: none

Update plugin datadog (#4570)
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
Due: none

Revert "Update plugin datadog (#4570)" (#4578)
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
Due: none

Revert "feat: gatsby-plugin-csp integration (#4500)" (#4572)
  gatsby-config.js
  package-lock.json
  package.json
Due: none

Habib/gatsby update original plugin 2 (#4579)
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
Due: none

chore: update on client entry
  gatsby-browser.js
Due: none

chore: update on client entry (#4589)
  gatsby-browser.js
Due: none

fix: dtrader's spacing in mobile (#4558)
  src/components/custom/_dtrading.tsx
  src/components/custom/_stepper_view.tsx
  src/components/custom/carousel/_platforms-carousel.tsx
  src/images/svg/dtrader/db-icon.svg
  src/images/svg/dtrader/dx-icon.svg
  src/images/svg/dtrader/ez-icon.svg
  src/images/svg/dtrader/go-icon.svg
  src/images/svg/dtrader/mt5.svg
  src/pages/dtrader/_steps_section.tsx
  src/pages/dtrader/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: market stats alignment (#4563)
  src/components/custom/_dnumbers.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: hero button alignment in viI lang (#4562)
  src/components/custom/_button.tsx
  src/components/custom/_dhero.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: easy steps broken btn in pl lang (#4564)
  src/pages/dtrader/_steps_section.tsx
  src/translations/pl.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: rebranding
  crowdin/messages.json
  src/features/components/templates/hero-banners/trade/index.tsx
  src/features/components/templates/hero-banners/trade/trade-hero.module.scss
  src/features/pages/derivez/hero/index.tsx
  src/features/pages/derivez/index.tsx
  src/images/common/deriv-ez/hero-phone-mobile.png
  src/images/common/deriv-ez/hero-phone.png
  src/pages/derivez/_hero.tsx
  src/pages/derivez/hero-content.module.scss
  src/pages/derivez/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write
