Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

fix: remove trim from value
  src/pages/signup-affiliates/components/_account-address.tsx
  src/pages/signup-affiliates/components/_account-details.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added react packages
  package-lock.json
  package.json
  sites/eu/package.json
  sites/row/package.json
  themes/gatsby-theme-deriv/package.json
Due: none

chore: removed image
  src/images/migration/home/home_hero_new_eu.png
Due: none

fix: trim value in handleinput
  src/pages/signup-affiliates/components/_account-address.tsx
  src/pages/signup-affiliates/components/_account-details.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: incorrect name for kid pdf (#6912)
  crowdin/messages.json
  static/regulatory/kid/es/kid_deriv_Stock_Indices.pdf
  static/regulatory/kid/it/kid_deriv_Stock_Indices.pdf
  static/regulatory/kid/pl/kid_deriv_Stock_Indices.pdf
  static/regulatory/kid/pt/kid_deriv_Stock_Indices.pdf
Due: none

fix: handleBlur
  src/pages/signup-affiliates/components/_account-address.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: username lenght not less than 3
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: moved packages to theme
  package-lock.json
  package.json
  themes/gatsby-theme-deriv/package.json
Due: none

fix: msg more than 2 characters
  crowdin/messages.json
  src/pages/signup-affiliates/components/_account-address.tsx
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added theme config and options
  sites/eu/gatsby-config.js
  sites/row/gatsby-config.js
  themes/gatsby-theme-deriv/gatsby-node.js
Due: none

chore: added row script
  package.json
  sites/row/package.json
Due: none

chore: moved i18 files to theme
  themes/gatsby-theme-deriv/i18n-config-en.js
  themes/gatsby-theme-deriv/i18n-config.js
Due: none

chore: updated favicon path in gatsby config
  themes/gatsby-theme-deriv/gatsby-config.js
Due: none

fix: console after update data
  src/pages/signup-affiliates/components/_account-address.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: moved babel tailwind and js config file to theme
  themes/gatsby-theme-deriv/.babelrc
  themes/gatsby-theme-deriv/jsconfig.json
  themes/gatsby-theme-deriv/postcss.config.js
  themes/gatsby-theme-deriv/tailwind.config.js
Due: none

fix: username regex check
  crowdin/messages.json
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove space from username regex
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added clean script
  package.json
  sites/eu/package.json
  sites/row/package.json
Due: none

fix: only alphabets n numbers in username
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: username regex ^
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated eslint and tsconfig to fix alias import error
  .eslintrc
  package-lock.json
  package.json
  themes/gatsby-theme-deriv/jsconfig.json
  themes/gatsby-theme-deriv/src/pages/index.tsx
  themes/gatsby-theme-deriv/tsconfig.json
  tsconfig.json
Due: none

chore: added theme to sites
  package-lock.json
  sites/eu/package.json
  sites/row/package.json
Due: none

fix: update regex n err msg
  crowdin/messages.json
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Konstantinos/DPROD-2987/Tooltip arrow in trading specification page is a bit out of the position. (#6831)
  src/pages/trading-specification/components/_elements.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: fixed sass classnames issue
  themes/gatsby-theme-deriv/gatsby-config.js
  themes/gatsby-theme-deriv/src/features/styles/postcss-plugin/plugin.js
Due: none

fix: password regex
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated tailwind config
  tailwind.config.js
  themes/gatsby-theme-deriv/postcss.config.js
  themes/gatsby-theme-deriv/tailwind.config.js
Due: none

fix: add space to name regx also validation call in onBlur
  src/pages/signup-affiliates/components/_account-address.tsx
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: mis alignment (#6803)
  src/features/components/templates/signup/with-banner/form/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: update images (#6861)
  src/images/common/stock-indices/stocksMainHeaderImg.png
  src/images/svg/stock-indices/stocks-high-leverage.svg
  src/images/svg/stock-indices/stocks-minimum-capital.svg
  src/pages/landing/stocks/_headerSection.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Mitra/DERC-2409/Add ctrader in help centre available platforms (#6490)
  crowdin/messages.json
  src/pages/help-centre/data/_trading.ts
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translations: 📚 sync translations with crowdin
  src/translations/sw.json
Due: prettier --write

translations: 📚 sync translations with crowdin
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: :bug: add slash for path to redirect (#6875)
  gatsby-node.js
Due: none

fix: call validation by trimed value
  crowdin/messages.json
  src/pages/signup-affiliates/components/_account-address.tsx
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write
