Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

refactor: state, local constants movement
  crowdin/messages.json
  src/pages/signup-affiliates/components/_account-address.tsx
  src/pages/signup-affiliates/components/_account-details.tsx
  src/pages/signup-affiliates/components/_account-terms.tsx
  src/pages/signup-affiliates/components/_signup-form.tsx
  src/pages/signup-affiliates/components/_wizard.tsx
  src/pages/signup-affiliates/components/index.ts
  src/pages/signup-affiliates/index.tsx
  src/pages/signup-affiliates/utils/_account-card.tsx
  src/pages/signup-affiliates/utils/_birth-picker.tsx
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: security, deployment, console logs
  src/pages/signup-affiliates/_lazy-loading.ts
  src/pages/signup-affiliates/components/_account-address.tsx
  src/pages/signup-affiliates/components/_account-details.tsx
  src/pages/signup-affiliates/components/_wizard.tsx
  src/pages/signup-affiliates/components/index.ts
  src/pages/signup-affiliates/index.tsx
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: workflow to resolve conflicts on its own
  .github/workflows/translators-sync.yml
Due: none

refactor: validation and state management
  src/pages/signup-affiliates/components/_account-address.tsx
  src/pages/signup-affiliates/components/_account-details.tsx
  src/pages/signup-affiliates/components/_signup-status.tsx
  src/pages/signup-affiliates/components/_wizard.tsx
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: increase length of phone number
  src/pages/signup-affiliates/components/_account-details.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added fonts css to atomic layout
  gatsby-browser.js
  src/features/components/templates/layout/index.tsx
  src/features/pages/home/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fix packagelock conflicts
  package-lock.json
Due: none

chore: added plugin to split css
  gatsby-config.js
  package-lock.json
  package.json
Due: none

chore: added quill browser alert
  src/features/components/quill/alert/index.tsx
  src/features/components/quill/browser-update-alert/index.tsx
  src/features/components/quill/quill-layout/global.css
  src/features/components/quill/quill-layout/index.tsx
  src/features/pages/home/index.tsx
  src/pages/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: created layout overlay for quill
  src/features/components/quill/layout-overlay/cfd-warning-banner/cfd-warning-banner.module.scss
  src/features/components/quill/layout-overlay/cfd-warning-banner/index.tsx
  src/features/components/quill/layout-overlay/cookie-banner/cookie-banner.module.scss
  src/features/components/quill/layout-overlay/cookie-banner/index.tsx
  src/features/components/quill/layout-overlay/floating-button/floating-button.scss
  src/features/components/quill/layout-overlay/floating-button/index.tsx
  src/features/components/quill/layout-overlay/index.tsx
  src/features/components/quill/layout-overlay/live-chat-button/index.tsx
  src/features/components/quill/layout-overlay/whats-app-button/index.tsx
  src/features/components/quill/quill-layout/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: add group name
  crowdin/messages.json
  src/components/hooks/use-livechat.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: workflow to resolve conflicts on its own (#6199)
  .github/workflows/translators-sync.yml
Due: none

Update translators-sync.yml
  .github/workflows/translators-sync.yml
Due: none

Update translators-sync.yml (#6202)
  .github/workflows/translators-sync.yml
Due: none

translations: 📚 sync translations with crowdin
  src/translations/bn.json
  src/translations/es.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/sw.json
Due: prettier --write

Update translators-sync.yml (#6204)
  .github/workflows/translators-sync.yml
Due: none

Update translators-sync.yml (#6206)
  .github/workflows/translators-sync.yml
Due: none

chore: changed the order of quill css import
  crowdin/messages.json
  src/features/components/quill/layout-overlay/cfd-warning-banner/index.tsx
  src/features/components/quill/quill-layout/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated custom link css
  src/features/components/quill/layout-overlay/cfd-warning-banner/index.tsx
  src/features/components/quill/layout-overlay/cookie-banner/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: removed split css plugin
  gatsby-config.js
  package-lock.json
  package.json
Due: none

chore: removed split css plugin
  gatsby-config.js
Due: none

chore: added split css plugin
  gatsby-config.js
  package-lock.json
  package.json
Due: none

refactor: inputs, filter and data fix by individual account
  src/pages/signup-affiliates/_types.ts
  src/pages/signup-affiliates/components/_account-address.tsx
  src/pages/signup-affiliates/components/_account-details.tsx
  src/pages/signup-affiliates/components/_wizard.tsx
  src/pages/signup-affiliates/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: console log
  src/pages/signup-affiliates/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: navigation for careers, partners, payment-agent, prime added
  src/components/layout/layout.tsx
  src/features/components/templates/navigation/career-nav/index.tsx
  src/features/components/templates/navigation/main-nav/nav.buttons.tsx
  src/features/components/templates/navigation/partners-nav/data.tsx
  src/features/components/templates/navigation/partners-nav/index.tsx
  src/features/components/templates/navigation/partners-nav/nav.buttons.tsx
  src/features/components/templates/navigation/partners-nav/prime-nav.tsx
  src/features/pages/partners/deriv-prime/index.tsx
  src/pages/partners/affiliate-ib/index.tsx
  src/pages/partners/payment-agent/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: removed old PaymentAgentAffiliateNav
  src/features/components/templates/navigation/payment-agent-nav/data.tsx
  src/features/components/templates/navigation/payment-agent-nav/index.tsx
  src/features/components/templates/navigation/payment-agent-nav/payment-agent-nav.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: issue with incorrect name
  src/pages/signup-affiliates/components/_signup-status.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: description changes
  crowdin/messages.json
  src/features/pages/home/start-trading-steps/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: add api keys on workflow
  .github/workflows/generate-preview-link.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  scripts/trustpilot.js
  src/data/trustpilot.json
Due: prettier --write

fix: add mandatory fields
  src/pages/signup-affiliates/components/_account-details.tsx
  src/pages/signup-affiliates/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Changed translation to 'quill'
  .github/workflows/smoketests.yml
Due: none

fix: state empty on try again
  src/pages/signup-affiliates/components/_signup-status.tsx
  src/pages/signup-affiliates/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated animation css
  src/features/components/quill/layout-overlay/cfd-warning-banner/cfd-warning-banner.module.scss
  src/features/components/quill/layout-overlay/cfd-warning-banner/index.tsx
  src/features/components/quill/layout-overlay/cookie-banner/cookie-banner.module.scss
  src/features/components/quill/layout-overlay/cookie-banner/index.tsx
  src/features/components/quill/layout-overlay/floating-button/floating-button.scss
  src/features/components/quill/layout-overlay/floating-button/index.tsx
  src/features/components/quill/quill-layout/global.css
  src/features/components/quill/quill-layout/index.tsx
  tailwind.config.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove the testlink added for temporary
  src/common/constants.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove the testlink added for temporary (#6211)
  src/common/constants.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write
