Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated cards data
  package-lock.json
  package.json
  src/features/pages/home/fast-payment/data.tsx
  src/features/pages/home/live-pricing-migration/data.tsx
  src/features/pages/home/start-trading-steps/data.tsx
  src/features/pages/home/start-trading-steps/index.tsx
  src/features/pages/home/trade-type/index.tsx
  src/features/pages/home/user-platfroms/data.tsx
  src/features/pages/home/years/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: react minify errors, ab test, validation
  crowdin/messages.json
  src/features/components/templates/navigation/payment-agent-nav/right-side-buttons.tsx
  src/pages/partners/affiliate-ib/_affiliate-ib-hero.tsx
  src/pages/partners/affiliate-ib/_deriv-affiliate-programme.tsx
  src/pages/partners/affiliate-ib/_faq-data.tsx
  src/pages/partners/affiliate-ib/_who-can-apply.tsx
  src/pages/partners/index.tsx
  src/pages/signup-affiliates/components/_signup-form.tsx
  src/pages/signup-affiliates/index.tsx
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added stocks and derived page
  src/features/pages/markets/commodities/hero-banner/index.tsx
  src/features/pages/markets/cryptocurrency/hero-banner/index.tsx
  src/features/pages/markets/derived/derived-content.tsx
  src/features/pages/markets/derived/faq-section/index.tsx
  src/features/pages/markets/derived/hero-banner/index.tsx
  src/features/pages/markets/derived/index.tsx
  src/features/pages/markets/derived/other-markets/index.tsx
  src/features/pages/markets/derived/platforms-available/index.tsx
  src/features/pages/markets/derived/trading-in-deriv/index.tsx
  src/features/pages/markets/derived/why-trade-in-deriv/index.tsx
  src/features/pages/markets/market-tab/index.tsx
  src/features/pages/markets/stocks-and-indices/faq-section/index.tsx
  src/features/pages/markets/stocks-and-indices/hero-banner/index.tsx
  src/features/pages/markets/stocks-and-indices/index.tsx
  src/features/pages/markets/stocks-and-indices/other-markets/index.tsx
  src/features/pages/markets/stocks-and-indices/platforms-available/index.tsx
  src/features/pages/markets/stocks-and-indices/stock-indices-content.tsx
  src/features/pages/markets/stocks-and-indices/trading-in-deriv/index.tsx
  src/features/pages/markets/stocks-and-indices/why-trade-in-deriv/index.tsx
  src/images/migration/markets/commodities.png
  src/images/migration/markets/cryptocurrencies.png
  src/images/migration/markets/derived-eu.png
  src/images/migration/markets/etf.png
  src/images/migration/markets/stocks-and-indices.png
  src/pages/markets/derived-fx/index.tsx
  src/pages/markets/stock/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "Jia/753 social media in footer (#6101)"
  crowdin/messages.json
  src/features/components/templates/footer/social-icons/data.ts
  src/images/svg/footer/tiktok_icon.svg
  src/images/svg/footer/twitter_icon.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "Jia/753 social media in footer (#6101)" (#6169)
  crowdin/messages.json
  src/features/components/templates/footer/social-icons/data.ts
  src/images/svg/footer/tiktok_icon.svg
  src/images/svg/footer/twitter_icon.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: removed lmdb
  package-lock.json
  package.json
Due: none

chore: new localise text and wizard size change
  crowdin/messages.json
  src/pages/signup-affiliates/components/_account-address.tsx
  src/pages/signup-affiliates/components/wizard-component/index.tsx
  src/pages/signup-affiliates/components/wizard-component/stepper.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated cards data (#6168)
  package-lock.json
  package.json
  src/features/pages/home/fast-payment/data.tsx
  src/features/pages/home/live-pricing-migration/data.tsx
  src/features/pages/home/start-trading-steps/data.tsx
  src/features/pages/home/start-trading-steps/index.tsx
  src/features/pages/home/trade-type/index.tsx
  src/features/pages/home/user-platfroms/data.tsx
  src/features/pages/home/years/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: integrating quill design, quill icons, deriv-com-libs
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  postcss.config.js
  static/css/global.css
  tailwind.config.js
  tsconfig.json
Due: none

chore: added new navigation
  src/components/layout/layout.tsx
  src/features/components/templates/navigation-new/main-nav/data.tsx
  src/features/components/templates/navigation-new/main-nav/index.tsx
  src/features/components/templates/navigation-new/main-nav/nav.buttons.tsx
  src/features/components/templates/navigation-new/main-nav/nav.logo.tsx
  src/features/components/templates/options-layout/index.tsx
  src/features/pages/404/index.tsx
  src/features/pages/check-email/index.tsx
  src/features/pages/deriv-ctrader/index.tsx
  src/features/pages/home/index.tsx
  src/features/pages/p2p/index.tsx
  src/pages/markets/components/sections/_hero_derived_fx.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: fixed designers suggestions for hero content
  src/features/pages/home/hero/index.tsx
  src/features/pages/home/hero/styles.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fixed hero height for tablet and desktop
  src/features/pages/home/hero/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fixed hero image height
  src/features/pages/home/hero/index.tsx
  src/features/pages/home/hero/styles.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: removed suspense helper
  src/features/components/atoms/suspense-helper/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added suspense
  src/features/components/molecules/layout-overlay/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added keys for new tab redirection
  src/features/pages/home/footer/data.tsx
  src/features/pages/home/navigation/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: updated the navigation, footer texts for translation
  package-lock.json
  package.json
  src/features/pages/home/footer/data.tsx
  src/features/pages/home/navigation/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: updated the navigation, footer texts for translation (#6178)
  package-lock.json
  package.json
  src/features/pages/home/footer/data.tsx
  src/features/pages/home/navigation/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated key
  src/features/pages/home/navigation/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fixed hero image height for mobile
  src/features/pages/home/hero/styles.module.scss
Due: none

chore: updated header button text
  src/features/pages/home/navigation/nav.buttons.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: datepicker input
  src/pages/signup-affiliates/utils/_birth-picker.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated years data
  src/features/pages/home/years/data.tsx
  src/features/pages/home/years/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated years data
  src/features/pages/home/years/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated nav data for UE
  package-lock.json
  package.json
  src/features/pages/home/footer/banner-and-awards.tsx
  src/features/pages/home/footer/data.tsx
  src/features/pages/home/footer/index.tsx
  src/features/pages/home/navigation/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated gap between hero content and award image
  src/features/pages/home/hero/index.tsx
  src/features/pages/home/hero/styles.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: datepicker input and password passing
  src/pages/signup-affiliates/_types.ts
  src/pages/signup-affiliates/index.tsx
  src/pages/signup-affiliates/utils/_birth-picker.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
