Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

chore: onblur to address to handle empty-only spaces filels
  src/pages/signup-affiliates/_types.ts
  src/pages/signup-affiliates/components/_account-address.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

no changes
  gatsby-node.js
Due: none

chore: add rtl css
  src/features/styles/theme/utility.scss
  static/css/global.css
Due: none

fix: remove additional back slash
  src/translations/fr.json
Due: prettier --write

commons.css
  package-lock.json
  package.json
Due: none

chore: add rtl css
  src/features/styles/theme/utility.scss
Due: none

translation: 📚 sync translations from crowdin feature branch
  src/translations/fr.json
  src/translations/sw.json
Due: prettier --write

fix: use array map for items
  src/pages/regulatory/_eu-grid.tsx
  src/pages/regulatory/eu_grid.module.scss
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fixed
  static/css/global.css
Due: none

chore: added minifier plugin
  gatsby-config.js
  package-lock.json
  package.json
Due: none

chore: removed minifier plugin
  crowdin/messages.json
  gatsby-config.js
  package-lock.json
  package.json
Due: none

chore: exclude rtl selector
  gatsby-config.js
Due: none

fix: add prefix for classname
  src/pages/help-centre/components/_side-tab.tsx
  src/pages/markets/instruments/_crash-boom.tsx
  src/pages/markets/instruments/_dex-indices.tsx
  src/pages/markets/instruments/_drift_switch_indices.tsx
  src/pages/markets/instruments/_jump_indices.tsx
  src/pages/markets/instruments/_range-break.tsx
  src/pages/markets/instruments/_step-indices.tsx
  src/pages/markets/instruments/_volatility-indices.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fixed animation rtl
  static/css/global.css
Due: none

chore: company name
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Hasan/DPROD-3456/Fix RTL issue for Arabic language (#7010)
  crowdin/messages.json
  static/css/global.css
Due: none

fix: add prefix for classname (#7013)
  src/pages/help-centre/components/_side-tab.tsx
  src/pages/markets/instruments/_crash-boom.tsx
  src/pages/markets/instruments/_dex-indices.tsx
  src/pages/markets/instruments/_drift_switch_indices.tsx
  src/pages/markets/instruments/_jump_indices.tsx
  src/pages/markets/instruments/_range-break.tsx
  src/pages/markets/instruments/_step-indices.tsx
  src/pages/markets/instruments/_volatility-indices.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update beta.yml
  .github/workflows/beta.yml
Due: none

fix: turn off autocomplete
  src/pages/signup-affiliates/utils/_affiliate-input.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: test translation
  src/common/validation.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: handle all website_url errors in diff languages
  crowdin/messages.json
  src/pages/signup-affiliates/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated visible content hook
  src/components/hooks/use-visible-content.tsx
  src/features/components/organisms/markets/trade-tab/trades-available-wrapper.tsx
  src/features/pages/markets/etf/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove suspense from fast payment
  crowdin/messages.json
  src/features/pages/home/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: dubai expo
  src/features/pages/partners/deriv-prime/meet-us-there/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: removed lazy loading for fast payment section
  src/features/pages/home/fast-payment/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove dubai img
  src/images/common/deriv-prime/ifx_expo_dubai.png
Due: none

fix: implement hook for payment section
  src/components/hooks/use-is-in-viewport.tsx
  src/features/pages/home/fast-payment/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: implement is in viewport condition on data as well
  src/features/pages/home/fast-payment/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated visible content hook
  crowdin/messages.json
  package-lock.json
  package.json
  src/components/hooks/use-visible-content.tsx
  src/features/components/organisms/markets/trade-tab/trades-available-wrapper.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added isequal type
  crowdin/messages.json
  package-lock.json
  package.json
Due: none

fix: revert hook implementation on data
  src/features/pages/home/fast-payment/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: used usehook ts for intersection
  src/features/pages/home/fast-payment/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Fasih/DPROD-3471/Removed lazy loading attribute from fast payment section logos (#7018)
  src/components/hooks/use-is-in-viewport.tsx
  src/features/pages/home/fast-payment/data.tsx
  src/features/pages/home/fast-payment/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: name regex
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated dynamic visible content hook
  src/components/hooks/use-dynamic-visible-content.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
