Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

add translation for leadership role section
  src/pages/who-we-are/_OurLeadership.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Chore: Updated email consent text on signup form
  src/components/custom/_signup-new.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

added: forgotten classname for show mobile component (#2704)
  src/components/containers/visibility.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

update doc - crowdin section
  README.md
Due: none

update doc - crowdin section (#2709)
  README.md
Due: none

translations workflow - crowdin version
  .github/workflows/translation.yml
Due: none

update translations workflow
  .github/workflows/translation.yml
  src/pages/landing/ebooks/components/_header-section.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

added tagname to commit
  .github/workflows/translation.yml
Due: none

Revert "update translations workflow"
  .github/workflows/translation.yml
  src/pages/landing/ebooks/components/_header-section.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

updated workflow
  .github/workflows/translation.yml
Due: none

Suthesh/translation-workflow (#2557)
  .github/workflows/translation.yml
Due: none

fix: change row to uk check
  src/pages/home/_markets_fold.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix translation workflow
  .github/workflows/translation.yml
Due: none

fix: conditional carousel autoplay
  src/pages/home/_markets_fold.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Chore: added rel and target to the element
  src/components/custom/_signup-new.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

hero button polish text change
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/tr.json
Due: prettier --write

fix: conditional carousel autoplay for mobile
  src/pages/home/_markets_fold.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

create free demo account button translation update(Italiano)
  src/translations/it.json
Due: prettier --write

add all endpoints
  gatsby-config.js
  types/graphql.types.ts
Due: none

update text
  src/pages/dmt5/_why-trader.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix bug pictures are small on dmt5 page
  src/pages/dmt5/_start-trader.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

add extra text
  src/pages/help-centre/_help-articles.js
  src/pages/help-centre/account.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

merge package-lock and graphql.types
  package-lock.json
  types/graphql.types.ts
Due: none

remove external link
  src/pages/help-centre/account.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

revert readme
  README.md
Due: none

nikolai.beretevich/feat:new container for trage types
  src/pages/markets/components/helper/_available-options.tsx
  src/pages/markets/components/helper/_available-trades.tsx
  src/pages/markets/components/helper/_available-trades_desktop.tsx
  src/pages/markets/components/helper/_available-trades_mobile.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: temporary fix for carousel platforms
  src/components/hooks/use-window-size.tsx
  src/pages/home/_markets_fold.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix mobile bug
  src/pages/dmt5/_start-trader.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: replace condition with variable
  src/pages/home/_markets_fold.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Terms and conditions link in staging redirecting to production page
  src/common/constants.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: change row to uk check (#2710)
  src/components/hooks/use-window-size.tsx
  src/pages/home/_markets_fold.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

nikolai.beretevich/fix:number of columns
  src/pages/markets/components/helper/_available-trades_mobile.tsx
  src/pages/markets/components/sections/_hero.tsx
  src/pages/markets/static/content/_cfds.tsx
  src/pages/markets/static/content/_digital-options.tsx
  src/pages/markets/static/content/_market-symbols.tsx
  src/pages/markets/static/content/_multipliers.tsx
  src/pages/markets/static/style/_markets-style.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Crowdin basket (#2713)
  src/pages/markets/components/helper/_available-options.tsx
  src/pages/markets/components/helper/_available-trades.tsx
  src/pages/markets/components/helper/_available-trades_desktop.tsx
  src/pages/markets/components/helper/_available-trades_mobile.tsx
  src/pages/markets/components/sections/_hero.tsx
  src/pages/markets/static/content/_cfds.tsx
  src/pages/markets/static/content/_digital-options.tsx
  src/pages/markets/static/content/_market-symbols.tsx
  src/pages/markets/static/content/_multipliers.tsx
  src/pages/markets/static/style/_markets-style.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

nikolai.beretevich/fix:commodities
  src/components/elements/symbols.js
  src/images/svg/symbols/pound-brent.svg
  src/images/svg/symbols/usd-brent.svg
  src/pages/markets/components/helper/_available-trades.tsx
  src/pages/markets/components/markets/_commodities.tsx
  src/pages/markets/instruments/_energy-options.tsx
  src/pages/markets/instruments/_metals-options.tsx
  src/pages/markets/instruments/_submarkets.ts
  src/pages/markets/static/content/_cfds.tsx
  src/pages/markets/static/content/_digital-options.tsx
  src/pages/markets/static/content/_market-symbols.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write
