Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "Cro rudderstack growthbook (#5521)"
  .github/workflows/beta.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  gatsby-browser.js
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  src/common/constants.ts
  src/features/hooks/analytic/use-analytic-data/index.ts
  src/features/hooks/analytic/use-analytic-events/index.ts
  src/features/hooks/use-signup-form/index.tsx
  src/features/pages/home/hero/content/index.tsx
  src/features/pages/signup/form-container/form-social-buttons.tsx
  src/features/pages/signup/index.tsx
  src/pages/landing/ebooks/stocks.tsx
  src/pages/signup-success/index.tsx
  src/store/global-provider.tsx
  src/store/growthbook-context.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: home banner login padding out
  src/features/pages/home/live-pricing/table-component/live-pricing.module.scss
Due: none

chore: :bug: add the question to faq schema (#5529)
  src/features/pages/partners/deriv-prime/browse-our-faq/_faq-schema.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: text change ios (#5532)
  src/features/pages/partners/deriv-prime/get-in-touch/contact-form.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added backslash for partners page
  src/features/components/templates/navigation/payment-agent-nav/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fixed font size issue (#5531)
  src/features/components/atoms/card/card-primary/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Hasan/fix: deriv prime back button (#5530)
  src/features/components/templates/navigation/payment-agent-nav/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: updated text
  crowdin/messages.json
  src/pages/help-centre/data/_affiliate-programme.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: remove IBs information from Affiliates and IBs
  crowdin/messages.json
  src/features/components/templates/footer/data.ts
  src/features/components/templates/navigation/main-nav/content/partner/index.ts
  src/features/components/templates/navigation/payment-agent-nav/data.tsx
  src/features/components/templates/navigation/payment-agent-nav/index.tsx
  src/images/common/affiliate/daily-ib-commission.png
  src/images/common/affiliate/marketing-material.png
  src/images/common/affiliate/multiple-income-opportunities.png
  src/pages/partners/_partnership-opportunities.tsx
  src/pages/partners/_why-choose-us.tsx
  src/pages/partners/affiliate-ib/_deriv-affiliate-programme.tsx
  src/pages/partners/affiliate-ib/_faq-data.tsx
  src/pages/partners/affiliate-ib/_faq.tsx
  src/pages/partners/affiliate-ib/_who-can-apply.tsx
  src/pages/partners/affiliate-ib/_why-us.tsx
  src/pages/partners/affiliate-ib/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

feat: update helpcentre content for eu
  crowdin/messages.json
  src/pages/help-centre/components/_list.tsx
  src/pages/help-centre/data/_affiliate-programme.ts
  src/pages/help-centre/data/_data-types.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/si.json
  src/translations/tr.json
  src/translations/vi.json
Due: prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/fr.json
  src/translations/si.json
Due: prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/si.json
Due: prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
Due: prettier --write

chore: update crowdin master
  crowdin/messages.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/fr.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
