Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

Update .github/actions/npm_install_from_cache/action.yml
  .github/actions/npm_install_from_cache/action.yml
Due: none

fix: meta attributes
  crowdin/messages.json
  src/pages/dtrader/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update .github/workflows/generate-preview-link-row.yml
  .github/workflows/generate-preview-link-row.yml
Due: none

Update .github/workflows/generate-preview-link-eu.yml
  .github/workflows/generate-preview-link-eu.yml
Due: none

chore: remove poscode from validation check
  src/pages/signup-affiliates/components/_account-address.tsx
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: revamp translations push
  crowdin/messages.json
  src/images/svg/regulatory/pdf-icon-black.svg
  src/pages/regulatory/_document_accordion.tsx
  src/pages/regulatory/_eu-grid.tsx
  src/pages/regulatory/eu_grid.module.scss
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: improve resolution of image
  src/features/pages/home/hero/hero-image.tsx
  src/images/migration/home/home_hero.webp
  src/images/migration/home/home_hero_new.webp
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: password page
  crowdin/messages.json
  package-lock.json
  package.json
  src/features/pages/signup-academy-complete/academy-input.tsx
  src/features/pages/signup-academy-complete/password-form.tsx
  src/features/pages/signup-academy-complete/password-validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/mn.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

hasan/DPROD-3322/Created actions for row and eu build (#7157)
  .github/actions/npm_install_from_cache/action.yml
  .github/workflows/generate-preview-link-eu.yml
  .github/workflows/generate-preview-link-row.yml
  crowdin/messages.json
Due: none

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/mn.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: test workflow
  .github/workflows/generate-preview-link-row-eu.yml
Due: none

chore: added shell to action
  .github/actions/npm_install_from_cache/action.yml
Due: none

feat: updated hook and filtered footer icon data
  src/components/hooks/use-third-party-flags.tsx
  src/features/components/templates/footer/data.tsx
  src/features/components/templates/footer/deriv-go-banner.tsx
  src/features/components/templates/footer/download.tsx
  src/features/components/templates/footer/index.tsx
  src/features/pages/deriv-ctrader/get-trading/index.tsx
  src/features/pages/signup/form-container/form-social-buttons.tsx
  src/pages/deriv-go/_footer-banner.tsx
  src/pages/deriv-go/index.tsx
  src/pages/derivx/_get-derivx.tsx
  src/pages/dmt5/_download-app.tsx
  static/appConfig.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: removed generate-preview-link-row-eu
  .github/workflows/generate-preview-link-row-eu.yml
Due: none

Pr 00 workflow fix (#7173)
  .github/actions/npm_install_from_cache/action.yml
Due: none

feat: change width
  crowdin/messages.json
  src/pages/trading-specification/components/_elements.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: translations trigger empty commit
  crowdin/messages.json
Due: none

fix: country selection and disabling button
  src/components/elements/dropdown-search.tsx
  src/components/elements/dropdown.tsx
  src/features/pages/signup-academy-complete/residence-form.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write
