Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

Update translation-push.yml (#3936)
  .github/workflows/translation-push.yml
Due: none

fix: updated alt tags
  crowdin/messages.json
  src/pages/partners/affiliate-ib/_deriv-ib-programme.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: test security hack
  crowdin/messages.json
  src/components/custom/cookie-banner.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Konstantinos / [FE Deriv.com squad] Update 'Our offices' section on contact us page (#3893)
  crowdin/messages.json
  src/pages/contact_us/_offices.tsx
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added space
  crowdin/messages.json
  src/pages/help-centre/data/_account.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: add new files
  crowdin/messages.json
  src/translations/ach.json
  src/translations/bn.json
  src/translations/es.json
  src/translations/pt.json
  src/translations/si.json
  src/translations/th.json
  src/translations/vi.json
Due: prettier --write

Habib/fetch translation (#3939)
  crowdin/messages.json
  src/translations/ach.json
  src/translations/bn.json
  src/translations/es.json
  src/translations/pt.json
  src/translations/si.json
  src/translations/th.json
  src/translations/vi.json
Due: prettier --write

Aswathy/Personal details (#3906)
  crowdin/messages.json
  package-lock.json
  package.json
  src/components/form/input.tsx
  src/components/form/uploader.tsx
  src/components/form/wizard/footer.tsx
  src/images/svg/help/eye.svg
  src/images/svg/signup-affiliates/aud.svg
  src/images/svg/signup-affiliates/calendar.svg
  src/images/svg/signup-affiliates/eur.svg
  src/images/svg/signup-affiliates/gbp.svg
  src/images/svg/signup-affiliates/usd.svg
  src/pages/signup-affiliates/components/_address-details.tsx
  src/pages/signup-affiliates/components/_personal-details.tsx
  src/pages/signup-affiliates/components/_phone_number.tsx
  src/pages/signup-affiliates/utils/_affiliate-input.tsx
  src/pages/signup-affiliates/utils/_birth-form.tsx
  src/pages/signup-affiliates/utils/_birth-picker.tsx
  src/pages/signup-affiliates/utils/_currency-affiliates.tsx
  src/pages/signup-affiliates/validations/_affiliate_validation.tsx
  src/pages/signup-affiliates/wizard.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: stop auto adding trailing slash to prevent page creation by query params
  gatsby-config.js
Due: none

fix: resolved pr comments
  src/common/constants.ts
  src/components/layout/modal/browser_update_alert_modal.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: some types
  src/components/custom/_signup-new.tsx
  src/pages/academy/_recent-featured-posts.tsx
  src/pages/academy/components/_hero.tsx
  src/pages/academy/index.tsx
  src/pages/careers/_our-hiring-process.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: typescript errors in components/elements
  src/components/elements/auto-carousel.tsx
  src/components/elements/background-image.tsx
  src/components/elements/carousel/carousel-style.ts
  src/components/elements/default-tab.tsx
  src/components/elements/livechat-link-text.tsx
  tsconfig.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: review comments
  src/pages/dmt5/_margin_calculator.tsx
  src/pages/dmt5/_start-trader.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: review comments
  src/pages/landing/ebooks/components/_get-ebook.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: review comments
  src/components/elements/carousel/carousel-style.ts
  src/components/elements/default-tab.tsx
  src/pages/academy/components/video-banner/carousel/_custom-carousel.tsx
  tsconfig.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: review comments
  tsconfig.json
Due: none

chore: update off canvas
  crowdin/messages.json
  src/components/elements/off-canvas-menu.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: some types
  src/pages/p2p/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remained typescript errors
  crowdin/messages.json
  src/components/elements/carousel/carousel-style.ts
  src/components/elements/carousel/carousel.tsx
  src/components/elements/index.ts
  src/components/form/input.tsx
  src/components/hooks/use-livechat.tsx
  src/components/layout/nav/components/nav-desktop.tsx
  src/components/layout/nav/nav-academy.tsx
  src/components/layout/nav/nav-markets.tsx
  src/components/layout/nav/nav-transparent.tsx
  src/components/layout/nav/nav.tsx
  src/components/layout/nav/styles/nav-styles.ts
  src/components/localization/localized-link.tsx
  src/components/localization/withIntl.tsx
  src/pages/academy/components/video-banner/_DBanner.tsx
  src/pages/academy/index.tsx
  src/pages/careers/_dept-layout-components/_dept-layout.types.ts
  src/pages/careers/_employee-testimonial-carousel.tsx
  src/pages/dmt5/_margin_calculator.tsx
  src/pages/endpoint/index.tsx
  src/pages/home/_markets_fold.tsx
  src/pages/home/_trade-types.tsx
  src/pages/home/_vertical-carousel.tsx
  src/pages/landing/dmt5/index.tsx
  src/pages/markets/components/markets/_cryptocurrencies.tsx
  src/pages/markets/components/sections/_other-markets.tsx
  src/pages/markets/instruments/_index.ts
  src/pages/markets/instruments/_step-indices.tsx
  src/pages/markets/static/content/_basket.tsx
  src/pages/markets/static/content/_commodities.tsx
  src/pages/markets/static/content/_derived.tsx
  src/pages/markets/static/content/_forex.tsx
  src/pages/markets/static/content/_stock.tsx
  src/pages/markets/static/content/_synthetic.tsx
  src/pages/partners/payment-agent/_faq-data.tsx
  src/pages/trade-types/components/_markets-carousel.tsx
  src/pages/trade-types/components/_tabs.tsx
  src/pages/why-choose-us/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

change naming
  src/pages/who-we-are/_DerivNumbers.tsx
  src/pages/who-we-are/_MakeTrading.tsx
  src/pages/who-we-are/_OurOffices.tsx
  src/pages/who-we-are/_OurPrinciples.tsx
  src/pages/who-we-are/_OurValues.tsx
  src/pages/who-we-are/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fixed dissimilarity of banner with figma design
  src/components/elements/modal.tsx
  src/components/layout/modal/browser_update_alert_modal.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: re-triggering vercel
  src/pages/who-we-are/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added bi to career page
  src/images/common/careers-2/business-intelligence-bg.png
  src/images/common/careers-2/business-intelligence-desc.png
  src/images/common/careers-2/business-intelligence-review-mobile.png
  src/images/common/careers-2/business-intelligence-review.png
  src/pages/careers/_dept-layout-components/_dept-description.tsx
  src/pages/careers/_dept-layout-components/_hero.tsx
  src/pages/careers/_dept-layout-components/_staff-review.tsx
  src/pages/careers/_join_your_team.tsx
  src/pages/careers/business-intelligence/index.tsx
  src/pages/careers/data/_career-data.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove twitter mention from markets/stock page
  crowdin/messages.json
  src/components/elements/symbols.ts
  src/images/svg/symbols/markets-stocks-and-indices/american-stocks/stocks-twitter.svg
  src/pages/markets/instruments/_market-symbols.tsx
  src/pages/markets/static/content/_market-symbols.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update translation workflow
  .github/workflows/translation-pre-push.yml
Due: none

fix: removed more items under open position
  src/pages/careers/data/_career-data.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

No cache when releasing to production
  .github/workflows/production.yml
Due: none

chore: added extra condition on branchname
  .github/workflows/translation-delete.yml
  .github/workflows/translation-pre-delete.yml
  .github/workflows/translation-push.yml
Due: none

fix: added thumnnail for bi
  src/images/common/careers/Business-Intelligence.png
  src/pages/careers/_join_your_team.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: :speech_balloon: fetch master crowdin translation
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: update workflow
  .github/workflows/translation-delete.yml
  .github/workflows/translation-pre-push.yml
Due: none

No cache when releasing to production (#3946)
  .github/workflows/production.yml
Due: none
