Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

fix: update photo
  src/features/pages/home/hero/hero-image.tsx
  src/images/migration/home/hero_human.png
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated who we are page
  themes/gatsby-theme-deriv/src/components/layout/layout.tsx
  themes/gatsby-theme-deriv/src/features/components/quill/quill-layout/index.tsx
  themes/gatsby-theme-deriv/src/features/components/templates/banners/award-banners/index.tsx
  themes/gatsby-theme-deriv/src/pages/who-we-are/index.tsx
Due: none

Update smoketests.yml - change e2e skip term
  .github/workflows/smoketests.yml
Due: none

feat: updated other layout files
  src/components/custom/_multi-width-column-download.tsx
  src/components/hooks/use-third-party-flags.tsx
  src/components/layout/layout-overlay.tsx
  src/features/components/molecules/layout-overlay/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: replace strings
  crowdin/messages.json
  src/pages/partners/affiliate-ib/_faq-data.tsx
  src/pages/partners/affiliate-ib/cpa-eu-for-row/_calculated-card.tsx
  src/pages/partners/affiliate-ib/cpa-eu-for-row/_default-card.tsx
  src/pages/partners/affiliate-ib/cpa-eu/_calculated-card.tsx
  src/pages/partners/affiliate-ib/master-affiliate/_calculated-card.tsx
  src/pages/partners/affiliate-ib/revenue-share/_calculated-card.tsx
  src/pages/partners/affiliate-ib/turnover/_calculated-card.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update generate-preview-link.yml - Add DRAFT param
  .github/workflows/generate-preview-link.yml
Due: none

chore: show banner false
  crowdin/messages.json
  src/components/layout/layout.tsx
  src/features/components/molecules/layout-overlay/index.tsx
  src/pages/signup-affiliates/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: development fix
  gatsby-ssr.js
  src/features/components/templates/navigation/template/index.tsx
  src/features/components/templates/navigation/template/nav.template.module.scss
  static/live-price.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update smoketests.yml - Modified to use DRAFT param
  .github/workflows/smoketests.yml
Due: none

chore: notmandatory
  crowdin/messages.json
  src/pages/signup-affiliates/components/_account-address.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove validation
  src/pages/signup-affiliates/components/_account-address.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove console logs
  src/common/websocket/index.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: add evenelistener adding in another settimeout
  static/live-price.js
Due: none

fix: remove console logs (#7201)
  src/common/websocket/index.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: updated the condition
  src/pages/help-centre/components/_didnt-find-answer.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: issues in the design
  crowdin/messages.json
  src/common/websocket/config.ts
  src/features/pages/signup-academy-complete/password-form.tsx
  src/features/pages/signup-academy-complete/residence-form.tsx
  src/features/pages/signup-academy-complete/signup-academy.module.scss
  src/features/pages/signup-academy/form-container/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update smoketests.yml - change e2e skip term (#7194)
  .github/workflows/smoketests.yml
Due: none

Update generate-preview-link.yml - Add DRAFT param (#7198)
  .github/workflows/generate-preview-link.yml
Due: none

Fasih/DPROD-3590/integrate firebase feature flag for third party items (#7149)
  gatsby-ssr.js
  src/components/custom/_multi-width-column-download.tsx
  src/components/hooks/use-third-party-flags.tsx
  src/components/layout/layout-overlay.tsx
  src/features/components/molecules/layout-overlay/index.tsx
  src/features/components/quill/layout-overlay/index.tsx
  src/features/components/templates/footer/deriv-go-banner.tsx
  src/features/components/templates/footer/download.tsx
  src/features/components/templates/footer/index.tsx
  src/features/pages/deriv-ctrader/get-trading/index.tsx
  src/features/pages/home/index.tsx
  src/features/pages/home/live-pricing-migration/data-provider/index.tsx
  src/features/pages/signup/form-container/form-social-buttons.tsx
  src/pages/contact_us/index.tsx
  src/pages/deriv-go/_footer-banner.tsx
  src/pages/deriv-go/index.tsx
  src/pages/derivx/_get-derivx.tsx
  src/pages/dmt5/_download-app.tsx
  src/pages/help-centre/components/_didnt-find-answer.tsx
  src/pages/help-centre/components/_search-section.tsx
  static/appConfig.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/mn.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: dropdown is reverted to old one
  src/components/elements/dropdown-search.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: initial accumulator page
  crowdin/messages.json
  src/features/pages/options/accumulator/_video-schema.ts
  src/features/pages/options/accumulator/data.tsx
  src/features/pages/options/accumulator/index.tsx
  src/images/common/trade-types/accumulator-video-bg.png
  src/images/svg/trade-types/accumulator-options.svg
  src/pages/trade-types/options/accumulator-options/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: increase data fecthing time
  static/live-price.js
Due: none

chore: fixed regulatory type
  themes/gatsby-theme-deriv/src/pages/regulatory/_document_accordion.tsx
  themes/gatsby-theme-deriv/src/pages/regulatory/_investment-europe.tsx
  themes/gatsby-theme-deriv/src/pages/regulatory/index.tsx
Due: none

chore: updated regulatory page
  themes/gatsby-theme-deriv/src/pages/regulatory/_info-row-cpa.tsx
  themes/gatsby-theme-deriv/src/pages/regulatory/_investment-europe.tsx
  themes/gatsby-theme-deriv/src/pages/regulatory/index.tsx
Due: none

chore: updated contact us and careers page
  themes/gatsby-theme-deriv/src/pages/careers/_employee-testimonial-carousel.tsx
  themes/gatsby-theme-deriv/src/pages/careers/_hero.tsx
  themes/gatsby-theme-deriv/src/pages/careers/_life-at-deriv-carousel.tsx
  themes/gatsby-theme-deriv/src/pages/careers/_our-hiring-process.tsx
  themes/gatsby-theme-deriv/src/pages/careers/index.tsx
  themes/gatsby-theme-deriv/src/pages/contact_us/index.tsx
  themes/gatsby-theme-deriv/src/pages/why-choose-us/index.tsx
Due: none

chore: updated locations page
  themes/gatsby-theme-deriv/src/pages/careers/locations/index.tsx
Due: none

chore: mongolian new lang
  crowdin/messages.json
  i18n-config.js
  src/features/components/templates/layout/data.ts
  src/features/pages/home/data.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated partners page
  themes/gatsby-theme-deriv/src/pages/partners/_about-deriv.tsx
  themes/gatsby-theme-deriv/src/pages/partners/_partnership-opportunities.tsx
  themes/gatsby-theme-deriv/src/pages/partners/_why-choose-us.tsx
  themes/gatsby-theme-deriv/src/pages/partners/index.tsx
Due: none

chore: update multiple build action yml
  .github/workflows/generate-preview-link-eu.yml
  .github/workflows/generate-preview-link-row.yml
Due: none

chore: update action with To DO
  .github/workflows/generate-preview-link-eu.yml
  .github/workflows/generate-preview-link-row.yml
Due: none

chore: update multiple build action yml (#7210)
  .github/workflows/generate-preview-link-eu.yml
  .github/workflows/generate-preview-link-row.yml
Due: none

Test PR
  README.md
Due: none

Update README.md
  README.md
Due: none

chore: add the phone length
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
