Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

chore: concat sw
  gatsby-config.js
  static/pushwoosh-service-worker.js
Due: none

chore: concat sw (#4996)
  gatsby-config.js
  static/pushwoosh-service-worker.js
Due: none

chore: concat sw
  pushwoosh-service-worker.js
Due: none

chore: concat sw (#4997)
  pushwoosh-service-worker.js
Due: none

chore: concat sw
  gatsby-config.js
  pushwoosh-service-worker.js
Due: none

Habib/fix sw.js (#4998)
  gatsby-config.js
Due: none

chore: add file import
  gatsby-browser.js
  gatsby-config.js
  src/pushwoosh-service-worker.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Habib/fix module sw (#4999)
  gatsby-browser.js
  gatsby-config.js
  src/pushwoosh-service-worker.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: add new pages offline support
  gatsby-config.js
Due: none

chore: add new pages offline support (#5000)
  gatsby-config.js
Due: none

chore: updated markets nav dropdown
  src/features/components/organisms/navigation/nav-sections-container/render-section-items.module.scss
  src/features/components/organisms/navigation/nav-sections-container/section-column.tsx
  src/features/components/templates/navigation/main-nav/content/index.ts
  src/features/components/templates/navigation/main-nav/content/market/index.ts
  src/features/components/templates/navigation/template/desktop-menu/styles.scss
  src/features/components/templates/navigation/template/nav.template.module.scss
  src/features/components/templates/navigation/types.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fix carousel issues
  src/components/custom/carousel/_markets-carousel.tsx
  src/components/custom/carousel/_platforms-carousel.tsx
  src/components/elements/carousel/carousel-style.ts
  src/components/elements/carousel/carousel.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "fix: fix carousel issues"
  src/components/custom/carousel/_markets-carousel.tsx
  src/components/custom/carousel/_platforms-carousel.tsx
  src/components/elements/carousel/carousel-style.ts
  src/components/elements/carousel/carousel.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fix carousel issue
  src/components/custom/carousel/_markets-carousel.tsx
  src/components/custom/carousel/_platforms-carousel.tsx
  src/components/elements/carousel/carousel-style.ts
  src/components/elements/carousel/carousel.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: update api key
  src/common/constants.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: ctrader page
  package.json
  src/features/pages/deriv-ctrader/index.tsx
  src/pages/deriv-ctrader/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: markets console errors
  src/components/containers/seo.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: quick fix for rerendering
  src/features/pages/deriv-ez/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

build: rebuild package-lock file with node16 to fix vercel issue
  package-lock.json
Due: none

fix: content changes
  src/pages/trade-types/content/static/_cfd.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added effect for rerendering
  src/features/pages/deriv-ez/deprecated-other-platforms/index.tsx
  src/features/pages/deriv-ez/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: content changes for cfd
  src/pages/trade-types/content/static/_cfd.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: changed title and description and added comment
  crowdin/messages.json
  src/features/pages/deriv-ez/deprecated-other-platforms/index.tsx
  src/features/pages/deriv-ez/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fix code suggestion
  src/features/pages/deriv-ez/deprecated-other-platforms/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated alt message for icons in navigation
  src/features/components/molecules/nav-card/index.tsx
  src/features/components/templates/navigation/main-nav/content/market/index.ts
  src/features/components/templates/navigation/main-nav/content/platform/index.ts
  src/features/components/templates/navigation/types.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: changed the content from interest to commission
  src/pages/dmt5/_interest_free_trading.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: os aps text type
  crowdin/messages.json
  src/features/components/templates/banners/blade-shape-banner/index.tsx
  src/features/components/templates/banners/blade-shape-banner/types.ts
  src/features/pages/deriv-ez/app-banner/data.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: mock data
  src/features/components/atoms/card/card-basic/index.tsx
  src/features/components/atoms/card/card-primary/index.tsx
  src/features/components/atoms/card/index.tsx
  src/features/components/atoms/card/types.tsx
  src/features/components/templates/card-carousel/other-platforms/index.tsx
  src/features/components/templates/card-carousel/other-platforms/styles.module.scss
  src/features/pages/deriv-ctrader/deriv-ctrader.module.scss
  src/features/pages/deriv-ctrader/hero/data.tsx
  src/features/pages/deriv-ctrader/hero/index.tsx
  src/features/pages/deriv-ctrader/index.tsx
  src/features/pages/deriv-ctrader/numbers/data.tsx
  src/features/pages/deriv-ctrader/numbers/index.tsx
  src/features/pages/deriv-ctrader/other-platforms/index.tsx
  src/features/pages/deriv-ctrader/types.ts
  src/features/pages/deriv-ctrader/why-trade/data.tsx
  src/features/pages/deriv-ctrader/why-trade/index.tsx
  src/features/styles/app.scss
  src/features/styles/theme/card.scss
  src/images/common/deriv-ctrader/hero-desktop.png
  src/images/common/deriv-ctrader/hero-mobile.png
  src/images/svg/deriv-ctrader/deriv-ctrader-logo.svg
  src/images/svg/deriv-ctrader/multiple-assets.svg
  src/images/svg/deriv-ctrader/quick-account.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Pr 428 fix carousel issue (#5002)
  crowdin/messages.json
  src/components/custom/carousel/_markets-carousel.tsx
  src/components/custom/carousel/_platforms-carousel.tsx
  src/components/elements/carousel/carousel-style.ts
  src/components/elements/carousel/carousel.tsx
  src/features/pages/deriv-ez/deprecated-other-platforms/index.tsx
  src/features/pages/deriv-ez/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Aswathy/Translation 434 commision cfd content (#5008)
  src/pages/dmt5/_interest_free_trading.tsx
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update crowdin master
  crowdin/messages.json
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write
