Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove layout conditions
  src/features/pages/signup-success/index.tsx
  src/features/pages/signup/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: added demo content to accumulator and vanilla (#5369)
  crowdin/messages.json
  src/features/pages/options/accumulator/index.tsx
  src/features/pages/options/vanilla/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added fix width to old layout
  src/components/layout/layout.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: :bug: add missing s
  gatsby-node.js
Due: none

refactor: remove unused file
  src/images/common/dbot/index.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: update dbot-image
  src/images/svg/dbot/dbot-icon.svg
  src/images/svg/dbot/index.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: in-out faq content
  crowdin/messages.json
  src/features/pages/options/digital/in-out/data.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

refactor: pr comments
  src/features/components/templates/options-content/section-content-option.item.tsx
  src/features/components/templates/options-content/single-content-option.item.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Redirection for option page (#5357)
  gatsby-node.js
  src/pages/trade-types/options/digital-options/up-and-down/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: remove what are digital questions from help center
  crowdin/messages.json
  src/pages/help-centre/data/_trading.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update translation
  src/translations/ach.json
  src/translations/bn.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/ko.json
  src/translations/pt.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
Due: prettier --write

chore: update translation (#5373)
  src/translations/ach.json
  src/translations/bn.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/ko.json
  src/translations/pt.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
Due: prettier --write

refactor: reduced bundle size by code splitting svgs for symbols
  crowdin/messages.json
  src/components/elements/lazy-symbol.tsx
  src/components/elements/symbols-shortcode.ts
  src/components/elements/symbols.ts
  src/features/components/molecules/instruments-table/single-item-instruments/symbol-text/index.tsx
  src/features/pages/home/live-pricing/table-component/symbol-icon.tsx
  src/features/pages/home/live-pricing/use-live-columns.tsx
  src/features/pages/markets/etf/instruments/data.tsx
  src/pages/markets/components/helper/_symbol.tsx
  src/pages/markets/instruments/_market-symbols.tsx
  src/pages/markets/instruments/_step-indices.tsx
  src/pages/markets/static/content/_market-symbols.tsx
  src/pages/trading-specification/components/_elements.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: demo content css
  src/features/pages/options/accumulator/index.tsx
  src/features/pages/options/vanilla/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: in-out faq content (#5371)
  crowdin/messages.json
  src/features/pages/options/digital/in-out/data.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: demo content css (#5375)
  src/features/pages/options/accumulator/index.tsx
  src/features/pages/options/vanilla/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: pr comments (#5372)
  src/features/components/templates/options-content/section-content-option.item.tsx
  src/features/components/templates/options-content/single-content-option.item.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: check helmet issue
  src/pages/trade-types/options/digital-options/up-and-down/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fixed white space issues
  src/components/custom/_dhero-dmt5.tsx
  src/components/custom/_dhero.tsx
  src/features/components/templates/hero-banners/product/product-hero.module.scss
  src/features/pages/home/hero/slider/slider.module.scss
  src/pages/dbot/_hero.tsx
  src/pages/deriv-go/_banner.tsx
  src/pages/derivx/_hero.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: replaced auto with png
  src/features/pages/home/hero/slider/index.tsx
  src/features/pages/home/our-platforms/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: updatre higher-lower images
  crowdin/messages.json
  src/features/pages/options/digital/up-down/data.ts
  src/images/svg/trade-types/options/digital/higher_loss.svg
  src/images/svg/trade-types/options/digital/higher_win.svg
  src/images/svg/trade-types/options/digital/lower_loss.svg
  src/images/svg/trade-types/options/digital/lower_win.svg
  src/images/svg/trade-types/options/digital/up-down-higher-lower.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "refactor: pr comments"
  src/features/components/templates/options-content/section-content-option.item.tsx
  src/features/components/templates/options-content/single-content-option.item.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: scrolling tab for rtl
  src/features/components/organisms/available-options/styles.module.scss
  src/features/components/organisms/available-options/tab-items.tsx
  src/features/hooks/use-scroll-to-active-tab/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: fix redirection for different language
  gatsby-node.js
Due: none

fix: revert
  src/pages/trade-types/options/digital-options/up-and-down/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Up down images update (#5376)
  crowdin/messages.json
  src/features/pages/options/digital/up-down/data.ts
  src/images/svg/trade-types/options/digital/higher_loss.svg
  src/images/svg/trade-types/options/digital/higher_win.svg
  src/images/svg/trade-types/options/digital/lower_loss.svg
  src/images/svg/trade-types/options/digital/lower_win.svg
  src/images/svg/trade-types/options/digital/up-down-higher-lower.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: removed console
  src/features/components/organisms/available-options/tab-items.tsx
  src/features/hooks/use-scroll-to-active-tab/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: test commit
  README.md
Due: none

fix: 404 duplicate code and issue in (#5351)
  src/features/components/molecules/protected-route/index.tsx
  src/features/pages/options/accumulator/index.tsx
  src/features/pages/options/digital/asians/index.tsx
  src/features/pages/options/digital/digits/index.tsx
  src/features/pages/options/digital/high-low/index.tsx
  src/features/pages/options/digital/in-out/index.tsx
  src/features/pages/options/digital/lookbacks/index.tsx
  src/features/pages/options/digital/only-ups-only-downs/index.tsx
  src/features/pages/options/digital/reset-call/index.tsx
  src/features/pages/options/digital/touch-no-touch/index.tsx
  src/features/pages/options/digital/up-down/index.tsx
  src/features/pages/options/vanilla/index.tsx
  src/pages/trade-types/options/accumulator-options/index.tsx
  src/pages/trade-types/options/digital-options/asians/index.tsx
  src/pages/trade-types/options/digital-options/digits/index.tsx
  src/pages/trade-types/options/digital-options/high-low-ticks/index.tsx
  src/pages/trade-types/options/digital-options/in-out/index.tsx
  src/pages/trade-types/options/digital-options/lookbacks/index.tsx
  src/pages/trade-types/options/digital-options/only-ups-only-downs/index.tsx
  src/pages/trade-types/options/digital-options/reset-call-reset-put/index.tsx
  src/pages/trade-types/options/digital-options/touch-no-touch/index.tsx
  src/pages/trade-types/options/digital-options/up-and-down/index.tsx
  src/pages/trade-types/options/vanilla-options/index.tsx
  src/translations/ar.json
  src/translations/de.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/tr.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: test commit (#5378)
  README.md
Due: none

fix: direct access
  src/pages/trade-types/options/digital-options/up-and-down/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: text change
  crowdin/messages.json
  src/features/pages/options/digital/digits/data.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Translation 2012 change text (#5380)
  crowdin/messages.json
  src/features/pages/options/digital/digits/data.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added a comment
  src/features/hooks/use-scroll-to-active-tab/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
