Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ar.json
  src/translations/bn.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/bn.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: updated translation key extraction (#4277)
  crowdin/messages.json
  scripts/extract-translations.js
  src/components/localization/config.tsx
  src/pages/404.tsx
  src/pages/index.tsx
  src/pages/our-principles/_data.tsx
  src/pages/our-principles/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: compliance
  crowdin/messages.json
  src/components/layout/footer/disclaimer.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: space
  crowdin/messages.json
  src/pages/help-centre/data/_account.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/pt.json
  src/translations/th.json
Due: prettier --write

fix: derived-fx id scroll
  src/pages/markets/static/content/_cfds.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: disable scroll on tab change
  src/pages/markets/components/helper/_available-trades_desktop.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: resolved conflicts
  src/components/custom/_signup-public.tsx
  src/pages/deriv-go/_start-deriv-go.tsx
  src/pages/deriv-go/_what-is-deriv-go.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove eu stat
  crowdin/messages.json
  src/components/layout/footer/disclaimer.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :fire: hide other markets section
  src/pages/markets/components/markets/_synthetic-indices.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: integration done
  src/pages/who-we-are/_AboutUsBanner.tsx
  src/pages/who-we-are/_OurLeadership.tsx
  src/pages/who-we-are/_OurValues.tsx
  src/pages/who-we-are/carousel/_Carousel.tsx
  src/pages/who-we-are/carousel/_ImageMarquee.tsx
  src/pages/who-we-are/components/_hero.tsx
  src/pages/who-we-are/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :rewind: revert logic changes
  src/pages/markets/basket-indices/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: removed styled comp
  src/components/custom/_multi-width-column-download.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Habib/live market price (#3977)
  src/components/elements/typography.ts
  src/components/hooks/use-deriv-api.tsx
  src/pages/home/_lazy-load.tsx
  src/pages/home/live-pricing/_types.ts
  src/pages/home/live-pricing/_use-live-columns.tsx
  src/pages/home/live-pricing/_utils.ts
  src/pages/home/live-pricing/components/_elements.tsx
  src/pages/home/live-pricing/components/_live_market_table.tsx
  src/pages/home/live-pricing/index.tsx
  src/pages/index.tsx
  src/pages/landing/index.tsx
  src/themes/variables.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fixed daily pervent change
  src/pages/home/live-pricing/components/_elements.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: update forex as default tab
  src/pages/home/live-pricing/components/_live_market_table.tsx
  src/pages/home/live-pricing/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fixed color change for daily percentage cell
  src/pages/home/live-pricing/components/_elements.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: updated css variables
  src/pages/home/live-pricing/components/_elements.tsx
  src/pages/home/live-pricing/components/_live_market_table.tsx
  src/themes/variables.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: comments resolving
  src/components/hooks/use-deriv-api.tsx
  src/components/layout/nav/util/nav-methods.tsx
  src/pages/home/live-pricing/_types.ts
  src/pages/home/live-pricing/components/_live_market_table.tsx
  src/pages/home/live-pricing/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: resolving comments
  src/components/hooks/use-deriv-api.tsx
  src/pages/home/live-pricing/components/_elements.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fixed market description for each market
  crowdin/messages.json
Due: none

fix: updated to 5 rows
  src/pages/home/live-pricing/_utils.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: eu condition applied
  src/pages/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: updated disclaimer text
  crowdin/messages.json
Due: none

fix: tab fix
  src/pages/home/live-pricing/components/_elements.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Translation [FE Deriv.com squad] NikitK/ Add IB commissions for 2 new volatility indices (#4063)
  crowdin/messages.json
  package-lock.json
Due: none

Konstantinos / [FE Deriv.com squad] Add DerivGo to 'Available On' list under multipliers tab for Forex, Synthetics, Basket indices, Cryptocurrencies. (#4034)
  crowdin/messages.json
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
