Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: remove margin
  src/pages/partners/payment-agent/_premium_payment_agent.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: translations
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: revert translations
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix bug
  src/pages/landing/ebooks/components/_get-ebook.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fix partners navigation
  src/components/elements/market-tab/index.tsx
  src/pages/trading-specification/components/_available-platform.tsx
  src/pages/trading-specification/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fix pdf links
  src/features/components/templates/footer/disclaimer/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: use navigate for internal links
  src/features/components/atoms/link/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Fix partners nav (#4644)
  src/components/elements/market-tab/index.tsx
  src/features/components/atoms/link/index.tsx
  src/features/components/templates/footer/disclaimer/data.tsx
  src/features/components/templates/navigation/template/desktop-menu/styles.scss
  src/features/components/templates/navigation/template/nav-single-item/index.tsx
  src/pages/trading-specification/components/_available-platform.tsx
  src/pages/trading-specification/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fix ts pages icons
  src/components/elements/market-tab/_types.ts
  src/components/elements/market-tab/_utils.ts
  src/components/elements/market-tab/index.tsx
  src/images/svg/home/commodites-live-table.svg
  src/images/svg/home/crypto-live-table.svg
  src/images/svg/home/derived-live-table.svg
  src/images/svg/home/forex-live-table.svg
  src/images/svg/home/selected_ts_commodities_icon.svg
  src/images/svg/home/selected_ts_crypto_icon.svg
  src/images/svg/home/selected_ts_derived_icon.svg
  src/images/svg/home/selected_ts_fx_icon.svg
  src/images/svg/home/selected_ts_stocks_icon.svg
  src/images/svg/home/stocks-live-table.svg
  src/images/svg/home/ts_commodities_icon.svg
  src/images/svg/home/ts_crypto_icon.svg
  src/images/svg/home/ts_derived_icon.svg
  src/images/svg/home/ts_fx_icon.svg
  src/images/svg/home/ts_stocks_icon.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fix ts pages icons (#4645)
  src/components/elements/market-tab/_types.ts
  src/components/elements/market-tab/_utils.ts
  src/components/elements/market-tab/index.tsx
  src/images/svg/home/commodites-live-table.svg
  src/images/svg/home/crypto-live-table.svg
  src/images/svg/home/derived-live-table.svg
  src/images/svg/home/forex-live-table.svg
  src/images/svg/home/selected_ts_commodities_icon.svg
  src/images/svg/home/selected_ts_crypto_icon.svg
  src/images/svg/home/selected_ts_derived_icon.svg
  src/images/svg/home/selected_ts_fx_icon.svg
  src/images/svg/home/selected_ts_stocks_icon.svg
  src/images/svg/home/stocks-live-table.svg
  src/images/svg/home/ts_commodities_icon.svg
  src/images/svg/home/ts_crypto_icon.svg
  src/images/svg/home/ts_derived_icon.svg
  src/images/svg/home/ts_fx_icon.svg
  src/images/svg/home/ts_stocks_icon.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated page link scroll
  gatsby-browser.js
  src/components/localization/withIntl.tsx
  src/features/hooks/use-link-url/index.tsx
  src/features/pages/home/trade-types/styles.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated cfd icon in trade types
  src/images/svg/home/cfd_icon_white.svg
Due: none

chore: updated page link scroll (#4646)
  gatsby-browser.js
  src/components/localization/withIntl.tsx
  src/features/hooks/use-link-url/index.tsx
  src/features/pages/home/trade-types/styles.module.scss
  src/images/svg/home/cfd_icon_white.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: resolve conflicts
  crowdin/messages.json
  src/features/components/templates/footer/disclaimer/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: translations push
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: translations push
  src/translations/es.json
  src/translations/it.json
Due: prettier --write

fix: who we are import issue
  src/pages/who-we-are/_OurOffices.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: p2p hero section
  src/features/pages/p2p/hero/banner/banner.module.scss
  src/features/pages/p2p/hero/banner/index.tsx
  src/features/pages/p2p/hero/content/index.tsx
  src/features/pages/p2p/hero/index.tsx
  src/features/pages/p2p/index.tsx
  src/images/common/p2p/p2p_hero_banner.png
  src/images/common/p2p/p2p_logo.png
  src/pages/p2p.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: numbers section
  crowdin/messages.json
  src/features/pages/p2p/index.tsx
  src/features/pages/p2p/numbers/data.ts
  src/features/pages/p2p/numbers/index.tsx
  src/features/pages/p2p/numbers/item/index.tsx
  src/features/pages/p2p/numbers/types.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: removed smooth scrolling
  gatsby-browser.js
Due: none

chore: remove shouldScroll
  gatsby-browser.js
Due: none

Remove smooth scrolling (#4649)
  gatsby-browser.js
Due: none

fix: vercel
  package-lock.json
  package.json
Due: none

chore: fix link issues
  src/features/components/atoms/link/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: address the comments
  src/features/components/templates/footer/disclaimer/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: fix the texts
  crowdin/messages.json
  src/features/components/templates/footer/disclaimer/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: style acuity landing page initial
  crowdin/messages.json
  src/features/pages/acuity/acuity-trade-tools/index.tsx
  src/features/pages/acuity/acuity.module.scss
  src/features/pages/acuity/index.tsx
  src/pages/acuity/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fixed spacing issues
  src/components/custom/_stepper_view.tsx
  src/pages/deriv-go/_start-deriv-go.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

MohammadH/ Fix 404 in non-english ebooks page (#4508)
  src/common/utility.ts
  src/components/localization/language-switcher.tsx
  src/pages/landing/ebooks/components/_get-ebook.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: dp2p
  crowdin/messages.json
  src/features/pages/p2p/dp2p/data.tsx
  src/features/pages/p2p/dp2p/index.tsx
  src/features/pages/p2p/dp2p/item/index.tsx
  src/features/pages/p2p/dp2p/types.ts
  src/features/pages/p2p/dp2p/video/index.tsx
  src/features/pages/p2p/dp2p/video/video.module.scss
  src/features/pages/p2p/index.tsx
  src/images/common/p2p/local_currency.png
  src/images/common/p2p/save_time.png
  src/images/common/p2p/web_and_mobile.png
  src/pages/p2p-v2.tsx
  src/pages/p2p/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: vercel
  src/pages/markets/components/helper/_available-platforms.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fixed spacing issues (#4653)
  src/components/custom/_stepper_view.tsx
  src/pages/deriv-go/_start-deriv-go.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: exchange steps
  crowdin/messages.json
  src/features/pages/p2p/index.tsx
  src/features/pages/p2p/steps/data.ts
  src/features/pages/p2p/steps/index.tsx
  src/features/pages/p2p/steps/item.tsx
  src/features/pages/p2p/steps/types.ts
  src/images/svg/p2p/complete-order.svg
  src/images/svg/p2p/right-ad.svg
  src/images/svg/p2p/settle-payment.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: merge conflicts
  src/classnames.d.ts
  src/pages/partners/affiliate-ib/_deriv-affiliate-programme.tsx
  src/pages/partners/affiliate-ib/_deriv-ib-programme.tsx
  src/pages/partners/affiliate-ib/_minimum-volume.tsx
  src/pages/partners/affiliate-ib/_who-can-apply.tsx
  src/pages/partners/affiliate-ib/_why-us.tsx
  src/pages/partners/affiliate-ib/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated internal link component
  src/features/components/atoms/link/index.tsx
  src/features/components/atoms/link/internal.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update setup config - disallow search engines indexing - update datadog config to beta.deriv.com
  gatsby-browser.js
  gatsby-config.js
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
