Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

fix: subtasks and refactor image (#4252)
  src/images/common/trade-types/multiplier-market-eu.png
  src/images/common/trade-types/multiplier-market.png
  src/pages/trade-types/multiplier/_how-options-works.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Konstantinos / Accumulators subtasks part 2 (#4240)
  crowdin/messages.json
  src/images/common/trade-types/accumulators-duration.png
  src/images/common/trade-types/accumulators-stake.png
  src/images/common/trade-types/accumulators-trade-type.png
  src/pages/trade-types/accumulators/_accumulators-to-trade.tsx
  src/pages/trade-types/accumulators/_how-accumulators-works.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Pr 86506 rebrand dtrader page (#4248)
  src/components/custom/_dhero.tsx
  src/components/custom/_hero-shape.tsx
  src/components/custom/_stepper_view.tsx
  src/components/custom/carousel/_markets-carousel.tsx
  src/components/custom/carousel/_platforms-carousel.tsx
  src/components/elements/carousel/carousel-style.ts
  src/pages/dtrader/_our-platforms.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Pr 85511 optimise rebranded home page (#4249)
  crowdin/messages.json
  src/components/elements/full-width-multicolumn.tsx
  src/images/common/home/banners/arabic/image-1.jpg
  src/images/svg/home/cfd_icon.svg
  src/images/svg/home/multipliers_icon.svg
  src/images/svg/home/option_icon.svg
  src/pages/home/_arabic-banner-data.tsx
  src/pages/home/_eu-banner-data.tsx
  src/pages/home/_eu-mobile-banner-data.tsx
  src/pages/home/_hero.tsx
  src/pages/home/_infinite-slide-show.tsx
  src/pages/home/_row-banner-data.tsx
  src/pages/home/_row-mobile-banner-data.tsx
  src/pages/home/_trade-types.tsx
  src/pages/index.tsx
  src/pages/markets/static/style/_markets-style.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: subtasks (#4246)
  crowdin/messages.json
  src/components/containers/container.ts
  src/components/custom/_signup-public.tsx
  src/components/elements/full-width-multicolumn.tsx
  src/components/layout/nav/styles/nav-styles.ts
  src/pages/markets/components/helper/_available-platforms.tsx
  src/pages/markets/components/helper/_available-trades_desktop.tsx
  src/pages/markets/components/sections/_hero_derived_fx.tsx
  src/pages/markets/components/sections/_other-markets.tsx
  src/pages/markets/components/sub-markets/_cfds.tsx
  src/pages/markets/instruments/_american-stocks.tsx
  src/pages/markets/static/content/_cfds.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "Pr 85511 optimise rebranded home page (#4249)" (#4260)
  crowdin/messages.json
  src/components/elements/full-width-multicolumn.tsx
  src/images/common/home/banners/arabic/image-1.jpg
  src/images/svg/home/cfd_icon.svg
  src/images/svg/home/multipliers_icon.svg
  src/images/svg/home/option_icon.svg
  src/pages/home/_arabic-banner-data.tsx
  src/pages/home/_eu-banner-data.tsx
  src/pages/home/_eu-mobile-banner-data.tsx
  src/pages/home/_hero.tsx
  src/pages/home/_infinite-slide-show.tsx
  src/pages/home/_row-banner-data.tsx
  src/pages/home/_row-mobile-banner-data.tsx
  src/pages/home/_trade-types.tsx
  src/pages/index.tsx
  src/pages/markets/static/style/_markets-style.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: add translation (#4266)
  src/translations/ach.json
Due: prettier --write

Pr 85511 optimise rebranded home page (#4263)
  crowdin/messages.json
  src/components/elements/full-width-multicolumn.tsx
  src/images/common/home/banners/arabic/image-1.jpg
  src/images/svg/home/cfd_icon.svg
  src/images/svg/home/multipliers_icon.svg
  src/images/svg/home/option_icon.svg
  src/pages/home/_arabic-banner-data.tsx
  src/pages/home/_eu-banner-data.tsx
  src/pages/home/_eu-mobile-banner-data.tsx
  src/pages/home/_hero.tsx
  src/pages/home/_infinite-slide-show.tsx
  src/pages/home/_row-banner-data.tsx
  src/pages/home/_row-mobile-banner-data.tsx
  src/pages/home/_trade-types.tsx
  src/pages/index.tsx
  src/pages/markets/static/style/_markets-style.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: subtasks (#4270)
  src/components/elements/full-width-multicolumn.tsx
  src/pages/markets/components/sections/_other-markets.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: rtl background image (#4272)
  src/pages/markets/components/sections/_hero_derived_fx.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: subtask (#4250)
  crowdin/messages.json
  src/components/custom/_signup-flat.tsx
  src/pages/markets/components/sections/_hero_derived_fx.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: change crypto pairs (#4269)
  crowdin/messages.json
  src/pages/markets/components/markets/_cryptocurrencies.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: hide livechat and whatsapp in help centre questions (#4273)
  src/pages/help-centre/components/_questions-template.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fixed padding issue (#4247)
  src/components/layout/nav/components/partner/main-nav.tsx
  src/components/layout/nav/components/partner/nav-partner-mobile.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Farhan Ahmad Nurzi/Bug_-_Help_center_watermark_-_>_“trade”_is_not_translated_for_FR,ID,IT_&_DE (#4254)
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

refactor: update plugin (#4267)
  package-lock.json
  package.json
Due: none

fix: :bug: fix vercel failur
  src/components/layout/nav/nav-markets.tsx
  src/pages/markets/basket-indices/index.tsx
  src/pages/markets/commodities/index.tsx
  src/pages/markets/forex/index.tsx
  src/pages/markets/stock/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: fix for the rendering issue
  src/pages/markets/synthetic/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: refactor trade-types tabs type and components
  src/pages/dmt5-trading-signals/_signal-steps.tsx
  src/pages/trade-types/components/_tabs.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Konstantinos / Forex subtasks part 2 (#4268)
  src/components/custom/_signup-public.tsx
  src/images/svg/custom/deriv-go.svg
  src/images/svg/custom/deriv-x.svg
  src/images/svg/custom/dmt5-icon.svg
  src/images/svg/custom/dtrader-icon.svg
  src/pages/markets/components/sections/_hero_derived_fx.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/de.json
  src/translations/es.json
  src/translations/id.json
  src/translations/it.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
Due: prettier --write

fix: footer update 2 March
  crowdin/messages.json
  src/components/layout/footer/disclaimer.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: added width for bnanner
  src/components/elements/roadmap.tsx
  src/pages/deriv-go/_banner.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: bring gcm user id
  gatsby-config.js
Due: none

chore: bring gcm user id (#4276)
  gatsby-config.js
Due: none

fix: height
  src/pages/markets/components/helper/_available-trades_desktop.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: height2
  src/pages/markets/components/helper/_available-trades_desktop.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: height 3
  src/pages/markets/components/helper/_available-trades_desktop.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: updated translation key extraction - preventing old approach to include new approach in extracted keys
  crowdin/messages.json
  scripts/extract-translations.js
  src/components/localization/config.tsx
  src/pages/404.tsx
  src/pages/index.tsx
  src/pages/our-principles/_data.tsx
  src/pages/our-principles/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: :bug: fix css issues
  src/pages/markets/components/sections/_nav-tab.tsx
  src/pages/markets/synthetic/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write
