Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

fix: review comments
  .github/workflows/lighthouse.yml
  .github/workflows/lint.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  .github/workflows/translation-delete.yml
  .github/workflows/translation-pre-delete.yml
  .github/workflows/translation-pre-push.yml
  .github/workflows/translation-push.yml
  .github/workflows/translation-sync.yml
  .github/workflows/translation.yml
  codegen.yml
  crowdin.yml
  crowdin/messages.json
  src/components/hooks/use-platform-query-param.tsx
  src/pages/partners/affiliate-ib/_deriv-ib-programme.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

build: fix Datadog RUM settings (#4467)
  gatsby-config.js
Due: none

chore: fix cookie banner
  src/features/components/molecules/layout-overlay/cookie-banner/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: mobile toggle icons
  src/features/components/molecules/mobile-menu-toggle/index.tsx
  src/images/svg/layout/mobile_toggle_close_icon.svg
  src/images/svg/layout/mobile_toggle_icon.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: german-spanish
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
Due: prettier --write

fix: add sentence
  crowdin/messages.json
  src/pages/derivx/_what-is-derivx.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

build: Pass Datadog Real User Monitoring Application ID and Client Token to gatsby build
  .github/workflows/staging.yml
Due: none

build: Pass Datadog Real User Monitoring Application ID and Client Token to gatsby build (production)
  .github/workflows/production.yml
Due: none

fix: our platforms sliders updated images
  package-lock.json
  package.json
  src/features/components/templates/navigation/main-nav/content/market/index.ts
  src/features/components/templates/navigation/main-nav/content/platform/index.ts
  src/features/pages/home/our-platforms/data.tsx
  src/features/pages/home/our-platforms/sliders/platform-images/platform-images.module.scss
  src/images/common/home/rebranding/platform_binary_bot.png
  src/images/common/home/rebranding/platform_deriv_api.png
  src/images/common/home/rebranding/platform_deriv_bot.png
  src/images/common/home/rebranding/platform_deriv_ez.png
  src/images/common/home/rebranding/platform_deriv_go.png
  src/images/common/home/rebranding/platform_deriv_trader.png
  src/images/common/home/rebranding/platform_deriv_trader_eu.png
  src/images/common/home/rebranding/platform_derivx.png
  src/images/common/home/rebranding/platform_mt5.png
  src/images/common/home/rebranding/platform_mt5_eu.png
  src/images/common/home/rebranding/platform_smart_trader.png
  src/images/svg/custom/rebranding/binarybot-icon.svg
  src/images/svg/custom/rebranding/cfds-icon.svg
  src/images/svg/custom/rebranding/commodities-icon.svg
  src/images/svg/custom/rebranding/cryptocurrencies-icon.svg
  src/images/svg/custom/rebranding/deriv-api-icon.svg
  src/images/svg/custom/rebranding/deriv-bot-icon.svg
  src/images/svg/custom/rebranding/deriv-ez-icon.svg
  src/images/svg/custom/rebranding/deriv-go-icon.svg
  src/images/svg/custom/rebranding/deriv-x-icon.svg
  src/images/svg/custom/rebranding/derived-fx-icon.svg
  src/images/svg/custom/rebranding/dmt5-icon.svg
  src/images/svg/custom/rebranding/dtrader-icon.svg
  src/images/svg/custom/rebranding/forex-icon.svg
  src/images/svg/custom/rebranding/multipliers-icon.svg
  src/images/svg/custom/rebranding/options-icon.svg
  src/images/svg/custom/rebranding/smarttrader-icon.svg
  src/images/svg/custom/rebranding/stock-indices-icon.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: deriv go alignment fixed, trade types alignment fixed
  src/features/pages/home/client-testimonial/data.ts
  src/features/pages/home/go-banner/go-text-box.tsx
  src/features/pages/home/go-banner/index.tsx
  src/features/pages/home/go-banner/qr-code.tsx
  src/features/pages/home/go-banner/styles.module.scss
  src/features/pages/home/trade-types/index.tsx
  src/features/pages/home/trade-types/styles.module.scss
  src/features/pages/home/trade-types/trade-type.item.tsx
  src/images/svg/deriv-go-icon.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: sign up title alignment
  src/features/components/templates/signup/with-banner/banner/banner.styles.scss
  src/features/components/templates/signup/with-banner/banner/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added shadow for deriv logo in deriv go banner
  src/features/pages/home/go-banner/go-text-box.tsx
  src/features/pages/home/go-banner/styles.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fixed input components
  crowdin/messages.json
  src/common/validation.ts
  src/features/components/atoms/input/checkbox/checkbox-input.styles.scss
  src/features/components/atoms/input/checkbox/index.tsx
  src/features/components/atoms/input/index.tsx
  src/features/components/atoms/input/text/index.tsx
  src/features/components/atoms/input/text/text-input.styles.scss
  src/features/components/templates/signup/index.tsx
  src/features/components/templates/signup/with-banner/form/form.module.scss
  src/features/components/templates/signup/with-banner/form/index.tsx
  src/features/pages/home/client-testimonial/slider/styles.scss
  src/features/pages/home/hero/slider/index.tsx
  src/features/pages/home/markets/market-slider/index.tsx
  src/features/pages/home/our-platforms/data.tsx
  src/features/pages/home/our-platforms/sliders/platform-images/index.tsx
  src/features/pages/home/our-platforms/sliders/platform-main/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

tib/build: Pass Datadog Real User Monitoring Application ID and Client Token to gatsby build (#4469)
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

ci: add env: production
  gatsby-config.js
Due: none

chore: use single quote
  gatsby-config.js
Due: none

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: build fail issue
  package-lock.json
Due: none

ci: change sampleRate to 100% to test the env
  gatsby-config.js
Due: none

Ako/ update Datadog env value (#4470)
  gatsby-config.js
Due: none

feat: region specifc content with query param
  src/common/country-base.ts
  src/store/region-context.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

ci: change sampleRate to 1%
  gatsby-config.js
Due: none

ci: change sampleRate to 1% (#4473)
  gatsby-config.js
Due: none

fix: check region param
  src/store/region-context.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: career heros
  src/components/graphql/image-fragments.ts
  src/pages/careers/_dept-layout-components/_dept-layout.types.tsx
  src/pages/careers/_dept-layout-components/_hero.tsx
  src/pages/careers/_model/_locations/_locations.tsx
  src/pages/careers/_model/_locations/_locations.types.ts
  src/pages/careers/data/_career-data.tsx
  src/pages/careers/locations/_location-layout-new-offices.tsx
  src/pages/careers/locations/_location-layout.tsx
  src/pages/careers/locations/asuncion/index.tsx
  src/pages/careers/locations/berlin/index.tsx
  src/pages/careers/locations/ciudad/index.tsx
  src/pages/careers/locations/cyberjaya/index.tsx
  src/pages/careers/locations/cyprus/index.tsx
  src/pages/careers/locations/dubai/index.tsx
  src/pages/careers/locations/georgetown/index.tsx
  src/pages/careers/locations/guernsey/index.tsx
  src/pages/careers/locations/index.tsx
  src/pages/careers/locations/ipoh/index.tsx
  src/pages/careers/locations/jordan/index.tsx
  src/pages/careers/locations/labuan/index.tsx
  src/pages/careers/locations/malta/index.tsx
  src/pages/careers/locations/melaka/index.tsx
  src/pages/careers/locations/minsk/index.tsx
  src/pages/careers/locations/paris/index.tsx
  src/pages/careers/locations/reading/index.tsx
  src/pages/careers/locations/roadtown/index.tsx
  src/pages/careers/locations/rwanda/index.tsx
  src/pages/careers/locations/singapore/index.tsx
  src/pages/careers/locations/vanuatu/index.tsx
  src/pages/p2p/components/_hero.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

ci: change sampleRate key to sessionSampleRate as first one has been deprecated
  gatsby-config.js
Due: none

ci: change sampleRate key to sessionSampleRate as first one has been deprecated (#4474)
  gatsby-config.js
Due: none

ci: change replaySampleRate key to sessionReplaySampleRate
  gatsby-config.js
Due: none

ci: update sessionSampleRate value to 1
  gatsby-config.js
Due: none

ci: change value of sessionReplaySampleRate to 1%
  gatsby-config.js
Due: none

Ako/ change replaySampleRate key to sessionReplaySampleRate (#4475)
  gatsby-config.js
Due: none

refactor: added loading eager to the hero images
  src/pages/bug-bounty/_hero.tsx
  src/pages/careers/_hero.tsx
  src/pages/careers/_model/_locations/_locations.tsx
  src/pages/careers/data/_career-data.tsx
  src/pages/landing/forex-trading/components/_hero.tsx
  src/pages/landing/trade-forex/components/_hero.tsx
  src/pages/landing/weekend-trading/components/_hero.tsx
  src/pages/partners/affiliate-ib/_hero.tsx
  src/pages/why-choose-us/_africa-forex-award.tsx
  src/pages/why-choose-us/_latam-forex-award.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: improvements
  crowdin/messages.json
  src/components/elements/market-tab/_styles.tsx
  src/pages/trading-specification/_use-trading-spec-columns.tsx
  src/pages/trading-specification/components/_available-platform.tsx
  src/pages/trading-specification/components/_calculationCard.tsx
  src/pages/trading-specification/components/_elements.tsx
  src/pages/trading-specification/components/_popup_menu.tsx
  src/pages/trading-specification/components/_trading_spec_table.tsx
  src/pages/trading-specification/index.tsx
  src/themes/variables.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: review comments
  gatsby-config.js
  src/components/hooks/use-platform-query-param.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: alt messages
  src/pages/home/_trade-types.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: subtasks
  crowdin/messages.json
  src/components/custom/_agreement-label.tsx
  src/components/elements/common-header-section.tsx
  src/components/elements/full-width-multicolumn.tsx
  src/pages/dmt5-trading-signals/_signal-steps.tsx
  src/pages/help-centre/components/_translation-components.tsx
  src/pages/markets/components/helper/_available-trades_desktop.tsx
  src/pages/markets/components/sections/_hero_derived_fx.tsx
  src/pages/markets/components/sections/_options-nav-tab.tsx
  src/pages/markets/components/sub-markets/_cfds.tsx
  src/pages/markets/static/content/_cfds.tsx
  src/pages/trade-types/accumulators/_accumulators-to-trade.tsx
  src/pages/trade-types/accumulators/_how-accumulators-works.tsx
  src/pages/trade-types/accumulators/_what-are-accumulators.tsx
  src/pages/trade-types/components/_tabs.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: translation
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
