Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

fix: regulatory miss alignment
  src/pages/regulatory/_eu-grid.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: left crop issue fixed
  src/features/pages/home/live-pricing-migration/cards/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: alignment issue for the hero block
  src/features/pages/home/cta/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: dummy comment
  crowdin/messages.json
  src/features/pages/ctrader-signup/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

html css config changes
  gatsby-config.js
Due: none

remove source-maps from this pr
  gatsby-node.js
Due: none

fix: revert unwanted text
  crowdin/messages.json
  src/features/pages/ctrader-signup/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: remove-unused-logo (#6807)
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: swahili
  src/features/components/templates/layout/data.ts
  src/features/pages/home/data.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: crwodin
  i18n-config.js
Due: none

fix: alignment issue for the hero block (#6814)
  src/features/pages/home/cta/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: hotfix
  package-lock.json
  package.json
  src/data/trustpilot.json
  src/features/pages/home/live-pricing-migration/utils/index.ts
  src/features/pages/home/years/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Meenu/Pr 1911 meenu hotfix live price card (#6813)
  package-lock.json
  package.json
  src/data/trustpilot.json
  src/features/pages/home/live-pricing-migration/cards/index.tsx
  src/features/pages/home/live-pricing-migration/utils/index.ts
  src/features/pages/home/years/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

build opt test
  gatsby-node.js
  package-lock.json
  package.json
Due: none

build optimization with webpack and terser, not latest quill-icons
  gatsby-node.js
  package-lock.json
  package.json
Due: none

optimize html and css
  gatsby-config.js
  package-lock.json
  package.json
Due: none

Merge master into eduard-deriv-DPROD-2750-html-css-webpack-one-chunk-no-source-maps
  package-lock.json
Due: none

fix: crowdin
  i18n-config.js
Due: none

ci: remove npmrc file as we download them from npm
  .npmrc
Due: none

build: use the latest package versions from npm registry
  package-lock.json
  package.json
Due: none

mayuran/WEBREL-1915/Forex at your fingertips sentence is not translated (#6815)
  src/features/pages/ctrader-signup/index.tsx
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_tw.json
Due: prettier --write

fix: first_name trim
  src/pages/signup-affiliates/components/_account-details.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: arrow fix
  src/pages/trading-specification/components/_elements.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove prop
  src/pages/trading-specification/components/_elements.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "mayuran/WEBREL-1915/Forex at your fingertips sentence is not translated"
  src/features/pages/ctrader-signup/index.tsx
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "mayuran/WEBREL-1915/Forex at your fingertips sentence is not translated" (#6832)
  src/features/pages/ctrader-signup/index.tsx
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "Meenu/Pr 1911 meenu hotfix live price card"
  package-lock.json
  package.json
  src/data/trustpilot.json
  src/features/pages/home/live-pricing-migration/cards/index.tsx
  src/features/pages/home/live-pricing-migration/utils/index.ts
  src/features/pages/home/years/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "Meenu/Pr 1911 meenu hotfix live price card" (#6834)
  package-lock.json
  package.json
  src/data/trustpilot.json
  src/features/pages/home/live-pricing-migration/cards/index.tsx
  src/features/pages/home/live-pricing-migration/utils/index.ts
  src/features/pages/home/years/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
