Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

fix: padding fixes
  src/pages/home/_p2p_home_banner.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update translation-push.yml (#3416)
  .github/workflows/translation-push.yml
Due: none

Update translation-push.yml
  .github/workflows/translation-push.yml
Due: none

Update translation-push.yml (#3417)
  .github/workflows/translation-push.yml
Due: none

Konstantinos / [FE Deriv.com squad] [Office] Add Paris & Guernsey in Contact Us page (#3373)
  crowdin/messages.json
  src/images/common/maps/map-france.jpg
  src/images/common/maps/map-france.png
  src/images/common/maps/map-guernsey.jpg
  src/images/common/maps/map-guernsey.png
  src/images/svg/contact/france.svg
  src/images/svg/contact/guernsey.svg
  src/pages/careers/_model/_locations/_contact-details.ts
  src/pages/careers/_model/_locations/_locations.ts
  src/pages/careers/locations/guernsey/index.tsx
  src/pages/contact_us/_offices.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: change name of color property and add html attributes for types
  src/pages/academy/components/video-banner/carousel/_carousel-style.ts
  src/pages/academy/components/video-banner/carousel/_custom-carousel.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update translation-push.yml (#3418)
  .github/workflows/translation-push.yml
Due: none

fix: responsive fix
  src/pages/home/_p2p_home_banner.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: changed expanded to is_expanded
  src/pages/payment-methods/_expanded-list.tsx
  src/pages/payment-methods/_mobile-accordian-item.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update translation-push.yml (#3419)
  .github/workflows/translation-push.yml
Due: none

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: update translation pull script
  scripts/handle-translations.js
Due: none

chore: change type in show.tsx and make NonEU component the same as Eu
  src/components/containers/show.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: added payment type
  src/pages/payment-methods/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Prince/ Update translation pull script (#3420)
  scripts/handle-translations.js
Due: none

Prince/Update translation pull script (#3421)
  scripts/handle-translations.js
Due: none

fix: qrcode size fixed
  src/pages/home/_p2p_home_banner.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fixed width for smaller screens
  src/pages/partners/affiliate-ib/_more-reason.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: update package lock json with master
  package-lock.json
Due: none

fix: upload the correct version
  static/tnc/funds-and-transfers.pdf
Due: none

refactor: move url to constants, convert start_index to variable and flip conditional
  src/common/constants.ts
  src/components/hooks/use-website-status.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Mitra/fix: update tnc for funds and transfer (#3377)
  static/tnc/funds-and-transfers.pdf
Due: none

fix: rearranged the input fields
  crowdin/messages.json
  src/components/custom/_signup-affiliate-details.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "chore: update package lock and some spacing issue (#3405)"
  crowdin/messages.json
  package-lock.json
  package.json
  src/pages/careers/_model/_locations/_locations.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "chore: update package lock and some spacing issue (#3405)" (#3423)
  crowdin/messages.json
  package-lock.json
  package.json
  src/pages/careers/_model/_locations/_locations.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "Meenu/feat: added singapore to careers (#3362)"
  crowdin/messages.json
  package-lock.json
  package.json
  src/images/common/careers/living_in_singapore.png
  src/images/common/careers/singapore.png
  src/images/common/careers/singapore_grid_3.png
  src/images/common/careers/thumbnail_singapore.png
  src/images/svg/careers/flag_singapore.svg
  src/pages/careers/_model/_locations/_locations.ts
  src/pages/careers/locations/_location-layout-new-offices.tsx
  src/pages/careers/locations/index.tsx
  src/pages/careers/locations/singapore/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "Meenu/feat: added singapore to careers (#3362)" (#3424)
  crowdin/messages.json
  package-lock.json
  package.json
  src/images/common/careers/living_in_singapore.png
  src/images/common/careers/singapore.png
  src/images/common/careers/singapore_grid_3.png
  src/images/common/careers/thumbnail_singapore.png
  src/images/svg/careers/flag_singapore.svg
  src/pages/careers/_model/_locations/_locations.ts
  src/pages/careers/locations/_location-layout-new-offices.tsx
  src/pages/careers/locations/index.tsx
  src/pages/careers/locations/singapore/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "Iman / test configurations added (#2926)"
  .eslintrc
  __mocks__/file-mock.js
  __mocks__/gatsby.js
  jest-preprocess.js
  jest.config.js
  loadershim.js
  package-lock.json
  package.json
  setupTests.js
  src/components/elements/carousel/carousel-style.js
  src/components/elements/dropdown.js
  src/components/elements/side-tab.js
  src/components/elements/typography.js
  src/components/localization/language-dropdown.js
  src/pages/academy/components/video-banner/carousel/_carousel-style.js
  src/pages/signup/__tests__/index.spec.js
  svgTransform.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "Iman / test configurations added (#2926)" (#3425)
  .eslintrc
  __mocks__/file-mock.js
  __mocks__/gatsby.js
  jest-preprocess.js
  jest.config.js
  loadershim.js
  package-lock.json
  package.json
  setupTests.js
  src/components/elements/carousel/carousel-style.js
  src/components/elements/dropdown.js
  src/components/elements/side-tab.js
  src/components/elements/typography.js
  src/components/localization/language-dropdown.js
  src/pages/academy/components/video-banner/carousel/_carousel-style.js
  src/pages/signup/__tests__/index.spec.js
  svgTransform.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write
