Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

feat: cpa eu card added
  crowdin/messages.json
  src/pages/partners/affiliate-ib/cpa-eu/_calculated-card.tsx
  src/pages/partners/affiliate-ib/cpa-eu/_default-card.tsx
  src/pages/partners/affiliate-ib/cpa-eu/_index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: update faq data
  crowdin/messages.json
  src/pages/partners/affiliate-ib/_faq-data.tsx
  src/pages/partners/affiliate-ib/_faq.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: update faq links
  src/pages/partners/affiliate-ib/_faq-data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: height issue
  src/pages/partners/affiliate-ib/cpa-eu-only/_default-card.tsx
  src/pages/partners/affiliate-ib/revenue-share/_default-card.tsx
  src/pages/partners/affiliate-ib/turnover/_default-card.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: headers margin
  src/pages/partners/affiliate-ib/_faq.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/vi.json
Due: prettier --write

fix: earn and subtext contnet
  src/pages/partners/affiliate-ib/_deriv-affiliate-programme.tsx
  src/pages/partners/affiliate-ib/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/fr.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/tr.json
  src/translations/vi.json
Due: prettier --write

fix: turbo navigation and icons
  src/features/components/organisms/options-top-tab/data.ts
  src/features/components/templates/navigation/tab-nav-without-border/index.tsx
  src/features/components/templates/navigation/tab-nav-without-border/styles.module.scss
  src/features/components/templates/tabs/navigation-menu/styles.module.scss
  src/images/svg/trade-types/options/options-images/Active/accumulators_active.svg
  src/images/svg/trade-types/options/options-images/Active/digital_active.svg
  src/images/svg/trade-types/options/options-images/Active/turbo_active.svg
  src/images/svg/trade-types/options/options-images/Active/vanilla_active.svg
  src/images/svg/trade-types/options/options-images/Inactive/accumulators_inactive.svg
  src/images/svg/trade-types/options/options-images/Inactive/digital_active.svg
  src/images/svg/trade-types/options/options-images/Inactive/digital_inactive.svg
  src/images/svg/trade-types/options/options-images/Inactive/turbo_inactive.svg
  src/images/svg/trade-types/options/options-images/Inactive/vanilla_inactive.svg
  src/images/svg/trade-types/options/options-images/index.tsx
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: setUrl issue
  gatsby-browser.js
Due: none

added cTrader tab ib coms partners page
  src/pages/partners/affiliate-ib/_deriv-ib-programme.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: add gap for translated languages
  src/features/components/templates/navigation/tab-nav-without-border/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: empty commit
  crowdin/messages.json
Due: none

fix: removed the demo account tab
  src/features/components/atoms/tab/tab-switcher/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ar.json
  src/translations/pl.json
  src/translations/sw.json
Due: prettier --write

chore: reenabled live pricing
  src/common/constants.ts
  src/components/elements/symbols-shortcode.ts
  src/components/hooks/use-pricing-feed.tsx
  src/features/pages/home/live-pricing/index.tsx
  src/features/pages/home/live-pricing/market-tabs/market-tab.tsx
  src/features/pages/home/live-pricing/market-tabs/utils.tsx
  src/features/pages/home/live-pricing/table-component/live-market-table.tsx
  src/features/pages/home/live-pricing/table-component/symbol-icon.tsx
  src/features/pages/home/live-pricing/types.tsx
  src/features/pages/home/live-pricing/use-live-columns.tsx
  src/images/svg/symbols/etf-usd-500.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: refactor image file structure
  src/components/elements/carousel/carousel-style.ts
  src/images/svg/be-square/besquare_facebook.svg
  src/images/svg/be-square/besquare_linkedin.svg
  src/images/svg/blog/blog_close_icon.svg
  src/images/svg/blog/blog_facebook.svg
  src/images/svg/careers/career_competence.svg
  src/images/svg/careers/career_customer.svg
  src/images/svg/careers/career_downwards_left.svg
  src/images/svg/careers/career_downwards_right.svg
  src/images/svg/careers/career_flag_belarus.svg
  src/images/svg/careers/career_flag_bvi.svg
  src/images/svg/careers/career_flag_cayman.svg
  src/images/svg/careers/career_flag_cyprus.svg
  src/images/svg/careers/career_flag_france.svg
  src/images/svg/careers/career_flag_germany.svg
  src/images/svg/careers/career_integrity.svg
  src/images/svg/careers/career_teamwork.svg
  src/images/svg/careers/career_tip.svg
  src/images/svg/careers/home/home_1.svg
  src/images/svg/careers/home/home_2.svg
  src/images/svg/careers/home/home_3.svg
  src/images/svg/careers/home/home_4.svg
  src/images/svg/carousel_chevron.svg
  src/pages/careers/_model/_locations/_locations.tsx
  src/pages/careers/_our-hiring-process.tsx
  src/pages/careers/_our-values.tsx
  src/pages/careers/locations/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: refactor images file structure
  src/features/pages/check-email/check-email.steps.tsx
  src/features/pages/ctrader-signup/signup-credentials.tsx
  src/images/svg/careers/career_1.svg
  src/images/svg/careers/career_2.svg
  src/images/svg/careers/career_3.svg
  src/images/svg/careers/career_4.svg
  src/images/svg/careers/career_flag_channel_islands.svg
  src/images/svg/careers/career_flag_hongkong.svg
  src/images/svg/careers/career_flag_jordan.svg
  src/images/svg/careers/career_flag_malaysia.svg
  src/images/svg/careers/career_flag_malta.svg
  src/images/svg/careers/career_flag_paraguay.svg
  src/images/svg/careers/career_flag_rwanda.svg
  src/images/svg/careers/career_flag_singapore.svg
  src/images/svg/careers/career_flag_uae.svg
  src/images/svg/careers/career_flag_uk.svg
  src/images/svg/careers/career_flag_vanuatu.svg
  src/images/svg/careers/career_map.svg
  src/images/svg/careers/career_quotemark.svg
  src/images/svg/check-email/check_email_firewalls.svg
  src/images/svg/check-email/check_email_spam.svg
  src/images/svg/check-email/check_email_typo.svg
  src/images/svg/check-email/check_email_work_email.svg
  src/images/svg/ctrader/ctrader_email.svg
  src/images/svg/why-choose-us/wd-customer-first-trading.svg
  src/images/svg/why-choose-us/wd-help.svg
  src/images/svg/why-choose-us/wd-licensed-regulated.svg
  src/images/svg/why-choose-us/wd-proven-track-record.svg
  src/images/svg/why-choose-us/wd-risk.svg
  src/images/svg/why-choose-us/wd-your-safety.svg
  src/images/svg/why-choose-us/why_us_client_money_protection.svg
  src/pages/careers/_employee-testimonial-carousel.tsx
  src/pages/careers/_model/_locations/_locations.tsx
  src/pages/careers/_our-hiring-process.tsx
  src/pages/careers/locations/_location-layout-new-offices.tsx
  src/pages/careers/locations/_location-layout.tsx
  src/pages/why-choose-us/_icon-grid.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: use custom hook
  src/pages/partners/affiliate-ib/_dmt5-cards.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix
  src/pages/partners/affiliate-ib/_deriv-ib-programme.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: full react error on staging
  src/pages/index.tsx
  src/pages/reset-password/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
