Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update validation functions with length check
  crowdin/messages.json
  src/pages/signup-affiliates/validations/_affilaite_validation.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fixed minified error of layout overlay
  src/features/components/molecules/layout-overlay/cfd-warning-banner/desktop-text.tsx
  src/features/components/molecules/layout-overlay/cfd-warning-banner/index.tsx
  src/features/components/molecules/layout-overlay/cfd-warning-banner/mobile-text.tsx
  src/features/components/molecules/layout-overlay/index.tsx
  src/features/pages/home/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Mayuran/issue message json extract texts (#6995)
  crowdin/messages.json
  scripts/extract-translations.js
Due: none

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: remove console log
  src/pages/signup-affiliates/components/_signup-status.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: flags and grid
  src/pages/regulatory/_eu-grid.tsx
  src/pages/regulatory/eu_grid.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: revert home page
  src/features/pages/home/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: test homepage
  src/features/pages/home/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: border bottom fix
  src/pages/regulatory/eu_grid.module.scss
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fixed signup banner issue
  crowdin/messages.json
  src/features/components/templates/signup/with-banner/form/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: call get lang direction funtion to test the block
  src/features/pages/home/fast-payment/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update beta.yml
  .github/workflows/beta.yml
Due: none

chore: trim postcode- websiteurl
  src/pages/signup-affiliates/utils/_utils.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fixed layout overlay for eu
  crowdin/messages.json
  src/features/components/molecules/layout-overlay/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: add required key
  gatsby-ssr.js
Due: none

chore: remove unused variable
  gatsby-node.js
Due: none

Habib/DPROD-3364/add required key link tag (#7006)
  gatsby-node.js
  gatsby-ssr.js
Due: none

fix: remove analytics
  gatsby-browser.js
  package-lock.json
  package.json
  src/features/components/templates/signup/with-banner/social/index.tsx
  src/features/hooks/ab-testing/use-partners-signup-link/index.ts
  src/features/hooks/use-signup-form/index.tsx
  src/features/pages/signup/form-container/form-social-buttons.tsx
  src/features/pages/signup/index.tsx
  src/pages/signup-success/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove additional back slash
  src/translations/fr.json
Due: prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/fr.json
Due: prettier --write

chore: add rtl css
  static/css/global.css
Due: none

chore: commented everything from homepage except header and footer
  src/features/pages/home/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
