Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

fix: seo for our values
  src/pages/who-we-are/_OurValues.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: dex update
  src/pages/trading-specification/data/_derived_specification.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: add disclaimer back
  src/components/layout/layout-overlay.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

feat: update package version and resolve cookie issue
  gatsby-browser.js
  package-lock.json
  package.json
Due: none

fix: minified error in use visible content
  src/components/hooks/use-visible-content.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: minified error in trade types
  src/features/pages/home/trade-types/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: minified error in layout overlay
  src/features/components/molecules/layout-overlay/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: debug
  gatsby-browser.js
Due: none

chore: debug
  gatsby-browser.js
  src/store/website-status-context.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: resolved and cleanup
  gatsby-browser.js
  src/features/pages/home/hero/content/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: map issues (#5783)
  src/pages/who-we-are/_OurOffices.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: pdf added (#5779)
  static/tnc/business-partners-general-terms.pdf
Due: none

fix: hover issue (#5792)
  src/features/components/templates/navigation/template/desktop-menu/desktop.items.tsx
  src/features/components/templates/navigation/template/desktop-menu/styles.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/fr.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
Due: prettier --write

fix: update pdfs (#5790)
  static/tnc/eu/trading-terms.pdf
  static/tnc/trading-terms.pdf
Due: none

fix: minified error in cfd page
  crowdin/messages.json
  src/components/elements/stepper-view.tsx
  src/pages/trade-types/cfds/_start-trading.tsx
  src/pages/trade-types/cfds/_what_is_cfd.tsx
  src/pages/trade-types/cfds/index.tsx
  src/pages/trade-types/content/static/_cfd.tsx
  src/pages/trade-types/content/static/_start-trading.tsx
  src/pages/trade-types/multiplier/_start-trading.tsx
  src/pages/trade-types/options/index.tsx
  src/types/generics.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: user_id undefined
  gatsby-browser.js
Due: none

fix: minified error in market pages
  src/pages/markets/commodities/index.tsx
  src/pages/markets/cryptocurrencies/index.tsx
  src/pages/markets/forex/index.tsx
  src/pages/markets/stock/index.tsx
  src/pages/markets/synthetic/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: add identifyEvent separately
  gatsby-browser.js
Due: none

fix: minified error in regulatory page
  crowdin/messages.json
  src/pages/regulatory/_info-row-cpa.tsx
  src/pages/regulatory/_investment-europe.tsx
  src/pages/regulatory/_style.tsx
  src/pages/regulatory/_type.ts
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: minified error in forex market page
  src/pages/markets/components/markets/_forex.tsx
  src/pages/markets/forex/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: add certification-who we are page too for row
  src/features/components/templates/banners/award-banners/award-banner-eu/index.tsx
  src/features/components/templates/banners/award-banners/awardProps.ts
  src/pages/who-we-are/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: minified error in synthetic market page
  src/pages/markets/components/markets/_synthetic-indices.tsx
  src/pages/markets/components/sections/_hero_derived_fx.tsx
  src/pages/markets/components/sections/_nav-tab.tsx
  src/pages/markets/synthetic/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: minified error in rest market pages
  src/pages/markets/commodities/index.tsx
  src/pages/markets/components/markets/_commodities.tsx
  src/pages/markets/components/markets/_cryptocurrencies.tsx
  src/pages/markets/components/markets/_stock-indices.tsx
  src/pages/markets/cryptocurrencies/index.tsx
  src/pages/markets/stock/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: export messages.json
  src/pages/who-we-are/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: export messages.json
  crowdin/messages.json
  src/pages/who-we-are/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove unused style from deriv prime
  src/features/pages/partners/deriv-prime/connectivity-reliability/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

fix: seo updates
  crowdin/messages.json
  src/features/components/templates/signup/with-banner/banner/index.tsx
  src/features/components/templates/signup/with-banner/form/index.tsx
  src/features/pages/home/client-testimonial/index.tsx
  src/features/pages/home/hero/content/data.ts
  src/features/pages/home/hero/content/hero-header.items.tsx
  src/features/pages/home/our-platforms/index.tsx
  src/features/pages/home/trade-types/index.tsx
  src/pages/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Update CODEOWNERS (#5807)
  .github/CODEOWNERS
Due: none

fix: removed the binary.com
  crowdin/messages.json
  src/pages/why-choose-us/_icon-grid.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write
