Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

chore: translation
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: translation
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: final translation
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: columns
  src/pages/markets/static/style/_markets-style.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "MohammadH/ Test UTM (#4403)"
  gatsby-browser.js
Due: none

Revert "MohammadH/ Test UTM (#4403)" (#4418)
  gatsby-browser.js
Due: none

Konstantinos / Guernsey update (#4330)
  crowdin/messages.json
  src/pages/regulatory/index.tsx
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: updated funds and transfer ROW pdf
  static/tnc/funds-and-transfers.pdf
Due: none

Farhan Nurzi / EU Payment method page - Mobile view is not showing correctly (#4347)
  crowdin/messages.json
  src/pages/payment-methods/_payment-data.tsx
  src/pages/payment-methods/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: master crowdin translation conflicts
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: master crowdin translation conflicts (#4420)
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

Konstantinos / [FE Deriv.com squad] Careers > Join your team > Change title from 'People Management' to 'Human Resources' #3748 (#4077)
  deriv.com.conf
  gatsby-node.js
  src/images/common/careers-2/human-resources-bg.png
  src/images/common/careers-2/human-resources-desc.png
  src/images/common/careers-2/human-resources-review-mobile.png
  src/images/common/careers-2/human-resources-review.png
  src/images/common/careers/Human-Resources.png
  src/pages/careers/_dept-layout-components/_dept-description.tsx
  src/pages/careers/_dept-layout-components/_hero.tsx
  src/pages/careers/_dept-layout-components/_staff-review.tsx
  src/pages/careers/_join_your_team.tsx
  src/pages/careers/data/_career-data.ts
  src/pages/careers/human-resources/index.tsx
  src/translations/ach.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: checking some unexpected behaviors
  end-to-end-tests/onboarding.ts
  end-to-end-tests/tests/navigation.spec.ts
Due: none

fix: refactor code
  src/components/custom/_signup-new.tsx
  src/pages/landing/ebooks/components/_get-ebook.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: rtl background
  src/pages/markets/components/sections/_hero_derived_fx.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: accordion refactoring for faqs and calculator
  crowdin/messages.json
  src/components/elements/accordion.tsx
  src/components/elements/off-canvas-menu.tsx
  src/pages/partners/affiliate-ib/_faq.tsx
  src/pages/partners/payment-agent/_faq.tsx
  src/pages/regulatory/_document_accordion.tsx
  src/pages/trader-tools/pip-calculator/_pip-calculator.tsx
  src/pages/trader-tools/pnl-for-margin/_pnl-margin-calculator.tsx
  src/pages/trader-tools/pnl-for-multipliers/_pnl_multipliers_calculator.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fixed comments
  crowdin/messages.json
  src/components/custom/_signup-new.tsx
  src/components/custom/signup.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: button
  src/components/custom/_signup-public.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: name change
  src/pages/trader-tools/pip-calculator/_pip-calculator.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove is-eu-country
  src/store/region-context.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: safari good browser issues
  src/components/custom/_signup-public.tsx
  src/pages/markets/components/sections/_other-markets.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove Japan
  crowdin/messages.json
  src/pages/help-centre/data/_accumulators.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :coffin: remove unused usestate
  src/components/layout/layout.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: updated funds and transfer ROW pdf (#4419)
  static/tnc/funds-and-transfers.pdf
Due: none

feat: worked on stepper view section
  crowdin/messages.json
  src/components/custom/_box-styled-grid.tsx
  src/components/custom/_stepper_view.tsx
  src/pages/dmt5/_download-app.tsx
  src/pages/dmt5/_flexibility.tsx
  src/pages/dmt5/_interest_free_trading.tsx
  src/pages/dmt5/_start-trader.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: included language in binary bot url
  src/common/constants.ts
  src/common/utility.ts
  src/components/custom/other-platforms.tsx
  src/components/elements/off-canvas-menu.tsx
  src/components/layout/footer/main-links.tsx
  src/components/localization/localized-link.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: crowdin master
  src/translations/ach.json
  src/translations/ko.json
  src/translations/vi.json
Due: prettier --write

fix: crowdin master (#4425)
  src/translations/ach.json
  src/translations/ko.json
  src/translations/vi.json
Due: prettier --write

chore: update sentence
  crowdin/messages.json
  src/pages/help-centre/data/_accumulators.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: markets
  src/pages/markets/static/style/_markets-style.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: fix font size
  src/pages/derivez/_hero.tsx
  src/pages/derivez/_numbers.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: use new query param plugin
  gatsby-config.js
  package-lock.json
  package.json
  src/components/hooks/use-platform-query-param.tsx
  src/pages/markets/components/helper/_available-trades_desktop.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Konstantinos / Remove Japan (#4426)
  crowdin/messages.json
  src/common/country-base.ts
  src/components/custom/_signup-public.tsx
  src/pages/help-centre/data/_accumulators.ts
  src/pages/markets/components/sections/_other-markets.tsx
  src/pages/markets/static/style/_markets-style.tsx
  src/pages/trade-types/components/_style.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove language restriction for binary bot
  src/common/constants.ts
  src/common/utility.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: translation FAQ
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: remove external link popup for eu domain in help-centre blog links
  src/pages/help-centre/components/_derived.tsx
  src/pages/help-centre/components/_translation-components.tsx
  src/pages/help-centre/data/_data-types.ts
  src/pages/help-centre/data/_dbot.ts
  src/pages/help-centre/data/_trading.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: updated strapper view json data
  crowdin/messages.json
  src/pages/dbot/_steps_section.tsx
  src/pages/deriv-go/_start-deriv-go.tsx
  src/pages/derivx/_start-derivx.tsx
  src/pages/dtrader/_steps_section.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fixed test failing on the first run
  end-to-end-tests/onboarding.ts
  end-to-end-tests/tests/navigation.spec.ts
  end-to-end-tests/tests/translation.spec.ts
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
