Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

chore: added layout overlay components
  src/features/components/quill/layout-overlay/cfd-warning-banner/index.tsx
  src/features/components/quill/layout-overlay/cookie-banner/index.tsx
  src/features/components/quill/layout-overlay/floating-button/index.tsx
  src/features/components/quill/layout-overlay/index.tsx
  src/features/components/quill/layout-overlay/live-chat-button/index.tsx
  src/features/components/quill/layout-overlay/whats-app-button/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: great place to work cropping issue in careers page (#6322)
  src/components/layout/layout.tsx
  src/pages/careers/locations/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translations: 📚 sync translations with crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: added quill layout component
  src/features/components/quill/quill-layout/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: removed css from layout component
  src/features/components/templates/layout/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added quill layout to homepage
  src/features/pages/home/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: removed css from page component
  src/pages/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added block and component css to global css
  static/css/global.css
Due: none

chore: removed ibm and ubuntu fonts
  static/css/ibm-plex-sans-var.css
  static/css/ubuntu.css
  static/fonts/IBMPlexSans-Bold.woff2
  static/fonts/IBMPlexSansVar-Italic.woff2
  static/fonts/IBMPlexSansVar-Roman.woff2
  static/fonts/Ubuntu-Bold.woff2
  static/fonts/Ubuntu-Light.woff2
  static/fonts/Ubuntu-Medium.woff2
  static/fonts/Ubuntu-Regular.woff2
Due: none

chore: updated tailwind config
  tailwind.config.js
Due: none

fix: navigation button alignment issue in mobile (#6327)
  package-lock.json
  package.json
Due: none

chore: added region loading condiition
  src/features/pages/home/hero/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added region loading condition to text
  src/features/pages/home/hero/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Meenu/hotfix search bar fs issue (#6335)
  src/pages/trading-specification/components/_trading_spec_table.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove unused import
  src/features/components/templates/signup/with-banner/social/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: update deriv prime logo
  src/features/components/templates/navigation/partners-nav/prime-nav.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: footer description for diel (#6329)
  crowdin/messages.json
  src/features/components/templates/footer/description.tsx
  src/features/components/templates/footer/index.tsx
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: added region loading condition to image
  src/features/pages/home/hero/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: removed border for button
  src/pages/help-centre/components/_didnt-find-answer.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: tracking issues
  crowdin/messages.json
  src/pages/signup-affiliates/components/wizard-component/wizard-footer.tsx
  src/pages/signup-affiliates/utils/_tracking.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: active menu items in partners, careers nav
  package-lock.json
  package.json
Due: none

feat: ask before leave the page
  src/pages/signup-affiliates/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: removed console
  src/features/pages/home/hero/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: update quill-icons version
  package-lock.json
  package.json
Due: none

fix: labelPaired issue
  package-lock.json
  package.json
  src/features/components/templates/footer/download.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: quill-icon stable version usage
  package-lock.json
  package.json
Due: none

fix: labelPaired issue in navigation
  src/features/components/templates/navigation/main-nav/nav.buttons.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write
