Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

fix: vercel error fix
  src/common/utility.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fetch latest master crowdin
  src/translations/ach.json
  src/translations/ar.json
  src/translations/de.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pt.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: fetch latest master crowdin (#3793)
  src/translations/ach.json
  src/translations/ar.json
  src/translations/de.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pt.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

feat: update behaviour, naming
  src/pages/unsubscribe/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: change images
  crowdin/messages.json
  src/images/common/dmt5/dmt5-demo-step2-eu.png
  src/images/common/dmt5/dmt5-demo-step2-mobile-eu.png
  src/images/common/dmt5/dmt5-real-step3-eu.png
  src/images/common/dmt5/dmt5-real-step3-mobile-eu.png
  src/images/common/dmt5/dmt5-real-step4-eu.png
  src/images/common/dmt5/dmt5-real-step4-mobile-eu.png
Due: none

chore: replace images
  src/images/common/dmt5/dmt5-demo-step2-eu.png
  src/images/common/dmt5/dmt5-demo-step2-mobile-eu.png
  src/images/common/dmt5/dmt5-real-step3-eu.png
  src/images/common/dmt5/dmt5-real-step3-mobile-eu.png
  src/images/common/dmt5/dmt5-real-step4-eu.png
  src/images/common/dmt5/dmt5-real-step4-mobile-eu.png
Due: none

chore: :bug: replace in markets place
  src/pages/markets/components/markets/_synthetic-indices.tsx
  src/pages/markets/instruments/_crash-boom-multipliers.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: :recycle: use uk and eu rule
  src/pages/dmt5/_flexibility.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: add pictures
  src/images/common/dmt5/dmt5-demo-step2-eu.png
  src/images/common/dmt5/dmt5-demo-step2-mobile-eu.png
  src/images/common/dmt5/dmt5-real-step3-eu.png
  src/images/common/dmt5/dmt5-real-step3-mobile-eu.png
  src/images/common/dmt5/dmt5-real-step4-eu.png
  src/images/common/dmt5/dmt5-real-step4-mobile-eu.png
Due: none

fix: vercel issue
  src/common/url-base64-functions.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: removed hide_branding from store
  src/store/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: logo change (#3759)
  src/pages/markets/static/content/_market-symbols.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Konstantinos / [FE Deriv.com squad] Updating Gary's designation (#3764)
  crowdin/messages.json
  src/pages/careers/_employee-testimonial-carousel.tsx
  src/pages/who-we-are/components/leaders.tsx
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: vercel issue by make some properties optional
  src/common/url-base64-functions.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: make LiveChat component
  crowdin/messages.json
  src/components/elements/index.ts
  src/components/elements/livechat-link-text.tsx
  src/pages/contact_us/_affiliates.tsx
  src/pages/help-centre/ib-programme.tsx
  src/pages/interim/affiliate/_love-trading.tsx
  src/pages/partners/affiliate-ib/_deriv-ib-programme.tsx
  src/pages/partners/affiliate-ib/_faq-data.tsx
  src/pages/partners/affiliate-ib/_partner-cta.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fix text and remove unused components
  crowdin/messages.json
  src/pages/partners/affiliate-ib/_deriv-ib-programme.tsx
  src/pages/partners/affiliate-ib/_faq-data.tsx
  src/pages/partners/affiliate-ib/_partner-cta.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: :recycle: replace `DerivStore` eu rule with `useCountryRule` eu rule
  src/components/layout/besquare/footer.tsx
  src/components/layout/besquare/style/footer.ts
  src/components/layout/footer.tsx
  src/components/layout/footer/common/style.ts
  src/components/layout/footer/main-links.tsx
  src/pages/dmt5/_flexibility.tsx
  src/pages/help-centre/_article-component.tsx
  src/pages/help-centre/_article-section-component.tsx
  src/pages/help-centre/deriv-mt5.tsx
  src/pages/help-centre/dtrader.tsx
  src/pages/help-centre/index.tsx
  src/pages/markets/components/markets/_basket-indices.tsx
  src/pages/markets/components/markets/_commodities.tsx
  src/pages/markets/components/sub-markets/_cfds.tsx
  src/pages/markets/instruments/_crash-boom.tsx
  src/pages/payment-methods/index.tsx
  src/pages/trade-types/cfds/_start-trading.tsx
  src/pages/trade-types/cfds/_what_is_cfd.tsx
  src/pages/trade-types/cfds/_why-trade-cfd.tsx
  src/pages/trade-types/margin/_available-markets.tsx
  src/pages/trade-types/multiplier/_how-options-works.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fix alt image text
  src/pages/careers/_model/_locations/_locations.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: add optional props if not have hash query params
  src/common/url-base64-functions.ts
  src/pages/unsubscribe/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fix conflict
  crowdin/messages.json
  src/images/common/dmt5/dmt5-demo-step2-eu.png
  src/images/common/dmt5/dmt5-demo-step2-mobile-eu.png
  src/images/common/dmt5/dmt5-real-step3-eu.png
  src/images/common/dmt5/dmt5-real-step3-mobile-eu.png
  src/images/common/dmt5/dmt5-real-step4-eu.png
  src/images/common/dmt5/dmt5-real-step4-mobile-eu.png
Due: none

fix: added back the substring for getting the domain name
  src/common/utility.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: change text
  crowdin/messages.json
  src/pages/dmt5/_flexibility.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: space added
  src/common/utility.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :fire: patch for mt5 help centre bug in production
  crowdin/messages.json
  src/pages/help-centre/dmt5.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: vercel error
  src/common/utility.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :fire: patch for mt5 help centre bug in production (#3796)
  crowdin/messages.json
  src/pages/help-centre/dmt5.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: added testlink
  src/common/utility.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: add loader on api call
  src/pages/unsubscribe/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove event listeners on event
  src/common/websocket/api.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
