Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.js": [
        "eslint --fix",
        "stylelint --formatter verbose",
    ],
    "src/**/*.{js,jsx,json,md}": [
        "prettier --write",
    ]
}

script: add .ts|tsx extensions for eslint script
  package.json
Due: none

Update: text
  src/pages/home/_what-our-clients-say.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

script: add .jsx extensions for eslint script
  package.json
Due: none

fix: text issues on deriv blog (#2129)
  src/components/layout/footer/disclaimer-academy.js
  src/pages/academy/blog/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

clean before building in npm build script
  package.json
Due: none

remove storybook folder in prod workflow
  .github/workflows/production.yml
  package.json
Due: none

DP2P footer banner text update
  src/pages/p2p/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

p2p how to get section content change
  src/pages/p2p/components/_availability.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Mahdiyeh/ fix: CFD related changes in DMT5 and Multiplier (#2089)
  src/images/common/multiplier/multiplier-no-multiplier-win-eu@3x.png
  src/images/common/multiplier/multipliers-no-multiplier-loss-eu@2x.png
  src/images/common/multiplier/multipliers-with-multiplier-loss-eu@3x.png
  src/images/common/multiplier/multipliers-with-multiplier-win-eu@3x.png
  src/pages/dmt5/_flexibility.js
  src/pages/dmt5/_margin_calculator.js
  src/pages/dmt5/_start-trader.js
  src/pages/dmt5/_what-is-trader.js
  src/pages/dmt5/_why-trader.js
  src/pages/dmt5/index.js
  src/pages/trade-types/multiplier/_what-are-multipliers.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: add codeowners
  .github/CODEOWNERS
Due: none

Suthesh/p2p-content (#2062)
  src/pages/p2p/components/_availability.js
  src/pages/p2p/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

last fix
  src/pages/check-email/_icon-grid.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

done with img, next step - svgs
  src/images/common/begambleaware.png
  src/images/common/deriv-platform-banner.png
  src/images/common/dtrader-artboard.png
  src/images/common/interim-bg-mobile.png
  src/images/common/p2p/p2p_playstore.png
  src/images/common/regulatory/svg.png
  src/images/common/roberto.png
  src/images/common/simple-steps.png
  src/images/common/trade-tools/trade-tools-bg.png
  src/images/common/trade-types/margin-example-crash-boom-mobile.png
  src/images/common/trade-types/margin-example-crash-boom.png
  src/images/common/trade-types/margin-mobile-numbers.png
  src/images/common/trade-types/margin-mobile-piechart.png
  src/images/common/trade-types/margin-mobile-rate-numbers.png
  src/images/common/trade-types/margin-numbers.png
  src/images/common/trade-types/margin-piechart.png
  src/images/common/trade-types/margin-rate-numbers.png
  src/images/common/tuelo.png
  src/images/common/vipul.png
Due: none

feat: remove a couple unnecessery imgs
  src/images/common/help-centre/dbot-savebot.png
  src/images/common/maps/map-belarus.png
Due: none

check lint
  src/pages/responsible/_need-help.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

check eslint fix
  src/components/layout/footer/additional-eu.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

check lint fix imports
  src/images/svg/layout/gamstop.svg
Due: none

fiona / add deriv go landing page (#2041)
  src/common/constants.js
  src/components/containers/container.js
  src/components/containers/flex.js
  src/images/common/deriv-go/app-store.png
  src/images/common/deriv-go/banner-m.png
  src/images/common/deriv-go/banner.png
  src/images/common/deriv-go/better-risk.png
  src/images/common/deriv-go/create-account.png
  src/images/common/deriv-go/footer-banner-mobile.png
  src/images/common/deriv-go/footer-banner.png
  src/images/common/deriv-go/forex.png
  src/images/common/deriv-go/fund-account.png
  src/images/common/deriv-go/get-trading.png
  src/images/common/deriv-go/google-play.png
  src/images/common/deriv-go/hero-bg.png
  src/images/common/deriv-go/hero-mobile-bg.png
  src/images/common/deriv-go/hero-mobile.png
  src/images/common/deriv-go/hero.png
  src/images/common/deriv-go/huawei-app.png
  src/images/common/deriv-go/multiply-profit.png
  src/images/common/deriv-go/synthetic-indices.png
  src/images/svg/deriv-go/24-7.svg
  src/images/svg/deriv-go/arrow.svg
  src/images/svg/deriv-go/dmt5.svg
  src/images/svg/deriv-go/dx.svg
  src/images/svg/deriv-go/easy-access.svg
  src/images/svg/deriv-go/user-friendly.svg
  src/pages/landing/deriv-go/_banner.js
  src/pages/landing/deriv-go/_deriv-go-content.js
  src/pages/landing/deriv-go/_footer-banner.js
  src/pages/landing/deriv-go/_lazy-load.js
  src/pages/landing/deriv-go/_other-apps.js
  src/pages/landing/deriv-go/_start-deriv-go.js
  src/pages/landing/deriv-go/_what-is-deriv-go.js
  src/pages/landing/deriv-go/_why-trade-deriv-go.js
  src/pages/landing/deriv-go/components/_tabs.js
  src/pages/landing/deriv-go/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Issa/Showing signed email in success message (#2101)
  src/common/utility.js
  src/components/custom/signup.js
  src/pages/signup-success/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

add crossorigin attr for manifest file (#2122)
  gatsby-config.js
Due: none

fix forex and metals commission for financial accounts (#2098)
  src/pages/partners/affiliate-ib/_deriv-ib-programme.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Prince/ Added trustpilot testimonials on Homepage (#2121)
  src/components/custom/_line-tab.js
  src/images/svg/playstore/stars/index.js
  src/images/svg/playstore/stars/star-1.5.svg
  src/images/svg/playstore/stars/star-1.svg
  src/images/svg/playstore/stars/star-2.5.svg
  src/images/svg/playstore/stars/star-2.svg
  src/images/svg/playstore/stars/star-3.5.svg
  src/images/svg/playstore/stars/star-3.svg
  src/images/svg/playstore/stars/star-4.5.svg
  src/images/svg/playstore/stars/star-4.svg
  src/images/svg/playstore/stars/star-5.svg
  src/images/svg/testimonials/arrow-left-fade.svg
  src/images/svg/testimonials/arrow-left.svg
  src/images/svg/testimonials/arrow-right-fade.svg
  src/images/svg/testimonials/arrow-right.svg
  src/images/svg/testimonials/quote.svg
  src/pages/home/_testimonial-carousel.js
  src/pages/home/_what-our-clients-say.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Maryia/text: added Belarus & Rwanda to help article
  src/pages/help-centre/account.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Maryia/text: added Belarus & Rwanda to help article (#2053)
  src/pages/help-centre/account.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

updated strings in crowdin
  crowdin/messages.json
  src/translations/ach.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/th.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: homepage section shift during initial load
  src/pages/home/_lazy-load.js
  src/pages/index.js
  src/pages/landing/index.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

add scale down tp widget
  src/pages/home/_what-our-clients-say.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

reduce svg files and make reviews
  src/images/svg/24.svg
  src/images/svg/lamp.svg
  src/images/svg/relaxing.svg
  src/pages/landing/weekend-trading/components/_hero.js
  src/pages/landing/weekend-trading/components/_icon-text-row.js
  src/pages/landing/weekend-trading/components/_image-text-switching.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

add margin bottom less
  src/pages/home/_what-our-clients-say.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

add remove spacing
  src/pages/home/_what-our-clients-say.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Habib/TP widget Size scale down (#2139)
  src/pages/home/_what-our-clients-say.js
Due: eslint --fix, stylelint --formatter verbose, prettier --write
