Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added rtl to market platforms
  src/features/components/organisms/available-markets-platforms/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: created asians page
  src/features/pages/options/digital/asians/index.tsx
  src/pages/trade-types/options/digital-options/asians/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: add cd web analytics
  gatsby-browser.js
Due: none

chore: add map api key from env (#5023)
  .github/workflows/beta.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  src/common/constants.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove up and down contents
  crowdin/messages.json
  src/features/pages/options/digital/up-down/data.ts
  src/features/pages/options/digital/up-down/index.tsx
  src/pages/trade-types/options/digital-options/up-and-down/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove logs
  src/features/components/organisms/available-options/tab-items.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: removed the unwanted image file
  src/images/common/trade-types/multiplier-market-eu.png
  src/images/common/trade-types/multiplier-market.png
Due: none

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: removed the unused image file
  src/images/common/trade-types/multiplier-market-eu.png
  src/images/common/trade-types/multiplier-market.png
Due: none

Revert "chore: add map api key from env (#5023)"
  .github/workflows/beta.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  src/common/constants.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Revert "chore: add map api key from env (#5023)" (#5220)
  .github/workflows/beta.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  src/common/constants.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update map api key variable
  .github/workflows/beta.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  src/common/constants.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: add map api key from env
  .github/workflows/beta.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  src/common/constants.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: active link
  src/features/components/organisms/available-options/tab-items.tsx
  src/features/components/templates/navigation/tab-nav-without-border/index.tsx
  src/features/components/templates/navigation/tab-nav-without-border/styles.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: pr comments
  src/features/components/templates/navigation/tab-nav-without-border/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: blank commit
  README.md
Due: none

replace js animations to css
  src/features/pages/home/hero/content/hero-content.module.scss
  src/features/pages/home/hero/content/hero-features.carousel.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: vercel build time improvement
  package.json
Due: none

fix: remove rtl from market platforms
  src/features/components/organisms/available-markets-platforms/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added rtl from market platforms
  src/features/components/organisms/available-markets-platforms/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix
  src/features/pages/home/hero/content/hero-content.module.scss
Due: none

fix
  src/features/pages/home/hero/content/hero-features.carousel.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

remove package
  package-lock.json
  package.json
Due: none

fix: added link to learn more (#5170)
  src/features/pages/home/trade-types/styles.module.scss
Due: none

fix: remove diel from row
  src/pages/terms-and-conditions/_clients-grid.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

for creating test link
  src/features/pages/home/hero/content/hero-features.carousel.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: variable names
  crowdin/messages.json
  src/features/pages/options/digital/high-low/data.ts
  src/features/pages/options/digital/high-low/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: scrolling issue and repetitive style tag (#5148)
  src/features/components/molecules/language-switcher/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: pr comments
  crowdin/messages.json
  src/features/pages/options/digital/data.ts
  src/features/pages/options/digital/touch-no-touch.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added asians faq content
  crowdin/messages.json
  src/features/pages/options/digital/asians/data.ts
  src/features/pages/options/digital/asians/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Hasan/fix: removed diel from row (#5160)
  src/pages/terms-and-conditions/_clients-grid.tsx
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: added available markets data
  src/features/pages/options/digital/asians/data.ts
  src/features/pages/options/digital/asians/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: added option content
  crowdin/messages.json
  src/features/pages/options/digital/asians/data.ts
  src/features/pages/options/digital/asians/index.tsx
  src/images/svg/trade-types/options/digital/asian-down-loss.svg
  src/images/svg/trade-types/options/digital/asian-down-win.svg
  src/images/svg/trade-types/options/digital/asian-up-loss.svg
  src/images/svg/trade-types/options/digital/asian-up-win.svg
  src/images/svg/trade-types/options/digital/asians-icon.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: normal JS slideShow
  src/features/components/molecules/slide-show/index.tsx
  src/features/components/molecules/slide-show/slide-show.module.scss
  src/features/pages/home/hero/index.tsx
  src/features/pages/home/hero/slider/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: folder name
  src/features/pages/options/digital/touch-no-touch/data.ts
  src/features/pages/options/digital/touch-no-touch/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: icons hide
  src/components/layout/layout-overlay.tsx
  src/features/components/molecules/layout-overlay/index.tsx
  src/features/components/templates/navigation/template/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: updated the terms and condition pdfs
  static/tnc/deriv-(bvi)-ltd.pdf
  static/tnc/deriv-(fx)-ltd.pdf
  static/tnc/deriv-investments-(europe)-limited-eu.pdf
  static/tnc/eu/funds-and-transfers.pdf
  static/tnc/eu/general-terms.pdf
  static/tnc/eu/risk-disclosure.pdf
  static/tnc/eu/security-and-privacy.pdf
  static/tnc/eu/trading-terms.pdf
  static/tnc/funds-and-transfers.pdf
  static/tnc/general-terms.pdf
  static/tnc/risk-disclosure.pdf
  static/tnc/security-and-privacy.pdf
  static/tnc/trading-terms.pdf
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
