Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

perf: move geturlparams function out of main function and update gclid name
  src/features/hooks/use-signup-form/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

revert: gclid name
  src/features/hooks/use-signup-form/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: :construction: tests deriv app redirect
  src/components/custom/utils.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

different security-and-privacy file for EU and none-EU residences
  src/components/custom/_signup-new.tsx
  src/pages/landing/ebooks/components/_get-ebook.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Mayuran/tab switch active (#4933)
  src/features/components/atoms/link/index.tsx
  src/features/components/atoms/link/internal.tsx
  src/features/components/templates/navigation/template/market-bottom-nav/bottom-nav.item.tsx
  src/features/components/templates/navigation/template/market-bottom-nav/data.ts
  src/features/components/templates/navigation/template/market-bottom-nav/types.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: only get gclid and signup device for signup for now
  src/features/hooks/use-signup-form/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: scroll to top in mobile while tab change
  src/pages/markets/components/helper/_available-trades_desktop.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

different security-and-privacy file for EU and none-EU residences
  src/components/custom/_signup-new.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fix active tab fix in various language
  src/features/components/atoms/link/internal.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: scroll to top in mobile while tab change (#4938)
  src/pages/markets/components/helper/_available-trades_desktop.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update beta env to production
  .github/workflows/beta.yml
Due: none

chore: update beta env to production (#4940)
  .github/workflows/beta.yml
Due: none

style: fix dropdown alignments
  src/components/elements/dropdown.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

style: update sass code
  src/features/components/atoms/loading/loading.module.scss
Due: none

chore: remove unused codes
  crowdin/messages.json
  src/common/validation.ts
  src/components/custom/_ctrader-signup-success.tsx
  src/components/custom/_signup-ctrader.tsx
  src/components/form/input.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: qa issues
  crowdin/messages.json
  src/features/pages/p2p/_data.ts
  src/features/pages/p2p/availability/data.tsx
  src/features/pages/p2p/availability/platform.tsx
  src/features/pages/p2p/index.tsx
  src/pages/p2p.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :bug: deriv life changes
  crowdin/messages.json
  src/features/components/templates/navigation/main-nav/content/about/index.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

perf: remove region loading in nav to test performance
  src/features/components/templates/navigation/main-nav/main-nav-buttons/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: initial slide's autoplay time
  src/features/pages/home/our-platforms/sliders/platform-images/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: add gclid to signup url parameters
  src/features/hooks/use-signup-form/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: code modification in tab switch component
  src/features/components/atoms/link/internal.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: add visible-larger-than-phone class
  src/features/styles/theme/visibility.scss
Due: none

fix: language cookie issue
  src/common/utility.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: loading time fixed
  src/features/pages/home/live-pricing/table-component/live-market-table.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: added larger-than-phone-visible-class
  src/features/styles/theme/visibility.scss
Due: none

fix: crowding integration
  crowdin/messages.json
  src/pages/404.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove and add language cookie
  src/common/utility.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: add return
  src/common/utility.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: market nav
  crowdin/messages.json
  src/features/components/templates/navigation/template/market-bottom-nav/data.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: height
  src/pages/trade-types/cfds/_available-markets.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: appgallery restricted countries
  src/common/country-base.ts
  src/pages/deriv-go/_footer-banner.tsx
  src/pages/derivx/_get-derivx.tsx
  src/store/region-context.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updating staging env for strapi
  .github/workflows/staging.yml
Due: none

chore: updating staging env for strapi (#4947)
  .github/workflows/staging.yml
Due: none

chore: restore 's' in scripts
  package.json
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
