Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

Translation 1382 ib commissions dx (#5596)
  crowdin/messages.json
  src/images/common/affiliate-and-ib/deriv_x_commodities.png
  src/images/common/affiliate-and-ib/deriv_x_crypto.png
  src/images/common/affiliate-and-ib/deriv_x_forex.png
  src/images/common/affiliate-and-ib/deriv_x_indices.png
  src/images/common/affiliate-and-ib/deriv_x_step.png
  src/images/common/affiliate-and-ib/deriv_x_stocks.png
  src/images/common/affiliate-and-ib/deriv_x_vol.png
  src/pages/dmt5-trading-signals/index.tsx
  src/pages/partners/affiliate-ib/_deriv-ib-programme.tsx
  src/pages/partners/affiliate-ib/_dmt5-cards.tsx
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Konstantinos Remove Appgallery and/ or Appstore download option from Deriv GO product page for countries not listed in iOS and/ or Huawei (#5650)
  crowdin/messages.json
  src/common/country-base.ts
  src/components/custom/_multi-width-column-download.tsx
  src/pages/deriv-go/_footer-banner.tsx
  src/store/region-context.tsx
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

text: update can i change my email address for eu help center (#5656)
  crowdin/messages.json
  src/pages/help-centre/data/_account.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: bugs (#5676)
  src/features/pages/home/live-pricing/index.tsx
  src/features/pages/home/live-pricing/table-component/live-pricing.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :speech_balloon: fetch master translation (#5710)
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: localize strings (#5680)
  src/pages/trade-types/cfds/_mind-when-trading.tsx
  src/pages/trade-types/cfds/_start-trading.tsx
  src/pages/trade-types/cfds/_trading-cfd-increases.tsx
  src/pages/trade-types/multiplier/_start-trading.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Bala/Fix cf-pages chars limit issue (#5693)
  .github/workflows/generate-preview-link.yml
Due: none

Hasan/Pr 1827 api page 404 (#5608)
  src/components/layout/layout.tsx
  src/features/components/templates/navigation/template/nav-context/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: add e2e smoke test (#5703)
  .github/workflows/generate-preview-link.yml
  crowdin/messages.json
Due: none

Konstantinos / Unavailable services for EU, should be unavailable in help center as well (#5708)
  src/pages/help-centre/deriv-bot.tsx
  src/pages/help-centre/deriv-ez.tsx
  src/pages/help-centre/deriv-p2p.tsx
  src/pages/help-centre/deriv-x.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

adrienne/fix: cloudflare deployment security (#5667)
  .github/workflows/generate-preview-link.yml
  .github/workflows/pre-generate-preview-link.yml
  crowdin/messages.json
Due: none

fix: :speech_balloon: fetch translation for master (#5673)
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: fetched crowdin master translations (#5725)
  src/translations/ar.json
  src/translations/bn.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/sw.json
  src/translations/tr.json
Due: prettier --write

Konstantinos / [ROW] Addition of SWF tag on all commodities on trading specs page (#5670)
  src/pages/trading-specification/data/_commodities_specification.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: padding out fix (#5569)
  src/pages/partners/affiliate-ib/_deriv-affiliate-programme.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: updated rebranding icons
  crowdin/messages.json
  src/images/svg/deriv-trade-types/d-trader.svg
  src/images/svg/deriv-trade-types/dbot.svg
  src/images/svg/deriv-trade-types/deriv-ez.svg
  src/images/svg/deriv-trade-types/deriv-go.svg
  src/images/svg/deriv-trade-types/deriv-x.svg
  src/images/svg/deriv-trade-types/dmt5.svg
Due: none

Modified e2e smoke test section (#5732)
  .github/workflows/generate-preview-link.yml
Due: none

chore: fetch translations from crowdin (#5729)
  src/translations/fr.json
  src/translations/sw.json
Due: prettier --write

chore: remove unused images and import (#5688)
  src/components/elements/symbols-shortcode.ts
  src/images/svg/symbols/american-stocks/stocks-coca-cola.svg
  src/images/svg/symbols/american-stocks/stocks-continental-ag.svg
  src/images/svg/symbols/american-stocks/stocks-delta-air-lines.svg
  src/images/svg/symbols/american-stocks/stocks-deutsche-bank-ag.svg
  src/images/svg/symbols/american-stocks/stocks-deutsche-lufthansa-ag.svg
  src/images/svg/symbols/american-stocks/stocks-e-bay-inc.svg
  src/images/svg/symbols/american-stocks/stocks-facebook-inc.svg
  src/images/svg/symbols/american-stocks/stocks-fedex.svg
  src/images/svg/symbols/american-stocks/stocks-fox-corp-class-b.svg
  src/images/svg/symbols/american-stocks/stocks-general-motors-company.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

baseurl parameter change (#5734)
  .github/workflows/generate-preview-link.yml
Due: none

Add PR and Repo to Test Run Info (#5735)
  .github/workflows/generate-preview-link.yml
Due: none

chore: remove unused images and import (#5682)
  src/components/elements/symbols-shortcode.ts
  src/components/elements/symbols.ts
  src/images/svg/symbols/american-stocks/stocks-american-airlines-group-inc.svg
  src/images/svg/symbols/american-stocks/stocks-american-international-group.svg
  src/images/svg/symbols/american-stocks/stocks-apple.svg
  src/images/svg/symbols/american-stocks/stocks-bank-of-america.svg
  src/images/svg/symbols/american-stocks/stocks-bayer-ag.svg
  src/images/svg/symbols/american-stocks/stocks-biogen-inc.svg
  src/images/svg/symbols/american-stocks/stocks-bmw.svg
  src/images/svg/symbols/american-stocks/stocks-boeing.svg
  src/images/svg/symbols/american-stocks/stocks-cisco-systems.svg
  src/images/svg/symbols/american-stocks/stocks-citigroup.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: forex spread icon
  src/images/svg/markets/forex/spread.svg
  src/pages/markets/static/content/_forex.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: updated sept data
  src/pages/trading-specification/data/_commodities_specification.ts
  src/pages/trading-specification/data/_crypto_specification.ts
  src/pages/trading-specification/data/_derived_specification.ts
  src/pages/trading-specification/data/_etfs_specification.ts
  src/pages/trading-specification/data/_forex_specification.ts
  src/pages/trading-specification/data/_stocks_specification.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: language switcher
  src/pages/partners/affiliate-ib/_deriv-affiliate-programme.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fixed ctrader icons
  src/features/pages/deriv-ctrader/other-platforms/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: css logistics added
  src/pages/partners/affiliate-ib/_deriv-affiliate-programme.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/sw.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: check ip too
  src/store/region-context.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/sw.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
