Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

feat: the implementation is done
  src/common/constants.ts
  src/components/hooks/use-user-browser.tsx
  src/components/layout/modal/update_browser_alert_modal.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: changed sample chrome required version for testing
  src/common/constants.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: pull latest translations (bn)
  src/translations/bn.json
Due: prettier --write

text: :bug: add the missing s for netherland
  crowdin/messages.json
  src/components/elements/symbols.ts
  src/images/svg/symbols/european-indices/netherlands-25.svg
  src/images/svg/symbols/markets-stocks-and-indices/european-indices/netherlands-25.svg
  src/pages/markets/instruments/_market-symbols.tsx
  src/pages/markets/static/content/_details.tsx
  src/pages/markets/static/content/_market-symbols.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: translation
  src/translations/bn.json
Due: prettier --write

chore: push more fixes (bn)
  src/translations/bn.json
Due: prettier --write

fix: new landing stock ebook image
  src/images/svg/stock-indices/stocksHeaderBelowSection.svg
Due: none

chore: upgrade node to version 18
  .github/workflows/content.yml
  .github/workflows/lint.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  .github/workflows/translation-delete.yml
  .github/workflows/translation-push.yml
  .github/workflows/translation-sync.yml
  .github/workflows/translation.yml
  README.md
  package-lock.json
  package.json
Due: none

fix: ts errors in interim
  src/pages/interim/_love-trading.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

refactor: moved the whole logic inside the hook
  src/common/constants.ts
  src/components/hooks/use-user-browser.tsx
  src/components/layout/modal/update_browser_alert_modal.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: changed the sample required version for chrome
  src/components/hooks/use-user-browser.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: ts errors in home
  src/components/containers/box.tsx
  src/components/elements/typography.ts
  src/pages/home/_markets_fold.tsx
  src/pages/home/_p2p_home_banner.tsx
  src/pages/home/_testimonial-carousel.tsx
  src/pages/home/_vertical-carousel.tsx
  src/pages/home/_what-our-clients-say.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: :speech_balloon: fetch crowdin translation
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_tw.json
Due: prettier --write

chore: removed unnecessary export
  src/components/hooks/use-user-browser.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: :speech_balloon: fetch crowdin translation
  src/translations/th.json
Due: prettier --write

chore: subtasks
  src/images/common/maps/map-cayman.png
  src/pages/contact_us/_offices.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: update names and approach for faq lists
  src/pages/help-centre/_article-component.tsx
  src/pages/partners/affiliate-ib/_faq.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: dmt5 ts errors
  crowdin/messages.json
  src/pages/dmt5-trading-signals/_signal-steps.tsx
  src/pages/dmt5/_dmt5-video.tsx
  src/pages/dmt5/_download-app.tsx
  src/pages/dmt5/_margin_calculator.tsx
  src/pages/dmt5/_start-trader.tsx
  src/pages/trade-types/components/_tabs.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: deriv-go ts errors
  src/components/elements/roadmap.tsx
  src/pages/deriv-go/_deriv-go-content.tsx
  src/pages/deriv-go/_other-apps.tsx
  src/pages/deriv-go/components/_tabs.tsx
  src/pages/deriv-go/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: p2p links issue
  src/pages/help-centre/data/_deriv-p2p.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: trigger vercel
  src/components/layout/nav/nav-markets.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: regulatory ts errors
  src/pages/regulatory/_eu-grid.tsx
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fix json changes (#3619)
  static/tnc/deriv-(fx)-ltd.pdf
Due: none

chore: add youtube icon and fix padding (#3889)
  src/common/constants.ts
  src/components/layout/footer/common/style.ts
  src/components/layout/footer/social-wrapper.tsx
  src/images/svg/layout/footer-youtube.svg
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: responsible ts errors
  src/pages/responsible/_trading-responsibly.tsx
  src/pages/responsible/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: :speech_balloon: fetch crowdin translation
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

Mitra/81285/show whatsapp to all countries (#3871)
  src/components/custom/cookie-banner.tsx
  src/components/hooks/use-cookie-banner.ts
  src/components/hooks/use-country-rule.tsx
  src/components/layout/cfd-warning-banner.tsx
  src/components/layout/floating-action-button.tsx
  src/components/layout/footer.tsx
  src/components/layout/footer/common/style.ts
  src/components/layout/index.ts
  src/components/layout/layout-overlay.tsx
  src/components/layout/layout.tsx
  src/components/layout/livechat.tsx
  src/components/layout/location-context.tsx
  src/components/layout/nav/components/nav-template.tsx
  src/components/layout/nav/nav-partner.tsx
  src/components/layout/nav/nav-security.tsx
  src/components/layout/nav/nav-static.tsx
  src/components/layout/whatsapp.tsx
  src/pages/help-centre/components/_didnt-find-answer.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

yashim/translation: fetch (#3909)
  src/translations/bn.json
Due: prettier --write

translation: :speech_balloon: fetch crowdin translation
  src/translations/bn.json
  src/translations/th.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fetch crowdin master translation (#3913)
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: update names of refs
  src/pages/help-centre/_article-component.tsx
  src/pages/help-centre/_article-section-component.tsx
  src/pages/help-centre/index.tsx
  src/pages/partners/affiliate-ib/_faq.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: applied fix to new file
  src/components/hooks/use-cookie-banner.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

yashim/fix: allow_tracking event on non eu-uk countries (#3898)
  src/components/hooks/use-cookie-banner.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: subtasks
  src/images/common/maps/map-belarus-contact.png
  src/images/common/maps/map-ciudad.png
  src/images/common/maps/map-dubai.png
  src/images/common/maps/map-guernsey.png
  src/images/common/maps/map-labuan.png
  src/pages/careers/_model/_locations/_locations.ts
  src/pages/contact_us/_offices.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
