Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "stylelint --formatter verbose"
    ],
    "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "prettier --write"
    ]
}

refactor: lazy loading cfd
  crowdin/messages.json
  src/images/common/cfd-markets-dummy.png
  src/images/common/cfd-trading-dummy.png
  src/images/common/cfd_dummy.png
  src/images/common/start-cfd-dummy.png
  src/images/common/why-cfd-dummy.png
  src/pages/trade-types/cfds/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fixing translations and formula's
  src/pages/trader-tools/margin-calculator/_margin-calculator.tsx
  src/pages/trader-tools/pip-calculator/_example-pip.tsx
  src/pages/trader-tools/pnl-for-margin/_example-pnl-margin.tsx
  src/pages/trader-tools/pnl-for-multipliers/_example-pnl-multipliers.tsx
  src/pages/trader-tools/swap-calculator/_example-calc.tsx
  src/translations/de.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

try to push to crowdin2
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

try
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: add translation old way
  crowdin/messages.json
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: add translations
  src/translations/ach.json
Due: prettier --write

try1
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

change address regulatory page
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

change variable name
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

try push to crowdin
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

try push to crowdin1
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

text: :speech_balloon: fix bold issue
  crowdin/messages.json
  src/pages/help-centre/data/_dbot.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: add translations
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: update workflow
  .github/workflows/translation-pre-push.yml
Due: none

chore: update workflow (#3995)
  .github/workflows/translation-pre-push.yml
Due: none

chore: trigger translation workflow
  crowdin/messages.json
  src/pages/regulatory/_document_accordion.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: resolving comments
  src/components/hooks/use-deriv-api.tsx
  src/pages/home/live-pricing/components/_elements.tsx
  src/pages/home/live-pricing/components/_live_market_table.tsx
  src/pages/home/live-pricing/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

revert: undo changes
  .github/workflows/translation-pre-push.yml
Due: none

Prince/ Translation workflow extra condition (#3998)
  .github/workflows/translation-pre-push.yml
Due: none

chore: update workflow
  .github/workflows/translation-pre-delete.yml
Due: none

Prince/Translation workflow update format (#3999)
  .github/workflows/translation-pre-delete.yml
Due: none

fix: fixed market description for each market
  crowdin/messages.json
  src/pages/home/live-pricing/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

text: :speech_balloon: change address
  crowdin/messages.json
  src/pages/regulatory/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write
