Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

fix: bugs
  src/features/pages/home/live-pricing/index.tsx
  src/features/pages/home/live-pricing/table-component/live-pricing.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

fix: rename platforms
  crowdin/messages.json
  src/pages/help-centre/data/_dmt5.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: dmt5 rename
  crowdin/messages.json
  src/pages/help-centre/data/_dmt5.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added alt tags to trade options alt text
  src/pages/markets/components/helper/_available-options.tsx
  src/pages/markets/static/content/_digital-options.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: :speech_balloon: fetch translation master crowdin (#5675)
  src/translations/ar.json
  src/translations/de.json
  src/translations/es.json
  src/translations/id.json
  src/translations/it.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/tr.json
  src/translations/vi.json
Due: prettier --write

feat: added path type
  src/features/pages/home/live-pricing/index.tsx
  src/features/pages/home/live-pricing/market-tabs/market-tab.tsx
  src/features/pages/home/live-pricing/table-component/live-market-table.tsx
  src/features/pages/home/live-pricing/types.tsx
  src/features/types/index.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: peer comments
  crowdin/messages.json
  src/features/components/atoms/tab/tab-content/tab-content.module.scss
  src/features/components/templates/trade-platform/how-to-start/index.tsx
  src/features/components/templates/trade-platform/other-platforms/index.tsx
  src/features/components/templates/trade-platform/other-platforms/platform-card/index.tsx
  src/features/pages/deriv-ctrader/platform-features/data.tsx
  src/features/pages/deriv-ctrader/trade-description/description.module.scss
  src/features/pages/deriv-ctrader/why-trade/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: updated the pdf
  static/tnc/trading-terms.pdf
Due: none

fix: fix padding
  src/features/pages/home/live-pricing/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove padding
  src/features/pages/home/live-pricing/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: add padding block
  src/features/pages/home/live-pricing/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: added alt text to market nav logo
  src/features/components/templates/navigation/market-nav/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: enable etf in nav for eu
  src/features/components/templates/navigation/main-nav/content/market/index.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: enable etf in market nav for eu
  src/features/components/templates/navigation/template/market-bottom-nav/data.ts
  src/features/components/templates/navigation/template/market-bottom-nav/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: removed eu condition for etf
  src/pages/markets/exchange-traded-funds/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: added hide in condition to markets
  src/features/components/molecules/other-markets-slider/data.ts
  src/features/components/molecules/other-markets-slider/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: removed hide in condition
  src/features/components/molecules/other-markets-slider/data.ts
  src/features/components/molecules/other-markets-slider/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: removed visibility condition from footer etf link
  crowdin/messages.json
  src/features/components/templates/footer/data.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: removed visibility condition from other markets etf
  src/features/components/molecules/other-markets-slider/data.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: added visibility condition to available trade benefits
  src/features/components/organisms/markets/greyed-container/trade-benefit-wrapper.tsx
  src/features/pages/markets/etf/why-trade/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: added visibility condition to available trade items
  src/features/components/organisms/markets/trade-tab/trades-available-wrapper.tsx
  src/features/components/organisms/markets/trade-tab/types.ts
  src/features/pages/markets/etf/trades-available/data.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fix alt texts
  src/pages/dmt5/_download-app.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: fix alt texts
  src/pages/partners/affiliate-ib/_faq.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: :bug: fetch master translation
  src/translations/de.json
  src/translations/fr.json
Due: prettier --write

chore: :bug: fetch master translation (#5678)
  src/translations/de.json
  src/translations/fr.json
Due: prettier --write

refactor: a/b testing feature doesnt track user events
  gatsby-browser.js
  src/features/hooks/analytic/use-growthbook/index.ts
  src/features/pages/home/hero/content/index.tsx
  src/features/pages/signup/form-container/form-social-buttons.tsx
  src/pages/landing/ebooks/stocks.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: remove prod key from staging and beta to prevent data mix
  .github/workflows/beta.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

fix: localize strings
  src/pages/trade-types/cfds/_mind-when-trading.tsx
  src/pages/trade-types/cfds/_start-trading.tsx
  src/pages/trade-types/cfds/_trading-cfd-increases.tsx
  src/pages/trade-types/multiplier/_start-trading.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: resolve build issue
  src/features/hooks/analytic/use-growthbook/index.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: bugs (#5676)
  src/features/pages/home/live-pricing/index.tsx
  src/features/pages/home/live-pricing/table-component/live-pricing.module.scss
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: change secrets name
  .github/workflows/generate-preview-link.yml
Due: none

adrienne/fix: cloudflare deployment security (#5667)
  .github/workflows/generate-preview-link.yml
  .github/workflows/pre-generate-preview-link.yml
  crowdin/messages.json
Due: none

Update .gitignore
  .gitignore
Due: none

Update index.tsx
  src/pages/who-we-are/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: :rewind: bring changes needed per comments
  gatsby-node.js
  redirects.json
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
