Repository binary-com/deriv-com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --formatter verbose, prettier --write

fix: refactored market tabs
  crowdin/messages.json
  src/components/elements/market-tab/_styles.tsx
  src/components/elements/market-tab/_types.ts
  src/components/elements/market-tab/_utils.ts
  src/components/elements/market-tab/index.tsx
  src/pages/home/live-pricing/_data.ts
  src/pages/home/live-pricing/components/_elements.tsx
  src/pages/home/live-pricing/components/_live_market_table.tsx
  src/pages/home/live-pricing/index.tsx
  src/pages/trading-specification/_types.ts
  src/pages/trading-specification/_use-trading-spec-columns.tsx
  src/pages/trading-specification/_utils.ts
  src/pages/trading-specification/components/_available-platform.tsx
  src/pages/trading-specification/components/_elements.tsx
  src/pages/trading-specification/components/_trading_spec_table.tsx
  src/pages/trading-specification/data/_commodities_specification.ts
  src/pages/trading-specification/data/_crypto_specification.ts
  src/pages/trading-specification/data/_derived_specification.ts
  src/pages/trading-specification/data/_stocks_specification.ts
  src/pages/trading-specification/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: :sparkles: add reusable component for button (#4100)
  src/components/custom/_button.tsx
  src/themes/variables.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

refactor: refactor key tranlation keys
  src/pages/contact_us/_affiliates.tsx
  src/pages/contact_us/_contact-ways.tsx
  src/pages/contact_us/_offices.tsx
  src/pages/contact_us/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: fix spacing
  crowdin/messages.json
  src/pages/markets/static/content/_details.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Konstantinos / contact us via live chat hyperlink is taking user to wrong page (#4054)
  src/pages/help-centre/data/_deposits-and-withdrawals.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

NikitK/ [FE Deriv.com squad] Replace synthetic indices KIDs (#4069)
  crowdin/messages.json
  src/pages/regulatory/data/_kid_data.tsx
  static/regulatory/kid/kid_deriv_CFD_synthetic_crash_300.pdf
  static/regulatory/kid/kid_deriv_CFD_synthetic_indices.pdf
  static/regulatory/kid/kid_deriv_CFD_synthetic_vol_250.pdf
  static/regulatory/kid/kid_deriv_multipliers_synthetic_indices.pdf
  static/regulatory/kid/kid_deriv_multipliers_synthetics_crash_300.pdf
  static/regulatory/kid/kid_deriv_multipliers_synthetics_vol_250.pdf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Konstantinos / [FE Deriv.com squad] Add DerivGo to 'Available On' list under multipliers tab for Forex, Synthetics, Basket indices, Cryptocurrencies. (#4034)
  crowdin/messages.json
  src/images/svg/custom/deriv-go.svg
  src/pages/markets/components/helper/_available-platforms.tsx
  src/pages/markets/components/sub-markets/_multipliers.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove canceling trailing slash (#4065)
  gatsby-config.js
Due: none

Translation [FE Deriv.com squad] NikitK/ Add IB commissions for 2 new volatility indices (#4063)
  crowdin/messages.json
  package-lock.json
  src/pages/partners/affiliate-ib/_deriv-ib-programme.tsx
  src/pages/partners/affiliate-ib/_table.tsx
  src/translations/ach.json
  src/translations/ar.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Fasih/ removed legacy way to fetch data and used useWS to fetch data (#4027)
  src/pages/endpoint/index.tsx
  src/store/website-status-context.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix
  gatsby-config.js
  package-lock.json
  src/pages/who-we-are/_OurValues.tsx
  src/pages/who-we-are/components/_hero.tsx
  src/pages/who-we-are/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: :speech_balloon: fetch master translation
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

translation: :speech_balloon: fetch master translation (#4102)
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

behnaz/Br1 (#4033)
  src/components/custom/_agreement-label.tsx
  src/components/custom/_signup-new.tsx
  src/images/svg/stock-indices/stocksHeaderBelowSection.svg
  src/pages/landing/ebooks/components/_get-ebook.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

all blocks except for Leaders
  src/pages/who-we-are/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix Deriv in Numbers
  src/pages/who-we-are/_DerivNumbers.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

habib/Handle row redirect from eu website (#4094)
  src/common/utility.ts
  src/components/layout/layout.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: update description text of derived-fx
  crowdin/messages.json
  src/pages/markets/static/content/_details.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

Konstantinos / [FE Deriv.com squad] T&Cs for Business Partners > Do's and Dont's - Partners' Guidelines (#4059)
  crowdin/messages.json
  src/images/svg/terms/api-users-row.svg
  src/images/svg/terms/bug-bounty-row.svg
  src/images/svg/terms/important-guidelines.svg
  src/images/svg/terms/payment-agents.svg
  src/pages/terms-and-conditions/_business-grid.tsx
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
  static/tnc/business-partners-affiliates-and-introducing-brokers-english.pdf
  static/tnc/business-partners-affiliates-and-introducing-brokers-es.pdf
  static/tnc/business-partners-affiliates-and-introducing-brokers-fr.pdf
  static/tnc/business-partners-affiliates-and-introducing-brokers-id.pdf
  static/tnc/business-partners-affiliates-and-introducing-brokers-pt.pdf
  static/tnc/business-partners-affiliates-and-introducing-brokers-ru.pdf
  static/tnc/business-partners-affiliates-and-introducing-brokers-vi.pdf
  static/tnc/business-partners-affiliates-and-introducing-brokers.pdf
  static/tnc/business-partners-payment-agents.pdf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: implemented pagination
  crowdin/messages.json
  src/images/svg/trading-specification/left-chevron.svg
  src/images/svg/trading-specification/right-chevron.svg
  src/pages/home/live-pricing/_types.ts
  src/pages/trading-specification/_types.ts
  src/pages/trading-specification/_use-trading-spec-columns.tsx
  src/pages/trading-specification/_utils.ts
  src/pages/trading-specification/components/_available-platform.tsx
  src/pages/trading-specification/components/_elements.tsx
  src/pages/trading-specification/components/_trading_spec_table.tsx
  src/pages/trading-specification/data/_forex_specification.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

feat: redirect users from academy sub-directory to sub-domain
  src/components/layout/layout.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: :speech_balloon: fetch translation
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: update gitattribute
  .gitattributes
Due: none

chore: update package
  package-lock.json
Due: none

refactor: add new NumberSection component
  src/components/containers/number-section.tsx
  src/pages/dmt5/_numbers.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: :speech_balloon: fetch translation (#4105)
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

refactor: stepperview component
  gatsby-browser.js
  src/components/elements/common-header-section.tsx
  src/components/elements/index.ts
  src/components/elements/stepper-view.tsx
  src/components/elements/timeline.tsx
  static/fonts/Ubuntu-Regular.ttf
Due: eslint --fix, stylelint --formatter verbose, prettier --write

chore: remove unused code
  src/components/containers/number-section.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

setting strapi
  gatsby-config.js
  package-lock.json
  package.json
Due: none

all block except for Leaders
  src/pages/who-we-are/_DerivNumbers.tsx
  src/pages/who-we-are/_MakeTrading.tsx
  src/pages/who-we-are/_OurOffices.tsx
  src/pages/who-we-are/_OurPrinciples.tsx
  src/pages/who-we-are/_OurValues.tsx
  src/pages/who-we-are/_data.tsx
  src/pages/who-we-are/components/_hero.tsx
  src/pages/who-we-are/index.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix: commodity data added
  crowdin/messages.json
  src/components/elements/market-tab/_styles.tsx
  src/components/elements/market-tab/index.tsx
  src/images/svg/home/commodites-live-table.svg
  src/images/svg/home/crypto-live-table.svg
  src/images/svg/home/derived-live-table.svg
  src/images/svg/home/forex-live-table.svg
  src/images/svg/home/stocks-live-table.svg
  src/pages/trading-specification/_types.ts
  src/pages/trading-specification/_use-trading-spec-columns.tsx
  src/pages/trading-specification/components/_constants.ts
  src/pages/trading-specification/components/_elements.tsx
  src/pages/trading-specification/components/_trading_spec_table.tsx
  src/pages/trading-specification/data/_commodities_specification.ts
  src/pages/trading-specification/data/_crypto_specification.ts
  src/pages/trading-specification/data/_derived_specification.ts
  src/pages/trading-specification/data/_forex_specification.ts
  src/pages/trading-specification/data/_stocks_specification.ts
Due: eslint --fix, stylelint --formatter verbose, prettier --write

fix smells
  gatsby-config.js
  src/pages/who-we-are/_OurOffices.tsx
  src/pages/who-we-are/_OurPrinciples.tsx
Due: eslint --fix, stylelint --formatter verbose, prettier --write

translation: 📚 sync translations from crowdin feature branch
  src/translations/ach.json
  src/translations/ar.json
  src/translations/bn.json
  src/translations/de.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/id.json
  src/translations/it.json
  src/translations/ko.json
  src/translations/pl.json
  src/translations/pt.json
  src/translations/ru.json
  src/translations/si.json
  src/translations/th.json
  src/translations/tr.json
  src/translations/vi.json
  src/translations/zh_cn.json
  src/translations/zh_tw.json
Due: prettier --write

chore: eslint error bypass
  __mocks__/gatsby.js
  jest.config.js
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --formatter verbose: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,md}
